
<ion-content class="update-slot-diet">
  <ion-row>
    <ion-col class="ion-text-center">
      <h2 class="choose-diet"> Update  the categories for a 
        </h2>
        <h2 style="margin-top:0">
          “Lunch slot ({{slot}})”
        </h2>
    </ion-col>
  </ion-row>
  
  <ion-grid class="content">
    <ion-card clss="card-item" >
      <ion-card-header style="border-bottom:.5px solid #b3b3b3;padding:10px 0;">
        <ion-row style="padding:.5rem;" >
          <ion-col size="5.1" class="ion-text-left"><span class="cat">Categories</span></ion-col>
          <ion-col size="2" class="ion-text-center"><span class="order">Order</span></ion-col>
          <ion-col size="2.3" class="ion-text-center"><span class="option">Option</span></ion-col>
          <ion-col size="2.6" class="ion-text-center"><span class="diet">Diet Plan</span></ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let sdiet of updateSlot;let sdt=index;" >
        <ion-row style="padding:.5rem;border-bottom:1px solid #b3b3b3;" *ngIf="isVisibal(sdiet.option,sdiet.diet) && !isShow">
          <ion-col (click)="gotoDetail(sdiet)" size="5.1" class="ion-text-left"><span>{{sdiet.name}}</span> <br> <span style="color:#01A3A4">{{sdiet.foodCount}}</span> <ion-icon style="color:#01A3A4" name="arrow-forward"></ion-icon></ion-col>
          <ion-col size="2" class="ion-text-center ion-align-self-center">
            <input style="height:50px;width:40px;border:1px solid #b3b3b3; border-radius:4px;text-align:center;padding:2px;" type="number" [(ngModel)]="sdiet.order"/> </ion-col>
          <ion-col size="2.3" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="option" mode="md" [disabled]="sdiet.diet?true:false" [checked]="sdiet.diet?true:sdiet.option" [(ngModel)]="sdiet.option"></ion-checkbox>
          </ion-col>
          <ion-col size="2.6" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="diet" mode="md" [checked]="sdiet.diet" [(ngModel)]="sdiet.diet"></ion-checkbox>
          </ion-col>
        </ion-row>

        <ion-row style="padding:.5rem;border-bottom:1px solid #b3b3b3;" *ngIf="isShow">
          <ion-col (click)="gotoDetail(sdiet)" size="5.1" class="ion-text-left"><span>{{sdiet.name}}</span> <br> <span style="color:#01A3A4">{{sdiet.foodCount}}</span> <ion-icon style="color:#01A3A4" name="arrow-forward"></ion-icon></ion-col>
          <ion-col size="2" class="ion-text-center ion-align-self-center">
            <input style="height:50px;width:40px;border:1px solid #b3b3b3; border-radius:4px;text-align:center;padding:2px;" type="number" [(ngModel)]="sdiet.order"/> </ion-col>
          <ion-col size="2.3" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="option" mode="md" [disabled]="sdiet.diet?true:false" [checked]="sdiet.diet?true:sdiet.option" [(ngModel)]="sdiet.option"></ion-checkbox>
          </ion-col>
          <ion-col size="2.6" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="diet" mode="md" [checked]="sdiet.diet" [(ngModel)]="sdiet.diet"></ion-checkbox>
          </ion-col>
        </ion-row>
      
      </div>
      <ion-row>
        <ion-col class="ion-text-center" (click)="isShow=!isShow;">
          <a style="color:#01A3A4; cursor:HAND;">Show All Categories</a>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  </ion-content>
  <ion-footerbar>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button shape="round" color="theme" expand="block" fill="outline" (click)="updateDiet()">Update</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" color="theme" expand="block" (click)="reset()">Reset Default</ion-button>
    </ion-col>
  </ion-row>
  </ion-footerbar>