<!-- <ion-header>
  <ion-toolbar>
    <ion-title>add-recipe</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="    height: auto;
    position: absolute;
    min-height: 100%;">
  <ion-row>
    <ion-col class="ion-text-left" size="6">
      <ion-item lines="none">
      <ion-label>Recipe Name:</ion-label>
      <ion-input [(ngModel)]="recipeName" placeholder="Add recipe name" style="border:1px solid #707070;--padding-start: 12px;border-radius:5px;"></ion-input>
    </ion-item>
    </ion-col>
     <ion-col class="ion-text-center" size="1.4">
      <ion-item lines="none">
        <ion-label>Portion:</ion-label>
        <ion-input [(ngModel)]="portion" type="number" placeholder="Portion" style="border:1px solid #707070;--padding-start: 12px;border-radius:5px;"></ion-input>
      </ion-item>
     </ion-col>
    <ion-col class="ion-text-left"size="3">  
      <ion-item lines="none" >   
        <ion-label>Portion Unit:</ion-label>   
        <ion-select style="    border: 1px solid #b3b3b3;
    border-radius: 5px;" slot="end" class="input" mode="md" [(ngModel)]="portion_unit">
        <ion-select-option *ngFor="let option of portionUnitOptions"
          [value]="option">{{option}}</ion-select-option>
      </ion-select>
      </ion-item>
    </ion-col>
  </ion-row><br>
  <ion-row>
    <ion-col class="ion-text-left" size="3">
      <ion-item lines="none">
        <ion-label>Search food:</ion-label>
        <ion-searchbar searchIcon="none" style="--box-shadow: none;--border-radius:8px;padding-right: 1rem;"
        placeholder="Ingredient to add" class="ion-no-padding" 
        (ionClear)="onClear($event)"
        [(ngModel)]="newFood"
        (input)="getAllForSearch($event.target.value)">
      </ion-searchbar>
      </ion-item>
      <div style="position: relative;">
        <div 
          *ngIf="totalDataSearchedData?.length>0">
          <div (click)="fillFood(searchItem);"
            style="width: 100%; border: .1rem solid #f3f3f3;padding: .5rem;position: relative; cursor:HAND;"
            *ngFor="let searchItem of totalDataSearchedData;">
            {{searchItem.food_name}}
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size=".2"></ion-col>
    <ion-col size="2" class="ion-text-left">
      <div *ngIf="showAdd" style="border:1px solid #b3b3b3;padding:0 .5rem; font-size:1rem;width:80%; border-radius:12px;    height: 40px;
    top: 8px;
    position: relative;">
      <ion-select [(ngModel)]="servingUnit" (ionChange)="changeUnit($event)">
        <ion-select-option value="Select Serving Unit" default="true" >Select Serving Unit</ion-select-option>
        <ion-select-option value="g(1.0)">g(1.0)</ion-select-option>
      </ion-select>
      </div>
    </ion-col>
    <ion-col size=".2"></ion-col>
    <ion-col size="1" class="ion-text-left">
      <div *ngIf="showAdd" style="border:1px solid #b3b3b3;padding:0 .5rem; font-size:1rem;width:80%; border-radius:12px;    height: 40px;
    top: 8px;
    position: relative;">
     <ion-input type="number" style="text-align: center;" [(ngModel)]="quantity"></ion-input>
    </div>
    </ion-col>
    <ion-col size="5.6" class="ion-text-left">
       <ion-button *ngIf="showAdd"  (click)="addItem()" style="height: 40px;--background:#6277eb;position:relative;top:8px;">Add</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row *ngIf="foodItemArr?.length>0">
    <ion-col> 
    <div class="parent">
      <div class="div-col-l">
      <div class="div-col-left header">
        <div class="div-col" style="width: 355px;">Name</div>
        <div class="div-col">Serving Unit</div>
        <div class="div-col">QTY.</div>
        <div class="div-col">Action</div>
      </div>
      <div class="div-col-left" *ngFor="let item of addFoodFinal;let ind=index;"> 
        <div class="div-col" style="width: 355px;" [innerHtml]="item.name"
        [ngStyle]="isRightCheck(item.name) && {'text-align': 'right'}">
        </div>
        <div class="div-col" style="text-align: center;">
          <span>{{item.sUnit}}</span>
        </div>
        <div class="div-col"  [ngStyle]="item.qnty==='Total' && {'text-align': 'right'}" style="text-align: center;">
          <span *ngIf="item.qnty!=='Total' && !editQnty[ind]" >{{item.qnty}} </span>
          <span *ngIf="item.qnty==='Total'"><b>Total</b></span>
         <ion-input style="position:relative;top:-5px;border:1px solid #b3b3b3; border-radius:8px;padding:.2rem 1rem;text-align:center;" 
         *ngIf="item.qnty!=='Total' && editQnty[ind]" 
          [(ngModel)]="item.qnty"></ion-input>
        </div>
        <div class="div-col" >
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon *ngIf="item.isEdit && !editQnty[ind]" name="pencil" (click)="editQnty[ind]=true" style="font-size: 1.5rem; color:rgba(93, 95, 239, 1);"></ion-icon>
              <ion-icon *ngIf="item.isEdit && editQnty[ind]" name="checkmark" (click)="updateQuantity(item.qnty,ind)" style="font-size: 1.5rem; color:rgba(93, 95, 239, 1);"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-icon *ngIf="item.isEdit" name="trash" (click)="removeItem(ind)" style="font-size: 1.5rem; color:rgba(93, 95, 239, 1);"></ion-icon>
            </ion-col>
          </ion-row>
          
          
        </div>
      </div>
      <!-- <div class="div-col-left1" *ngIf="addFoodLength===addFood.length">
        <div class="div-col" ></div>
        <div class="div-col" colspan="2" >{{addTotal.key}}</div>
        <div class="div-col" >Total</div>
        </div> -->
    </div>
    <div class="div-col-r">
      <div class="div-col-right header">
        <div class="div-col" *ngFor="let item of keys;let ind=index;">
          {{item}}
        </div>
        </div>

      <!-- <div class="div-col-right header">
        <div class="div-col">Energy (kcal)</div>
        <div class="div-col">Carbohydrate (gm)</div>
        <div class="div-col">Protein (gm)</div>
        <div class="div-col">Total Fat (gm)</div>
        <div class="div-col">Calcium (mg)</div>
        <div class="div-col">Phosphorus (P) (mg)</div>
        <div class="div-col">Iron (mg)</div>
        <div class="div-col">Vitamin D - (D2 + D3) (mcg)</div>
        <div class="div-col">Vitamin D - (D2 + D3) (mcg)</div>
        <div class="div-col">Vitamin B12 (mcg)</div>
        <div class="div-col">Total Fiber (gm)</div>
        <div class="div-col">Soluble Fiber (gm)</div>
        <div class="div-col">Insoluble Fiber (gm)</div>
        <div class="div-col">Omega 3 (mg)</div>
        <div class="div-col">Sodium (mg)</div>
        <div class="div-col">Potassium (mg)</div>
        <div class="div-col">Zinc (mg)</div>
        <div class="div-col">Folate (mcg)</div>
        <div class="div-col">Vitamin C (mg)</div>
        <div class="div-col">Beta Carotene (mcg)</div>
        <div class="div-col">Vitamin A (mcg)</div>
        <div class="div-col">Cholesterol (mg)</div>
        <div class="div-col">Chromium (Cr) (mg)</div>
        <div class="div-col">Magnesium (Mg) (mg)</div>
        <div class="div-col">Copper (Cu) (mg)</div>
        <div class="div-col">Cystine (gm)</div>
        <div class="div-col">DHA (mg)</div>
        <div class="div-col">Folic Acid (Free) (mcg)</div>
        <div class="div-col">Fructose (gm)</div>
        <div class="div-col">Glucose (gm)</div>
        <div class="div-col">Glycine (gm)</div>
        <div class="div-col">Histidine (gm)</div>
        <div class="div-col">Iodine (mcg)</div>
        <div class="div-col">Isoleucine (gm)</div>
        <div class="div-col">Leucine (gm)</div>
        <div class="div-col">Linoleic Acid (C18:2n6) (mg)</div>
        <div class="div-col">Lysine (gm)</div>
        <div class="div-col">Maltose (gm)</div>
        <div class="div-col">Manganese (Mn) (mg)</div>
        <div class="div-col">Methionine (gm)</div>
        <div class="div-col">Moisture (gm)</div>
        <div class="div-col">Niacin (Vitamin B3) (mg)</div>
        <div class="div-col">Phenylalanine (gm)</div>
        <div class="div-col">Proline (gm)</div>
        <div class="div-col">Riboflavin (Vitamin B2) (mg)</div>
        <div class="div-col">Thiamine (Vitamin B1) (mg)</div>
        <div class="div-col">Threonine (gm)</div>
        <div class="div-col">Added Sugar (gm)</div>
        <div class="div-col">Total Mono Unsaturated Fatty Acids (TMUFA) (mg)</div>
        <div class="div-col">Total Poly Unsaturated Fatty Acids (TPUFA) (mg)</div>
        <div class="div-col">Total Saturated Fatty Acids (TSFA) (mg)</div>
        <div class="div-col">Trans Fat (gm)</div>
        <div class="div-col">Tryptophan (gm)</div>
        <div class="div-col">Tyrosine (gm)</div>
        <div class="div-col">Valine (gm)</div>
        <div class="div-col">Pyridoxine (Vitamin B6) (mg)</div>
        <div class="div-col">Vitamin E (mg)</div>
        <div class="div-col">Vitamin K (mcg)</div>
        <div class="div-col">Total Oxalate (mg)</div>
        <div class="div-col">Phytate (mg)</div>
        <div class="div-col">Alanine (gm)</div>
        <div class="div-col">Arginine (gm)</div>
        <div class="div-col">Glycemic Index ()</div>
        <div class="div-col">Pantothenic Acid (Vitamin B5) (mg)</div>
        <div class="div-col">Dietary Folates (mcg)</div>
        <div class="div-col">Selenium (mcg)</div>
        <div class="div-col">Glycemic Load ()</div>
        <div class="div-col">Retinol (mcg)</div>
        <div class="div-col">Zeaxanthin (mcg)</div>
        <div class="div-col">Lutein (mcg)</div>
        <div class="div-col">Fluids (ml)</div>
        <div class="div-col">Lycopene (mcg)</div>
        <div class="div-col">Biotin (Vitamin B7) (mcg)</div>
        <div class="div-col">Capric Acid (C10:0) (mg)</div>
        <div class="div-col">Apigenin-7-Oneohes peridoside (mg)</div>
        <div class="div-col">Folate, Food (mcg)</div>
        <div class="div-col">Lutein + Zeaxanthin ()</div>
        <div class="div-col">Alpha-Linolenic Acid (mg)</div>
        <div class="div-col">Apigenin-6- C-Glucoside (mg)</div>
        <div class="div-col">Apigenin-6-C-Glucoside (mg)</div>
        <div class="div-col">Beta Sitosterol (mg)</div>
        <div class="div-col">Docosadienoic Acid (C22:2) (mg)</div>
        <div class="div-col">Docosa pentaenoic Acid (C22:5n3) (DPA) (mg)</div>
        <div class="div-col">Apigenin-7-Oneohesperidoside (mg)</div>
        <div class="div-col">Pepsin (gm)</div>
        <div class="div-col">Vanadium (mcg)</div>
        <div class="div-col">Ethanol (Ethyl Alcohol) (gm)</div>
        <div class="div-col">EPA % ()</div>
        <div class="div-col">Vitamin D (mcg)</div>
        <div class="div-col">Arachidonic Acid (C20:4n6) (mg)</div>
        <div class="div-col">Gamma Tocotrienol (mg)</div>
        <div class="div-col">β- Cryptoxanthin (mcg)</div>
        <div class="div-col">test (mg)</div>
        <div class="div-col">Theobromine (mg)</div>
        <div class="div-col">Ratio of DHA/EPA ()</div>
        <div class="div-col">Cis Tetracosenoic Acid (mg)</div>
        <div class="div-col">Betaine (mg)</div>
        <div class="div-col">Hydroxyproline (gm)</div>
        <div class="div-col">Eicosapentaenoic Acids (EPA) (mg)</div>
        <div class="div-col">Choline (mg)</div>
        <div class="div-col">Alpha Tocotrienol (mg)</div>
        <div class="div-col">Cobalt (mg)</div>
        <div class="div-col">Molebdeum (Mo) (mg)</div>
        <div class="div-col">Ratio of w3/w6 ()	Caprylic Acid (mg)</div>
        <div class="div-col">Aluminium (Al) (mg)</div>
        <div class="div-col">Beta Alanine (gm)</div>
        <div class="div-col">Daidzein (mg)</div>
        <div class="div-col">Octadecateraenoic Acid (mg)</div>
        <div class="div-col">Vitamin K, phylloquinone (mcg)</div>
        <div class="div-col">L- Carnitine (mg)</div>
        <div class="div-col">Ash (gm)</div>
        <div class="div-col">Cis-Aconitic Acid (mg)</div>
        <div class="div-col">Phytate - Dup ()</div>
        <div class="div-col">Campesterol (mg)</div>
        <div class="div-col">Docosanoic Acid (mg)</div>
        <div class="div-col">Alpha Carotene (mcg)</div>
        <div class="div-col">Lactose (gm)</div>
        <div class="div-col">Galactose (gm)</div>
        <div class="div-col">O-Coumaric Acid (mg)</div>
        <div class="div-col">Tetracosanoic Acid (mg)</div>
        <div class="div-col">Docosahexaenoic Acid (mg)</div>
        <div class="div-col">DHA % ()</div>
        <div class="div-col">Minerals (gm)</div>
        <div class="div-col">Aspartic Acid (gm)</div>
        <div class="div-col">3,4-Dihydroxy Benzoic Acid (mg)</div>
        <div class="div-col">Stearidonic Acid (mg)</div>
        <div class="div-col">Vitamin A, RAE (mcg)</div>
        <div class="div-col">Beta Cryptoxanthin (mcg)</div>
        <div class="div-col">Heptadecenoic Acid (mg)</div>
        <div class="div-col">Arsenic (As) (mcg)</div>
        <div class="div-col">Apigenin (mg)</div>
        <div class="div-col">Collagen (gm)</div>
        <div class="div-col">Cadmium (Cd) (mg)</div>
        <div class="div-col">Adrenic Acid (mg)</div>
        <div class="div-col">Linoleic (C18:2n6) (mg)</div>
        <div class="div-col">Chlorine (mg)</div>
        <div class="div-col">Total W6 (mg)</div>
        <div class="div-col">Fluoride (mcg)</div>
        <div class="div-col">Delta Tocotrienol (mg)</div>
        <div class="div-col">Eicosapentaenoic Acid (C20:5n3) (EPA) (mg)</div>
        <div class="div-col">Delta Tocopherol (mg)</div>
        <div class="div-col">Caproic Acid (mg)</div>
        <div class="div-col">Sustamine (mg)</div>
        <div class="div-col">Water (gm)</div>
        <div class="div-col">Eicosadienoic Acid (C20:2) (mg)</div>
        <div class="div-col">Iinositol (mg)</div>
        <div class="div-col">3-Hydroxy Benzaldehyde (mg)</div>
        <div class="div-col">(-)Gallocatechin gallate - D (mg)</div>
        <div class="div-col">Caffeine (mg)</div>
        <div class="div-col">Total Saponin (gm)</div>
        <div class="div-col">Citrulline Malate (gm)</div>
        <div class="div-col">Ajugose (gm)</div>
        <div class="div-col">Behenic Acid (C22:0) (mg)</div>
        <div class="div-col">Arachidic Acid (C20:0) (mg)</div>
        <div class="div-col">Citric Acid (mg)</div>
        <div class="div-col">Theanine (mg)</div>
        <div class="div-col">Arginine Inositol Silicate (gm)</div>
        <div class="div-col">Eicosenoic Acid (C20:1n9) (mg)</div>
        <div class="div-col">(+)-Catechin (mg)</div>
        <div class="div-col">Vitamin E, alpha-tocopherol (mg)</div>
        <div class="div-col">Taurine (mg)</div>
        <div class="div-col">Beta Tocopherol (mg)</div>
        <div class="div-col">Papain (gm)</div>
        <div class="div-col">Cinamic acid (mg)</div>
        <div class="div-col">Gadoleic Acid (mg)</div>
        <div class="div-col">Beta Tocotrienol (mg)</div>
        <div class="div-col">Margaric Acid (mg)</div>
        <div class="div-col">Butyric Acid (mg)</div>
        <div class="div-col">Eicosatrienoic Acid (C20:3n6) (mg)</div>
        <div class="div-col">Chlorogenic acid (mg)</div>
        <div class="div-col">Caffeic acid (mg)</div>
        <div class="div-col">Vitamin A, IU (mcg)</div>
        <div class="div-col">Medium Chain Triglycerides (gm)</div>
        <div class="div-col">Creatine (gm)</div>
        <div class="div-col">Polyols (gm)</div>
        <div class="div-col">Citrulline (gm)</div>
        <div class="div-col">Glutamine (gm)</div>
        <div class="div-col">Glycerol (gm)</div>
        <div class="div-col">Verbascose (gm)</div>
        <div class="div-col">Vanillic Acid (mg)</div>
        <div class="div-col">Total polyphenols (mg)</div>
        <div class="div-col">Total Carotenoids (mcg)</div>
        <div class="div-col">Total B6C (mg)</div>
        <div class="div-col">Total B6A (mg)</div>
        <div class="div-col">Total Available CHO (gm)</div>
        <div class="div-col">Tartaric Acid (mg)</div>
        <div class="div-col">Syringic Acid (mg)</div>
        <div class="div-col">Sulphur (mg)</div>
        <div class="div-col">Natural Sugar (gm)</div>
        <div class="div-col">Succinic Acid (mg)</div>
        <div class="div-col">Stigmasterol (mg)</div>
        <div class="div-col">Total Sugar (gm)</div>
        <div class="div-col">Stearic Acid (C18:0) (mg)</div>
        <div class="div-col">Sugar (gm)</div>
        <div class="div-col">Sugar Alcohol (gm)</div>
        <div class="div-col">Stachyose (gm)</div>
        <div class="div-col">Soluble Oxalate (mg)</div>
        <div class="div-col">Sinapinic Acid (mg)</div>
        <div class="div-col">Serine (gm)</div>
        <div class="div-col">Resvertrol (mg)	Raffinose (gm)</div>
        <div class="div-col">Quinic Acid (mg)</div>
        <div class="div-col">Quercetin-3- β‐ galactoside (mg)</div>
        <div class="div-col">Quercetin-3-Orutinoside (mg)</div>
        <div class="div-col">Quercetin-3-Beta-Galactoside (mg)</div>
        <div class="div-col">Quercetin-3-Beta-Dglucoside (mg)</div>
        <div class="div-col">Quercetin (mg)</div>
        <div class="div-col">Protocatechuic Acid (mg)</div>
        <div class="div-col">Phylloquinones (K1) (mcg)</div>
        <div class="div-col">Pentadecanoic Acid (C15:0) (mg)</div>
        <div class="div-col">Undecanoic Acid (C11:0) (mg)</div>
        <div class="div-col">P-Coumaric Acid (mg)</div>
        <div class="div-col">Palmitoleic Acid (C16:1) (mg)</div>
        <div class="div-col">Palmitic Acid (C16:0) (mg)</div>
        <div class="div-col">Oleic Acid (C18:1n9) (mg)</div>
        <div class="div-col">Nickel (mg)</div>
        <div class="div-col">Nervonic Acid (C24:1n9) (mg)</div>
        <div class="div-col">Naringenin (mg)</div>
        <div class="div-col">Myristoleic Acid (C14:1) (mg)</div>
        <div class="div-col">Myristic Acid (C14:0) (mg)</div>
        <div class="div-col">Myricetin (mg)</div>
        <div class="div-col">Molybdenum (Mo) (mg)</div>
        <div class="div-col">Mercury (mcg)	Menaquinones (K2) (mcg)</div>
        <div class="div-col">Mallic Acid (mg)</div>
        <div class="div-col">Luteolin (mg)	Lithium (mg)</div>
        <div class="div-col">Linolenic Acid (mg)</div>
        <div class="div-col">Lignoceric Acid (C24:0) (mg)</div>
        <div class="div-col">Lead (mg)	Lauric Acid (C12:0) (mg)</div>
        <div class="div-col">Kaempferol (mg)</div>
        <div class="div-col">Isoramnetin (mg)</div>
        <div class="div-col">Insoluble Oxalate (mg)</div>
        <div class="div-col">Hesperetin (mg)</div>
        <div class="div-col">Hesperdin (mg)</div>
        <div class="div-col">Glutamic Acid (gm)</div>
        <div class="div-col">Genistein (mg)</div>
        <div class="div-col">Gamma Tocotrienol (mg)</div>
        <div class="div-col">Gamma Tocopherol (mg)</div>
        <div class="div-col">Gamma Carotene (mcg)</div>
        <div class="div-col">(-)Gallocatechin gallate (mg)</div>
        <div class="div-col">(-)Gallo catechin (mg)</div>
        <div class="div-col">Gallic acid (mg)</div>
        <div class="div-col">Fumaric Acid (mg)</div>
        <div class="div-col">Ferulic acid (mg)</div>
        <div class="div-col">Erucic Acid (C22:1n9) (mg)</div>
        <div class="div-col">Ergocalciferol (D2) (mcg)</div>
        <div class="div-col">(-)-Epigallo catechin 3-gallate (mg)</div>
        <div class="div-col">(-)- Epigallo catechin (mg)</div>
        <div class="div-col">(-)- Epicatechin (mg)</div>
        <div class="div-col">Ellagic acid (mg)</div>
        <div class="div-col">Total Starch (gm)</div>
        <div class="div-col">Chloride (mg)</div>
        <div class="div-col">25-OH-Cholecalciferol (mcg)</div>
        <div class="div-col">Vitamin E Dummy (mg)</div>
   
    </div> -->
      <div class="div-col-right" *ngFor="let item of foodItemArrFinal;let ind=index;">
        <div class="div-col" *ngFor="let value of item;">
            {{fixDecimal(value)}}
          </div>
         </div>
          
         <span *ngIf="ind===addFood.length-1" >
         <div  class="div-col-right" *ngFor="let item of foodItemArrFinal;let ind=index;">
          <div class="div-col" *ngFor="let value of item;">
              {{fixDecimal(value)}}
            </div>
           </div>
           </span>
      </div>
      
</div>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer style="position: fixed;bottom:0;">
  <ion-toolbar style="padding-left: 15%;padding-right: 15%;width: 100%;">
  <ion-row>
    <ion-col class="ion-text-right" size="3">
      <ion-button class="button button-full" expand="block" shape="round" style="--background:#6277eb;" (click)="saveRecipe()">
        {{_id!==''?'Update':'Save'}}
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
    <!-- <ion-col class="ion-text-center"  size="3">
      <ion-button class="button button-full" expand="block" shape="round" style="--background:#6277eb;" (click)="updateRecipe()">Update</ion-button>
    </ion-col> -->
    <ion-col size="1"></ion-col>
    <ion-col class="ion-text-left"  size="3">
      <ion-button class="button button-full" expand="block" shape="round" style="--background:#6277eb;" (click)="deleteRecipe()">Delete</ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-toolbar>
</ion-footer>