.parent{
    width: 100%;
    display: flex;
    .input {
        max-width: 80%;
        border: gray 1px solid;
        --padding-top: 8px;
        --padding-bottom: 8px;
        --padding-start: 5px !important;
        border-radius: 5px;
        border-color: #b3b3b3;
        // color: rgba(99, 99, 100, 1);
        font-size: 0.8rem;
        text-align: center;
      }
    .div-col-l{
        width: 40%;
        flex:1;
        .header{
            background: #f3f3f3;
        }
        .div-col-left{
            flex: 1 0 0 0;
            width: 100%;
            display: flex;
            .div-col{
                flex: 1 0 0 0;
                width: 125px;
                padding: 0.5rem;
                font-size: .8rem;
                color: #333;
                direction: ltr;
                border-top: 1px solid #707070;
                border-bottom: 1px solid #707070;
                border-right: 1px solid #707070;
                max-width: 360px;
                height: 46px;
            }
        }
    }
    .div-col-r{
    width: 60%;
    overflow-x: scroll;
    display: grid;
    .header{
        background: #f3f3f3;
    }
   
    .div-col-right{
        flex: 2;
        width: 100%;
        display: flex;
        .div-col{
            flex: 1 0 0 0;
            width: 120px;
            padding: 0.5rem;
            font-size: .8rem;
            color: #333;
            direction: ltr;
            border-top: 1px solid #707070;
            border-bottom: 1px solid #707070;
            border-right: 1px solid #707070;
            max-width: 300px;
            height: 46px;
        }
    }
    }
  
    
}