<!-- Top NavBar -->

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" id="mainContainer" *ngIf="!streamVideo">
  <ion-grid style="padding: 0;">
    <ion-row>
      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <div class="--header"
          [ngClass]="{'--header-1':headerHidden && !isIosDevice,'--header-2':headerHidden && isIosDevice}">
          <!-- <div class="--toolbar" [ngClass]="{'--toolbar-1':headerHidden}">
            <ion-row style="top: 1rem;
      position: relative;
      width: 100%;">
              <ion-col size=".1"></ion-col>
              <ion-col size="5.9" class="ion-text-left" (click)="gotoBack()">
                <ion-icon name="arrow-back-outline" color="theme" style="font-size: 2rem;"></ion-icon>
              </ion-col>
              <ion-col size="5.5" class="ion-text-right">

              </ion-col>
              <ion-col size=".4"></ion-col>
            </ion-row>
          </div> -->
          <div style="width: 100%;position: relative; display: block;">
            <br>
            <ion-row>
              <ion-col style="height: 100px;" class="ion-align-self-start ion-text-center">
                <ion-card style="padding: 1rem; border-radius: 5px;    height: 180px;
          margin-top: 0;">
                  <ion-row class="row-date" style="width: 50%;left: 25%;">
                    <ion-col size="12" class="ion-text-center">
                      <div style="float: left;
              height: 50px;
              min-width:40px;
              position: relative;
              top: -5px;
              text-align: center; white-space: nowrap;" *ngFor="let dy of holdeIndex;let ind=index;"
                        (click)="clickDate(day[ind],holdeIndex[ind])">
                        
                        <div [ngClass]="{'activeColor':isActiveDay==day[ind]}" style="white-space: nowrap;float: left;">
                          <span style="font-size:.75rem;">{{dayName[ind]}} </span><br>
                          <span style="font-size:.75rem;">{{day[ind]}}</span>
                        </div>
                      </div>

                      <div [ngClass]="{'activeDiv':isActiveDay==day[ind]}" style="height: 6px;display: inline-block;">
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
              <ion-col style="float: left;min-width:350px;" class="ion-align-self-end">
                <ion-row>
                  <ion-col>
                    <ion-card style="height: 180px;
              position: relative;
              top:0%;
              width: 90%;
              left: 2.5%;
              margin: 0 auto;
              right: 2.5%;padding-right: 1rem;">
                      <ion-card-content style="padding-left: 15px;">
                        <ion-row>
                          <ion-col class="ion-text-left">
                            <span style="font-size: 1rem;"><b>Daily intake</b></span>
                          </ion-col>
                          <ion-col class="ion-text-right">
                            <span style="font-size: .8rem;color:#A3A3A3">
                              Your Daily Target <img src="./assets/img/aim.png">
                            </span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: .5rem;">
                          <ion-col>
                            <ion-row>
                              <ion-col class="ion-text-left"><strong><span
                                    style="color:#414042">Calories</span></strong></ion-col>
                              <ion-col class="ion-text-right"><strong><span
                                    style="color:#414042">{{suggestedCalories.totalCalories}}/{{suggestedCalories.recomended}}
                                    Kcal</span></strong></ion-col>
                            </ion-row>
                            <div style="width: 100%;background:#E9E9E9;height: 10px;border-radius: 10px;">
                              
                              <div style="height: 10px;border-radius: 10px;background: #ffc224;max-width: 100%;"
                                [style.width.%]="suggestedCalories.totalCalories===0?0:suggestedCalories.totalCalories>suggestedCalories.recomended?100:(suggestedCalories.totalCalories)*100/(suggestedCalories.recomended)">
                              </div>
                            </div>
                          </ion-col>
                        </ion-row>
                        <br>
                        <ion-row>
                          <ion-col class="ion-text-center" size="3.5">
                            <span style="font-size: 1rem;">Carbs</span><br>
                            <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                              <div style="height: 6px;border-radius: 10px;background: #489C75;max-width: 100%;"
                                [style.width.%]="(suggestedCalories.totalCalories===0?0:100)">
                              </div>
                            </div>
                            <span style="font-size: .8rem;">{{(suggestedCalories.totalCarbs)}}g</span>
                          </ion-col>
                          <ion-col size=".75"></ion-col>
                          <ion-col class="ion-text-center" size="3.5">
                            <span style="font-size: 1rem;">Protein</span><br>
                            <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                              <div style="height: 6px;border-radius: 10px;background: #DD85E0;max-width: 100%;"
                                [style.width.%]="(suggestedCalories.totalCalories===0?0:100)">
                              </div>
                            </div>
                            <span style="font-size: .8rem;">{{(suggestedCalories.totalProtien)}}g</span>
                          </ion-col>
                          <ion-col size=".75"></ion-col>
                          <ion-col class="ion-text-center" size="3.5">
                            <span style="font-size: 1rem;">Fat</span><br>
                            <div style="width: 100%;background:#E9E9E9;height: 6px;border-radius: 10px;margin: .5rem;">
                              <div style="height: 6px;border-radius: 10px;background: #8054D7;max-width: 100%;"
                                [style.width.%]="(suggestedCalories.totalCalories===0?0:100)">
                              </div>
                            </div>
                            <span style="font-size: .8rem;">{{(suggestedCalories.totalFat)}}g</span>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                    <!-- <div >
                <div class="42" id="header-progress-circle" style="background: #fff;
                 box-shadow: 0px 9px 10px 1px rgb(105 116 97 / 10%) ">
                 <div *ngIf="diets?.length !== 0 && diets !== undefined">
                 <ion-row>
                  <ion-col></ion-col> 
                  <ion-col class="ion-text-right">
                   <ion-row style="position: absolute;
                   right: 24px;
                   width: 55%;">
                     <ion-col><ion-icon name="copy-outline" (click)="copy()"></ion-icon></ion-col>
                   </ion-row>
                 </ion-col></ion-row>
                
                  <ion-row [ngStyle]="{'padding-top':headerHidden?'0':'1rem'}"> 
                    <ion-col size="0.75"></ion-col>
                    <ion-col size="2.5" class="ion-text-center ion-align-self-end" (click)="goToTodaysCaloriesCounter(false)">
                     
                      <app-home-kcounter 
                      [currentDateIndex]="currentDateIndex" 
                      [totalTodaysCaloriesPerc]="totalTodaysCaloriesPerc" 
                      [tolalCalories]="tolalCalories"
                      [habitList]="habitList"
                      [totalTodaysCalories]="totalTodaysCalories"
                      ></app-home-kcounter>
                    </ion-col>
                    <ion-col size="0.25"></ion-col>
                    <ion-col size="5" class="ion-text-center" (click)="goToAnalysis()" style="height: 130px;">
                          <app-home-dietplan 
                      [isDetox]="isDetox" 
                      [suggestedCalories]="suggestedCalories" 
                      [selectedDietPlan]="selectedDietPlan" 
                      [isAnalysisPageVisited]="isAnalysisPageVisited"
                      [detoxMaxValue]="detoxMaxValue"
                      [selectedThemeColor]="selectedThemeColor"
                      [detoxThemeColor]="detoxThemeColor"
                      ></app-home-dietplan>
                    </ion-col> 
                    <ion-col size="0.25"></ion-col>
                  
                    <ion-col size="2.5"  class="ion-text-center ion-align-self-end" (click)="waterClick()">
                      <app-home-water 
                      [currentDateIndex]="currentDateIndex"
                      [drankwater]="drankwater"
                      [totalTodaysCalories]="totalTodaysCalories"
                      [tolalCalories]="tolalCalories"
                      [habitList]="habitList"
                      [difference]="eaten"
                      >
      
                      </app-home-water>
                    </ion-col>
                    <ion-col size="0.75"></ion-col>
                  </ion-row>
                  <br>
                  <ion-row class="bottom-activities ion-padding-bottom">
                    <ion-col class="ion-text-center ion-align-self-center">
                      <div>
                        <span style="color:#01A3A4; font-size:.8rem;">Protein</span><br>
                        <img src="./assets/img/protien-mini.svg" style="margin-top: 5px;"><br>
                        <span style="color:#000000;font-size:.8rem;">
                          {{suggestedCalories.totalProtien}} gm ({{suggestedCalories.totalProtienPer}}%)
                        </span>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <div>
                        <span style="color:#01A3A4; font-size:.8rem;">Fat</span><br>
                        <img src="./assets/img/fats-mini.svg"><br>
                        <span style="color:#000000;font-size:.8rem;">
                          {{suggestedCalories.totalFat}} gm ({{suggestedCalories.totalFatPer}}%)
                        </span>
                      </div>
                    </ion-col>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <div>
                        <span style="color:#01A3A4; font-size:.8rem;">Carbs</span><br>
                        <img src="./assets/img/carbs-mini.svg"><br>
                        <span style="color:#000000;font-size:.8rem;">
                          {{suggestedCalories.totalCarbs}} gm ({{suggestedCalories.totalCarbsPer}}%)
                        </span>
                      </div>
                    </ion-col>
                  </ion-row>
                  </div>
                  <div *ngIf="diets === undefined">
                    <ion-card style="font-size:1.5rem;height:350px;text-align: center;border:1px solid #b3b3b3; background: #f3f3f3; vertical-align: middle;">
                      <span><br><br><br><br><br>
                        Dietplan not available on this date.
                      </span>
                    </ion-card>
                  </div>
               </div>
              </div> -->
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

          </div>

        </div>

        <div
          style="position:relative;height: 20px;background: -webkit-linear-gradient(top, #01A3A4 50%, #F6F7FC 50%);    margin-top: 1rem;float: left;">
          <div>
            <div class="parent-color">
              <!-- <div style="margin-left: 2.5rem;">
         <ion-row>
           <ion-col size="8" class="ion-text-left">
            <div style="position: relative;
            float: left;
            left: -1rem; font-size: .8rem;" >
             <span style="position: relative;top:-11px;font-size: 1rem !important;">Release Ready?:  </span>
               <label slot="start" style="    top: -11px;
               position: relative;
               left: 6px;color:#01A3A4">No</label>
               <ion-toggle  style="padding-left: 1rem;" 
               aria-label="Primary toggle" justify="start" 
               color="primary" 
               [checked]="isReadytorelease" (ionChange)="readyToRelease($event)"></ion-toggle>
               <label slot="end" style="    top: -11px;
               position: relative;
               left: 6px;color:#01A3A4">Yes</label>
            
            </div>
           </ion-col>
           <ion-col size="6" size="4" class="ion-text-right">
            <ion-row>
              <ion-col class="ion-text-right" size="6">
                <div class="round-border"  (click)=" goToAnalysis()">
                  <ion-icon name="bar-chart-outline" style="color:#007881"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="ion-text-right" size="6">
                <div class="round-border"  (click)="gotoDownloadPopup()">
                  <ion-icon name="download-outline" style="color:#007881"></ion-icon>
                </div>
              </ion-col> -->
              <!-- <ion-col class="ion-text-center" size="4">
                <div class="round-border" *ngIf="!isDetox" (click)="changePlan()">
                  <ion-icon name="git-compare-outline" style="color:#575757"></ion-icon>
                </div>
              </ion-col> -->
              <!-- </ion-row>
           </ion-col>
         </ion-row>
        </div> -->
              <ion-row>
                <ion-col>
                  <app-home-vertical [isPlanActiveForDiet]="!isPlanActiveForDiet"
                    *ngIf="diets && diets?.length != 0 && skel==true" #child [diets]="diets"
                    (removeItem)="removeFoodItemFromChild($event)" (refreshDiet)="refreshFoodItemFromChild($event)"
                    (updateCountDiet)="portionUpdateCalories($event)" (kcounter)="callTotalCounter($event)"
                    [slotIndex]="activeSlotIndex">

                  </app-home-vertical>
                  <!-- <app-home-vertical-lock [isPlanActiveForDiet]="isPlanActiveForDiet" *ngIf="diets && diets.length != 0 && !isPlanActiveForDiet" #child [diets]="diets" [slotDiet]="slotDiet" (removeItem)="removeFoodItemFromChild($event)" (refreshDiet)="refreshFoodItemFromChild($event)" (kcounter)="callTotalCounter($event)" [slotIndex]="activeSlotIndex"></app-home-vertical-lock> -->
                  <div *ngIf="skel==false">
                    <ion-card style="max-height: 400px;
                 height: 315px;
                 width: 90%;
                 display: inline-block;
                 left: 5%;">
                      <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="max-height: 400px;
                height: 315px;
                width: 90%;
                display: inline-block;
                left: 5%;">
                      <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
                    </ion-card>
                    <ion-card style="max-height: 400px;
                height: 315px;
                width: 90%;
                display: inline-block;
                left: 5%;">
                      <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
                    </ion-card>
                  </div>
                </ion-col>
              </ion-row>
              <br><br><br>
            </div>
          </div>
        </div>
      
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>