<ion-content>
  <div *ngFor="let faq of faqs; let i = index" style="margin: 0 1rem;">
    <ion-item >
      <ion-label (click)="toggleFAQ(i)" style="font-size: 1rem;white-space:normal;">
        {{ faq.question }}
      </ion-label>
      <ion-icon 
      style="color:#616BE9"
        slot="end" 
        [name]="faq.isOpen ? 'remove-circle-outline' : 'add-circle-outline'" 
        (click)="toggleFAQ(i)">
      </ion-icon>
    </ion-item>
    <ion-item *ngIf="faq.isOpen" class="faq-answer">
      <ion-label style="font-size: .9rem;white-space:normal;">
        {{ faq.answer }}
        <ul style="font-size: .8rem;">
          <li *ngFor="let del of faq.detail">
            {{del}}
          </li>
        </ul>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
