@import "../../theme/fonts.scss";

.user-info-row {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: #f5f5f5;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}
.user-info-col-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.user-info-row-title {
  color: #616be9;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.user-info-row-content-value {
  color: #040508;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  margin-top: 5px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  top: 80%; /* Position it below the text */
  left: 0;
  white-space: nowrap;
  z-index: 10;
  font-size: 0.9rem;
  width: max-content;
}

.user-info-row-content-value2 {
  background-color: #fff;
  color: #040508;
  font-size: 14px;
  padding: 1px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  margin-top: 5px;
}
