<!-- User info Row -->
<ion-toolbar style="background-color: #fff;margin-bottom: 1rem;" *ngIf="profileData.profile">
  <div class="user-info-row" *ngIf="profileData.profile">
    <ion-row class="ion-align-items-center" style="height: 100%; width: 100%;padding: 0;">
      <!-- <ion-col>
        <img src="../../assets/icon/person.svg" alt="Person Img" style="height: 3rem;">
      </ion-col> -->
      <ion-col size="2.4" style="border-right: #DBD8D8;">
        <ion-row
          style="color: #616BE9;font-weight: bold;font-size: 16px;display: flex; flex-direction: row; align-items: center; justify-content: space-between;text-transform: capitalize;">
          <span>{{profileData?.profile?.name}}</span>
          <ion-icon name="create-outline" style="font-size: 1.5rem;color:#616BE9;cursor: pointer;"
            (click)="editFxnClick()" *ngIf="username!=='beato'"></ion-icon>
          <img src="../../assets/icon/link.svg" alt="Person Img" style="height: 1rem;cursor: pointer;"
            (click)="copyProfileLink()" *ngIf="isDietitiian">
          <ion-icon name="download-outline" style="font-size: 1.5rem;color:#616BE9;cursor: pointer;"
            (click)="downloadPdf()" *ngIf="isDietitiian && username!=='beato'"></ion-icon>
          <div *ngIf="isdoenloadclicked" style="float:left;width: 23%;height:6px;border:1px solid #b3b3b3;">
            <div style="float: left;position: relative;
          font-size: .45rem;color:#000;white-space:nowrap;
          top: -17px;" [ngStyle]="{'width':percentwithPer,'left':percentwithPer}">{{percentwithPer}}</div>
            <div [ngStyle]="{'width':percentwithPer}" style="background:rgb(255, 194, 36);height:5px;"></div>
          </div>
        </ion-row>

        <ion-row class="ion-justify-content-between" style="color: #8F9196;font-size: 15px;">

          <span>{{profileData?.demographic?.age?.avg_age}} yrs,
            {{profileData?.demographic?.gender?.gender}}</span>
          <span>ID: {{profileData?._id}}</span>
        </ion-row>
        <ion-row style="margin: 0 auto;margin-top: 5px;" *ngIf="isDietPlanRepeated">
          <span style="color: red;font-size: 0.8rem;">Diet Plan Repeated</span>
          <ion-icon name="stop-circle-outline"
            style="margin-left: 5px;cursor: pointer;font-size: 1.25rem;color: #616BE9;"
            (click)="disableRepeatForFutureDays()"></ion-icon>
          <ion-col *ngIf="username!=='beato' && lifeStyle?.firstConsult===true">
            <ion-button (click)="updateProfile(false)" expand="block" style="font-size: 10px;" fill="outline">Stop Diet
              plan</ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col size="0.2" style="display: flex;justify-content: center;">
        <div style="background-color: #637AEB;width: 0.12rem;height: 5rem;"></div>
      </ion-col>
      <!-- User Weight, Height, BMR etc. -->
      <ion-col size="9.4">
        <ion-row class="ion-justify-content-between">
          <!-- Weight -->
          <ion-col size="0.6" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Weight</ion-row>
            <ion-row class="user-info-row-content-value">
              {{profileData?.demographic?.weight?.value}}
              {{profileData?.demographic?.weight?.unit}}</ion-row>
          </ion-col>
          <!-- Height -->
          <ion-col size="0.8" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Height</ion-row>
            <ion-row class="user-info-row-content-value">
              {{profileData?.demographic?.height?.value}}
              {{profileData?.demographic?.height?.unit}}
            </ion-row>
          </ion-col>
          <!-- BMI -->
          <!-- <ion-col size="0.6" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">BMI</ion-row>
            <ion-row class="user-info-row-content-value">{{profileData?.demographic?.bmi}}</ion-row>
          </ion-col> -->
          <!-- Activity -->
          <ion-col size="1" class="user-info-col-container ion-align-self-start" *ngIf="activityName">
            <ion-row class="user-info-row-title">Activity</ion-row>
            <ion-row class="user-info-row-content-value" (mouseenter)="activityIsHovered = true"
              (mouseleave)="activityIsHovered = false" *ngIf="activityName[0]">
              {{activityName[0].value.length>9 ? activityName[0].value.substring(0, 9) + "..." : activityName[0].value}}
              <div *ngIf="activityIsHovered" class="tooltip">
                {{ activityName[0].value }}
              </div>
            </ion-row>
          </ion-col>
          <!-- Goal -->
          <ion-col size="1.1" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Goal</ion-row>
            <ion-row class="user-info-row-content-value" (mouseenter)="dietPlanIsHovered = true"
              (mouseleave)="dietPlanIsHovered = false">
              <ion-col *ngIf="goalName"> {{goalName.length>0 ? goalName.substring(0, 10) + '...':''}}</ion-col>
              <div *ngIf="dietPlanIsHovered" class="tooltip">
                {{ goalName }}
              </div>
            </ion-row>
            <!-- dietPlanIsHovered -->
          </ion-col>
          <!-- Food Preferenes -->
          <ion-col size="1.4" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Food Pref.</ion-row>
            <!-- mealPref?.length>0? mealPref[0].value:'' -->
            <ion-row class="user-info-row-content-value" (mouseenter)="foodPrefIsHovered = true"
              (mouseleave)="foodPrefIsHovered = false">
              <ion-col *ngIf="mealPref"> {{mealPref.length>0 ? mealPref[0].value.substring(0, 10) + '...':''}}</ion-col>
              <div *ngIf="foodPrefIsHovered" class="tooltip">
                {{ mealPref[0].value }}
              </div>
            </ion-row>
          </ion-col>
          <!-- Country -->
          <ion-col size="0.7" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Country</ion-row>
            <ion-row class="user-info-row-content-value">
              {{countryChoosen ? countryChoosen.name:'Null'}}
            </ion-row>
          </ion-col>
          <!-- Community -->
          <ion-col size="1.5" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Community</ion-row>
            <ion-row class="user-info-row-content-value">
              {{(community && community?.length>0)?community[0]:''}}
            </ion-row>
          </ion-col>
          <!-- Allergy -->
          <ion-col size="1.5" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Allergy</ion-row>
            <ion-row class="user-info-row-content-value" (mouseenter)="alergyIsHovered = true"
              (mouseleave)="alergyIsHovered = false">
              {{allergies.length>0 ?( allergies.join(', ').length>15 ? allergies.join(', ').substring(0, 15) + "..." :
              allergies.join(', ')): 'No Allergy'}}
              <!-- Overlay to show full string on hover -->
              <div *ngIf="alergyIsHovered" class="tooltip">
                {{ allergies.join(', ') }}
              </div>

            </ion-row>
          </ion-col>
          <!-- Dieseases -->
          <ion-col size="1.5" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Diseases</ion-row>
            <ion-row class="user-info-row-content-value" (mouseenter)="dieseaseIsHovered = true"
              (mouseleave)="dieseaseIsHovered = false">

              {{diseases.length>0 ?(diseases.join(', ').length>15 ? diseases.join(', ').substring(0, 15) + "..." :
              diseases.join(', ')): 'No Diseases'}}
              <!-- Overlay to show full string on hover -->
              <div *ngIf="dieseaseIsHovered" class="tooltip">
                {{ diseases.join(', ') }}
              </div>
            </ion-row>
          </ion-col>
          <!-- Calories -->
          <ion-col size="0.7" class="user-info-col-container ion-align-self-start">
            <ion-row class="user-info-row-title">Calories</ion-row>
            <ion-row class="user-info-row-content-value2">
              <ion-input [(ngModel)]="updateTargetCal" style="width: 100%;
                            border: 1px solid #b3b3b3;
                            height: 28px;
                            border-radius: 5px;--padding-start: 0;"></ion-input>
              <!-- {{profileData?.lifeStyle?.calories}} -->
            </ion-row>
          </ion-col>
          <!-- Update -->
          <ion-col size="1.2" class="ion-align-self-center">
            <ion-row>
              <ion-button (click)="getTokenUpdateTargetCal()" expand="block" shape="round" style="--background:#6277eb;
                            color:#fff;
                            height: 30px;font-size: .75rem; padding: 0 5px;text-transform: none;">Update</ion-button>
            </ion-row>
          </ion-col>
        </ion-row></ion-col>
    </ion-row>
  </div>
</ion-toolbar>