

.select-diet{
    --background:#F6F7FC;
    h2{
        font-size: 1.2rem;
        color:#263143;
    }
    .content{
    margin:1rem 1rem;
    ion-item{
        margin-top:1rem;
        border-radius: 20px;
    }
    .choose-diet{
        font-size:1.2rem;
        font-weight:500;
    }
    .diet-plan{
        font-size: 1.4rem;
        padding: 8px;
        background-color: #fff;
        border-radius: 15px;
        color: #263143;

    }
    .active{
        border: 1px solid #01A3A4;
        box-shadow: 0px 4px 8px 0px #b3b3b3;
    }

}
}

ion-footerbar{
    ion-row{
    ion-col{
       padding:1rem; 
}
}
}
