
<ion-content class="select-diet">
<ion-row>
  <ion-col class="ion-text-center">
    <h2 class="choose-diet">Choose the most suitable Diet Plan </h2>
  </ion-col>
</ion-row>

<ion-grid class="content">
  <ion-item *ngFor="let sdiet of selectDiet;let sdt=index;" (click)="selectedDiet(sdiet,sdt)" [ngClass]="{'active':isActive===sdt}">
    <ion-row style="width: 100%;">
      <ion-col class="ion-text-center" size="12">
        <div class="diet-plan" >{{sdiet.name}}</div>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-grid>
</ion-content>
<ion-footerbar>
<ion-row>
  <ion-col class="ion-text-center">
    <ion-button shape="round" color="theme" expand="block" (click)="gotoConfirm()">Next</ion-button>
  </ion-col>
</ion-row>
</ion-footerbar>