
<ion-content>
  <ion-row>
    <ion-col>
      <div style="width: 100%;height: 200px;color:#000;border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;padding: 1rem;background:var(--theme-profile-background)">
        <div class="date-change">
          <ion-button (click)="dateRangeChange(defaultDate, 'back')" shape="round" fill="clear">
            <ion-icon name="chevron-back-outline" class="color-black"></ion-icon>
          </ion-button>
          <span>{{defaultDateRange}}</span>
          <!-- [disabled]="isValidDate" -->
          <ion-button (click)="dateRangeChange(defaultDate, 'forward')" shape="round" fill="clear">
            <ion-icon name="chevron-forward-outline" class="color-black"></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="canvas-card">
        <ion-card>
          <ion-card-content style="padding-left: 15px;">
            <ion-row class="text-center" *ngIf="averageCal">
              <ion-col>
                <b>{{Math.round(averageCal)}} Kcal </b> Average
              </ion-col>
            </ion-row>
            <!-- <ion-row class="text-center" *ngIf="averageCal">
              <ion-col>
                <span>Average</span>
              </ion-col>
            </ion-row> -->
            <!-- <canvas id="barCanvas" width="40vw" height="20vh"></canvas> -->
            <canvas #barCanvas style="position: relative;" height="200" ></canvas>
            <!-- <ion-row class="margin-top-1">
              <ion-col class="status-mark ion-align-self-center">
                <ion-icon name="ellipse" class="consumed-label"></ion-icon> <span>Consumed</span>
              </ion-col>
              <ion-col class="status-mark ion-align-self-center">
                <ion-icon name="ellipse" class="exceeded-label"></ion-icon> <span>Over Exceeded</span>
              </ion-col>
              <ion-col class="status-mark ion-align-self-center">
                <ion-icon name="ellipse" class="daily-limit-label"></ion-icon> <span>Daily limit</span>
              </ion-col>
            </ion-row> -->
            <ion-row class="ion-margin-vertical">
              <ion-col class="status-mark ion-align-self-center">
                <span>For best benifits remain in Green Zone</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <!-- <p class="info-text ion-margin-horizontal">
          Calories are an estimate of energy gained from food and drinks tracked regularly
        </p> -->

        <p class="records-title" *ngIf="custDailyDiets && custDailyDiets.length">
          My Daily Records
        </p>

        <ion-list class="ion-margin-top" *ngIf="maxCalories" lines="none">
          <ion-item class="ion-no-padding diet-item ion-margin-horizontal
          " *ngFor="let item of custDailyDiets">
            <ion-avatar slot="start" class="indicator-icon-container">
              <ion-icon class="calory-status-icon"
                [src]="(item.data.scoreRemark == 'Excellent choices') ? 'assets/icons/calory-excellent.svg' : 
                (item.data.scoreRemark == 'Good choices') ? 'assets/icons/calory-light-green.svg' : 
                (item.data.scoreRemark == 'Average Choices') ? 'assets/icons/calory-yellow.svg' : 
                (item.data.scoreRemark == 'Poor choices') ? 'assets/icons/calory-average.svg' :
                'assets/icons/calory-bad.svg'"
                ></ion-icon>
            </ion-avatar>
            <ion-label>
              <p class="date-label">{{item.displayDate}}</p>
              <p class="choice-type">{{item.data.scoreRemark}}</p>
            </ion-label>
            <ion-label slot="end">
              <p class="calory-consumed ion-text-end"
                [ngClass]="(item.data.totalEatenCalories > maxCalories || item.data.scoreColor == 'red') ? 'red-text' : 
                (item.data.scoreColor == 'dark green') ? 'green-text' : 
                (item.data.scoreColor == 'light green') ? 'light-green-text' : 
                (item.data.scoreColor == 'yellow') ? 'yellow-text' : 
                (item.data.scoreColor == 'orange') ? 'orange-text' : ''">
                {{Math.round(item.data.totalEatenCalories)}} Kcal</p>
                <div class="consumed-calory-container">
                  <span class="calory-status">{{Math.round(item.restCalories)}} kcal
                    {{(item.data.totalEatenCalories > maxCalories) ? "over" : "less" }}
                  </span>
                  <ion-icon
                    [src]="(item.data.totalEatenCalories > maxCalories) ? 'assets/icons/thumb-bad.svg' : 'assets/icons/thumb-excellent-average.svg'"></ion-icon>
                </div>
              
            </ion-label>
          </ion-item>
        </ion-list>

      </div>

    </ion-col>
  </ion-row>
</ion-content>