<!-- Top NavBar -->
<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>
      <!-- Main Content -->
      <ion-col>
        <ion-row class="ion-justify-content-between">
          <!-- Order set Filter control -->
          <ion-item>
            <ion-label>Sort by Name</ion-label>
            <ion-toggle [(ngModel)]="sortByName" (ionChange)="handleFilterChange()"></ion-toggle>
          </ion-item>
          <!-- Global set Filter control -->
          <ion-item>
            <ion-label>All</ion-label>
            <ion-toggle [(ngModel)]="isPersonal" (ionChange)="handleFilterChange()"></ion-toggle>
            <ion-label style="width: 6rem;">Personal</ion-label>
          </ion-item>
          <!-- Filter control -->
          <ion-item>
            <ion-label>Filter by Active Status</ion-label>
            <ion-select [(ngModel)]="filterActive" (ionChange)="handleFilterChange()">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="true">Active</ion-select-option>
              <ion-select-option value="false">Inactive</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>


        <div *ngIf="data && !loading && !error">
          <ion-card *ngFor="let item of filteredData" class="template-card">
            <ion-card-header>
              <ion-card-title>{{ item.templateName
                }}</ion-card-title>
              <ion-card-subtitle style="display: flex;gap: 2rem;">
                <span>{{ item.createdby
                  }}</span>
                <span>
                  <u>Created On</u>: <span>{{item.createdOn | date:'MMM d, y'}}</span>
                </span>
                <span>
                  <u>Updated On</u>: <span>{{item.updatedOn | date:'MMM d, y'}}</span>
                </span>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <div>
                {{ item.templateDescription}}
              </div>
              <!-- <div>
                <u>Company Id</u>: <span>{{item.companyID}}</span>
              </div> -->
            </ion-card-content>
            <ion-button *ngIf="item?.isActive && userSearched!==''" fill="clear" (click)="gotoCopy(item._id)">Copy</ion-button>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>