
<ion-content class="update-slot-diet">
  <ion-row>
    <ion-col class="ion-text-center">
      <h2 class="choose-diet">  Update “Fruits” in “Breakfast”
        </h2>
    </ion-col>
  </ion-row>
  <ion-grid class="content">
    <ion-card clss="card-item" >
      <ion-card-header style="border-bottom:.5px solid #b3b3b3;padding:10px 0;">
        <ion-row style="padding:.5rem;" >
          <ion-col size="7.1" class="ion-text-left"><span class="cat">Food Items</span></ion-col>
          <ion-col size="2.3" class="ion-text-right"><span class="option">Option</span></ion-col>
          <ion-col size="2.6" class="ion-text-right"><span class="diet">Diet Plan</span></ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <div  *ngFor="let sdiet of updateSlot;let sdt=index;">
        <ion-row style="padding: 0 .2rem;" *ngIf="isVisibal(sdiet.option,sdiet.diet) && !isShow">
          <ion-col>
          <ion-row style="padding: .3rem;">  
          <ion-col size="8" class="ion-text-left">
            <div style="margin-bottom: 0.4rem;line-height: 1;"><span class="food-cal">{{sdiet.Food}}</span> &nbsp;<span class="--cal --cal"> {{sdiet.Calories}} Cal</span> </div>
            <div>
              <ion-row class="pfcf">
                <ion-col size="3">Protein <br>
                  {{sdiet.Protien}}  
                </ion-col>
                <ion-col size="3">Fats
                  <br> {{sdiet.Fat}} 
                </ion-col>
                <ion-col size="3">Carbs
                  <br>
                  {{sdiet.Carbs}} 
                </ion-col>
                <ion-col size="3">Fiber
                  <br>
                  {{sdiet.Fiber}} 
                </ion-col>
              </ion-row>
            </div>

            </ion-col>
          <ion-col size="2" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="option" mode="md" [disabled]="sdiet.diet?true:false" [checked]="sdiet.diet?true:sdiet.option" [(ngModel)]="sdiet.option"></ion-checkbox>
          </ion-col>
          <ion-col size="2" class="ion-text-right ion-align-self-center">
            <ion-checkbox class="diet" mode="md" [checked]="sdiet.diet" [(ngModel)]="sdiet.diet"></ion-checkbox>
          </ion-col>
          </ion-row>
          <ion-row style="padding-bottom: .3rem;">
            <ion-col style="border-bottom:1px solid #b3b3b3;"></ion-col>
          </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0 .2rem;" *ngIf="isShow">
          <ion-col>
          <ion-row style="padding: .3rem;">  
          <ion-col size="8" class="ion-text-left">
            <div style="margin-bottom: 0.4rem;line-height: 1;"><span class="food-cal">{{sdiet.Food}}</span> &nbsp;<span class="--cal --cal"> {{sdiet.Calories}} Cal</span> </div>
            <div>
              <ion-row class="pfcf">
                <ion-col size="3">Protein <br>
                  {{sdiet.Protien}}  
                </ion-col>
                <ion-col size="3">Fats
                  <br> {{sdiet.Fat}} 
                </ion-col>
                <ion-col size="3">Carbs
                  <br>
                  {{sdiet.Carbs}} 
                </ion-col>
                <ion-col size="3">Fiber
                  <br>
                  {{sdiet.Fiber}} 
                </ion-col>
              </ion-row>
            </div>

            </ion-col>
          <ion-col size="2" class="ion-text-center ion-align-self-center">
            <ion-checkbox class="option" mode="md" [disabled]="sdiet.diet?true:false" [checked]="sdiet.diet?true:sdiet.option" [(ngModel)]="sdiet.option"></ion-checkbox>
          </ion-col>
          <ion-col size="2" class="ion-text-right ion-align-self-center">
            <ion-checkbox class="diet" mode="md" [checked]="sdiet.diet" [(ngModel)]="sdiet.diet"></ion-checkbox>
          </ion-col>
          </ion-row>
          <ion-row style="padding-bottom: .3rem;">
            <ion-col style="border-bottom:1px solid #b3b3b3;"></ion-col>
          </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col class="ion-text-center" (click)="isShow=!isShow;">
          <a style="color:#01A3A4; cursor:HAND;">Show All Foods Items</a>
        </ion-col>
      </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  </ion-content>
  <ion-footerbar>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" color="theme" expand="block" fill="outline" (click)="updateFoodItems()">Update</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" color="theme" expand="block" (click)="reset()">Reset Default</ion-button>
      </ion-col>
    </ion-row>
    </ion-footerbar>
