<ion-content>
  <div style=" min-height: calc(100% - 60px);padding-bottom: 60px;">
    <ion-grid class="dietPlan">
      <ion-row *ngIf="dietPlan?.length==0">
        <ion-col>
          <ion-row style="border-bottom: 1px solid #DBD8D8;">
            <ion-col size="2" style="border: none;">
              <ion-row style="border:none;" *ngIf="inSights==='true'">
                <ion-col size="2" class="ion-text-left" style="border: none;">
                  <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                </ion-col>
                <ion-col class=" ion-text-center ion-align-self-center">
                  <ion-label style="font-size: .8rem; color:#333;">
                    <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                  </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-right" style="border: none;">
                </ion-col>
              </ion-row>
              <ion-row style="border:none;"
                *ngIf="(isEdit===undefine || isEdit==='false') && inSights==='false' && recall==='false' && newTemplate==='false'">
                <ion-col size="3.5" class="ion-text-left" style="border: none;">
                  <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                </ion-col>
                <ion-col size="5" class=" ion-text-center ion-align-self-center" style="border: none;">
                  <ion-label style="font-size: .8rem; color:#333;">
                    <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                  </ion-label>
                </ion-col>
                <ion-col size="3.5" class="ion-text-right" style="border: none;" style="border: none;">
                  <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size=".2" style="border: none;">
            </ion-col>
            <ion-col size="1.4" class="ion-text-center" *ngFor="let dit of [1,2,3,4,5,6,7];let ditInd=index;"
              style="border-right: 1px solid #DBD8D8;">
              <div class='custom-date-format' *ngIf="templateId!=='' && templateId!==undefined && isEdit==='true'">
                <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
              </div>

              <div class='custom-date-format'
                *ngIf="templateId!=='' && templateId!==undefined && isEdit==='false' && newTemplate!=='true'">
                <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
              </div>
              <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row style="background: #F5F5F5;">
            <ion-col size="2" style="border: none;"></ion-col>
            <ion-col size=".2" style="border: none;"></ion-col>
            <ion-col size="1.4" class="ion-text-center" *ngFor="let dit of [1,2,3,4,5,6,7];let ditInd=index;"
              style="border-right: 1px solid #DBD8D8;">

              <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <!-- <div  style="float:left"> -->
          <ion-row *ngFor="let slot of [1,2,3,4,5,6,7];let itemIndex=index;" style="background: #f5f5f5;">
            <ion-col class="ion-text-left" size="1.9" style="color: #616BE9;">

              <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
            </ion-col>

            <ion-col class="ion-text-center" size=".3" style="background: #E4E7FA;">

              <div *ngFor="let items of [1,2,3,4,5,6,7];let indp=index;">
                <span *ngIf="indp===0">
                  <ion-row style="border: none;padding: 0;" *ngFor="let food of [1,2,3,4,5,6,7]; let ind=index;">
                    <ion-col style="border: none;" class="ion-align-self-center" [ngStyle]="{'height.px': 63-(ind)}">
                      <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </span>
              </div>
            </ion-col>

            <ion-col size="1.4" style="border-right: 1px solid #DBD8D8;background: #fff;"
              *ngFor="let items of [1,2,3,4,5,6,7];let indp=index;">

              <div *ngFor="let food of [1,2,3,4,5,6,7]; let ind=index;">
                <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>

              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="dietPlan?.length>0">
        <ion-col>
          <ion-row style="border-bottom: 1px solid #DBD8D8;">
            <ion-col size="2" style="border: none;">
              <ion-row style="border:none;" *ngIf="inSights==='true'">
                <ion-col size="2" class="ion-text-left" style="border: none;">
                  <ion-icon *ngIf="inSights==='true'" name="arrow-back" (click)="back()"
                    style="font-size: 2rem !important;"></ion-icon>
                </ion-col>
                <ion-col class=" ion-text-center ion-align-self-center">
                  <ion-label style="font-size: .8rem; color:#333;">
                    &nbsp; {{dateRangeDis}}
                  </ion-label>
                </ion-col>
                <ion-col size="2" class="ion-text-right" style="border: none;">
                  <ion-icon *ngIf="inSights==='true'" name="arrow-forward" (click)="forward()"
                    style="font-size: 2rem !important;"></ion-icon>

                </ion-col>
              </ion-row>
              <ion-row style="border:none;"
                *ngIf="(isEdit===undefine || isEdit==='false') && inSights==='false' && recall==='false' && newTemplate==='false'">
                <ion-col size="3.5" class="ion-text-left" style="border: none;">

                  <ion-row style="border: none;">
                    <ion-col size="5" class="ion-align-self-center" style="border: none;">
                      <ion-icon mode="ios" name="arrow-back" (click)="backSeven()"
                        style="font-size: 1.5rem !important;"></ion-icon>
                    </ion-col>
                    <ion-col size="7" class="ion-text-right ion-align-self-center" style="border: none;">
                      <!-- <ion-icon mode="ios" name="arrow-back" (click)="backSeven1()"
                        style="font-size: 1rem !important;"></ion-icon> -->
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="5" class=" ion-text-center ion-align-self-center" style="border: none;">
                  <ion-label style="font-size: .8rem; color:#333;">
                    &nbsp; {{dateRangeSevenDays}}
                  </ion-label>
                </ion-col>
                <ion-col size="3.5" class="ion-text-right" style="border: none;" style="border: none;">
                  <ion-row style="border: none;">
                    <ion-col size="5" class="ion-align-self-center" style="border: none;">
                      <!-- <ion-icon mode="ios" name="arrow-forward" (click)="forwardSeven1()"
                        style="font-size: 1rem !important;"></ion-icon> -->
                    </ion-col>
                    <ion-col size="7" class="ion-text-left ion-align-self-center" style="border: none;">
                      <ion-icon mode="ios" name="arrow-forward" (click)="forwardSeven()"
                        style="font-size: 1.5rem !important;"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size=".2" style="border: none;">

            </ion-col>
            <ion-col size="1.4" class="ion-text-center" *ngFor="let dit of dietPlan;let ditInd=index;"
              style="border-right: 1px solid #DBD8D8;">
              <div class='custom-date-format' *ngIf="templateId!=='' && templateId!==undefined && isEdit==='true'">
                {{dit.date2}}
              </div>

              <div class='custom-date-format'
                *ngIf="templateId!=='' && templateId!==undefined && isEdit==='false' && newTemplate!=='true'">
                <!-- {{dit.date2}}<br>
              <div class="custom-date-format2"> {{dit.date1}}</div>     -->
                <span [innerHtml]="dit.date"></span>
              </div>
              <span [innerHtml]="dit.date" *ngIf="(templateId=='' || templateId==undefined) && recall==='false'"></span>
              <span *ngIf="recall==='true'" [innerHtml]="dit.date"></span>
            </ion-col>
          </ion-row>
          <ion-row style="background: #F5F5F5;">
            <ion-col size="2" style="border: none;">
              <ion-button *ngIf="newTemplate==='false' && recall==='false'" (click)="copyFromTemplate()"
                style="margin-bottom: .2rem; text-transform:none; --background:rgb(93, 95, 239)">Copy from
                template</ion-button>
              <ion-button *ngIf="newTemplate==='false' && recall==='false'" (click)="copyPreviousWeek()"
                style="text-transform: none;--background:rgb(93, 95, 239)">Copy previous week</ion-button>
            </ion-col>
            <ion-col size=".2" style="border: none;"></ion-col>
            <ion-col size="1.4" class="ion-text-center" *ngFor="let dit of dietPlan;let ditInd=index;"
              style="border-right: 1px solid #DBD8D8;">
              <div class="tooltip-container">
                <div style="border-radius: .8rem;padding:5px;margin: 5px;"
                  [ngClass]="{'normal-color':!isCaloryExceed[ditInd],'red-color':isCaloryExceed[ditInd]}">
                  <span style="color:#3B3838;font-size: 1rem;">{{dit.tolalCalories | number:'1.0-0'}}Kcal</span><br>
                  <span style="color:#6A6666;font-size: .6rem;">Carbs:{{dit.totalCarbs | number:'1.0-0'}}gm | Fat:
                    {{dit.totalFat | number:'1.0-0'}}gm</span> <br>
                  <span style="color:#6A6666;font-size: .6rem;"> Protien:{{dit.totalProtien | number:'1.0-0'}}gm |
                    Fiber:
                    {{dit.totalFiber | number:'1.0-0'}}gm</span>
                  <div class="tooltip-text">
                    <span style="color:#fff;font-size: .6rem;">Carbs: {{((dit.totalCarbs*4)*100/dit.tolalCalories) |
                      number:'1.0-0'}}% | Fat:
                      {{((dit.totalFat*9)*100/dit.tolalCalories) | number:'1.0-0'}}%</span> <br>
                    <span style="color:#fff;font-size: .6rem;"> Protien: {{((dit.totalProtien*4)*100/dit.tolalCalories)
                      | number:'1.0-0'}}% </span>

                  </div>
                </div>
              </div>

              <div style="margin-top: .2rem;" class="tooltip-container"
                *ngIf="(templateId=='' || templateId==undefined) && newTemplate==='false' && recall ==='false' && isPastDate">
                <div style="border-radius: .8rem;padding:5px;margin: 5px;"
                  [ngClass]="{'normal-color':!isCaloryExceed[ditInd],'red-color':isCaloryExceed[ditInd]}">
                  <span style="color:#3B3838;font-size: 1rem;">Eaten: {{dit.tolalCaloriesEaten |
                    number:'1.0-0'}}Kcal</span><br>
                  <span style="color:#6A6666;font-size: .6rem;"></span> <br>
                  <div class="tooltip-text">
                    <span style="color:#fff;font-size: .6rem;">
                      Carbs:{{dit.totalCarbsEaten | number:'1.0-0'}}gm
                      ({{((dit.totalCarbsEaten*4)*100/dit.tolalCaloriesEaten) | number:'1.0-0'}}%)
                      | Fat:{{dit.totalFatEaten | number:'1.0-0'}}gm
                      ({{((dit.totalFatEaten*9)*100/dit.tolalCaloriesEaten) | number:'1.0-0'}}%)
                    </span>
                    <span style="color:#fff;font-size: .6rem;">
                      | Protien: {{dit.totalProtienEaten | number:'1.0-0'}}gm
                      ({{((dit.totalProtienEaten*4)*100/dit.tolalCaloriesEaten) | number:'1.0-0'}}%)
                      | Fiber: {{dit.totalFiberEaten | number:'1.0-0'}}gm
                    </span>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <!-- <div  style="float:left"> -->
          <ion-row *ngFor="let slot of slotItems;let itemIndex=index;" style="background: #f5f5f5;">
            <ion-col class="ion-text-left" size="1.9" style="color: #616BE9;">
              <div>
                <div style="border:1px solid #b3b3b3;"> <ion-input [(ngModel)]="slot.slotName"></ion-input></div>
                <!-- <div style="border:1px solid #b3b3b3;"> <ion-input [(ngModel)]="slot.time"></ion-input></div> -->
              </div> <br>
              <div>
                <ion-icon name="add-circle-outline" style="font-size: 1.2rem !important;
      color: #616BE9;" (click)="addItem(slot)"></ion-icon>
                <ion-icon name="trash" (click)="removeAllFromSlot(slot,itemIndex)" style="font-size: 1.2rem !important;
     color: #616BE9;
    "></ion-icon>
              </div>
            </ion-col>

            <ion-col class="ion-text-center" size=".3" style="background: #E4E7FA;">

              <div *ngFor="let items of slot.data;let indp=index;">
                <span *ngIf="indp===0">
                  <ion-row style="border: none;padding: 0;" *ngFor="let food of items; let ind=index;">
                    <ion-col style="border: none;" class="ion-align-self-center" [ngStyle]="{'height.px': 63-(ind)}">
                      <ion-icon name="trash" (click)="removeItem(slot.data,ind)" style="font-size: 1.2rem !important;color: #616BE9;position: relative;
                      top: 1rem;"></ion-icon>
                    </ion-col>
                  </ion-row>
                </span>
              </div>
            </ion-col>

            <ion-col size="1.4" style="border-right: 1px solid #DBD8D8;background: #fff;"
              *ngFor="let items of slot.data;let indp=index;">

              <div *ngFor="let food of items; let ind=index;">

                <div class="tooltip-container">
                  <!-- disabled="{{isDisable[itemIndex]}}" -->

                  <ion-searchbar style="--box-shadow: none;--background: #fff; 
                                      border-radius: 5px;text-align: center; border:1px solid #000cff;
                                      padding: 0 5px; margin: .5rem .3rem;color: #000cff;opacity: 1;" 
                  [style.color]="inSights==='true'?'#000':'#000cff'" 
                  searchIcon="none" clearIcon="none"
                  (ionClear)="onClear($event)" placeholder="Tap to open"
                  class="manage-diet ion-no-padding mb-20 tooltip-button" [(ngModel)]="food.Food"
                  [disabled]="isDisable[indp]" [ngClass]="{
                    'colorScore':(food.eaten>0 && (food.Score==6 || food.Score==9)),
                    'colorScore1':(food.eaten>0 && (food.Score==3)),
                    'colorScore2':(food.eaten>0 && (food.Score==1)),
                    'colorScore3':(food.eaten>0 && (food.Score==-1))}"
                  (input)="getAllForSearch($event.target.value,ind,indp,itemIndex)"
                  id="{{food._id}}{{itemIndex}}{{indp}}{{ind}}" (mousemove)="isShowTooltip=true;">
                </ion-searchbar>
                <!-- -- {{food.Calories}} -->
                <div *ngIf="food.portion>0" class="tooltip-text">{{food.portion}} {{food.portion_unit}}: {{food.Food}}
                </div>
              </div>
              <ion-popover trigger="{{food._id}}{{itemIndex}}{{indp}}{{ind}}" triggerAction="click" side="bottom"
                alignment="end" mode="md" backdropDismiss="false">
                <ng-template>
                  <ion-content class="popover-content ion-padding" [no-scroll]>
                    <ion-row>
                      <ion-col size="8" class="ion-text-left" style="color:#616BE9;font-size: .9rem;">
                        {{slot.slotName}}
                      </ion-col>
                      <!-- <ion-col size="2" class="ion-text-right"></ion-col> -->
                      <ion-col size="2" class="ion-text-right">
                        <ion-icon name="trash" (click)="removeItemFromPopup(items,itemIndex,indp,ind)"
                          style="font-size: 1rem !important;color: #616BE9;"></ion-icon>
                      </ion-col>
                      <ion-col size="2" class="ion-text-right">
                        <ion-icon name="close-circle" (click)="closePopover(items,itemIndex,indp,ind);"
                          style="font-size: 1rem !important; color: #616BE9;"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: .5rem;">
                      <ion-col class="ion-text-left" 
                      [style.height]="isFillFood && totalDataSearchedData.length>0 ? '400px':'200px'">
                        <div style="position: relative;">
                          <ion-searchbar searchIcon="none" style="--box-shadow: none;--border-radius:8px;"
                            placeholder="Search for food" class="manage-diet1 ion-no-padding" 
                            [(ngModel)]="newFood!=''?newFood:food.Food"
                            [ngClass]="{'eaten-color':food.eaten>0}"
                            (ionClear)="onClear($event,items,itemIndex,indp,ind,food)"
                            (input)="getAllForSearch($event.target.value,ind,indp,itemIndex)"
                            id="{{food._id}}{{itemIndex}}{{indp}}{{ind}}">
                          </ion-searchbar>
                          <div [ngClass]="{'fill-food':isShow[ind]===true && isShowParent[indp]===true && isShowSuperParent[itemIndex]===true}"
                            *ngIf="isShow[ind]===true && isShowParent[indp]===true && isShowSuperParent[itemIndex]===true && totalDataSearchedData?.length>0">
                            <div (click)="fillFood(items,ind,searchItem,indp,itemIndex);"
                              style="width: 100%; border: .1rem solid #f3f3f3;padding: .5rem;position: relative; cursor:HAND;"
                              *ngFor="let searchItem of totalDataSearchedData;">
                              {{searchItem.Food}}
                            </div>
                          </div>
                        </div> <br>
                        <div style="position: absolute;bottom: 2rem;">
                          <ion-row>
                            <ion-col size="3" class="ion-text-left ion-align-self-center">
                              <ion-input type="number" *ngIf="newPortion!=0"
                              [(ngModel)]="newPortion" 
                              style="background: #fff; width: 60px;  padding: 5px 5px !important; 
                                     height: 35px; border-radius: 5px;
                                     text-align: left;font-size: .8rem;">
                                </ion-input>
                                <ion-input type="number" *ngIf="newPortion===0" [(ngModel)]="food.portion" 
                                style="background: #fff; width: 60px;  padding: 5px 5px !important; 
                                     height: 35px; border-radius: 5px;
                                     text-align: left;font-size: .8rem;">
                                </ion-input>
                              </ion-col>
                              <ion-col size="1"></ion-col>
                              <ion-col size="8" class="ion-text-left ion-align-self-center" style="font-size: .751rem;">
                                {{newPortionUnit!=''?newPortionUnit:food.portion_unit}}</ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>

                                <span style="font-size: .6rem; color:#6A6666" *ngIf="newPortion!==0">
                                  Carbs: {{((newCarbs)*(newPortion)) | number:'1.0-0'}} gms
                                  | Fat: {{((newFat)*(newPortion))| number:'1.0-0'}} gms
                                  | Protein: {{((newProtien)*(newPortion)) | number:'1.0-0'}} gms
                                  | Fiber: {{((newFiber)*(newPortion))| number:'1.0-0'}} gms
                                </span>
                                <span style="font-size: .6rem; color:#6A6666" *ngIf="newPortion===0">
                                  Carbs: {{(((food.Carbs)/(food.defaultPortion))*(food.portion)) | number:'1.0-0'}} gms
                                  | Fat: {{(((food.Fat)/(food.defaultPortion))*(food.portion))| number:'1.0-0'}} gms
                                  | Protein: {{(((food.Protien)/(food.defaultPortion))*(food.portion)) |
                                  number:'1.0-0'}} gms
                                  | Fiber: {{(((food.Fiber)/(food.defaultPortion))*(food.portion))| number:'1.0-0'}} gms
                                </span>
                              </ion-col>
                            </ion-row>
                          </div>
                          <div style="position: absolute;bottom: 1rem;">
                            <span *ngIf="newPortion!==0"
                              style="font-weight: 500; font-size: .8rem;">{{((newCalories)*(newPortion))|
                              number:'1.0-0'}} Kcal</span>
                            <span *ngIf="newPortion===0"
                              style="font-weight: 500; font-size: .8rem;">{{(((food?.Calories)/(food.defaultPortion))*(food.portion))|
                              number:'1.0-0'}} Kcal</span>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-left ion-align-self-center" size="7">
                          <ion-checkbox  style="color:#616BE9;--checkmark-color: #fff;
                       --background-checked: #616BE9;
                       --border-color: #616BE9;
                       --border-color-checked: #616BE9;" (ionChange)="copyItems(slot,indp,ind,itemIndex,$event,newFood,food.Food)">
                          </ion-checkbox>
                          <!-- <ion-icon name="copy" style="color:#616BE9"
                          (click)="copyItems(slot,indp,ind,itemIndex)"></ion-icon> -->
                          <span style="color:#616BE9;font-size: .8rem;position: relative;top: -5px;"> Copy for all days</span>
                        </ion-col>
                        <ion-col class="ion-text-right" size="5">
                            <ion-button extend="block" style="--background: #616BE9;--height: 32px;padding: 5px;"
                            (click)="saveItem(slot,indp,ind,itemIndex)">Save</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="isRepeatShow"
      style="width: 100%; height:100%;position:fixed; opacity:.5; background:#000;z-index:12;top:0;"></div>
    <div *ngIf="isRepeatShow"
      style=" border-radius:10px;width: 50%; height: 40%;position:fixed;  background:#fff;z-index:13; padding:2rem;top:30%;left:25%;">
      <ion-row style="position: absolute;
    right: 1rem;
    top: 1rem;">
        <ion-col class="ion-text-right">
          <ion-icon name="close" style="font-size: 1.2rem;" (click)="isRepeatShow=false;"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <h5>{{samedietmessage}}</h5>
        </ion-col>
        <ion-col size="1.5" class="ion-text-left ion-align-self-end">
          <ion-select style="border: 1px solid #b3b3b3; border-radius:5px" aria-label="Favorite Fruit" value="No"
            [(ngModel)]="isRepeat">
            <ion-select-option value="true">Yes</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="1.5"></ion-col>
      </ion-row>
      <br>
      <br> <br>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button (click)="save()" expand="block" shape="round" style="--background:#6277eb;"> Submit</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
<!-- <ion-footer class="btn"> -->

<ion-footer style="
      position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 52px; 
    text-align: center;
    line-height: 60px;
    ">
  <ion-toolbar style="padding-left: 15%;padding-right: 15%;width: 100%;bottom: 0;--padding-bottom: 3rem;"
    *ngIf="(recall==='false' && inSights!=='true') || ((isEdit=='false' || isEdit==undefined) && recall==='false' && inSights!=='true') || (isEdit=='true' && recall!=='true' && inSights!=='true') || (recall=='true' && inSights!=='true') ">
    <ion-row style="border: none;padding-bottom:10px">
      <ion-col class="ion-text-center" *ngIf="recall==='false' && inSights!=='true' && isEdit!=='true' && newTemplate!=='true' && userSearched!=''" size="4.5">
        <ion-button (click)="openRepeat()" expand="block" shape="round" style="--background:#6277eb;width:60%;position:absolute;right:0"> Save Diet
          Plan</ion-button>

      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col class="ion-text-left" size="4.5" *ngIf="(isEdit=='false' || isEdit==undefined) && recall==='false' && inSights!=='true'">
        <ion-button  (click)="isShowTemplate=true" expand="block" shape="round"
          style="--background:#6277eb;left:35%;position:absolute;width:60%;">{{isEdit==undefined?'Create
          Template':isEdit=='false'?'Create Template': 'Save Template'}}
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="5.5" *ngIf="isEdit=='true' && recall!=='true' && inSights!=='true'">
        <ion-button (click)="isShowTemplate=true " expand="block" shape="round" style="--background:#6277eb;width:100%;position:relative;">Update
          Template</ion-button>
      </ion-col>
      <ion-col *ngIf="recall=='true' && inSights!=='true'">
        <ion-button (click)="saveRecall()" style="--background:#6277eb;width:60%;position:relative;" expand="block" shape="round">Save
          Recall</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<div *ngIf="isShowTemplate" style="width: 100%; height: 100%; position: fixed; background:#000;opacity: .5;">
</div>
<div *ngIf="isShowTemplate" style="width: 619px; height: 364px; position: absolute; background:#fff;top: 50%;
left: 50%;
border-radius: 10px;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%); padding: 1rem;">
  <ion-row style="margin: 1rem;">
    <ion-col class="ion-text-left" size="3">
      <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
        <span style="font-weight: 400;font-size:1rem;color:#000">   Template Name</span>
     
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col class="ion-text-left ion-align-self-center" size="8">
      <ion-input [(ngModel)]="template.templateName"
        style=" width:333px;border: 1px solid #b3b3b3; border-radius: 10px;padding-left:1rem !important;;padding-right:1rem !important;"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row style="margin: 1rem;">
    <ion-col class="ion-text-left" size="3">
      <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
        <span style="font-weight: 400;font-size:1rem;color:#000;"> Description</span>
     
      </div>
     
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col class="ion-text-left  ion-align-self-center" size="8">
      <ion-textarea [(ngModel)]="template.templateDesc"
        style="width:333px;height:142px;border: 1px solid #b3b3b3; border-radius: 10px;padding-left:1rem;padding-right:1rem;" rows="4"></ion-textarea>
    </ion-col>
  </ion-row>
  <ion-row style="margin: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;">
    <ion-col class="ion-text-center" size="1.5" style="display: flex;align-items:center"
      *ngIf="isIndividual !== 'true'">
      <ion-label>Global:</ion-label>
    </ion-col>
    <ion-col class="ion-text-left  ion-align-self-center" size="0.5" *ngIf="isIndividual !== 'true'">
      <ion-checkbox [(ngModel)]="isGlobal" name="global"></ion-checkbox>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col>
      <ion-button (click)="isShowTemplate=false" expand="block" style="color:#6277eb;--border-color:#6277eb;"
        fill="outline">Cancel</ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col>
      <ion-button (click)="saveTemplate()" expand="block" style="color:#fff;--background: rgba(93, 95, 239, 1);position:relative;">Save
        Template</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</div>