.dietPlan{
  padding: 0;
   ion-row{
     border-bottom:2px solid #DBD8D8;
    // padding:0rem 1rem;
    font-size: .7rem !important;
    ion-col{
      border-right:.01rem solid #DBD8D8;
      padding: .2rem;
      ion-searchbar{
         font-size: .7rem !important;
         height: 52px;
         padding-bottom: .7rem !important;
      }
      
      ion-icon{
         font-size: .7rem !important;
      }
    }
   }
  
}

.sketloan{
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.fill-food{
  position: absolute;
  height: 250px;
  overflow-y: scroll;
}
.manage-diet{
   width: 95%;
}
.searchbar-input{
   font-size: .7rem !important;
}
ion-row{
   // display: inline-block;
    width: 100%;
}

.searchbar-clear-button{
   z-index: 0;
   position: absolute !important;
}

.tooltip-container {
   position: relative;
   display: inline-block;
   cursor: pointer;
   width: 100%;
 }
 
 .tooltip-button {
   border: none;
   padding: 5px 5px;

 }
 .normal-color{
   background:#c6d6ff85;
 }
 .red-color{
   background:rgb(238, 189, 189);
 }
 .eaten-color{
  --background: rgb(195, 243, 195) !important;
 }
 .colorScore{
  --background: #DEFDE0 !important;
 }
 .colorScore1{
  --background: #FCF7DE !important;
 }
 .colorScore2{
  --background: #FFE7C7 !important;
 }
 .colorScore3{
  --background: #FDDFDF !important;
 }
 .tooltip-text {
   visibility: hidden;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 5px;
   position: absolute;
   z-index: 1;
   bottom: 100%; /* Position the tooltip above the button */
   left: 50%;
   margin-left: -70px; /* Center the tooltip */
   opacity: 0;
   transition: opacity 0.3s;
 }
 
 .tooltip-container:hover .tooltip-text {
   visibility: visible;
   opacity: 1;
 }
 
 ::ng-deep .searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-ios-h .searchbar-clear-button.sc-ion-searchbar-ios{
  display: none !important;
 }
