
.input-label {
  font-weight: 500;
  margin-bottom: 0.7rem;
  --min-height: 0px;
  font-size: 1rem;
}
.input {
  max-width: 65%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  border-radius: 5px;
  border-color: #b3b3b3;
  color: rgba(99, 99, 100, 1);
font-size: .8rem;
width: 90%;
}
.label{
  width:90%;
  background: rgba(99,122,225,0.06);
  border-radius:12px;padding:.4rem;
  white-space: nowrap;
}
.input2 {
  width:65% !important;
  max-width: 100%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  text-align: center; 
  border-radius: 5px;
  border-color: #b3b3b3;
  color: rgba(99, 99, 100, 1);
  font-size: .8rem !important;
}
.input3 {
  width:65% !important;
  max-width: 15%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin-right: 10px;
  text-align: center;
  --padding-start: 5px !important;
  --padding-end: 0px !important;
  border-radius: 5px;
  border-color: #b3b3b3;
  color: rgba(99, 99, 100, 1);
  font-size: .8rem !important;
}
.row {
  margin-top: 2rem;
}
ion-item {
  --border-style: none;
}
ion-item ion-radio {
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
}

ion-select{
  padding: .4rem;
  border:.5px solid #b3b3b3;
  border-radius: 5px;
  font-size: .8rem;
}