<ion-content>
  <!-- <h1 style="margin-bottom: 2rem;font-size: 3rem;text-align: center;">
    Edit Profile
  </h1> -->
  <ion-grid style="margin-left: 2rem; font-size:1rem;" *ngIf="!isLoading">
    <!-- Name & Age & Gender -->
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col class="ion-text-right">
            <div
              style="width:10%;background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;text-align:center;float:right;">
              <span style="font-weight: 400;font-size:1rem;color:#000">ID: </span>
              <span style="font-weight: 400;font-size:.8rem;color:#b3b3b3">{{profileData?.profile?.email}} </span>
            </div>
          </ion-col>
          <ion-col size=".5"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center" style="border-right:1px solid #b3b3b3 ;">
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Name </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-input required="false" placeholder="Enter your Name" [(ngModel)]="name" class="input"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 1.5rem;" *ngIf="age">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Age </span><span style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-input placeholder="Enter your age" type="number" [(ngModel)]="age.avg_age"
                  class="input"></ion-input>
                <!-- <span style="position: absolute;
    top: 20%;
    left: 18%; font-size:1rem; color:grey;"> yrs</span> -->
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Actual Weight </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-input required="false" placeholder="Enter your Weight" [(ngModel)]="weight.value" type="number"
                  class="input"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Desired Weight </span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-input required="false" placeholder="Enter your Weight" [(ngModel)]="desiredWeight" type="number"
                  class="input"></ion-input>
              </ion-col>
            </ion-row>


            <ion-row style="margin-top: 1.5rem;" *ngIf="height">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Height </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-input *ngIf="selectedHeight==='1' && height" placeholder="Height" type="number"
                  [(ngModel)]="height.cms" class="input"></ion-input>
                <ion-input style="width:21% !important;" *ngIf="selectedHeight==='0'" placeholder="Height in Foot"
                  type="number" [(ngModel)]="height.feet" class="input2"></ion-input><span *ngIf="selectedHeight==='0'"
                  style="position: absolute;top: 20%;left: 22%;font-size:.8rem;">Feet</span>
                <ion-input *ngIf="selectedHeight==='0'" style="position: absolute;
              top: 0%;
              left: 33%;font-size:1rem;width:21% !important;" placeholder="Height in Inches" type="number"
                  [(ngModel)]="height.inches" class="input2"></ion-input>
                <span *ngIf="selectedHeight==='0'" style="position: absolute;
                top: 20%;
                left: 55%;font-size:.7rem;">Inches</span>
                <ion-select style="width: 25%;position: absolute;
                    top: 0;color: rgba(99, 99, 100, 1); font-size:.8rem;
                    right: 2rem;" mode="md" (ionChange)="onToggleChange($event)" [(ngModel)]="selectedHeight"
                  placeholder="Height">
                  <ion-select-option value="0">Feet & Inch
                  </ion-select-option>
                  <ion-select-option value="1">Cms
                  </ion-select-option>
                </ion-select>

              </ion-col>

            </ion-row>

            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Gender </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-select style="color: rgba(99, 99, 100, 1); font-size:.8rem;width: 65%;" mode="md"
                  [(ngModel)]="gender.gender" [placeholder]="Gender">
                  <ion-select-option value="Male">Male
                  </ion-select-option>
                  <ion-select-option value="Female">Female
                  </ion-select-option>
                </ion-select>
                <!-- <ion-radio-group mode="md" [(ngModel)]="gender.gender" style="display:inline-flex">
                  <ion-item style="--min-height: 0;">
                    <ion-label>Male</ion-label>
                    <ion-radio slot="start" value="Male"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Female</ion-label>
                    <ion-radio slot="start" value="Female"></ion-radio>
                  </ion-item>
                  </ion-radio-group> -->
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Country </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-select style="color: rgba(99, 99, 100, 1); font-size:.8rem;width: 65%;" mode="md"
                  [(ngModel)]="countryChoosen"
                  [placeholder]="countryChoosen?.label ? countryChoosen?.label:'Choose Country'">
                  <ion-select-option *ngFor="let option of countryOptions" [value]="option">{{option?.label}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size=".5"></ion-col>
          <ion-col size="5.5" class="ion-text-center ion-align-self-start">
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000;white-space:nowrap;">Activity Level
                  </span><span style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-left">
                <ion-select mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;"
                  [(ngModel)]="activityChoosen"
                  [placeholder]="activityChoosen ? activityChoosen.value :'Select Activity'">
                  <ion-select-option *ngFor="let option of activitiesOptions"
                    [value]="option">{{option.value}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Community </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-left">
                <ion-select mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;"
                  [(ngModel)]="communityChoosen"
                  [placeholder]="communityChoosen ? communityChoosen.label : 'Choose Community'">
                  <ion-select-option *ngFor="let option of communityOptions"
                    [value]="option">{{option.label}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Diet Preferance </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-left">
                <ion-select mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;"
                  [(ngModel)]="dietPrefChoosen"
                  [placeholder]="dietPrefChoosen ? dietPrefChoosen.name :'Select Diet Preference'">
                  <ion-select-option *ngFor="let option of dietPrefOptions"
                    [value]="option">{{option?.value}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Disorders </span>
                </div>
              </ion-col>
              <ion-col size="9" class="ion-text-left">
                <ion-select *ngIf="gender.gender!=='Male'" mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;" multiple="true"
                  [(ngModel)]="diseasesChoosen" (ionChange)="onDieseasesOptionSelected($event)"
                  [placeholder]="diseasesChoosen.length>0 ? diseasesChoosen[0].value :'Select Diseases'">
                  <ion-select-option *ngFor="let option of diseasesOptions"
                    [value]="option">{{option?.value}}</ion-select-option>
                </ion-select>
                <ion-select *ngIf="gender.gender==='Male'" mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;" multiple="true"
                  [(ngModel)]="diseasesChoosen" (ionChange)="onDieseasesOptionSelected($event)"
                  [placeholder]="diseasesChoosen.length>0 ? diseasesChoosen[0].value :'Select Diseases'">
                  <ion-select-option *ngFor="let option of diseasesOptionsMale"
                    [value]="option">{{option?.value}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Allergies </span>
                </div>
              </ion-col>
              <ion-col class="ion-text-left">
                <ion-select mode="md" multiple="true" [(ngModel)]="allergyChoosen"
                  [placeholder]="allergyChoosen.length>0 ? allergyChoosen[0].label : 'Select Allergy'" [ngStyle]="{ 'background-color': '#fff', 'appearance': 'none',
                    'color': allergyChoosen.length == 0 ? 'black' : 'red'
                  }" style="color: rgba(99, 99, 100, 1); font-size:.8rem;">
                  <ion-select-option *ngFor="let option of allergiesOptions" [value]="option">{{option.label}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row style="margin-top: 1.5rem;">
              <ion-col size="3" class="ion-text-center">
                <div class="label">
                  <span style="font-weight: 400;font-size:1rem;color:#000">Diet Plan Name </span><span
                    style="color: red;">*</span>
                </div>
              </ion-col>
              <ion-col class="ion-text-left">
                <ion-select mode="md" style="color: rgba(99, 99, 100, 1); font-size:.8rem;"
                  [(ngModel)]="dietPlanChoosen"
                  [placeholder]="dietPlanChoosen ? dietPlanChoosen.name : 'Select Diet Plan'">
                  <ion-select-option *ngFor="let option of dietPlanOptions" [value]="option">
                    {{option?.name}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size=".5"></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <ion-button (click)="updateProfile()" expand="block" shape="round" style="--background:#6277eb;"
    [disabled]="name==='' || weight.value === '' || gender.gender === '' || age[avg_age]==='' || age[avg_age]===null || dietPlanChoosen === undefined || communityChoosen === undefined || activityChoosen === undefined || countryChoosen === undefined || dietPrefChoosen === undefined">Update
    Profile</ion-button>
</ion-toolbar>