<!-- <ion-header>
  <ion-toolbar>
    <ion-title>new-profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main_div">
   
    <div class="bottom_shadow"></div>
    <div>
     
      <ion-segment [value]="segment" [(ngModel)]="segment">
        <ion-segment-button value="profile" class="profileBtn" layout="icon-start">
          <ion-icon src="../../../../assets/newImages/user_icon_outline.svg"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button value="insight" class="insightBtn" layout="icon-start">
          <ion-icon src="'../../../../../../assets/newImages/insight_icon.svg"></ion-icon>
          <ion-label>My Insights</ion-label>
        </ion-segment-button> -->
      </ion-segment>
      <div class="w_100 right" style="    top: -3rem;
      position: relative;
      right: 1rem;">
        <ion-icon
          class="close_modal_icon"
          name="close-circle"
          (click)="modalClose()"
        ></ion-icon>
      </div>
    </div>

    <div *ngIf="segment === 'profile' ">
      <div class="section-card" style="margin-top: 40px">
        <div class="avatar_div">
          <ion-avatar class="avatar" style="margin-top: -40px">
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
          </ion-avatar>
        </div>
        <div class="edit_icon_div">
          <!-- <ion-icon (click)="openModel('boarding2')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon> -->
        </div>

        <p class="username">{{profileData?.profile?.name}}</p>
        <ion-grid class="w_100">
          <ion-row>
            <ion-col size="5">
              <p class="commonText">
                Age:<span>{{profileData?.demographic?.age?.avg_age}}</span>
              </p>
              <p class="commonText">
                Height:<span>{{profileData?.demographic?.height?.value}} </span>
              </p>
            </ion-col>
            <ion-col size="7">
              <p class="commonText">
                Gender:<span>{{profileData?.demographic?.gender?.gender}}
                </span>
              </p>
              <p class="commonText">
                Starting Weight:<span>{{profileData?.demographic?.weight?.value}}
                  {{profileData?.demographic?.weight?.unit ===
                  'pound'?'lbs':'kg'}}</span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="section-card left" style="flex-direction: row; padding: 5px 15px">
        <div class="edit_icon_div">
          <!-- <ion-icon (click)="openModel('boarding')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon> -->
        </div>
        <ion-img [src]="'../../../../assets/newImages/'+getImage(profileData?.profile?.category)" class="fitness_image">
        </ion-img>
        <p class="commonText upperCase">
          My Goal: <br /><span style="margin-left: 0%">
            <!-- {{profileData?.profile?.category}} with -->
            {{profileData?.profile?.subCategory}}</span>
        </p>
      </div>

      <div class="section-card">
        <p class="commonText" style="color: var(--black); margin-top: 0%">
          <ion-icon class="calendar_icon" src="../../../../assets/newImages/caender_icon.svg"></ion-icon>
          Your Fitness Journey
        </p>

        <div class="condition_card" style="padding: 10px 15px 0px" *ngIf="returnWeek()">
          <div class="slider_div">
            <div class="lines"></div>
            <!-- <div class="lines2">
              <div [ngStyle]="{'width':returnWeek()*12.5  }"></div>
            </div> -->
            <div class="slider_page">
              <div *ngFor="let w of [1,2,3,4,5,6,7,8]" style="width: 12.5%">
                <div class="center flex_col">
                  <p class="mar_0 ion-text-center week" *ngIf="returnWeek().count >= w">
                    ✓
                  </p>
                  <ion-icon *ngIf="returnWeek().count === w-1" class="man_icon"
                    src="../../../../assets/newImages/man_icon.svg"></ion-icon>
                  <p class="mar_0" [ngClass]="returnWeek().count >= 1 ? 'page_Count' : 'page_Count_active' "></p>
                  <p class="week">{{returnWeek().type}}{{w}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 30px">
          <ion-grid class="pad_0">
            <ion-row>
              <ion-col size="6" style="padding-right: 5px">
                <div class="condition_card center h_100">
                  <div class="card_div h_100">
                    <ion-img src="../../../../assets/newImages/bmi.png" class="card_image"></ion-img>
                    <p class="title">Current BMI:</p>
                    <p class="main_title">{{profileData?.demographic?.bmi}}</p>
                    <p class="sub_title">Range 18-25 (Recommended)</p>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6" style="padding-left: 5px">
                <div class="condition_card h_100">
                  <div class="card_div">
                    <ion-img src="../../../../assets/newImages/sugg_cal_icon.png" class="card_image"></ion-img>
                    <p class="title" style="margin-top: 10px">
                      Suggested calories :<br />
                    </p>
                    <p class="main_title">
                      {{profileData?.lifeStyle?.calories}} Kcal/day
                    </p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="condition_card" style="margin-top: 20px">
          <div class="card_div">
            <ion-img src="../../../../assets/newImages/weight_machine.png" class="card_image"></ion-img>
            <ion-grid class="w_100 pad_0">
              <ion-row>
                <ion-col size="6">
                  <p class="title" style="margin-top: 10px">Current weight:</p>
                  <p class="main_title">
                    {{profileData?.demographic?.weight?.value}} kg
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p class="title" style="margin-top: 10px">Desired weight:</p>
                  <p class="main_title">
                    {{profileData?.demographic?.suggestedWeight}} kg
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <p class="sub_title">
              Target/Ideal weight recommended: : {{suggestedWeightRange-2}}kg - :
            {{suggestedWeightRange+2}}kg
            </p>
          </div>
        </div>
        <div class="condition_card" style="margin-top: 20px">
          <div class="card_div">
            <ion-img src="../../../../assets/newImages/nutritional.png" class="card_image"></ion-img>
            <p class="title">
              Nutritional <br />
              Requirement <span class="sub_title">(On daily basis)</span>
            </p>
            <div class="cal_calculation_div">
              <div class="cal_main_div">
                <div class="cal_col">
                  <ion-img src="../../../../assets/newImages/calorie.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Fiber</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.fiber}}g</p>
                </div>
                <div class="cal_col">
                  <ion-img src="../../../../assets/newImages/carbs.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Carbs</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.carb}}g</p>
                </div>

                <div class="cal_col">
                  <ion-img src="../../../../assets/newImages/protein.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Protein</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.protien}}g</p>
                </div>

                <div class="cal_col">
                  <ion-img src="../../../../assets/newImages/fats.png" class="card_cal_image"></ion-img>
                  <p class="cal_sub_title">Fats</p>
                  <p class="cal_title">{{profileData?.lifeStyle?.fat}}g</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="section-card pad_0">
        <ion-grid class="w_100">
          <ion-row>
            <ion-col size="6">
              <div class="center flex_col currunt_plan_div">
                <p class="main_title">Current Plan</p>
                <ion-icon class="star_icon" src="../../../../assets/newImages/star_icon.svg"></ion-icon>
                <p class="main_title">Free</p>
                <p class="sub_title ion-text-center">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="center flex_col h_100">
                <ion-icon class="star_icon" src="../../../../assets/newImages/upgrade_plan_icon.svg"></ion-icon>
                <ion-button class="go_btn" shape="round">Upgrade plan</ion-button>
                <p class="commonText" style="color: var(--theme-color)">
                  See benefits
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->

      <div class="section-card left" style="flex-direction: row; padding: 5px 15px">
        <div class="edit_icon_div">
          <!-- <ion-icon (click)="openModel('boarding3')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon> -->
        </div>
        <div style="width: 50">
          <ion-img [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.activities?.code)"
            class="Activity_image"></ion-img>
        </div>
        <p class="commonText">
          Physical Activity: <br /><span
            style="margin-left: 0%">{{profileData?.lifeStyle?.activities?.value?.split('(')[0]}}</span>
        </p>
      </div>

      <div class="section-card left flex_col" style="padding: 5px 15px">
        <div class="edit_icon_div">
          <!-- <ion-icon (click)="openModel('boarding4')" class="edit_icon"
            src="../../../../assets/newImages/icon-edit.svg"></ion-icon> -->
        </div>
        <div class="left w_100">
          <div style="width: 50">
            <ion-img src="../../../../assets/newImages/healthCondition.png" class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Health Conditions: <br />
            <span style="margin-left: 0%" *ngFor=" let d of profileData?.lifeStyle?.diseases">
              <span style="margin-left: 0%"
                *ngIf="!d?.value?.includes('Allergy') && !d?.value?.includes('allergy') ">{{d.value}},{{' '}}</span>
            </span>
            <!-- <span>None</span> -->
          </p>
        </div>

        <div class="left w_100">
          <div style="width: 50">
            <ion-img src="../../../../assets/newImages/alergies.png" class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Allergies:<br /><span *ngFor=" let d of profileData?.lifeStyle?.diseases" style="margin-left: 0%"><span
                style="margin-left: 0%"
                *ngIf="d?.value?.includes('Allergy') || d?.value?.includes('allergy') ">{{d.value}},{{' '}}</span></span>
          </p>
        </div>
      </div>


      <div class="section-card left flex_col" style="flex-direction: row; padding: 5px 15px">
        <div class="left w_100">
          <ion-img [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.foodType?.code)"
            class="Activity_image"></ion-img>
          <p class="commonText">
            Meal Preferences:<br /><span style="margin-left: 0%">{{profileData?.lifeStyle?.foodType?.value}}</span>
          </p>
        </div>
        <div class="left w_100">
          <div style="width: 50">
            <ion-img [src]="'../../../../assets/newImages/'+getFlag(profileData?.lifeStyle?.country?._id)"
              class="Activity_image"></ion-img>
          </div>
          <p class="commonText">
            Regional Preferences in Food: <br /><span
              style="margin-left: 0%">{{profileData?.lifeStyle?.country?.name}},</span><span
              *ngFor="let c of this.profileData?.lifeStyle?.communities">{{c?.value}},</span>
          </p>
        </div>
      </div>


      <div class="section-card left flex_col" style="flex-direction: row; padding: 5px 15px">
        <!-- <div class="left w_100">
          <ion-img [src]="'../../../../assets/newImages/'+getImage(profileData?.lifeStyle?.foodType?.code)"
            class="Activity_image"></ion-img>
          <p class="commonText">
            Preferences:<br />
          </p>
        </div> -->
        <div class="w_100 section-pref">
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Non Veg Lunch</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.NonVegLunch">
                {{item}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Non Veg Dinner</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.nonVegDinner">
                {{item}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Cheat Days Lunch</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.cheatDaysLunch">
                {{item}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Cheat Days Dinner</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.cheatDaysDinner">
                {{item}}
              </div>
            </ion-col>
          </ion-row>

          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Nob Eating Egg Days</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.notNonEggDay">
                {{item}}
              </div>
            </ion-col>
          </ion-row>

          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Non Eating Non Veg Days</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item" *ngFor="let item of additionalPref1?.notNonVegDay">
                {{item}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Mid Day Meals</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item">
                {{additionalPref1?.midDayMeals?.length!=0?additionalPref1?.midDayMeals?.length>1?'Both':additionalPref1?.midDayMeals[0]=='3'?'Morning':'Evening':'No Item Available'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Detox Day</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item">
                {{additionalPref1?.detoxDay[0]}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Coffee Likes</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item">
                {{additionalPref1?.coffeeLiking==true?'High':'Low'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Tea Likes</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item">
                {{additionalPref1?.teaLiking==true?'High':'Low'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom: 1.2rem;">
            <ion-col size="5">
              <span>Fruits Like</span>
            </ion-col>
            <ion-col size="7">
              <div class="name-item">
                {{additionalPref1?.fruitsLiking==true?'High':'Low'}}
              </div>
            </ion-col>
          </ion-row>













        </div>
      </div>


     </div>

    <div *ngIf="segment === 'insight' ">
      <div class="center">
        <ion-icon class="pre_nxt_btn" name="arrow-back-outline"></ion-icon>
        <p class="date">Last Week</p>
        <ion-icon class="pre_nxt_btn" name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>