<div style="background: rgba(99,122,225,12%); height: 4.8rem; width: 100%;display: flex;">
  <ion-row class="ion-justify-content-between ion-align-items-center" style="width: 100%;">
    <ion-col class="ion-text-left" size="1.5" *ngIf="username==='manasvi'" style="    color: #5D5FEF;">
      <ion-icon name="arrow-back-outline" color="#fff" style="font-size: 2rem;" (click)="goBack()"></ion-icon>
    </ion-col>
    <ion-col size="1.03" class="ion-text-center ion-align-self-center"
      style="height: 100%;background:#fff;padding-top: 31px;">
      <!-- <div style="left: 21%; position: absolute;"> -->
      <span style="color: rgba(93, 95, 239, 1);font-size: 20px;font-weight:600;">FITROFY</span>
      <!-- </div> -->
    </ion-col>
    <!-- Company Logo -->
    <!-- <ion-col class="ion-text-left" size="2.8"
      style="height: 100%;display: flex;align-items: center;padding-left: 1rem;">
      <ion-row size="6">
        <ion-col class="ion-text-left" size="12">
          <div class="title-menu" style="float: left;font-style:italic;">
            {{menuName?.menu}} - <span style="font-style:italic;color:#5D5FEF;">{{menuName?.title}}</span>
          </div>
          <ion-icon style="float: left;position:relative;margin-left:5px;top:2px;color:#5D5FEF;"
            name='information-circle-outline' (click)="openPopup()"></ion-icon>
        </ion-col>
        <ion-col style="color: red;margin-top: 10px;" *ngIf="isIndividual==='true' && hasExpired">
          As a free user you have added {{count}} of 5 User . Be <span
            style="text-decoration: underline;cursor: pointer;" (click)="premiumHandler()">premium</span> for unlimited
          access
        </ion-col>
        <ion-col style="margin-top: 10px;cursor: default;" *ngIf="isIndividual==='true' && !hasExpired">
          Your Plan will Expire on {{planExpiry}}
        </ion-col>
      </ion-row>
      <div *ngIf="isOpen" style="position: absolute;
    width: 50%;
   height: auto;
    min-height: 170px;
    color: #000;
    z-index: 100;
    background: #fff;
    top: 52px;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding:1rem .5rem;">
        <ion-icon (click)="isOpen=false" name="close-circle"
          style="color: rgba(93, 95, 239, 1);width:20px;height:20px; position:absolute; right:0px;top:5px;font-size:1rem;cursor:pointer;top:-10px;right:-10px;">
        </ion-icon>
        <span style="font-size:1rem; font-weight:500">
          {{menuName.title}}
        </span><br>
        <ul
          style="font-size:.8rem; font-weight:400;background: rgba(99, 122, 225, 0.06);color:rgba(99, 99, 100, 1);padding: 1rem 1.5rem;border-radius:12px;">
          <li *ngFor="let des of menuName.description" style="margin-bottom:1.5rem;line-height:1.5;">
            {{des.name}}
            <ul *ngIf="des.desc.length>0">
              <li *ngFor="let d of des.desc" style="line-height: 1.5;">
                {{d}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </ion-col> -->
    <ion-col size="2.7" class="ion-text-left ion-align-self-center">
      <div (click)="premiumHandler()" *ngIf="isIndividual === 'true' && hasExpired"
        style="width:50%;height:44px;padding-left:6px;color:#333;background: #5D5FEF;border-radius: 8px;display: flex;align-items: center;cursor: pointer;height: 43px;">
        <span style="margin-left: 5px;color: #fff;font-size: 1rem;font-weight:600;">Get Premium</span>
        <img src="./assets/img/premium-new.png" style="margin-left: 1rem;">
      </div>
    </ion-col>
    <ion-col size=".2"></ion-col>
    <!-- Right side -->
    <ion-col size="6.5" class="ion-text-left">
      <ion-row class="ion-justify-content-between">
        <!-- Search Box -->
        <ion-col size="6.3" class="ion-text-center ion-align-self-center">
          <div
            style="float:right;background: #fff;border:1px solid #5D5FEF;
                      padding:0;color:#333; font-size:1rem;
                      margin-right: 5px;width: 230px;height: 44px;padding-left:.5rem;border-radius:12px;text-align:center;">

            <!-- {{ search ?  -->
            <ion-input [(ngModel)]="search" placeholder="Search" style="padding-left:0px !important;
    text-align: left;width:90%"></ion-input>
            <ion-icon name="search-outline" style="padding-right:5px;text-align: left; font-size: 1.5rem;
    color: #000; cursor: pointer; float: right;top: -30px; position: relative;" (click)="fetchProfile()"
              *ngIf="!isSearch"></ion-icon>
            <ion-icon name="close"
              style="padding-right:5px;text-align: left; font-size: 1.5rem; color: #000; cursor: pointer; float: right;top: -30px; position: relative;"
              (click)="clearSearch()" *ngIf="isSearch"></ion-icon>
          </div>

        </ion-col>
        <!-- <ion-col *ngIf="!searchAllowed" size="5.8"></ion-col> -->
        <!-- Add New User Container -->
        <ion-col size="2.2" class="ion-text-left ion-align-self-center"
          style="height:44px;padding-left:6px;color:#333;background: #5D5FEF;border-radius: 8px;display: flex;align-items: center;cursor: pointer;height: 43px;"
          (click)="registerUser()" *ngIf="username!=='beato'">
          <ion-icon name="add-outline"
            style="font-size: 1.07rem;color:#fff;background-color: #616BE9;border-radius: 100%;padding: 2px;"></ion-icon>
          <span style="margin-left: 5px;color: #fff;font-size: .9rem;">Add New User</span>
        </ion-col>
        <ion-col size=".5"></ion-col>
        <!-- Logout Button -->
        <ion-col size="2.5">
          <ion-row
            style="height:58px;padding:.5rem;border-radius:12px;background:rgba(136, 138, 255, 0.2);color: #5D5FEF;font-weight: 500;text-align: center;font-size: .8rem;vertical-align: middle; top:5px;width: 100%;">
            <ion-col size="2">
              <ion-icon (click)="editFxnClick()" name="create-outline"
                style="font-size: 1.5rem; color: #616BE9; cursor: pointer;position: relative; top:8px;"></ion-icon>
            </ion-col>
            <ion-col size="7"
              style="display: flex;align-items: center;justify-content: center;font-size:1.1rem;">{{getFirstSubstringUserName(username)}}</ion-col>
            <ion-col size="3">
              <img *ngIf="!avatar" src="./../../assets/icon/profile.jpg" alt="Img"
                style="height: 35px;max-width: 35px;border-radius: 50%;    top: 2px;" />
              <img *ngIf="avatar" [src]="avatar" alt="Img" style="height: 35px;max-width: 35px;border-radius: 50%;" />
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col size=".1"></ion-col>
      </ion-row>
    </ion-col>
  </ion-row><br>
</div>

<div *ngIf="isOpenPopup && username!=='beato'"
  style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;"></div>
<div *ngIf="isOpenPopup && username!=='beato'"
  style="padding: .5rem 1.5rem;border-radius: 10px;width: 619px; position: fixed; height: 364px; z-index: 12;left:20%; top:10%;background: #fff;top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <ion-icon name="close-circle" style="font-size: 2rem; position: absolute; right: -10px; top: -10px; color: #616BE9;"
    (click)="closePopup()"></ion-icon>
  <ion-row style="margin-top: 1.5rem;">
    <ion-col size="4" class="ion-text-center ion-align-self-center">
      <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
        <span style="font-weight: 400;font-size:1rem;color:#000">User ID: </span>
      </div>
    </ion-col>
    <ion-col size=".3"></ion-col>
    <ion-col size="7.7">
      <ion-input
        style="padding: .1rem 1rem !important;color: rgba(99, 99, 100, 1);font-size:.8rem;border:1px solid #b3b3b3;border-radius:12px;width:333px;height:44px;"
        placeholder="e.g. 91-9864655432" [(ngModel)]="userIdInput"></ion-input>
    </ion-col>

  </ion-row>
  <ion-row *ngIf="link!=''" style="margin-top:1.5rem;">
    <ion-col size="4" class="ion-text-center ion-align-self-center">
      <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
        <span style="font-weight: 400;font-size:1rem;color:#000">User Link: </span>
      </div>
    </ion-col>
    <ion-col size=".3"></ion-col>
    <ion-col size="7.7">
      <ion-input readonly
        style="width:100%;padding: .5rem 1rem !important;color: rgba(99, 99, 100, 1);font-size:.8rem;border:1px solid #b3b3b3;border-radius:12px;width:333px; height:44px;">{{link1}}</ion-input>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 1rem;" *ngIf="apiHitted && link!=''">
    <ion-col size="9"></ion-col>
    <ion-col size="3" class="ion-text-right">
      <div style="width:83%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;"
        (click)="copyMessage(link)">
        <span style="color: rgba(93, 95, 239, 1);font-size:.7rem;">
          <img src="../../assets/icons/copy.svg" alt="Edit Img" style="height: 1rem;cursor: pointer;margin-right: 5px;">
          {{(link=='' || link!='copied')?'Copy Url':'Copied'}}
        </span>
      </div>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="apiHitted  && link!=''">
    <ion-col size="12" target="_blank" class="ion-text-center">
      <div class="text-normal">
        <img *ngIf="!userExisted" src="../../assets/img/tick.png"
          style="vertical-align: middle;margin-right:.5rem; top: -3px; position: relative;">
        <img *ngIf="userExisted" src="../../assets/img/Close.png"
          style="vertical-align: middle;margin-right:.5rem;  top: -3px; position: relative;"> {{userExisted ?'User
        Already Exist!':'New User Added!'}}
      </div>

    </ion-col>
  </ion-row>
  <ion-row *ngIf="profileData1?.message==='Record exists with another dietitian.'">
    <ion-col class="ion-text-center" style="text-align: center;top: 5rem;">
      <div class="text-normal">
        <img src="../../assets/img/Close.png"
          style="vertical-align: middle;margin-right:.5rem; top: -3px; position: relative;"> {{profileData1?.message}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="apiHitted  && link!=''">
    <ion-col size="3"></ion-col>
    <ion-col size="2">
      <!-- <ion-button (click)="editProfile()">Edit User Profile</ion-button> -->
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="editProfile()">Edit User Profile</ion-button>
      <!-- <ion-button (click)="copyMessage(link)"> {{(link=='' || link!='copied')?'Copy Url':'Copied'}}</ion-button> -->
    </ion-col>
    <ion-col size="2">
      <!-- <ion-button (click)="clearMessage()">Clear</ion-button> -->
    </ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;" *ngIf="!apiHitted">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="isRegisteredUser()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;"
        fill="outline">Submit </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>