.text-normal {
   color: #666666; font-size: .8rem !important; padding: 10px; margin-top: 2rem; margin-bottom: 2rem; background: rgba(99, 122, 225, 0.15); border-radius: 12px;height:35px;
}

.login_btn {
   font-size: 16px;color: #000;text-align: center;align-self: center;cursor: pointer;
}