ion-label{
    font-size: 1.2rem;
    font-weight: 600;
}

.label{
    max-width: 83%;
    width: 100%;
    background: rgba(99, 122, 225, 0.06) !important;
    border-radius: 12px;
    padding: 0.4rem;
    white-space: nowrap;
    display: inline-block;
    span{
       font-size: .9rem !important;
    }
  }