.input2 {
  max-width: 80%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
}
ion-item {
  --border-style: none;
}
ion-item ion-radio {
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
}
ion-radio {
  --color-checked: #fff;
}

.label {
  width: 90%;
  background: rgba(99, 122, 225, 0.06) !important;
  border-radius: 12px;
  padding: 0.4rem;
  white-space: nowrap;
  span {
    font-size: 0.9rem !important;
  }
}
