<ion-header>
  <ion-title>Dietitian Information</ion-title>
</ion-header>

<ion-content>
  <ion-grid style="margin-left: 2rem;">
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <div class="label">
          <span style="font-weight: 500;font-size:.8rem;color:#000">Profile photo</span>
        </div>
      </ion-col>
      <ion-col size=".3"></ion-col>
      <ion-col size="2" class="ion-text-center ion-align-self-center">
        <img *ngIf="!avatar" src="./../../assets/icon/profile.jpg" alt="Img"
          style="height: 35px;max-width: 35px;border-radius: 50%;" />
        <img *ngIf="avatar" [src]="avatar" alt="Img" style="height: 35px;max-width: 35px;border-radius: 50%;" />
      </ion-col>
    </ion-row>
    <!-- Name & Whatsapp Number -->
    <ion-row style="margin-top: 1.5rem;">
      <ion-col style="border-right:1px solid #b3b3b3;">
        <!-- Name -->
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Name<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <span style="font-size:.8rem;color:#666666;">{{name}}</span>
          </ion-col>
        </ion-row>
        <!-- Whatsapp Number & Visibility -->
        <ion-row style="margin-top:1.5rem" *ngIf="whatsappNum">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Whatsapp Number
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <span style="font-size:.8rem;color:#666666;">{{whatsappNum}}</span>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col size="1" class="ion-text-left ion-align-self-center">
            <ion-toggle [(ngModel)]="wpVisible" [disabled]="true" style="height: 27px;"></ion-toggle></ion-col>
          <ion-col class="ion-text-left ion-align-self-center">
            <span style="font-size:.8rem;color:#666666;margin-left: 1rem;">Visible to Users</span>
          </ion-col>
        </ion-row>
        <!-- Calendly Link & Visibility -->
        <ion-row style="margin-top:1.5rem" *ngIf="calendlyId">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Calendly Link
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <span style="font-size:.8rem;color:#666666;" class="input stacked">{{calendlyId}}</span>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col size="1" class="ion-text-left ion-align-self-center">
            <ion-toggle style="height: 27px;" [(ngModel)]="calendlyVisible" [disabled]="true"></ion-toggle>
          </ion-col>
          <ion-col class="ion-text-left ion-align-self-center">
            <span style="font-size:.8rem;color:#666666;margin-left: 1rem;">Visible to Users</span>
          </ion-col>
        </ion-row>
        <!-- About -->
        <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Professional Bio<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-textarea rows="8" placeholder="About info not Available..." [(ngModel)]="about" class="input2"
              [readonly]="true" style="color: #666666; font-size:.8rem;"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size=".5"></ion-col>
      <ion-col>
        <!-- <ion-row>
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Theme
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-radio-group [(ngModel)]="theme" name="theme"  style="display: flex;">
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #3863AF; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #50c8ff; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" mode="ios" value="individual1" style="position: absolute;
      left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #0B713F; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #99b949; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual2" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #8775ed; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #fe4869; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual3" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #0F0F0F;height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual4" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row> 
        <ion-row style="margin-top:1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Role
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-select [(ngModel)]="rolesSelected" name="roles Selector"
            [placeholder]="rolesSelected ? rolesSelected :'Select Role'"
            style="color: #666666; font-size:.8rem;border:1px solid #b3b3b3;background-color: #fff; appearance: none;padding: 0; margin: 0;width:60%;padding:.5rem;">
            <ion-select-option *ngFor="let option of rolesOptions" [value]="option">{{option}}</ion-select-option>
          </ion-select>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Speciality
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="max-width: 60%;font-size:.8rem;color:#666666;" placeholder="Enter Speciality" [(ngModel)]="speciality" ></ion-input>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Email
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <span style="font-size:.8rem;color:#666666;">{{emailId || "__"}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Gender
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <span style="font-size:.8rem;color:#666666;">{{gender || "__"}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <ion-button (click)="backHandler()" expand="block" shape="round" style="--background:#6277eb;">Go Back</ion-button>
</ion-toolbar>