<ion-header>
  <ion-segment
    scrollable
    mode="md"
    (ionChange)="segmentChanged()"
    [(ngModel)]="segment"
    color="theme"
  >
    <ion-segment-button mode="md" value="0">
      <p>Leads Summary</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="1">
      <p>Campaign Data</p>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <div class="ion-padding-20">
    <div  *ngIf="segment === '0'">
      <ion-row class="summaryLeadHeaderFont ion-align-items-center">
        <ion-col size="9">
          <ion-label>Leads Types</ion-label>
        </ion-col>
        <ion-col class="ion-text-center backgroundColor labelBackground">
          <ion-label>{{totalLead}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row
        class="ion-padding-top ion-align-items-center"
        *ngFor="let lead of leadTypes;let ing=index;"
        (click)="goToSearchPage('leadType',lead.name, lead.code)"
      >
        <ion-col size="8.5" class="labelBackground">
          <ion-label class="labelFont">{{lead.name}}</ion-label>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col class="ion-text-center labelBackground">
          <ion-label color="theme">{{lead.count}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="headerFont ion-align-items-center">
        <ion-col size="9">
          <ion-label>Status Types</ion-label>
        </ion-col>
        <ion-col class="ion-text-center backgroundColor labelBackground">
          <ion-label>{{totalStatus}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row
        class="ion-padding-top ion-align-items-center"
        *ngFor="let lead of statusTypes;let ing=index;"
        (click)="goToSearchPage('status',lead.name, lead.code)"
      >
        <ion-col size="8.5" class="labelBackground">
          <ion-label class="labelFont">{{lead.name}}</ion-label>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col class="ion-text-center labelBackground">
          <ion-label color="theme">{{lead.count}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row
        class="headerFont ion-align-items-center"
        (click)="goToSearchPage('myLeads','myLeads', true)"
      >
        <ion-col size="9">
          <ion-label>Contacted by me</ion-label>
        </ion-col>
        <ion-col class="ion-text-center backgroundColor labelBackground">
          <ion-label color="theme">{{myLeads}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row
        class="headerFont ion-align-items-center"
        (click)="goToSearchPage('paidConversions','paidConversions', true)"
      >
        <ion-col size="9">
          <ion-label>Hot Leads</ion-label>
        </ion-col>
        <ion-col class="ion-text-center backgroundColor labelBackground">
          <ion-label color="theme">{{hotLeads}}</ion-label>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="segment === '1'">
      <div *ngFor="let leadMain of totalMainOptions;let ing=index;">
        <ion-row class="summaryLeadHeaderFont ion-align-items-center">
          <ion-col size="9">
            <ion-label>{{leadMain.title}}</ion-label>
          </ion-col>
          <ion-col class="ion-text-center backgroundColor labelBackground">
            <ion-label>{{leadMain.count}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-padding-top ion-align-items-center"
          *ngFor="let lead of leadMain?.subOptions;let ing=index;"
          (click)="goToSearchPage('subOption',lead.name, lead.code)"
        >
          <ion-col size="8.5" class="labelBackground">
            <ion-label class="labelFont">{{lead.name}}</ion-label>
          </ion-col>
          <ion-col size="0.5"></ion-col>
          <ion-col class="ion-text-center labelBackground">
            <ion-label color="theme">{{lead.count}}</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- <ion-row class="headerFont ion-align-items-center">
      <ion-col size="9">
        <ion-label >Sub Option Types</ion-label>
      </ion-col>
      <ion-col class="ion-text-center backgroundColor labelBackground">
        <ion-label>{{totalSubOptions}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center" *ngFor="let lead of subOptionTypes;let ing=index;" (click)="goToSearchPage('subOption',lead.name, lead.code)">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont">{{lead.name}}</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme">{{lead.count}}</ion-label>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont">Need assistance to pay</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme">15</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont" >Please share me QR code to pay by Google pay/Paytm</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="headerFont ion-align-items-center">
      <ion-col size="9">
        <ion-label>Not Sure to Pay</ion-label>
      </ion-col>
      <ion-col class="ion-text-center backgroundColor labelBackground">
        <ion-label color="theme">1020</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont">Not sure of results</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont" >Can not afford</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont" >Call Me</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="headerFont ion-align-items-center">
      <ion-col size="9">
        <ion-label>Not Now</ion-label>
      </ion-col>
      <ion-col class="ion-text-center backgroundColor labelBackground">
        <ion-label color="theme">1020</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-align-items-center">
      <ion-col size="8.5" class="labelBackground">
        <ion-label class="labelFont" >Not Interested</ion-label>
      </ion-col>
      <ion-col size="0.5"></ion-col>
      <ion-col class="ion-text-center labelBackground">
        <ion-label color="theme"></ion-label>
      </ion-col>
    </ion-row> -->
  </div>
</ion-content>
