ion-content {
    --background: #F6F7FC;
}
.labelBackground {
    // height: 53px;
    background: #FFFFFF;
    border: #8C8E93;
    border-radius: 15px;
    width: 74px;
    padding: 15px;
}
.labelFont{
    font-size: 14px;
}
.summaryLeadHeaderFont {
    font-size: 20px;
    color: var(--ion-color-theme) !important;
    // padding-top: 18px;
  }