.input-label {
  font-weight: 600;
  margin-bottom: 0.7rem;
  --min-height: 0px;
}
.input {
  max-width: 50%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
}
.input2 {
  max-width: 80%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
}
.row {
  margin-top: 2rem;
}
ion-item {
  --border-style: none;
}
ion-item ion-radio {
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
}
ion-radio {
  --color-checked: #fff;
}

/* Hide the actual file input */
#file-upload {
  display: none;
}

/* Style the custom upload button */
.custom-upload-button {
  display: inline-block;
  padding: 9px 16px;
  background: rgba(99, 99, 100, 1);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.label {
  width: 90%;
  background: rgba(99, 122, 225, 0.06) !important;
  border-radius: 12px;
  padding: 0.4rem;
  white-space: nowrap;
  span {
    font-size: 0.9rem !important;
  }
}

/* Optional: Add some container styling */
.custom-file-upload {
  margin: 0px;
}

.disabled-container {
  border: 2px solid black;
  margin: auto;
  background-color: rgb(240, 240, 240);
  margin-top: 8rem;
  padding: 4rem 5rem;
}
.disabled-container ion-row {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.title {
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}
