<ion-content>
  <ion-grid style="margin-left: 2rem;" *ngIf="!isLoading && !disabled">
    <!-- <form (ngSubmit)="updateProfile()" enctype="multipart/form-data"> -->
    <ion-row *ngIf="isNewUser" style="border-bottom:2px solid #b3b3b3;margin-bottom: 1rem;">
      <ion-col size="9" class="intro-text" *ngIf="isIndividual !== 'true'">
        Seems you are new here, Please fill below Info
      </ion-col>
      <ion-col size="9" class="intro-text" *ngIf="isIndividual === 'true'">
        <ul type="circle">
          <li><ion-item lines="none">This application is for dietitians,nutritionists, and dietetics
              students.</ion-item></li>
          <li><ion-item lines="none">We offer free, limited access, but verification may be required. If verification
              fails, your account may be disabled until resolved.</ion-item></li>
          <li><ion-item lines="none">Once satisfied with the solution, you can upgrade to unlimited access with a paid
              subscription</ion-item></li>

        </ul>

      </ion-col>
      <ion-col size="3" class="logout-col">
        <ion-button class="logout-button" shape="round" (click)="logout()">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" class="ion-text-center ion-align-self-center">
        <div class="label">
          <span style="font-weight: 500;font-size:.8rem;color:#000">Profile photo</span>
        </div>
      </ion-col>
      <ion-col size=".2"></ion-col>
      <ion-col size="2" class="ion-text-center ion-align-self-center">
        <div class="custom-file-upload" (change)="onFileSelected($event)">
          <label for="file-upload" class="custom-upload-button">Upload File</label>
          <input id="file-upload" type="file" accept="image/*" />
        </div>

      </ion-col>

      <ion-col class="ion-text-left ion-align-self-start">
        <ion-img *ngIf="selectedImage" [src]="selectedImage" style="height: 3rem;
          width: 3rem;
          border-radius: 50%;
          position: relative;
          top: 0;"></ion-img>
        <img *ngIf="base64String && !selectedImage" [src]="base64String" alt="Img" style="height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    top: 0;" />
      </ion-col>

      <!-- Deititian Email  -->
      <ion-col size="1" class="ion-text-center ion-align-self-center">
        <div class="label">
          <span style="font-weight: 500;font-size:.8rem;color:#000">Email: </span>
        </div>
      </ion-col>
      <ion-col style="align-self: center;">
        {{email}}
      </ion-col>

    </ion-row>
    <!-- Name & Whatsapp Number -->
    <ion-row style="margin-top: 1.5rem;">
      <ion-col style="border-right:1px solid #b3b3b3;">
        <!-- Name -->
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Name<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);" required="false"
              placeholder="Enter your Name" [(ngModel)]="name" class="input"></ion-input>
          </ion-col>
        </ion-row>
        <!-- Whatsapp Number & Visibility -->
        <ion-row style="margin-top:1.5rem">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Whatsapp Number
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="max-width: 100%;border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);"
              placeholder="Enter your Whatsapp Number" [(ngModel)]="wpNumber" class="input"
              (change)="onChangeHandler()"></ion-input>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col size="1" class="ion-text-left ion-align-self-center">
            <ion-toggle [(ngModel)]="wpVisible" [disabled]="wpNumber==''" style="height: 27px;"></ion-toggle></ion-col>
          <ion-col class="ion-text-left ion-align-self-center">
            <span style="font-size:.8rem;color:rgba(99, 99, 100, 1);margin-left: 1rem;">Visible to Users</span>
          </ion-col>
        </ion-row>
        <!-- Calendly Link & Visibility -->
        <ion-row style="margin-top:1.5rem">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Calendly Link
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="max-width: 100%;border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);"
              placeholder="Enter Calendly Link" [(ngModel)]="calendlyLink" class="input stacked"
              (change)="onChangeHandler()"></ion-input>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col size="1" class="ion-text-left ion-align-self-center">
            <ion-toggle style="height: 27px;" [(ngModel)]="calendlyVisible" [disabled]="calendlyLink==''"></ion-toggle>
          </ion-col>
          <ion-col class="ion-text-left ion-align-self-center">
            <span style="font-size:.8rem;color:rgba(99, 99, 100, 1);margin-left: 1rem;">Visible to Users</span>
          </ion-col>
        </ion-row>
        <!-- About -->
        <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Professional Bio<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-textarea rows="8" placeholder="Enter About you..." [(ngModel)]="about" class="input2"
              style="border-radius:12px;color: rgba(99, 99, 100, 1); font-size:.8rem;"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size=".5"></ion-col>
      <ion-col *ngIf="isIndividual==='true'">
        <!-- Mobile Number -->
        <ion-row style="margin-bottom:1.5rem">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Mobile Number<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);"
              placeholder="Enter your Mobile Number" [(ngModel)]="mobileNumber" class="input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom:1.5rem">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000; text-wrap: wrap;">
                Linkedin Id/Instagram Id/Website Url<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);"
              placeholder="Enter your Linkedin Id" [(ngModel)]="linkedinId" class="input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Theme
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-radio-group [(ngModel)]="themeSelected" name="theme" onchange="printSelectedTheme()"
              style="display: flex;">
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #3863AF; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #50c8ff; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" mode="ios" value="individual1" style="position: absolute;
      left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #0B713F; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #99b949; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual2" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #8775ed; height: 2rem;"></ion-col>
                  <ion-col style="background-color: #fe4869; height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual3" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
              <ion-item lines="none" style="width: 10rem;">
                <ion-label style="display: flex;">
                  <ion-col style="background-color: #0F0F0F;height: 2rem;"></ion-col>
                </ion-label>
                <ion-radio slot="start" value="individual4" style="position: absolute;
                left: 47%;"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top:1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Role<span style="color: red;margin-left: 2px;">*</span>
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-select [(ngModel)]="rolesSelected" name="roles Selector"
              [placeholder]="rolesSelected ? rolesSelected :'Select Role'"
              style="color: rgba(99, 99, 100, 1); font-size:.8rem;border:1px solid #b3b3b3;border-radius:12px;background-color: #fff; appearance: none;padding: 0; margin: 0;width:60%;padding:.5rem;">
              <ion-select-option *ngFor="let option of rolesOptions" [value]="option">{{option}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Speciality
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-input style="max-width: 60%;border-radius:12px;font-size:.8rem;color:rgba(99, 99, 100, 1);"
              placeholder="Enter Speciality" [(ngModel)]="speciality" class="input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1.5rem;">
          <ion-col size="3" class="ion-text-center">
            <div class="label">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Gender
              </span>
            </div>
          </ion-col>
          <ion-col size=".3"></ion-col>
          <ion-col class="ion-text-left">
            <ion-select [(ngModel)]="gender" name="Gender" [placeholder]="Gender"
              style="color: rgba(99, 99, 100, 1); font-size:.8rem;border:1px solid #b3b3b3;border-radius:12px;background-color: #fff; appearance: none;padding: 0; margin: 0; width:60%;padding:.5rem;">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid *ngIf="disabled" class="disabled-container">
    <ion-icon name="warning-outline" style="color: red; font-size: 10rem; width: 100%;"></ion-icon>
    <ion-row>
      <p class="title">
        Account is Blocked
      </p>
    </ion-row>
    <ion-row>
      We were unable to verify the details you provided for your account. As a result, your access has been
      temporarily disabled until verification can be completed.
    </ion-row>
    <ion-row>
      Please contact us at dietitian@smartdietplanner.com to resolve this issue and restore access.
    </ion-row>

  </ion-grid>

</ion-content>
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <ion-button *ngIf="!isNewUser" (click)="updateProfile()" expand="block" shape="round"
    style="--background:#6277eb;">Update Profile</ion-button>

  <ion-button *ngIf="isNewUser && isIndividual !== 'true'" class="submit-button" size="default" shape="round"
    expand="block" type="submit" [disabled]="name === ''" (click)="submitBtnHandler()">
    Save Profile
  </ion-button>

  <ion-button *ngIf="isNewUser && isIndividual === 'true'" class="submit-button" size="default" shape="round"
    expand="block" type="submit"
    [disabled]="name === '' || mobileNumber==='' || about==='' || linkedinId==='' || rolesSelected===''"
    (click)="submitBtnHandler2()">
    Save Profile
  </ion-button>
</ion-toolbar>