<ion-header>
  <ion-toolbar>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <form [formGroup]="userForm" >
      <div class="form-group">
      <ion-list>
        <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&  (f.username.errors && f.username.touched) }">
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" placeholder="Username"></ion-input>
        </ion-item>
        <div *ngIf="submitted &&  (f.username.errors && f.username.touched)" class="invalid">
          <div *ngIf="f.username.errors.required">Username is required</div>
       </div>
  
       <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&   (f.firstName.errors && f.firstName.touched )}">
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="firstName" placeholder="Firstname"></ion-input>
      </ion-item>
      <div *ngIf="submitted &&  (f.firstName.errors && f.firstName.touched)" class="invalid">
        <div *ngIf="f.firstName.errors.required">Firstname is required</div>
     </div>
  
     <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&   (f.lastName.errors && f.lastName.touched)}">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" placeholder="Lastname"></ion-input>
    </ion-item>
    <div *ngIf="submitted &&  (f.lastName.errors && f.lastName.touched)" class="invalid">
      <div *ngIf="f.lastName.errors.required">Lastname is required</div>
   </div>
  
   <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&  (f.email.invalid && f.email.touched) }">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" formControlName="email" placeholder="email"></ion-input>
  </ion-item>
  <div *ngIf="submitted &&  (f.email.invalid && f.email.touched)" class="invalid">
    <div *ngIf="f.email.errors.required">email is required</div>
  </div>
  
  <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&   (f.password.errors && f.password.touched)}">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
  </ion-item>
  <div *ngIf="submitted &&  (f.password.errors && f.password.touched)" class="invalid">
    <div *ngIf="f.password.errors.required">password is required</div>
  </div>
  <ion-item class="form-control" [ngClass]="{ 'is-invalid': submitted &&  (f.phone.errors && f.phone.touched)}">
    <ion-label position="floating" >Phone</ion-label>
    <ion-input type="tel" formControlName="phone" placeholder="phone"></ion-input>
  </ion-item>
  <div *ngIf="submitted && (f.phone.errors && f.phone.touched)" class="invalid">
    <div *ngIf="f.phone.errors.required">phone is required</div>
  </div>
  
    </ion-list>
  </div>
    </form>
   
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col class="ion-text-right" size="8" (click)="update()">Update</ion-col>
      <ion-col class="ion-text-right" size="4" (click)="delete()">Delete</ion-col>
    </ion-row>
</ion-card-content>
</ion-card>
</ion-content>
