.dietPlan{

    ion-row{
      border-bottom:.01rem solid #DBD8D8;
     padding-right: 1rem;
     font-size: .7rem !important;
     ion-col{
       border-right:.01rem solid #DBD8D8;
       padding: .2rem;
       ion-searchbar{
          font-size: .7rem !important;
       }
       ion-icon{
          font-size: .7rem !important;
       }
     }
    }
   
 }
 .manage-diet{
    width: 90%;
 }
 .searchbar-input{
    font-size: .7rem !important;
 }
 ion-row{
    // display: inline-block;
     width: 100%;
 }
 
 .searchbar-clear-button{
    z-index: 0;
    position: absolute !important;
 }