

<ion-content>
  <ion-grid class="dietPlan" style="padding: 0;">
    <ion-row>
       <ion-col>
        <!-- <app-header ></app-header> -->
        <ion-row style="border-bottom: 1px solid #DBD8D8;">
          <ion-col size="1.3" style="border: none;"></ion-col>
          <ion-col size=".2" style="border: none;"></ion-col>
          <ion-col size="1.5" class="ion-text-center" *ngFor="let dit of dietPlan;let ditInd=index;"
            style="border-right: 1px solid #DBD8D8;">
            <div class='custom-date-format'>
              {{returnDay(dit.date2)}}
            </div>
            <div class='custom-date-format2'>
              {{dit.date1}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="background: #F5F5F5;">
          <ion-col size="1.3" style="border: none;"></ion-col>
          <ion-col style="border: none;"></ion-col>
          <ion-col size="1.5" class="ion-text-center" *ngFor="let dit of dietPlan;let ditInd=index;"
            style="border-right: 1px solid #DBD8D8;">
            <div style="border-radius: .8rem;background:#C6D6FF;padding:5px;margin: 5px;">
              <span style="color:#3B3838;font-size: 1rem;">{{dit.tolalCalories | number:'1.0-0'}} Kcal</span><br>
              <span style="color:#6A6666;font-size: .6rem;">Carbs: {{dit.totalCarbs | number:'1.0-0'}} gms | Fat: {{dit.totalFat | number:'1.0-0'}} gms</span>
              <br>
              <span style="color:#6A6666;font-size: .6rem;"> Protien: {{dit.totalProtien | number:'1.0-0'}} gms | Fiber: {{dit.totalFiber | number:'1.0-0'}}
                gms</span>
            </div>
          </ion-col>
        </ion-row>
        <!-- <div  style="float:left"> -->
        <ion-row *ngFor="let slot of slotItems;let itemIndex=index;" style="background: #f5f5f5;">
          <ion-col class="ion-text-left" size="1.2" style="color: #616BE9;">
            <div>{{slot.slotName}}</div> <br>
            <div>
              <ion-icon name="add-circle-outline" style="font-size: 1.2rem !important;
      color: #616BE9;" (click)="addItem(slot)"></ion-icon>
              <ion-icon name="trash" (click)="removeAllFromSlot(slot)" style="font-size: 1.2rem !important;
     color: #616BE9;
    "></ion-icon>
            </div>
          </ion-col>

          <ion-col class="ion-text-center" size=".3" style="background: #E4E7FA;">
            <div *ngFor="let items of slot.data;let indp=index;">
              <span *ngIf="indp===0">
                <ion-row style="border: none;padding: 0;height: 53px;" *ngFor="let food of items; let ind=index;">
                  <ion-col style="border: none;" class="ion-align-self-end">
                    <ion-icon name="trash" (click)="removeItem(slot.data,ind)" style="font-size: 1.2rem !important;
      color: #616BE9;
     "></ion-icon>
                  </ion-col>
                </ion-row>
              </span>
            </div>
          </ion-col>

          <ion-col size="1.5" style="border-right: 1px solid #DBD8D8;background: #fff;"
            *ngFor="let items of slot.data;let indp=index;">
            <div *ngFor="let food of items; let ind=index;">

              <ion-searchbar style="--box-shadow: none;--background: #C6D6FF; 
      border-radius: 5px;text-align: center;" searchIcon="none" clearIcon="none" (ionClear)="onClear($event)"
                placeholder="Tap to open" class="manage-diet ion-no-padding mb-20"
                ngModel="{{food.portion}} {{food.portion_unit}} {{food.portion_unit===undefined?'':':'}} {{food.Food}}"
                (input)="getAllForSearch($event.target.value,ind,indp,itemIndex)"
                id="{{food._id}}{{itemIndex}}{{indp}}{{ind}}">
              </ion-searchbar>

              <ion-popover trigger="{{food._id}}{{itemIndex}}{{indp}}{{ind}}" triggerAction="click" side="right"
                alignment="end" mode="md">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-row>
                      <ion-col size="8" class="ion-text-left" style="color:#616BE9;font-size: .9rem;">
                        {{slot.slotName}}
                      </ion-col>
                      <ion-col size="2" class="ion-text-right">
                        <ion-icon name="trash" (click)="removeItemFromPopup(items,itemIndex,indp,ind)" style="font-size: 1rem !important;
              color: #616BE9;
             "></ion-icon>
                      </ion-col>
                      <ion-col size="2" class="ion-text-right">
                        <ion-icon name="close-circle" (click)="popoverController.dismiss();" style="font-size: 1rem !important;
              color: #616BE9;
             "></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: .5rem;">
                      <ion-col class="ion-text-left">
                        <div>
                          <ion-searchbar searchIcon="none" style="--box-shadow: none;--border-radius:8px;"
                            placeholder="Search for food" class="manage-diet1 ion-no-padding" [(ngModel)]="food.Food"
                            (input)="getAllForSearch($event.target.value,ind,indp,itemIndex)"
                            id="{{food._id}}{{itemIndex}}{{indp}}{{ind}}">
                          </ion-searchbar>
                          <div
                            *ngIf="isShow[ind]===true && isShowParent[indp]===true && isShowSuperParent[itemIndex]===true">
                            <div (click)="fillFood(items,ind,searchItem,indp,itemIndex)" style="width: 100%; border: .1rem solid #f3f3f3;
                 padding: .5rem;position: relative; cursor:HAND;" *ngFor="let searchItem of totalDataSearchedData;">
                              {{searchItem.Food}}
                            </div>
                          </div>
                        </div> <br>
                        <div>
                          <ion-row>
                            <ion-col size="3" class="ion-text-left ion-align-self-center">
                              <ion-input type="number" [(ngModel)]="food.portion" style="background: #fff; 
                  width: 60px; 
                  padding: 5px 5px !important;
                  height: 35px; border-radius: 5px;text-align: left;font-size: .8rem;">
                              </ion-input>
                            </ion-col>
                            <ion-col size="9" class="ion-text-left ion-align-self-center" style="font-size: .751rem;">
                              {{food.portion_unit}}</ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <span style="font-size: .5rem; color:#6A6666">
                                Carbs: {{(food.Carbs*food.portion) | number:'1.0-0' }}gms | Fat:
                                {{(food.Fat*food.portion) | number:'1.0-0'}}gms
                                | Protein: {{(food.Protien*food.portion) | number:'1.0-0'}}gms
                                | Fiber: {{(food.Fiber*food.portion) | number:'1.0-0'}} gms
                              </span>
                            </ion-col>
                          </ion-row>

                        </div>
                        <div>
                          <span style="font-weight: 500; font-size: .8rem;">{{food?.Calories*food.portion | number:'1.0-0'}} Kcal</span>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-right ion-align-self-center">
                        <ion-icon name="copy" style="color:#616BE9"
                          (click)="copyItems(slot,indp,ind,itemIndex)"></ion-icon>
                        <span style="color:#616BE9;font-size: .5rem;position: relative;
              top: -5px;"> Copy for all days</span>
                      </ion-col>
                      <ion-col class="ion-text-center">
                        <ion-button extend="block" style="--background: #616BE9;
              --height: 32px;
              padding: 5px;" (click)="saveItem()">Save</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-popover>

            </div>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer style="    margin-bottom: 0.5rem; 
margin-top: 0.5rem;"> -->
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <!-- <ion-row> -->
  <!-- <ion-col>
      <ion-button (click)="cancel()"  expand="block" 
      style="color:#0B713F;--border-color:#0B713F;"
      fill="outline">Cancel</ion-button>
    </ion-col> -->
  <!-- <ion-col> -->
  <ion-button (click)="save()" expand="block"
    style="color:#fff;--border-color:#0B713F;--background:#808080;">Save</ion-button>
  <!-- </ion-col> -->

  <!-- </ion-row> -->
</ion-toolbar>
<!-- </ion-footer> -->