<ion-content>
  <ion-grid style="padding: 0;" *ngIf="!isDisabled">
    <ion-row class="full-height">
      <ion-col size="6">
        <!-- fruit -->
        <img class="logo" src="assets/icons/fruit.svg" alt="SDP Management" class="full-height-image" />
      </ion-col>
      <ion-col size="6" class="right-container">
        <img class="logo" src="assets/icon/logo.svg" alt="SDP Management logo" />
        <div style="margin-bottom: 2rem;" *ngIf="!otpSent">
          <h1 class="ion-text-center login-title">WELCOME BACK</h1>
          <h2 class="ion-text-center ion-no-margin login-desc">Welcome back! Please enter your details.</h2>
        </div>
        <div style="margin-bottom: 2rem;" *ngIf="otpSent">
          <h1 class="ion-text-center login-title">OTP Verification</h1>
          <h2 class="ion-text-center ion-no-margin login-desc">Please enter the OTP code sent to your email</h2>
        </div>
        <div style="width: 50%;margin: auto;">
          <div class="login" *ngIf="!otpSent">
            <form [formGroup]="loginForm" (ngSubmit)="logIn()">
              <div class="input-group ion-padding-bottom">
                <ion-item mode="ios" *ngIf="signWithEmail" style="--background: none;--padding-start:0">
                  <ion-label position="stacked" style="color: #181818;font-size: 18px;">Email</ion-label>
                  <ion-input required="false" placeholder="Enter your email" formControlName="email"
                    style="--inner-border-width: 0px 0px 0px 0px;--border-style:none"></ion-input>
                </ion-item>
                <!-- UserName -->
                <ion-item mode="ios" *ngIf="!signWithEmail">
                  <ion-input required="false" placeholder="Username" formControlName="name"
                    style="text-align: center;"></ion-input>
                  <!-- <ion-icon class="ion-no-margin ion-padding-end-10" name="person-outline" slot="start"
                    style="width: 50px;"></ion-icon> -->
                </ion-item>
                <div class="errMessageCss" *ngIf="validation_messages">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <p class="ion-no-margin"
                      *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </p>
                  </ng-container>
                </div>
                <ion-item mode="ios" class="ion-no-padding" *ngIf="!signWithEmail">
                  <ion-input [type]="hide ? 'text' : 'password'" placeholder="Password" style="text-align: center;"
                    formControlName="password"></ion-input>
                  <!-- <ion-icon class="ion-no-margin ion-padding-end-10" name="lock-closed-outline" slot="start"
                    style="width: 50px;"></ion-icon> -->
                  <ion-icon class="ion-no-margin" color="medium" size="small" [name]="hide ? 'eye-off' : 'eye'"
                    slot="end" (click)="showPassword()"></ion-icon>
                </ion-item>
                <div class="errMessageCss" *ngIf="validation_messages">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <p class="ion-no-margin"
                      *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      {{ validation.message }}
                    </p>
                  </ng-container>
                </div>
              </div>
              <ion-button class="ion-padding-horizontal" size="default" color="theme" expand="block" type="submit"
                fill="solid" style="--ion-color-base:#6277eb !important;width: 100%;padding-left: 0;padding-right: 0;"
                [disabled]="!loginForm.valid">Sign
                In</ion-button>
            </form>
            <!-- <div style="text-align: center;font-size: 1rem;font-weight: 500;padding: 1rem;">
              OR
            </div>
            <ion-button color="theme" expand="block" fill="solid"
              style="--ion-color-base: #ffffff !important; border: 2px solid #6277eb; color: #6277eb;border-radius: 5px;"
              (click)="toggleSignUp()">Sign
              in with {{signWithEmail? "UserId":"Domain"}}</ion-button> -->
          </div>
          <div class="login" style="display: flex;
  justify-content: space-between;flex-direction: column;gap: 1rem;align-items: center;" *ngIf="otpSent">
            <!-- <ion-row style="display: flex;align-items: center;margin-bottom: 2rem;width: 100%;">
              <ion-col size="12">
                <h1 style="font-size: 20px;color: #000000;font-weight: 800;margin: 0 auto;">Enter
                  OTP
                </h1>
                <p style="color: #575757;font-size: 13px;">6 digits code has been sent to your email</p>
              </ion-col>
            </ion-row> -->
            <div style="display: flex;align-items: center;gap:.5rem">
              <ion-input type="string" style="background-color: #fff; height:48px;width: 241px;" [(ngModel)]="otp" placeholder="Enter Otp"
                maxlength="6" class="otp-input-field"></ion-input>
              <span id="countdown-timer">05:00</span>
            </div>
            <ion-button (click)="verifyOtp()"
              style="--background: #6277eb;width: 100%;border-radius: 50%;">Verify</ion-button>
            <!-- <ion-button color="theme" expand="block" fill="solid"
              style="--ion-color-base: #ffffff !important; border: 2px solid #6277eb; color: #6277eb;border-radius: 5px;"
               (click)="backHandler()" style="cursor: pointer;" size="4"><ion-icon
                name="arrow-back-outline"></ion-icon><span>Back</span></ion-button> -->
            <ion-button color="theme" expand="block" fill="solid"
              style="--ion-color-base: #ffffff !important; border: 2px solid #6277eb; color: #6277eb;border-radius: 5px;width: 100%;"
              (click)="backHandler()">Back</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="isDisabled" class="disabled-container">
    <ion-icon name="warning-outline" style="color: red; font-size: 10rem; width: 100%;"></ion-icon>
    <ion-row>
      <p class="title">
        Account is Blocked
      </p>
    </ion-row>
    <ion-row>
      We were unable to verify the details you provided for your account. As a result, your access has been temporarily disabled until verification can be completed.
    </ion-row>
    <ion-row>
      Please contact us at dietitian@smartdietplanner.com  to resolve this issue and restore access.
    </ion-row>
    
  </ion-grid>
</ion-content>