.full-height {
  height: 100vh; /* Full viewport height */
}

.full-height-image {
  // width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the full height and width while maintaining aspect ratio */
}

.right-container {
  // background-color: #637AE1;
  background-color: #ebeff3;
}

.login-title {
  color: #030303;
  font-size: 34px;
}

.login-desc {
  color: #636364;
  font-size: 14px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-top: 5rem;
}

//  .login {
//     background: rgba(255, 255, 255, 1);
//     border-radius: 10px;
//     margin: 1em;
//     padding: 2em 5em 5em 2em;

//     p {
//           margin-bottom: 3em;
//     }

//     button {
//           margin: 0 0 1.5em 0;
//     }
//  }
.errMessageCss {
  height: 26px;
  font-size: small;
  color: var(--ion-color-danger);
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.otp-input-field {
  width: 30%;
  height: 4rem;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 0.25rem;
  border-radius: 12px;
}

.otp-input-field.focus {
  border: 2px solid #6277eb;
}

.disabled-container {
  border: 2px solid black;
  margin: auto;
  background-color: rgb(240, 240, 240);
  margin-top: 8rem;
  padding: 4rem 5rem;
  width: 70%;
}
.disabled-container ion-row {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.title { 
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}