.custom-upload-button {
    display: inline-block;
    padding: 9px 16px;
    background: rgba(99, 99, 100, 1);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    left: 14px;
    position: relative;
  }
  
  .label {
    width: 90%;
    background: rgba(99, 122, 225, 0.06) !important;
    border-radius: 12px;
    padding: 0.4rem;
    white-space: nowrap;
    span {
      font-size: 0.9rem !important;
    }
  }
  #file-upload {
    display: none;
  }