<!-- <ion-header>
  <ion-toolbar>
    <ion-title>view-pdf</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
 <div class="custom-file-upload" (change)="onFileSelected($event)">
  <label for="file-upload" class="custom-upload-button">Select File</label>
  <input id="file-upload" type="file" accept="pdf/*" />
  <ion-button (click)="uploadPdf()" style="    height: 40px;
    position: relative;
    top: -6px;
    left: 57px;"> Upload</ion-button>
</div>

<ion-card>
  <ion-card-header style="background: #E4E7FA;color:#000;font-weight: 500;">
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-row>
          <ion-col><span>Pdf Detail: </span></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content style="margin-top: 1rem;">
    <ion-row style="background: #E4E7FA;border:.5px solid #C6D6FF;">
      <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
        <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">File Name:</h2>
      </ion-col>
      <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
        <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">User Id:</h2>
      </ion-col>
      <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
        <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Created On:</h2>
      </ion-col>
    
      <ion-col size="1.5" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
        <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">PDF url:</h2>
      </ion-col>
      <ion-col size="1.5" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
        <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Action:</h2>
      </ion-col>
    </ion-row>
    <ion-row style="background: #fff;border:.5px solid #C6D6FF;font-size:.8rem;"
      *ngFor="let action of pdfLog; let ind=index;">
      <ion-col size="3" class="ion-text-center"
        style="border-right:.5px solid #C6D6FF;padding:10px;">{{action.fileName}}
        </ion-col>
      <ion-col size="3" class="ion-text-center"
        style="border-right:.5px solid #C6D6FF;padding:10px;">{{action.userId}}</ion-col>
      <ion-col size="3" class="ion-text-center"
        style="border-right:.5px solid #C6D6FF;padding:10px;">{{formatDate(action.createdOn)}}</ion-col>
      <ion-col size="1.5" class="ion-text-center"
        style="border-right:.5px solid #C6D6FF;padding:10px;">
        <a (click)="openPDF(action.url)">View</a></ion-col>
        <ion-col size="1.5" class="ion-text-center"
        style="border-right:.5px solid #C6D6FF;padding:10px;">
        <a (click)="deletePDF(action._id)" style="color:red" >
          <ion-icon name="trash" style="color:red;font-size:1.2rem;"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<div *ngIf="sanitizedPdfUrl">
  <iframe [src]="sanitizedPdfUrl" width="100%" height="600px"></iframe>
</div>
</ion-content>
