<ion-content>
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" class="ion-text-center">
        <ion-item lines="none" class="ion-justify-content-center ion-no-padding">
          <img class="logo m-auto" src="assets/icon/logo.svg" alt="SDP Management logo"  />
        </ion-item>
        <ion-item lines="none" class="ion-justify-content-center ion-no-padding">
          <div class="m-auto d-text" >Smart Diet Planner</div>
        </ion-item>
        <ion-item lines="none" class="ion-justify-content-center ion-no-padding">
          <div class="m-auto d-text">Management</div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
