/* styles.css or global.scss */
.full-height {
   height: 100vh;
 }

 .m-auto {
   margin: auto;
 }

 .logo {
   height: 12rem;
 }

 .d-text {
   color: #6277eb;
   font-weight: 600;
   font-size: 1.5rem;
 }
 
 ion-content {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 ion-item {
   --padding-start: 0;
   --inner-padding-end: 0;
   --inner-padding-start: 0;
   --padding-end: 0;
   --inner-padding-top: 0;
   --inner-padding-bottom: 0;
 }
 
