
@import '../../theme/fonts.scss';

.searchbar-search-icon { display:none; width:0; height:0; }
 div.custom-left{
    float: left;
    margin-right: .5rem;
   
    width: 95%;
    position: relative;
    display: flex;
    ion-card{
        min-width: 250px;
        width: 100%;
       max-width: 100%;
       ion-card-content{
        height: auto;
        min-height: 200px;
       }
    }
 } 
 .diet-plan-skeleton{
    width: 100%;
    height: 105%;
    margin-top: -5px;
  }
ion-content{
    --background: #F6F7FC;
    .modal-default{
        width: 80%;
        height: 100%;
    }
}
ion-toggle {
    padding: 1rem 2rem .5rem 0;
  
    --track-background: #ddd;
    --track-background-checked: #ddd;
  
    --handle-background: #eb7769;
    --handle-background-checked: #95c34e;
  
    --handle-width: 25px;
    --handle-height: 27px;
    --handle-max-height: auto;
    --handle-spacing: 6px;
  
    --handle-border-radius: 4px;
    --handle-box-shadow: none;
  }
  
  ion-toggle::part(track) {
    height: 10px;
    width: 65px;
  
    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
  }
.header-sec{
    margin:1rem 1rem;
    line-height: 1.5;
}
.profile-detail{
    font-size: .9rem;
    margin: 3rem 2rem;
    .item-value{
        font-family: $font-medium;
        color: #171717;
       white-space: nowrap;
    }
    .item-value1{
        font-family: $font-medium;
        color: #171717;
       
    }
}
.search-sec{
    margin:1rem 1rem;
    ion-button{
        width: 86%;
        height: 35px;
        position: relative;
        top:10px;
        margin-left:.2rem;
    }
    .label{
        color: #01A3A4;
        font-size: 1.2rem;
    }
    ion-input{
        --background: #fff;
        --padding-start: .5rem;
        margin-top: .5rem;
        border-radius: 10px;
    }
}
.search-detail{
    .card{
        background: #fff;
        border-radius: 10px;
        box-shadow: none;
        padding-top:1rem;
        padding-bottom:1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 1.8;
        min-width: none !important;
        max-width: none !important;
        .label{
            color: #01A3A4;
            font-size: .752rem;
            font-family: $font-medium;
        }
        .desc{
            color: #8C8E93;
            font-size: .752rem;
        }

        ion-button{
            width: 100%;
            height: 40px;
            font-size: .8rem;
        }
    }
}
.user-info-row {
    height: 5rem; display: flex;align-items: center;padding-left: 0.5rem;background-color: #f5f5f5;margin-top: 1rem; margin-left: 1rem; margin-right: 1rem; border-radius: 1rem;
}
.user-info-col-container {
    display: flex;justify-content: center;flex-direction: column;align-items: center;
}
.user-info-row-title {
    color:#8F9196;font-size: 14px; 
    display: flex;justify-content: center;
}
.user-info-row-content-value{
    background-color: #fff;color:#040508; font-size: 14px;padding: 1px 0; display: flex; justify-content: center; text-align: center;align-items: center;width: 90%;margin-top: 5px;
}

// $small: 300px;
// $small2: 500px;
// $medium: 800px;
// $large: 1000px;
// @media screen and (min-width: $small) and (max-width: $small2) {
//     div.custom-left{
//         width: 100% !important;
//     }
// }
// @media screen and (min-width: $small2) and (max-width: $medium) {
//     div.custom-left{
//         width: auto !important;
//         ion-card{
//             max-width: 250px !important;
//         }
//     }
// }
// @media screen and (min-width: $medium) and (max-width: $large) {
//     div.custom-left{
//         width: auto !important;
//         ion-card{
//             max-width: 250px !important;
//         }
//     }
// }