

<ion-content>
  <app-navbar (searchEvent)="handleSearchEvent($event)"></app-navbar>
<ion-grid>
<ion-row>
     <ion-col style="background-color: #fff">
        <div style="background-color: #fff;">
          <div style="position: relative;width: 90%;left:5%;right:5%;">
            <ion-card style="background-color: #fff;height: 800px; margin:0" *ngIf="!searchDetails">
              <div class="search-detail" style="margin: 2rem;">
                <ion-row>
                  <ion-col class="ion-text-center">
                    <div style="height: 325px;
                  background: #F7F7F7;
                  display: grid;
                  vertical-align: middle;
                  padding-top: 80px;
                  border-radius: 1rem;">
                      <img src="./assets/img/nothing.png" style="margin: 0 auto;
                   text-align: center;
                   width: auto;
                   height: auto;
                   vertical-align: middle;
                   position: relative;
                   top: -3rem;">
                      <span style="color:#000;font-size: .8rem;" *ngIf="!searchDetails && isSearch">
                        Sorry, we couldn’t find the
                        user {{search}}
                      </span>
                      <span style="color:#565656;font-size: .8rem;" *ngIf="!isSearch">
                        Search a user by using the
                        exact ID of the user.
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>

            <div *ngIf="searchDetails">
              <ion-row>
                <ion-col>
                  <div class="custom-left">
                    <ion-card style="padding: .5rem;margin-top: .5rem;">
                      <ion-card-header (click)="isOpen2click()" style="padding: 0;">
                        <ion-row>
                          <ion-col size="11" class="ion-text-left">
                            <span style="color:#565656; ">
                              PROFILE
                            </span>
                          </ion-col>
                          <ion-col size="1">
                            <ion-icon name="chevron-down-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="isOpen2"></ion-icon>
                            <ion-icon name="chevron-up-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="!isOpen2"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-card-header>

                      <ion-card-content *ngIf="isOpen2" style="padding-top: 1rem;">
                        <ion-row style="padding-bottom: .5rem;"
                          *ngIf="profileData?.profile?.name!=='' && profileData?.profile?.name!==null">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Name</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{profileData?.profile?.name}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;" *ngIf="activityName?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Gender</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{profileData?.demographic?.gender?.gender}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;" *ngIf="activityName?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Age</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{profileData?.demographic?.age?.avg_age}} Years</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;" *ngIf="activityName?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Height</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{profileData?.demographic?.height?.value}}</span>
                          </ion-col>
                        </ion-row>

                        <ion-row style="padding-bottom: .5rem;" *ngIf="activityName?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Activity Level</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{activityName?.length>0?activityName[0].value:''}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Community</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span> {{searchDetails?.profile?.country}}{{searchDetails?.profile?.country!=='' &&
                              searchDetails?.profile?.country!==null && searchDetails?.profile?.country!==undefined &&
                              community?.length>0?',':''}} ({{community?.join(', ')}})</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;" *ngIf="diseases?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Health Conditions</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{diseases.join(', ')}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;" *ngIf="mealPref?.length>0">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Meal Preferences</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{mealPref?.length>0? mealPref[0].value:''}}</span>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>

                <ion-col>
                  <div class="custom-left">
                    <ion-card style="padding: .5rem;background:#FBEEFC;margin-top: .5rem;">
                      <ion-card-header (click)="isOpen3click()" style="padding: 0;">
                        <ion-row>
                          <ion-col size="11" class="ion-text-left">
                            <span style="color:#565656; ">
                              TARGET
                            </span>
                          </ion-col>
                          <ion-col size="1">

                            <ion-icon name="chevron-down-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="isOpen3"></ion-icon>
                            <ion-icon name="chevron-up-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="!isOpen3"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-card-header>
                      <ion-card-content *ngIf="isOpen3" style="padding-top: 1rem;">
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Target Weight</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.demographic?.suggestedWeight}} Kg.</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Target Calories</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left ion-align-self-start">
                            <ion-row>
                              <ion-col size="7">
                                <ion-input [(ngModel)]="updateTargetCal" style="width: 100%;
                            border: 1px solid #b3b3b3;
                            display: inline-block;
                            height: 28px;
                            border-radius: 5px;
                            --padding-start: .5rem;"></ion-input>
                              </ion-col>
                              <ion-col size="5">
                                <ion-button style="width: 100px;
                            height: 26px;" (click)="getTokenUpdateTargetCal()" expand="block" style="--border-color: #f3f3f3;
                            --background: #b3b3b3;
                            color:#fff;
                            height: 30px;font-size: .5rem;width: 100%;" fill="outline">Update</ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Recommended Calories</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.calculatedCalories}} Kcal</span>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="custom-left" style="">
                    <ion-card style="padding: .5rem;background: #E2F0F7;margin-top: .5rem;">
                      <ion-card-header (click)="isOpen4click()" style="padding: 0;">
                        <ion-row>
                          <ion-col size="11" class="ion-align-self-start"><span style="color:#838383">
                              <span style="color:#565656">
                                CURRENT INTAKE
                              </span>
                            </span></ion-col>
                          <ion-col size="1">
                            <ion-icon name="chevron-down-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="isOpen4"></ion-icon>
                            <ion-icon name="chevron-up-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="!isOpen4"></ion-icon>
                          </ion-col>
                        </ion-row>

                      </ion-card-header>
                      <ion-card-content *ngIf="isOpen4" style="padding-top: 1rem;">
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Calories</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.actual_calories==undefined?'-':searchDetails?.lifeStyle?.actual_calories}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Carbs</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.actual_carbs==undefined?'-':searchDetails?.lifeStyle?.actual_carbs}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Fat</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.actual_fats==undefined?'-':searchDetails?.lifeStyle?.actual_fats}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Fiber</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.actual_fiber==undefined?'-':searchDetails?.lifeStyle?.actual_fiber}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Protein</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{searchDetails?.lifeStyle?.actual_protein==undefined?'-':searchDetails?.lifeStyle?.actual_protein}}</span>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="custom-left">
                    <ion-card style="padding: .5rem;background: #E4F3EC;margin-top: .5rem;">
                      <ion-card-header (click)="isOpen5click()" style="padding: 0;">
                        <ion-row>
                          <ion-col size="11" class="ion-align-self-start"><span style="color:#565656">
                              SPECIAL PREFERENCES
                            </span></ion-col>
                          <ion-col size="1">
                            <ion-icon name="chevron-down-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="isOpen5"></ion-icon>
                            <ion-icon name="chevron-up-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="!isOpen5"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-card-header>
                      <ion-card-content *ngIf="isOpen5" style="padding-top: 1rem;">
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Diet Plan</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span>{{ planChoosen}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Cheat Meal</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span [innerHtml]="returnMonth(searchDetails?.additionalPref?.cheatDaysLunch)">

                            </span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Detox Days</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span [innerHtml]="returnMonth(searchDetails?.additionalPref?.normalDetoxDay)">
                            </span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Dinner</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span [innerHtml]="returnDinner(searchDetails?.additionalPref?.dinnerOptions)"></span>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">Removed Slots</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <span [innerHtml]="returnRemovedSlot(searchDetails?.additionalPref?.removeSlot)"></span>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>

                <ion-col>
                  <div class="custom-left">
                    <ion-card style="padding:.5rem;background: #F2E5D8;margin-top: .5rem;max-width: 50%;">
                      <ion-card-header (click)="isOpen6click()" style="padding: 0;">
                        <ion-row>
                          <ion-col size="11" class="ion-align-self-start"><span style="color:#565656">
                              COPY WEEKLY DIET PLAN
                            </span></ion-col>
                          <ion-col size="1">
                            <ion-icon name="chevron-down-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="isOpen6"></ion-icon>
                            <ion-icon name="chevron-up-outline" style="color: #0B713F;
                      position: absolute;
                      right: 0;
                      font-size: 2rem;
                      top: -5px;" *ngIf="!isOpen6"></ion-icon>
                          </ion-col>
                        </ion-row>

                      </ion-card-header>
                      <ion-card-content *ngIf="isOpen6" style="padding-top: 1rem;">
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">From Date</span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <ion-input id="open-modal" [value]="dateValue" placeholder="Select Date"
                              style="border:1px solid #f3f3f3; border-radius: 5px;padding:10px;"></ion-input>
                            <ion-modal trigger="open-modal">
                              <ng-template>
                                <ion-content style="position: absolute;
                                  left:0%;
                                  right:0%;
                                  width: 100%;
                                  top: 0; --background:#fff">
                                  <ion-datetime style="width: auto;
                                    margin: 0 auto;" showDefaultButtons="true" [min]="current_year"
                                    [max]="current_year" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY"
                                    #dateTime (ionChange)="dateValue = formatDate(dateTime.value)" presentation="date"
                                    color="theme"></ion-datetime>
                                </ion-content>
                              </ng-template>
                            </ion-modal>
                          </ion-col>
                        </ion-row>
                        <ion-row style="padding-bottom: .5rem;">
                          <ion-col size="5" class="ion-text-left">
                            <span style="font-size: .75rem;font-weight: 600;color:#000">To Date </span>
                          </ion-col>
                          <ion-col size="1"></ion-col>
                          <ion-col size="6" class="ion-text-left">
                            <ion-input id="open-modal1" [value]="dateValue2" placeholder="Select Date"
                              style="border:1px solid #f3f3f3; border-radius: 5px;padding:10px;"></ion-input>
                            <ion-modal trigger="open-modal1">
                              <ng-template>
                                <ion-content style="position: absolute;
                            left:0%;
                            right:0%;
                            width: 100%;
                            top: 0; --background:#fff">
                                  <ion-datetime style="width: auto;
                              margin: 0 auto;" showDefaultButtons="true" [min]="current_year" [max]="current_year"
                                    displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" #dateTime2
                                    (ionChange)="dateValue2 = formatDate(dateTime2.value)" presentation="date"
                                    color="theme"></ion-datetime>
                                </ion-content>
                              </ng-template>
                            </ion-modal>
                          </ion-col>
                        </ion-row>
                        <ion-row style="margin-bottom:.5rem">
                          <ion-col class="ion-text-center">
                            <ion-button (click)="submitCopyDietPlan()" expand="block" style="--border-color: #f3f3f3;
                        color:#fff;
                        --background: #b3b3b3;
                        height: 36px;" fill="outline">Copy Plan</ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-col>
              </ion-row>

            </div>
          </div>

          <!-- <ion-button *ngIf="username!=='beato'"
              style="font-size: 1rem; position: fixed; bottom: 15%; right:2rem; background: #0B713F;"
              (click)="registerUser()">Add User</ion-button> -->

          <!-- </ion-content> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<ion-footer *ngIf="searchData" style="    margin-bottom: 0.5rem;
margin-top: 0.5rem;">
  <ion-row>
    <ion-col>
      <ion-button (click)="gotoPreferences()" expand="block" style="color:#0B713F;--border-color:#0B713F;"
        fill="outline">Update Preferences</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="updateFoodChoices()" expand="block" style="color:#0B713F;--border-color:#0B713F;"
        fill="outline">Food choices</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="gotoDietPlan()" expand="block" style="color:#0B713F;--border-color:#0B713F;"
        fill="outline">Diet plan</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato'">
      <ion-button (click)="getToken()" expand="block" style="color:#0B713F;--border-color:#0B713F;" fill="outline">View
        User in the SDP App</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="gotoupdateRemarks()" expand="block" style="color:#0B713F;--border-color:#0B713F;"
        fill="outline">Slot Remarks</ion-button>
    </ion-col>
    <ion-col *ngIf="username==='beato'">
      <ion-button (click)="gotoBeato()" expand="block" style="--background:#0B713F;">Goto Beato</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato'">
      <ion-button (click)="gotoRecall()" expand="block" style="color:#0B713F;" fill="outline">Diet Recall</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato' && lifeStyle?.firstConsult===false">
      <ion-button (click)="updateProfile(true)" expand="block" style="color:#0B713F;" fill="outline">Release Diet
        plan</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato' && lifeStyle?.firstConsult===true">
      <ion-button (click)="updateProfile(false)" expand="block" style="color:#0B713F;" fill="outline">Stop Diet
        plan</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato'">
      <ion-button (click)="AddInstructions()" expand="block" style="color:#0B713F;" fill="outline">Add
        Instructions</ion-button>
    </ion-col>
    <ion-col *ngIf="username!=='beato'">
      <ion-button (click)="consultQA()" expand="block" style="color:#0B713F;" fill="outline">Consult QA</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

<div *ngIf="isOpenPopup && username!=='beato'"
  style="width: 100%; position: absolute; height: 100%; z-index: 10;background:#000;opacity:.5;"></div>
<div *ngIf="isOpenPopup && username!=='beato'"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: absolute; height: 60%; z-index: 10;left:20%; top:10%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col size="2" class="ion-text-center ion-align-self-center">Key:</ion-col>
    <ion-col size="8" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
       <ion-input  [(ngModel)]="key"></ion-input>
    </ion-col>
    <ion-col size="2" class="ion-text-center ion-align-self-center"></ion-col>
  </ion-row>
  <br><br> -->
  <ion-row>
    <ion-col size="2" class="ion-text-center ion-align-self-center">Profile ID:</ion-col>
    <ion-col size="8" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
      <ion-input placeholder="e.g. 91-9864655432" [(ngModel)]="userIdInput"></ion-input>
    </ion-col>
    <ion-col size="2" class="ion-text-center ion-align-self-center"></ion-col>
  </ion-row>
  <br><br>
  <ion-row *ngIf="link!=''">
    <ion-col size="12" target="_blank" class="ion-text-center" style="padding: 5px; border-radius: 5px;">
      <textarea readonly style="resize: none;" cols="35">{{link1}}</textarea>
      <br> <br>
      <ion-button (click)="copyMessage(link)"> {{link!=='' && link!='copied'?'Copy Url':'Copied'}}</ion-button>
      <ion-button (click)="clearMessage()">Clear</ion-button>
    </ion-col>

  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="isRegisteredUser()" style="color:#0B713F;--border-color:#0B713F; width: 50%;"
        fill="outline">Submit</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>