
<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="tab-item-active"  tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-item-active" tab="summary-lead">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Leads</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-item-active" tab="customers">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Cust</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-item-active" tab="admin">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
    <ion-tab-button class="tab-item-active" (click)="presentAlertConfirm()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
