<ion-content>
  <ion-grid style="padding: 0 1.5rem;">
    <ion-row style="margin-bottom: 1rem;">
      <ion-col class="ion-text-center">
        <span style="font-size: 1.9rem; color:#5D5FEF;font-weight:200;">Be premium for unlimited access</span><br>
        <span style="font-size: 1rem;margin-top:1rem;">Pick the plan that’s best for you, or call us to find it</span>
      </ion-col>
    </ion-row>
    <ion-row style="float: left;margin-bottom:1.2rem;">
      <span style="position: relative;" *ngFor="let plan of dietitianPlans; let ind=index;">
        <div *ngIf="plan.perid===3" style="    background: rgba(93, 95, 239, 1);
    color: #fff;
    font-size: 1rem;
    height: 28px;
    width: 95%;
    position: absolute;
    z-index: 11;
    top: -8px;
    left: 7px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: center;
    padding-top: 3px;">
    Most Recommended
  </div>
        <ion-card
        style="border:1px solid #5D5FEF;padding:1.2rem;min-height:211px;min-width:280px;margin:.5rem;float:left;"
         [ngClass]="{'reccom':plan.perid===3}">
        <ion-row style="margin-bottom: .7rem;">
          <ion-col>
            <span style="font-size: 1.125rem;">{{plan.perid}} Month{{plan.perid>1 ? "s":""}} ({{plan.discount}}
              Off)</span>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: .7rem;">
          <ion-col>
            <span style="font-size: 1.5rem;color:#5D5FEF">Rs. {{ roundValue(plan.discountedAmount / plan.perid) }}/per
              month</span>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: .5rem;">
          <ion-col>
            <span style="font-size: .8rem;color:#636364">Total Rs. {{plan.discountedAmount}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: .8rem;">
          <ion-col>
            <span style="font-size: .7rem;color:#000">Save {{plan.discount}} with Yearly Plan</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="gotoPayment(plan)" class="ion-padding-horizontal" size="default" color="theme"
              expand="block" fill="solid"
              style="--ion-color-base:#6277eb !important;width: 100%;padding-left: 0;padding-right: 0;">
              Buy Now</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </span>

    </ion-row>

    <!-- Contact div -->
    <ion-row style="width: 92%;background: #ECEFFB;
    padding: 1rem;margin-top: 11rem;
    padding-bottom: 1rem;left: 2rem;
    height:10rem;margin-left: 0.5rem;">
      <!-- <ion-row style="background-color: aqua;width: 100%;"> -->
      <ion-col size="4" style="cursor: pointer;" (click)="goToEmail()">
        <ion-item lines="none" style="--background:none">
          <ion-icon name="mail-outline" style="font-size: 2rem;margin: auto;"></ion-icon>
        </ion-item>
        <ion-item lines="none" style="font-size: 1.1rem;font-weight: 800;--background:none;width: 100%">
          <p style="margin: auto;">Email</p>
        </ion-item><ion-item lines="none" style="--background:none;--min-height:10px;">
          <p style="margin: auto;">dietitian@smartdietplanner.com</p>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item lines="none" style="--background:none;">
          <ion-icon name="call-outline" style="font-size: 2rem;margin: auto;"></ion-icon>
        </ion-item>
        <ion-item lines="none" style="font-size: 1.1rem;font-weight: 800;--background:nonemargin: auto;">
          <p style="margin: auto;">Call Phone</p>
        </ion-item><ion-item lines="none" style="--background:none;--min-height:10px;">
          <p style="margin: auto;">+91-7037679715</p>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="text-align: center;cursor: pointer;" (click)="goToWhatsapp()">
        <ion-item lines="none" style="--background:none">
          <ion-icon name="chatbubble-outline" style="font-size: 2rem;margin: auto;"></ion-icon>
        </ion-item>
        <ion-item lines="none" style="font-size: 1.1rem;font-weight: 800;--background:none;">
          <p style="margin: auto;">Whatsapp Chat</p>
        </ion-item><ion-item lines="none" style="--background:none;--min-height:10px;">
          <p style="margin: auto;">+91-9999118595</p>
        </ion-item>
      </ion-col>
      <!-- </ion-row> -->
    </ion-row>
  </ion-grid>
  <!-- Once you Pay Div -->
  <div style="width: 89%;
    background: #637ae14d;
    padding: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    left: 2rem;
    position: relative;height:320px;">
    <ion-row style="margin-bottom: 1rem;margin-top: .5rem;width:100%;">
      <ion-col class="ion-text-center">
        <span style="font-size: 1.6rem;
    font-weight: 200;
    color: #6277eb;">Once you pay , you continue using it with no restrictions:</span>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 1rem;width:100%;">
      <ion-col size="6">
        <img src="./assets/icon/Catalog--publish.png" style="float: left;">
        <div style="float: left;
    vertical-align: middle;
    position: absolute;
    left: 3rem;"><span style="font-size: 1rem;font-weight:500;">Streamlined Client Management:</span><br>
          <span style="font-size: .8rem;">Easily manage client profiles, track food preferences, store session notes,
            and access recall data for better personalized service.</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <img style="float: left;" src="./assets/icon/Catalog--publish.png">
        <div style="float: left;
      vertical-align: middle;
      position: absolute;
      left: 3rem;"><span style="font-size: 1rem;font-weight:500;">Efficient Diet Plan Creation:</span><br>
          <span style="font-size: .8rem;">Generate AI-driven plans for various goals, customize templates, and update
            automated plans to save time and boost client satisfaction.</span>
        </div>
      </ion-col>

    </ion-row><br><br>
    <ion-row style="margin-top: 1rem;margin-bottom: 1rem;width:100%;">
      <ion-col size="6">
        <img style="float: left;" src="./assets/icon/Catalog--publish.png">
        <div style="float: left;
      vertical-align: middle;
      position: absolute;
      left: 3rem;"><span style="font-size: 1rem;font-weight:500;">Enhanced Client Engagement:</span><br>
          <span style="font-size: .8rem;">Share personalized diet plans digitally, complete with recipes, macro
            tracking, and NutriScores, including a 7-day PDF option for convenience.</span>
        </div>

      </ion-col>
      <ion-col size="6">
        <img style="float: left;" src="./assets/icon/Catalog--publish.png">
        <div style="float: left;
      vertical-align: middle;
      position: absolute;
      left: 3rem;"><span style="font-size: 1rem;font-weight:500;">Data-Driven Insights:</span><br>
          <span style="font-size: .8rem;">Track client dietary intake with comprehensive, real-time quantitative and
            qualitative insights to fine-tune recommendations and ensure better outcomes.</span>
        </div>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>
  <br><br><br><br><br>
</ion-content>

<div *ngIf="showBuyPopup" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="showBuyPopup" style="padding: 1.5rem;border-radius: 10px;width: 30%; position: fixed; height: 40%; 
  z-index: 12;left:30%; top:10%;background: #fff;">
  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item lines="none" style="font-weight: bold;">
    To buy the plan:
  </ion-item>
  <ion-item lines="none" style="font-style: italic;">
    Call us / WhatsApp us / Email us
  </ion-item>
  <ion-item lines="none" style="font-style: italic;">
    Our representative will help you.
  </ion-item>
  <br>
</div>