ion-toolbar {
    --background: #F6F7FC;
    --border-color: #F6F7FC;
}
ion-searchbar{
    --background: #FFFFFF;
    --border-radius: 7px;
}
ion-content {
    --background: #F6F7FC;
}
.showLeedsMore{
    height: auto;
    --background: #FFFFFF;
    border-radius: 23px;
    border: var(--ion-color-theme);
}
.showLess{
    height: 150px;
    --background: #FFFFFF;
    border-radius: 23px;
    border: var(--ion-color-theme);
}
.cardLabel{
    font-size: 14px;
    color: var(--ion-color-theme);
}
.cardSubLabel{
    color: #8C8E93;
}
.buttonBackground{
    background: #FFFFFF;
}

.ion-card-update-btn{
    background-color: #fff;
    position: relative;
    top: 16px;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}


  .br-20{
      border-radius: 20px;
  }


  .mb-20{
      margin-bottom: 20px;
  }

.border-bottom-light-grey{
    border-bottom: 1px solid lightgrey;
}