<ion-header class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="headerBackBtn"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>About Us</ion-title> -->
    <ion-label class="headerFont">Summary of Hot Leads</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding-horizontal-20">
      <!-- <ion-label class="headerFont">Summary of Hot Leads</ion-label> -->
      <ion-searchbar
        searchIcon="none"
        placeholder="Search for food"
        class="ion-no-padding mb-20"
        (ionChange)="leadSearch($event)"
      ></ion-searchbar>
    <div>
      <ion-card  *ngFor="let leadItem of searchFilterredList; let i = index"  class="ion-no-margin ion-padding ion-margin-bottom-20 br-20">  
       <div [ngClass]="{'showLeedsMore': leadItem.isMoreLeads == true, 'showLess' : leadItem.isMoreLeads != true }">
         <ion-icon color="theme" size="large" (click)="showLeadsMore(i)" class="ion-float-end"  [name]="leadItem.isMoreLeads ? 'chevron-up-outline' : 'chevron-down-outline' "></ion-icon>
         <div *ngFor="let item of leadItem.leadInfo | keyvalue ">
          <ion-row *ngIf="item.key != 'remarks'">
            <ion-col  size="4" >
               <ion-label class="cardLabel">{{toNormalLabel(item.key)}}</ion-label>
            </ion-col>
            <ion-col>
              <span class="ion-padding-start cardSubLabel">{{item.key == 'subOption' ? subOptionName(item.value) : item.value}}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.key == 'remarks'">
            <ion-col >
              <ion-label class="cardLabel">{{toNormalLabel(item.key)}}</ion-label>
           </ion-col>
          </ion-row>
          <ion-row *ngIf="item.key == 'remarks'">
            <ion-col>
              <span *ngFor="let subItem of item.value" class="cardSubLabel">
                <ion-row>
                  <ion-col>
                    {{dateFormat(subItem.createdAt)}}
                  </ion-col>
                  <ion-col>
                    {{subItem.createdBy}}
                  </ion-col>
                </ion-row>
                <ion-row class="border-bottom-light-grey">
                  <ion-col>
                    {{subItem.remark}}
                  </ion-col>
                </ion-row>
              </span>
           </ion-col>
          </ion-row>
         </div>
        <!-- <ion-col *ngIf="item.key === 'remarks'" >
          <span *ngFor="let subItem of item.value" class="ion-padding-start cardSubLabel">
            <ion-row>
              <ion-col>
                {{subItem.createdAt}}
              </ion-col>
              <ion-col>
                {{subItem.createdBy}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{subItem.remark}}
              </ion-col>
            </ion-row>
          </span>
        </ion-col> -->
       </div>
        <div class="ion-card-update-btn ion-text-center">
          <ion-button (click)="updateSummary(leadItem,i)" color="theme" shape="round" fill="outline">
            Update
          </ion-button>
          <ion-row>
           
        </ion-row>
        </div>
        
      </ion-card>
    </div>
  </div>
</ion-content>
