@import "../../theme/fonts.scss";

ion-content {
  --background: #F6F7FC !important;
  --padding-bottom: 20% !important;
 }

.personalise-covid {
  ion-card {
    display: inline-block;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 0px rgb(129 133 131 / 10%) !important;
    // margin: 20px;

  }
}

.plan-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 0;
  height: 175px;
}


.sub-foodItem-header {
  font-size: 1rem;
  font-weight: bold;
  color: #4C5264;
}

.sub-foodItem-sub-header {
  font-size: 0.85rem;
}

.sub-foodItem-sub-header2{
  display: block;
}

.sub-foodItem-btn {
  border: none !important;
  width: auto !important;
  // border-radius: 20px;
  color: #1492E6;
  --background: transparent;
  // --border-radius: 20px;
  min-width: 80px !important;
  margin-top: 5px;
  // font-size: 0.875rem !important;
  font-family: "gt-america-standard-bold", "Helvetica Neue", Arial, sans-serif;
}

.sub-cards {
  background: #fff;
  // border-radius: 25px;
  margin-top: 0;
}

.ion-card-footer {
  // position: fixed;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 20%;
  background: #03a3a4;
}

.premium {
  height: 30px;
  position: absolute;
  bottom: 5px;
  display: block;
  left: 18px;
}

.qa-day-skeleton {
  margin-top: 0;
  padding: 0;
  height: 300px;
  width: 90%;
  display: inline-table;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px rgb(129 133 131 / 10%) !important;
}

.activity-skeleton {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.immunity-section {
  --background: #FD9F33 !important;
}

.detox-section {
  --background: #4CB271 !important;
}

.post-covid-section {
  --background: #754B29 !important;
}

.weight-loss-plus-section {
  --background: #0B94C1 !important;
}

.diabetes-section {
  --background: #D14322 !important;
}

.cholesterol-section {
  --background: #A31E79 !important;
}

.hypertension-section {
  --background: #FF5D56 !important;
}

.pcos-section {
  --background: #FF5A7D !important;
}

.weight-loss {
  --background: #01A3A4 !important;
}

.mucsle {
  --background: #0B94C1 !important;
}

.fat {
  --background: #FD980F !important;
}

.premium-btn{
  --background: #fff !important;
}

.premium-lock{
  height: 3vh;
  padding-right: 2px;
}

ion-button {
  //color: rgb(255, 255, 255);
  max-height: 1.75rem;
  font-size: 0.8rem;
  width: 100px;

  position: absolute;
  bottom: 40px;
  left: 18px;
  border-radius: 100px;
}

::ng-deep .immunity-section-border {
  --border-color: #FD9F33 !important;
  --color: #FD9F33 !important;
}

::ng-deep .detox-section-border {
  --border-color: #4CB271 !important;
  --color: #4CB271 !important;
}

::ng-deep .post-covid-section-border {
  --border-color: #754B29 !important;
  --color: #754B29 !important;
}

::ng-deep .weight-loss-plus-section-border {
  --border-color: #0B94C1 !important;
  --color: #0B94C1 !important;
}

::ng-deep .diabetes-section-border {
  --border-color: #D14322 !important;
  --color: #D14322 !important;
}

::ng-deep .pcos-section-border {
  --border-color: #FF5A7D !important;
  --color: #FF5A7D !important;
}

::ng-deep .mucsle-border {
  --border-color: #0B94C1 !important;
  --color: #0B94C1 !important;
}

::ng-deep .fat-border {
  --border-color: #FD980F !important;
  --color: #FD980F !important;
}

::ng-deep .cholesterol-section-border {
  --border-color: #A31E79 !important;
  --color: #A31E79 !important;
}

::ng-deep .hypertension-section-border {
  --border-color: #FF5D56 !important;
  --color: #FF5D56 !important;
}

::ng-deep .weight-loss-border {
  --border-color: #01A3A4 !important;
  --color: #01A3A4 !important;
}

.white-background {
  --background: #FFF;
}

.personalisation {
  font-size: 0.85rem;
  font-style: italic;
  font-family: $font;
  color: #4c5264;
  background: #fff;
}

.legend-border{
  height: 125px;
  position: absolute;
  z-index: 9;
  top: 14%;
  border-radius: 100px;
}

.recom{
  width: 13vh;
  margin-left: 16px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}

.stacked-cards{
  position: absolute;
  // top: 10p;
  // padding-top: 12px;
  width: 100%;
  transition-duration: 0.3s;
  // transition: transform 1.5s 0s, opacity 1.25s 0s;
  // transform: translateY(50vw);
}

.expand-cards{
  position: absolute;
  // top: 10p;
  // padding-top: 12px;
  width: 100%;
  transition-duration: 0.3s;
  // transition: transform 1.5s 0s, opacity 1.25s 0s;
  // transform: translateY(50vw);
}

.show-less-txt{
  color: #1492E6;
  font-size: 0.9rem;
}