<!-- <div style="background: rgba(99,122,225,12%); height: 4.8rem; width: 100%;display: flex;"> -->
<!-- </div> -->
<ion-row class="ion-justify-content-between ion-align-items-center"
  style="width: 100%;height: 2rem;background: rgba(93, 95, 239, 1);color: #5D5FEF;font-family: Actor; font-size: 15px; font-weight: 400; /* line-height: 44px; */ letter-spacing: 0.03em; text-underline-position: from-font; text-decoration-skip-ink: none; padding-left: 2%; ">
<ion-col size="2" class="ion-text-left">
  <div class="title-menu" style="border-right: 1px solid #fff;height: 30px;float: left;font-weight:bold;color:#fff;font-size: 1rem;    width: 100%;
    top: .4rem;
    position: relative;
    font-family: sans-serif;">
    {{menuName?.menu}} - <span style="color:#fff;font-weight:200;">{{menuName?.title}}</span>
  </div>
  <ion-icon style="float: left;position:relative;margin-left:5px;top:2px;color:#fff;"
    name='information-circle-outline' (click)="openPopup()"></ion-icon>
</ion-col>
  <ion-col size="10" class="ion-text-left" >
    <div style="margin-left: 1rem;color:#fff;font-size: 1rem;
    font-family: sans-serif;    width: 100%;
    top: -5px;
    position: relative;">
  <span *ngIf="hasExpired">
    As a free user you have added {{count}} out of 5 users. Get Premium for unlimited access.</span>
  <span *ngIf="!hasExpired">Your Plan will Expire on {{planExpiry}}</span>
  </div>
</ion-col>
</ion-row><br>