<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Diet Plan Analysis </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="close-container">
    <ion-icon name="close-outline" class="close-btn" (click)="onBack()"></ion-icon>
  </div>
  <div>
    <ion-row *ngIf="weeks && weeks.length" class="date-container">
      <ion-col (click)="prevDate()" class="ion-text-center">
        <ion-icon class="date-arrows arrow" name="chevron-back-outline" id="date-prev-arrow"></ion-icon>
      </ion-col>
  
      <ion-col size="8">
        <ion-slides #slides2 [options]="slideOptsDate" pager="false" (ionSlideDidChange)="dateSlideChanged($event)">
          <ion-slide *ngFor="let week of weeks;let i=index;">
            <span class="date header-date" id="currentDate">{{week.displayFormat}}</span>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col (click)="nextDate()" class="ion-text-center">
        <ion-icon class="date-arrows arrow" name="chevron-forward-outline" id="date-next-arrow"></ion-icon>
      </ion-col>
    </ion-row>
  
    <div class="parent">
      <!-- <div class="bar-section">
        <img src="./assets/img/premium-crown.png" class="premium-right" />
        <ion-row>
          <ion-col class="ion-text-left" size="2"><span class="score"></span>Score</ion-col>
          <ion-col class="ion-text-center ion-align-self-center" size="8.5">
            <div class="progress-container">
              <div class="progress-bar" [ngStyle]="{width:totalScore+'%', background: totalScore >= 85 ? 'green' : (totalScore < 85 && totalScore >= 70) ? 'orange' : 'red'}"></div>
            </div>
          </ion-col>
          <ion-col class="ion-text-right" size="1.5"><span class="percent-num">{{totalScore}}%</span></ion-col>
        </ion-row>
      </div> -->
  
      <div class="bar-section calories-section" [ngStyle]="{background: setColor}">
        <ion-row>
          <ion-col class="ion-text-left" size="2"><span class="score vertical-center">Score</span></ion-col>
          <ion-col class="ion-text-center ion-align-self-center" size="8.5">
            <div class="progress-container">
              <div class="progress-bar" [ngStyle]="{width:totalScore+'%', background: setColor}"></div>
            </div>
          </ion-col>
          <ion-col class="ion-text-right" size="1.5"><span class="percent-num vertical-center padding-left-10">{{totalScore}}%</span></ion-col>
        </ion-row>
        <ion-row>
          <!-- <ion-col size="1"></ion-col> -->
          <ion-col>
            <ion-card class="ion-no-margin ion-margin-top">
              <ion-item lines="none" class="border-radious15">
                <ion-avatar slot="start">
                  <img src="assets/img/manjri_anime.png">
                </ion-avatar>
                <!-- <span class="ion-text-left"> -->
                  <span class="header-message-tool ion-text-left" [innerHTML]="activeTip"></span>
                <!-- </span> -->
                
                  <!-- Hi, I am Manjari Chandra with 24 Yrs Experience in Clinical Nutrition.</span> -->
              </ion-item>
            </ion-card>
          </ion-col>
          <!-- <ion-col size="1"></ion-col> -->
        </ion-row>
      </div>
      <br>
  
      <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Calories</span><br/>
            <span class="sub-title">How Much To Eat ?</span>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <span class="circular-progress">
              <span class="actual-txt">{{caloriesCheck.points <= 9 ? "0"+ roundingVal(caloriesCheck.points) : roundingVal(caloriesCheck.points) }}</span>
              <span class="total-txt">50</span>
              <svg viewBox="0 0 50 50" class="donut">
                <circle class="donut-ring" cx="25" cy="25" r="22" fill="transparent" stroke="#CCC" stroke-width="3" />
                <circle class="donut-ring-progress" cx="25" cy="25" r="22" fill="transparent" stroke="#01A3A4"
                  stroke-width="3" attr.stroke-dasharray="{{caloriesCheck?.progressPer}} {{caloriesCheck?.totalProgressPer}}"/>
              </svg>
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="border-top">
          <ion-col class="ion-text-center">
            <!-- outerStrokeGradient="{{((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) <= 110 ? true : false}}" 
  
                [outerStrokeGradientStopColor]="isDetox ? suggestedCalories.totalCalories > detoxMaxValue ? 'orange' : '#0F8E8E' : 
                !isDetox && ((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) > 110 ? '#df5151' : '#24EAEB'" -->
            <div [ngClass]="{'heart-beat-animation': (isDetox ? suggestedCalories.totalCalories > detoxMaxValue : ((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) > 110)}">
              <circle-progress radius="55" percent="{{(suggestedCalories.totalCalories*100)/suggestedCalories.recomended}}" 
  
                
  
              [innerStrokeColor]="'rgb(125,125,125,0.2)'" 

              
              [outerStrokeColor]="isDetox ? suggestedCalories.totalCalories > detoxMaxValue ? 'orange' : '#0F8E8E' : 
              !isDetox && ((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) > 110 ? '#df5151' : '#0CADAD'"

              backgroundColor="#fff" outerStrokeWidth="5" innerStrokeWidth="5"

              title="{{roundingVal(suggestedCalories.totalCalories)}}" [titleFontSize]="22" 

              titleColor="{{isDetox ? suggestedCalories.totalCalories > detoxMaxValue ? 'orange' : '#0F8E8E' : 
              !isDetox && ((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) > 110 ? '#df5151' : '#0CADAD'}}"

              [titleFontWeight]="500" subtitle="Calories" 

              subtitleColor="#595C5C" 

              [subtitleFontWeight]="400" [subtitleFontSize]="15" units="kcal" [unitsFontSize]="10" [unitsFontWeight]="400" 

              unitsColor="{{isDetox ? suggestedCalories.totalCalories > detoxMaxValue ? 'orange' : '#0F8E8E' : 
              !isDetox && ((suggestedCalories.totalCalories*100)/suggestedCalories.recomended) > 110 ? '#df5151' : '#0CADAD'}}">
            </circle-progress>
            </div>
           
            <!-- <ion-card class="card-1 calories-card-new">
              <ion-card-header class="ion-no-padding">
                <div class="title ion-text-center">Calories</div>
                <img class="content-img" src="./assets/img/calories1.jpeg">
              </ion-card-header>
              <ion-card-content>
                <ion-row class="ion-text-center">
                  <ion-col size="6">
                    <div class="total-cal">{{suggestedCalories.totalCalories}}
                      <span>cal </span>
                      <ion-icon *ngIf="!caloriesCheck.isValid" name="alert-circle" id="currentCaloriesAlert"
                        class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="caloriesCheck.isValid" name="checkmark-circle" id="currentCaloriesCheck"
                        class="calories-check color-green"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <div class="recommended">{{suggestedCalories.minus10}} to {{suggestedCalories.plus10}}
                      <span>Recommended</span>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card> -->
            <!-- <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title">Calories</div>
                  <img class="content-img" src="./assets/img/calories1.jpeg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">
                      {{suggestedCalories.minus10}} to {{suggestedCalories.plus10}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalCalories}}</span> <span>cal </span>
                      <ion-icon *ngIf="!caloriesCheck.isValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="caloriesCheck.isValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <div class="recom-text">Recommended</div>
            <span><span class="recommended-range vertical-center">{{suggestedCalories.minus10}} - {{suggestedCalories.plus10}}</span><span class="recommended-unit vertical-center">KCAL</span></span>
          </ion-col>
        </ion-row>
        <br/>
        <ion-row class="ion-padding-top border-top ion-padding-bottom">
          <ion-col class="pad-top10">
            <ion-row>
              <ion-col class="ion-text-end pad-top8"  size="2">
                <span class="legend" [ngStyle]="{'border-color': chartDinner, 'background-color': chartDinner}"></span>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-col class="type-text">
                    Dinner
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="type-cal">
                    {{dinnerTotal}} Kcal({{roundingVal(dinnerTotal*100/totalCal)}}%)
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <br/>
            <ion-row class="ion-padding-top">
              <ion-col class="ion-text-end pad-top8" size="2">
                <span class="legend" [ngStyle]="{'border-color': chartSnacks, 'background-color': chartSnacks}"></span>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-col class="type-text">
                    Snacks
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="type-cal">
                    {{snacksTotal}} Kcal({{roundingVal(snacksTotal*100/totalCal)}}%)
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- <ion-col size="0.5"></ion-col> -->
          <ion-col>
            <canvas id="mainCaloriesChart" width="120" height="120"></canvas>
          </ion-col>
          <!-- <ion-col size="0.5"></ion-col> -->
          <ion-col class="pad-top10">
            <ion-row class="ion-text-end">
              <ion-col>
                <ion-row>
                  <ion-col class="type-text">
                    Breakfast
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="type-cal">
                    {{breakFastTotal}} Kcal({{roundingVal(breakFastTotal*100/totalCal)}}%)
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-end pad-top8" size="2">
                <span class="legend" [ngStyle]="{'border-color': chartBreakfast, 'background-color': chartBreakfast}"></span>
              </ion-col>
            </ion-row>
            <br/>
            <ion-row class="ion-padding-top ion-text-end">
              <ion-col>
                <ion-row>
                  <ion-col class="type-text">
                    Lunch
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="type-cal">
                    {{lunchTotal}} Kcal({{roundingVal(lunchTotal*100/totalCal)}}%)
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="ion-text-end pad-top8"  size="2">
                <span class="legend" [ngStyle]="{'border-color': chartLunch, 'background-color': chartLunch}"></span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding font-1 border-top">
          <ion-col class="content-list-title">Highest in Calories</ion-col>
        </ion-row>
  
        <ion-row class="list-container">
          <ion-col>
            <ion-item *ngFor="let item of caloriesSortArray | slice:0:3" lines="none">
              <span class="no-wrap font-point-8">{{item.Food}}</span>
              <span class="font-point-8" slot="end">{{roundingVal(item.Calories)}} Kcal</span>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding border-top" *ngIf="suggestedCalories.totalCalories < suggestedCalories.minus10 || suggestedCalories.totalCalories > suggestedCalories.plus10">
          <ion-col>
            <ion-item lines="none" class="error-container">
              <ion-avatar slot="start">
                <img src="assets/img/manjri_anime.png">
              </ion-avatar>
              <span class="header-message-tool ion-text-left">
                <span class="notes" *ngIf="suggestedCalories.totalCalories < suggestedCalories.minus10">Increase Calories for apt bodily activities</span>
                <span class="notes" *ngIf="suggestedCalories.totalCalories > suggestedCalories.plus10">Reduce calories for adequate fat burning</span>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-padding border-top" *ngIf="suggestedCalories.totalCalories > suggestedCalories.minus10 && suggestedCalories.totalCalories < suggestedCalories.plus10">
          <ion-col>
            <ion-item lines="none" class="error-container">
              <ion-avatar slot="start">
                <img src="assets/img/manjri_anime.png">
              </ion-avatar>
              <span class="header-message-tool ion-text-left">
                <span class="notes">Calories are in recommended range</span>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <!-- <ion-row class="padding-top-1">
          <ion-col class="ion-text-left">
            <span class="notes color-orange" *ngIf="!caloriesCheck.isValid">You need to reduce Calories in plan
            </span>
          </ion-col>
        </ion-row> -->
      </div>
      <br>
  
      <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Nutrients</span><br/>
            <span class="sub-title">What To Eat ?</span>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <span class="circular-progress">
              <span class="actual-txt">{{nutrientsCheck.points <= 9 ? "0" + roundingVal(nutrientsCheck.points) : roundingVal(nutrientsCheck.points)}}</span>
              <span class="total-txt">30</span>
              <svg viewBox="0 0 50 50" class="donut">
                <circle class="donut-ring" cx="25" cy="25" r="22" fill="transparent" stroke="#CCC" stroke-width="3" />
                <circle class="donut-ring-progress" cx="25" cy="25" r="22" fill="transparent" stroke="#01A3A4"
                  stroke-width="3" attr.stroke-dasharray="{{nutrientsCheck.progressPer}} {{nutrientsCheck?.totalProgressPer}}"/>
              </svg>
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="border-top">
          <ion-row>
            <ion-col class="ion-padding">
              <canvas id="mainNutrientsChart" width="120" height="120"></canvas>
            </ion-col>
            <ion-col class="ion-padding">
              <ion-row>
                <ion-col class="ion-padding pad-top8" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartCarbs, 'background-color': chartCarbs}"></span>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col class="type-text">
                      Carbs
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="type-cal">
                      {{roundingVal(suggestedCalories.totalCarbs) * 4}} Kcal ({{averageCarbs}}%)
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-padding pad-top13" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartFats, 'background-color': chartFats}"></span>
                </ion-col>
                <ion-col class="pad-top5">
                  <ion-row>
                    <ion-col class="type-text">
                      Fats
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="type-cal">
                      {{roundingVal(suggestedCalories.totalFat) * 9}} Kcal ({{averageFats}}%)
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-padding pad-top13" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartProtien, 'background-color': chartProtien}"></span>
                </ion-col>
                <ion-col class="pad-top5">
                  <ion-row>
                    <ion-col class="type-text">
                      Protein
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="type-cal">
                      {{roundingVal(suggestedCalories.totalProtien) * 4}} Kcal ({{averageProtein}}%)
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          
          <div class="bar-section border-top">
            <ion-row class="ion-padding-top">
              <ion-col><span class="content-title">Carbs</span> <span class="nutri-score-val"> ({{averageCarbs}} %)</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- <span [ngStyle]="{'margin-left': (carbsPer == 100 ? (carbsPer - 11) : (carbsPer - 6)) +'%'}">{{roundingVal(suggestedCalories.totalCarbs)}}</span> -->
                <div class="progress-container-nutri">
                  <div class="progress-bar" [ngStyle]="{width: roundingVal((averageCarbs * 100)/maxPerCarbs) +'%', background: (averageCarbs) < minCarbs  ? 'orange' : (averageCarbs) >= maxCarbs ? 'red' : '#7BB642'}"></div>
                  <div class="progress-bar-range" [ngStyle]="{'width': roundingVal(((100 * maxCarbs) / maxPerCarbs) - ((100 * minCarbs) / maxPerCarbs)) + '%',
                  'margin-left': roundingVal((minCarbs * 100) / maxPerCarbs) + '%' }"></div>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal((minCarbs * 100) / maxPerCarbs)) - 2) + '%' }">{{minCarbs}}</span>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal(((100 * maxCarbs) / maxPerCarbs) - ((100 * minCarbs) / maxPerCarbs))) - 10) + '%' }">{{maxCarbs}}</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="pad-top-30">
              <ion-col><span class="content-title">Fats</span> <span class="nutri-score-val"> ({{averageFats}} %)</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- <span [ngStyle]="{'margin-left': (caloriesPer == 100 ? (caloriesPer - 11) : (caloriesPer - 6))  +'%'}">{{roundingVal(suggestedCalories.totalFat)}}</span> -->
                <div class="progress-container-nutri">
                  <div class="progress-bar" [ngStyle]="{width:roundingVal(((averageFats) * 100)/maxPerFats)+'%', background: (averageFats) < minFats  ? 'orange' : (averageFats) >= maxFats ? 'red' : '#7BB642'}"></div>
                  <div class="progress-bar-range" [ngStyle]="{'width': roundingVal(((100 * maxFats) / maxPerFats) - ((100 * minFats) / maxPerFats)) + '%',
                  'margin-left': roundingVal((minFats * 100) / maxPerFats) + '%' }"></div>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal((minFats * 100) / maxPerFats)) - 2) + '%' }">{{minFats}}</span>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal(((100 * maxFats) / maxPerFats) - ((100 * minFats) / maxPerFats))) - 10) + '%' }">{{maxFats}}</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="pad-top-30">
              <ion-col><span class="content-title">Proteins</span> <span class="nutri-score-val"> ({{averageProtein}} %)</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- <span [ngStyle]="{'margin-left': (proteinPer == 100 ? (proteinPer - 11) : (proteinPer - 6)) +'%'}">{{roundingVal(suggestedCalories.totalProtein)}}</span> -->
                <div class="progress-container-nutri">
                  <div class="progress-bar" [ngStyle]="{width:roundingVal((averageProtein * 100)/maxPerProtien)+'%', background: (averageProtein) < minProtein ? 'orange' : averageProtein > maxProtein ? 'red' : '#7BB642'}"></div>
                  <div class="progress-bar-range" [ngStyle]="{'width': roundingVal(((100 * maxProtein) / maxPerProtien) - ((100 * minProtein) / maxPerProtien)) + '%',
                  'margin-left': roundingVal((minProtein * 100) / maxPerProtien) + '%' }"></div>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal((minProtein * 100) / maxPerProtien)) - 2) + '%' }">{{minProtein}}</span>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal(((100 * maxProtein) / maxPerProtien) - ((100 * minProtein) / maxPerProtien))) - 10) + '%' }">{{maxProtein}}</span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="pad-top-30">
              <ion-col><span class="content-title">Fiber</span> <span class="nutri-score-val"> ({{roundingVal(suggestedCalories.totalFiber)}} gm)</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <!-- <span [ngStyle]="{'margin-left': (fatsPer == 100 ? (fatsPer - 11) : (fatsPer - 6)) +'%'}">{{roundingVal(suggestedCalories.totalFiber)}}</span> -->
                <div class="progress-container-nutri">
                  <div class="progress-bar" [ngStyle]="{width:fiberPer+'%', background: '#7BB642'}"></div>
                  <div class="progress-bar-range" [ngStyle]="{'width': roundingVal(((100 * maxFiber) / maxPerFiber) - ((100 * minFiber) / maxPerFiber)) + '%',
                  'margin-left': roundingVal((minFiber * 100) / maxPerFiber) + '%' }"></div>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal((minFiber * 100) / maxPerFiber)) - 2) + '%' }">{{minFiber}}</span>
                  <span class="range-start" [ngStyle]="{'margin-left': ((roundingVal(((100 * maxFiber) / maxPerFiber) - ((100 * minFiber) / maxPerFiber))) - 10) + '%' }">{{maxFiber}}</span>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <!-- <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title carbs">Carbs</div>
                  <img class="content-img" src="./assets/img/carbs.jpeg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">{{minCarbs}} to {{maxCarbs}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalCarbs}}</span> <span>gms</span>
                      <ion-icon *ngIf="!nutrientsCheck.carbsIsValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="nutrientsCheck.carbsIsValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col></ion-col>
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title fats">Fats</div>
                  <img class="content-img" src="./assets/img/fats.jpeg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">{{minFats}} to {{maxFats}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalFat}}</span> <span>gms</span>
                      <ion-icon *ngIf="!nutrientsCheck.fatIsValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="nutrientsCheck.fatIsValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->
        </ion-row>
        <ion-row class="ion-padding font-1 border-top margin-top30" (click)="openCloseNutrients('carbs')">
          <ion-col class="content-list-title">Highest in Carbs</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-down" style="font-size: 1.5rem;" *ngIf="!showCarbsList"></ion-icon>
            <ion-icon name="chevron-up" style="font-size: 1.5rem;" *ngIf="showCarbsList"></ion-icon>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding-top border-top list-container" *ngIf="showCarbsList">
          <ion-col>
            <ion-item *ngFor="let item of carbsSortArray | slice:0:3" lines="none">
              <span class="no-wrap font-point-8">{{item.Food}}</span>
              <span class="font-point-8"  slot="end">{{roundingVal(item.Carbs)}} Gms</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding font-1 border-top" (click)="openCloseNutrients('fats')">
          <ion-col class="content-list-title">Highest in Fats</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-down" style="font-size: 1.5rem;" *ngIf="!showFatsList"></ion-icon>
            <ion-icon name="chevron-up" style="font-size: 1.5rem;" *ngIf="showFatsList"></ion-icon>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding-top border-top list-container" *ngIf="showFatsList">
          <ion-col>
            <ion-item *ngFor="let item of fatsSortArray | slice:0:3" lines="none">
              <span class="no-wrap font-point-8">{{item.Food}}</span>
              <span class="font-point-8"  slot="end">{{roundingVal(item.Fat)}} Gms</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding font-1 border-top" (click)="openCloseNutrients('protien')">
          <ion-col class="content-list-title">Highest in Proteins</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-down" style="font-size: 1.5rem;" *ngIf="!showProtienList"></ion-icon>
            <ion-icon name="chevron-up" style="font-size: 1.5rem;" *ngIf="showProtienList"></ion-icon>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-padding-top border-top list-container" *ngIf="showProtienList">
          <ion-col>
            <ion-item *ngFor="let item of protiensSortArray | slice:0:3" lines="none">
              <span class="no-wrap font-point-8">{{item.Food}}</span>
              <span class="font-point-8"  slot="end">{{roundingVal(item.Protien)}} Gms</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title proteins">Proteins</div>
                  <img class="content-img" src="./assets/img/protein.jpeg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">{{minProtein}} to {{maxProtein}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalProtien}}</span> <span>gms</span>
                      <ion-icon *ngIf="!nutrientsCheck.proteinIsValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="nutrientsCheck.proteinIsValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col></ion-col>
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title fiber">Fiber</div>
                  <img class="content-img" src="./assets/img/fiber.jpeg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">{{minFiber}} to {{maxFiber}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalFiber}}</span> <span>gms</span>
                      <ion-icon *ngIf="!nutrientsCheck.fiberIsValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                      <ion-icon *ngIf="nutrientsCheck.fiberIsValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row> -->
        <!-- <ion-row class="padding-top-1">
          <ion-col class="ion-text-left">
            <span class="notes color-orange" *ngIf="reduceCarbs">Reduce Carbs, </span>
            <span class="notes color-orange" *ngIf="reduceProtein">Reduce Protein, </span>
            <span class="notes color-orange" *ngIf="reduceFiber">Reduce Fiber, </span>
            <span class="notes color-orange" *ngIf="reduceFats">Reduce Fats</span>
  
            <span class="notes color-orange" *ngIf="increaseCarbs">Increase Carbs, </span>
            <span class="notes color-orange" *ngIf="increaseProtein">Increase Protein, </span>
            <span class="notes color-orange" *ngIf="increaseFiber">Increase Fiber, </span>
            <span class="notes color-orange" *ngIf="increaseFats">Increase Fats, </span>
          </ion-col>
        </ion-row> -->
  
        <ion-row class="ion-padding" *ngIf="reduceCarbs || reduceProtein || reduceFiber || reduceFats || increaseCarbs || increaseProtein || increaseFiber || increaseFats">
          <ion-col>
            <ion-item lines="none" class="error-container">
              <ion-avatar slot="start">
                <img src="assets/img/manjri_anime.png">
              </ion-avatar>
              <!-- <span class="header-message-tool ion-text-left">
                <span class="notes" *ngIf="reduceCarbs">Reduce Carbs, </span>
                <span class="notes" *ngIf="reduceProtein">Reduce Protein, </span>
                <span class="notes" *ngIf="reduceFiber">Reduce Fiber, </span>
                <span class="notes" *ngIf="reduceFats">Reduce Fats</span>
  
                <span class="notes" *ngIf="increaseCarbs">Increase Carbs, </span>
                <span class="notes" *ngIf="increaseProtein">Increase Protein, </span>
                <span class="notes" *ngIf="increaseFiber">Increase Fiber, </span>
                <span class="notes" *ngIf="increaseFats">Increase Fats, </span>
              </span> -->
              <span class="header-message-tool ion-text-left" [innerHTML]="activeTipMsg"></span>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-padding" *ngIf="!reduceCarbs && !reduceProtein && !reduceFiber && !reduceFats && !increaseCarbs && !increaseProtein && !increaseFiber && !increaseFats">
          <ion-col>
            <ion-item lines="none" class="error-container">
              <ion-avatar slot="start">
                <img src="assets/img/manjri_anime.png">
              </ion-avatar>
              <!-- <span class="header-message-tool ion-text-left">
                <span class="notes" *ngIf="reduceCarbs">Reduce Carbs, </span>
                <span class="notes" *ngIf="reduceProtein">Reduce Protein, </span>
                <span class="notes" *ngIf="reduceFiber">Reduce Fiber, </span>
                <span class="notes" *ngIf="reduceFats">Reduce Fats</span>
  
                <span class="notes" *ngIf="increaseCarbs">Increase Carbs, </span>
                <span class="notes" *ngIf="increaseProtein">Increase Protein, </span>
                <span class="notes" *ngIf="increaseFiber">Increase Fiber, </span>
                <span class="notes" *ngIf="increaseFats">Increase Fats, </span>
              </span> -->
              <span class="header-message-tool ion-text-left notes">All nutrients are in right proportion</span>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <br>
  
      <!-- <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Healthy Choices</span>
          </ion-col>
          
          <ion-col size="2" class="ion-text-right">
            <span class="circular-progress">
              <span class="actual-txt">{{recommendedCheck.points <=9 ? "0" + recommendedCheck.points : recommendedCheck.points}}</span>
              <span class="total-txt">20</span>
              <svg viewBox="0 0 50 50" class="donut">
                <circle class="donut-ring" cx="25" cy="25" r="22" fill="transparent" stroke="#CCC" stroke-width="3" />
                <circle class="donut-ring-progress" cx="25" cy="25" r="22" fill="transparent" stroke="#01A3A4"
                  stroke-width="3" attr.stroke-dasharray="{{recommendedCheck.progressPer}} {{recommendedCheck?.totalProgressPer}}"/>
              </svg>
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="border-top">
          <ion-col>
            <div style="position: absolute;top: 40%;left: -25px;font-size: 25px;z-index: 2;color: #03a3a4;" (click)="slidePrev()">
              <ion-icon class="date-arrows arrow" name="chevron-back-outline" id="date-prev-arrow"></ion-icon>
            </div>
            <ion-slides  #slidesHealthyChoice [options]="slideOptsHealthyChoice" pager="true">
              <ion-slide *ngFor="let items of recommendedCheck.recommendedItems;">
                <img src="./assets/img/health1.svg" class="pic-food-heart" *ngIf="items.RecommendedIn?.length>0" (click)="healthDieses(items.RecommendedIn,$event)"/>
                <ion-card class="card-1 calories-card">
                  <img [src]="items.imageUrl" class="healthy-img"/>
                    <ion-card-header style="padding: 0;" class="ion-text-left">
                      <div class="health-title">{{items.Food}}</div>
                      <span class="health-subtitle">For {{grabHealth(items.RecommendedIn)}}</span>
                    </ion-card-header>
                </ion-card>
                </ion-slide>
            </ion-slides>
            <div style="position: absolute;top: 40%;right: -15px;font-size: 25px;z-index: 2;color: #03a3a4;" (click)="slideNext()">
              <ion-icon class="date-arrows arrow" name="chevron-forward-outline" id="date-next-arrow"></ion-icon>
            </div>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-left" *ngIf="recommendedCheck.recommendedItems.length > 0">
            <span class="notes">You have <span>{{recommendedCheck.recommendedItems.length}} healthy choices</span> in the plan
            </span>
          </ion-col>
        </ion-row>
      </div>
      <br> -->
  
      <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Timings</span><br/>
            <span class="sub-title">When To Eat ?</span>
          </ion-col>
  
          <ion-col size="2" class="ion-text-right">
            <span class="circular-progress">
              <span class="actual-txt">{{meal.points <=9 ? "0" + roundingVal(meal.points) : roundingVal(meal.points)}}</span>
              <span class="total-txt">20</span>
              <svg viewBox="0 0 50 50" class="donut">
                <circle class="donut-ring" cx="25" cy="25" r="22" fill="transparent" stroke="#CCC" stroke-width="3" />
                <circle class="donut-ring-progress" cx="25" cy="25" r="22" fill="transparent" stroke="#01A3A4"
                  stroke-width="3" attr.stroke-dasharray="{{meal.progressPer}} {{meal?.totalProgressPer}}"/>
              </svg>
            </span>
          </ion-col>
  
        </ion-row>
        
        <div class="border-top">
          <ion-row>
            <!-- <ion-col size="5.8">
              <ion-card class="card-1 calories-card">
                <ion-row>
                  <ion-col class="ion-text-center ion-align-self-center">
                    <div class="title distribution">Circadian R</div>
                    <img src="./assets/img/before6PM.jpeg" class="content-img healthy-img"/>
                  </ion-col>
                </ion-row>
                <ion-card-content>
                  <ion-row class="first-content">
                    <ion-col class="ion-text-left ion-align-self-left" style="margin-bottom: -12px;">
                      <span class="recommended">70% + Calories Before 6 PM
                        <span>&nbsp;</span>
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row class="second-content">
                    <ion-col class="ion-text-left ion-align-self-left">
                      <span class="total-cal">
                        <span>{{timingPer}}%</span><span> </span>
                        <ion-icon *ngIf="caloryDistri[3]< (caloriesDistribution[1].min +caloriesDistribution[0].min) ||caloryDistri[3] > (caloriesDistribution[1].max +caloriesDistribution[0].max)" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                        <ion-icon *ngIf="caloryDistri[3]>=(caloriesDistribution[1].min +caloriesDistribution[0].min) && caloryDistri[3]<=(caloriesDistribution[1].max +caloriesDistribution[0].max)" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col></ion-col>
            <ion-col size="5.8">
              <ion-card class="card-1 calories-card">
                <ion-row>
                  <ion-col class="ion-text-center ion-align-self-center">
                    <div class="title fasting">Fasting</div>
                    <img class="content-img healthy-img" src="./assets/img/fasting.jpeg">
                  </ion-col>
                </ion-row>
                <ion-card-content class="fasting-section">
                  <ion-row class="first-content">
                    <ion-col class="ion-text-left ion-align-self-left">
                      <span class="recommended">12 to 14 Hrs
                        <span>&nbsp;</span>
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row class="second-content">
                    <ion-col class="ion-text-left ion-align-self-left">
                      <span class="total-cal">
                        <span>{{meal.difference}}</span><span> Hrs</span>
                        <ion-icon *ngIf="!meal.isValid" name="alert-circle" id="currentCaloriesAlert"  class="calories-alert color-red"></ion-icon>
                        <ion-icon *ngIf="meal.isValid" name="checkmark-circle" id="currentCaloriesCheck"  class="calories-check color-green"></ion-icon>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col> -->
            <ion-col class="ion-padding" size="4.5">
              <canvas id="fastTimingChart" width="120" height="120"></canvas>
            </ion-col>
            <ion-col class="ion-padding-top">
              <ion-row>
                <ion-col class="ion-padding pad-top10" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartFastingAfter, 'background-color': chartFastingAfter}"></span>
                </ion-col>
                <ion-col>
                  <ion-row >
                    <ion-col class="type-text pad-top10" size="8">
                      Before 6 pm 
                    </ion-col>
                    <ion-col class="type-text pad-top10 font-1-point-imp" [ngStyle]="{'color': chartFastingAfter }">
                      {{timingPer}}%
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-padding pad-top10" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartFastingBefore, 'background-color': chartFastingBefore}"></span>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col class="type-text pad-top10" size="8">
                      After 6 pm 
                    </ion-col>
                    <ion-col class="type-text pad-top10 font-1-point-imp" [ngStyle]="{'color': chartFastingBefore}">
                      {{100-timingPer}}%
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-bottom">
            <ion-col class="ion-text-center">
              <span>
                <span class="fast-recm-title">Recommended: </span>
                <span class="fast-recm-val">70% Before 6 PM</span>
              </span>
            </ion-col>
          </ion-row>
        </div>
        
        <div class="border-top">
          <ion-row>
            <ion-col class="ion-padding" size="4.5">
              <canvas id="mealTimeChart" width="120" height="120"></canvas>
            </ion-col>
            <ion-col class="ion-padding-top">
              <ion-row>
                <ion-col class="ion-padding pad-top10" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartFastingTime, 'background-color': chartFastingTime}"></span>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col class="type-text pad-top10" size="6.5">
                     Fasting
                    </ion-col>
                    <ion-col class="pad-top10">
                      <span class="type-text font-1-point-imp" [ngStyle]="{'color': chartFastingTime}">{{mealDiff}}<span class="fast-unit">Hrs</span></span>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-padding pad-top10" size="1">
                  <span class="legend" [ngStyle]="{'border-color': chartMealTime, 'background-color': chartMealTime}"></span>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col class="type-text pad-top10" size="6.5">
                      Meal Time
                    </ion-col>
                    <ion-col class="pad-top10">
                      <span class="type-text font-1-point-imp" [ngStyle]="{'color': chartMealTime}">{{rermainFastingTime}}<span class="fast-unit">Hrs</span></span>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <span>
                <span class="fast-recm-title">Recommended: </span>
                <span class="fast-recm-val">12 to 14 hours</span>
              </span>
            </ion-col>
          </ion-row>
        </div>
        
  
        <ion-row class="ion-padding" *ngIf="reduceCarbs || reduceProtein || reduceFiber || reduceFats || increaseCarbs || increaseProtein || increaseFiber || increaseFats">
          <ion-col>
            <ion-item lines="none" class="error-container">
              <ion-avatar slot="start">
                <img src="assets/img/manjri_anime.png">
              </ion-avatar>
              <span class="notes" *ngIf="!meal.message">{{distributionCheck.message}}</span>
              <span class="notes" *ngIf="meal.message">{{meal.message}}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="padding-top-1">
          <ion-col class="ion-text-left"> -->
            <!-- <span class="notes">Your timings are <span>good</span>
            </span> -->
            <!-- <span class="notes" *ngIf="!meal.message">{{distributionCheck.message}}</span>
            <span class="notes error-message" *ngIf="meal.message">{{meal.message}}</span>
          </ion-col>
        </ion-row> -->
      </div>
      <br>
  
  
      <!-- <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Prefered Choice</span> <span class="cal-num"></span>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="border-top">
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title sandwich">Sandwich</div>
                  <img class="content-img" src="./assets/img/sandwich.svg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">Good for High
                      <span>Blood Presure</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>Sandwich</span> <span></span>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col></ion-col>
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title milkshake">Milkshake</div>
                  <img class="content-img" src="./assets/img/milkshake.svg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">Good for Diabetes
                      <span>control</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>Milkshake</span> <span></span>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="padding-top-1">
          <ion-col class="ion-text-left">
            <span class="notes">You have <span>5 preferred items </span>in the plan
            </span>
          </ion-col>
        </ion-row>
      </div> -->
      <br>
  
      <!-- <div class="calories-section">
        
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Nutrients </span>: <span class="cal-num">{{nutrientsCheck.points}}/20</span>
          </ion-col>
        </ion-row>
  
        <ion-row class="border-top">
          <! -- <ion-col size="5.8">
            <ion-card class="card-1">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <img src="./assets/img/vegetables.jpg">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="recommended">{{suggestedCalories.totalProteinPer}} to 1435 <br>
                    Recommended
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="total-cal">
                    <span>1297</span> <span>cal</span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col> -- >
  
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title">Calories</div>
                  <img class="content-img" src="./assets/img/calories.svg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">
                      {{suggestedCalories.totalCalories}} to {{suggestedCalories.recomended}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalCalories}}</span> <span>cal</span>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <ion-col size="1"></ion-col>
          <! -- <ion-col size="5.8">
            <ion-card class="card-1">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <img src="./assets/img/vegetables.jpg">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="recommended">1250 to 1435 <br>
                    Recommended
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="total-cal">
                    <span>1297</span> <span>cal</span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col> -- >
  
          <ion-col size="5.8">
            <ion-card class="card-1 calories-card">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <div class="title">Calories</div>
                  <img class="content-img" src="./assets/img/vegetables.jpg">
                </ion-col>
              </ion-row>
              <ion-card-content>
                <ion-row class="first-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="recommended">
                      {{suggestedCalories.totalCalories}} to {{suggestedCalories.recomended}}
                      <span>Recommended</span>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="second-content">
                  <ion-col class="ion-text-left ion-align-self-left">
                    <span class="total-cal">
                      <span>{{suggestedCalories.totalCalories}}</span> <span>cal</span>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size="5.8">
            <ion-card class="card-1">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <img src="./assets/img/vegetables.jpg">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="recommended">1250 to 1435 <br>
                    Recommended
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="total-cal">
                    <span>1297</span> <span>cal</span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="5.8">
            <ion-card class="card-1">
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <img src="./assets/img/vegetables.jpg">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="recommended">{{suggestedCalories.totalCarbsPer}} to 1435 <br>
                    Recommended
                  </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center ion-align-self-center">
                  <span class="total-cal">
                    <span>1297</span> <span>cal</span>
                  </span>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
  
        <ion-row class="padding-top-1">
          <ion-col class="ion-text-center">
            <span class="notes"><span>You need to <b>reduce</b> Fat in plan
              </span>
            </span>
          </ion-col>
        </ion-row>
      </div> -->
      <!-- <br>
      <div class="calories-section">
        <ion-row>
          <ion-col class="ion-text-left">
            <span class="calories">Health Choices </span>: <span class="cal-num">20/20</span>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-slides [options]="slideOptsTwo">
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
              <ion-slide>
                <ion-card class="card-2">
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <img src="./assets/img/vegetables.jpg">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="recommended">1250 to 1435 <br>
                        Recommended
                      </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-text-center ion-align-self-center">
                      <span class="total-cal">
                        <span>1297</span> <span>cal</span>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
  
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <span class="notes"><span>You have <b>4 super foods</b> in your plan</span>
            </span>
          </ion-col>
        </ion-row>
      </div> -->
    </div>
  </div>
  
</ion-content>




<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div> Recommendation analysis</div>
    <div style="display: inline-block;margin-top: 5px;">Score: {{totalScore}}% </div>
    <span *ngIf="totalScore == 100"> Awesome ! <ion-icon name="thumbs-up-outline"></ion-icon></span>
    <span *ngIf="totalScore >= 60 && totalScore < 100"> Good </span>
    <span *ngIf="totalScore < 60"> Not Good <ion-icon name="thumbs-down-outline"></ion-icon></span> 
  
    <span></span>
  
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      Calories: {{caloriesCheck.points}}/20 Pts
    </ion-card-header>
    <ion-card-content>
      <ion-row class="custom-row">
        <ion-col class="ion-text-center ion-align-self-center">
          <div class="box-weight">
            <div class="center-weight">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:caloriesCheck.strokeColor}">
                  {{suggestedCalories.totalCalories}}/{{suggestedCalories.recomended}}
                </span>
              </span>
              <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{caloriesCheck.strokeColor}}" stroke-width="1.8"
                attr.stroke-dasharray="{{caloriesCheck.caloriesPer}} {{100- caloriesCheck.caloriesPer}}" stroke-dashoffset="25"></circle>
            </svg>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='caloriesCheck.isValid' class="green-color">
        {{suggestedCalories.totalCalories}} Cal in Diet plan are in recommended ({{suggestedCalories.minus10}}-{{suggestedCalories.plus10}})
      </ion-row>
      <ion-row *ngIf='!caloriesCheck.isValid' class="red-color">
          {{suggestedCalories.totalCalories}} Cal in Diet plan is not in recommended ({{suggestedCalories.minus10}}-{{suggestedCalories.plus10}})
        </ion-row>

    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="!isDetox" class="card-nutrients">
    <ion-card-header>
      Nutrients Check: {{nutrientsCheck.points}}/30 Pts
    </ion-card-header>
    <ion-card-content>
      <ion-row class="custom-row">
        <ion-col size="4" class="ion-text-center ion-align-self-center">
          <div class="box-weight-nutrients">
            <div class="center-weight-nutrients">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:nutrientsCheck.carbsStrokeColor}">
                  {{suggestedCalories.totalCarbsPer}}%
                </span>
                <br/>
                <span style="font-size: 0.9rem;">
                  (35-70%)
                </span>
              </span>
              <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{nutrientsCheck.carbsStrokeColor}}"
                stroke-width="1.8" attr.stroke-dasharray="{{getVirtualPervcent(suggestedCalories.totalCarbsPer,35)}} {{getMax(suggestedCalories.totalCarbsPer,35)}}"
                stroke-dashoffset="25"></circle>
            </svg>
          </div>
          <div class='nutrients'>*Carbs</div>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-align-self-center">
          <div class="box-weight-nutrients">
            <div class="center-weight-nutrients">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:nutrientsCheck.proteinStrokeColor}">
                  {{suggestedCalories.totalProteinPer}}%
                </span>
                <br/>
                <span style="font-size: 0.9rem;">
                  (12-30%)
                </span>
              </span>
              <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{nutrientsCheck.proteinStrokeColor}}"
                stroke-width="1.8" attr.stroke-dasharray="{{getVirtualPervcent(suggestedCalories.totalProteinPer,12)}} {{getMax(suggestedCalories.totalProteinPer,12)}}"
                stroke-dashoffset="25"></circle>
            </svg>
          </div>
          <div class='nutrients'>*Protein</div>
        </ion-col>

        <ion-col size="4" class="ion-text-center ion-align-self-center">
          <div class="box-weight-nutrients">
            <div class="center-weight-nutrients">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:nutrientsCheck.fatStrokeColor}">
                  {{suggestedCalories.totalFatPer}}%
                </span>
                <br/>
                <span style="font-size: 0.9rem;">
                  (<35%) </span>
                </span>
                <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{nutrientsCheck.fatStrokeColor}}" stroke-width="1.8"
                attr.stroke-dasharray="{{getVirtualPervcent(suggestedCalories.totalFatPer,10)}} {{getMax(suggestedCalories.totalFatPer,10)}}"
                stroke-dashoffset="25"></circle>
            </svg>
          </div>
          <div class='nutrients'>*Fats</div>
        </ion-col>

      </ion-row>
      <ion-row [ngClass]="{'green-color':nutrientsCheck.isValid,'red-color':!nutrientsCheck.isValid}">
        {{nutrientsCheck.message}}
      </ion-row>

    </ion-card-content>
  </ion-card>


  <ion-card class="card-nutrients">
    <ion-card-header>
      Calories Distribution: {{nutrientsCheck.points}}/20 Pts
    </ion-card-header>
    <ion-card-content>
      <ion-row class="custom-row">
        <ion-col size="7" class="ion-text-center ion-align-self-center">
          <div class="box-weight-distribution">
            <div class="center-weight-distribution">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:distributionCheck.till6PMStrokeColor}">
                  {{getPercentageCal((caloryAsPerPlan[1] +caloryAsPerPlan[0]),suggestedCalories.totalCalories,(caloriesDistribution[1].min+caloriesDistribution[0].min))}}%
                </span>
                <br/>
                <span style="font-size: 0.9rem;">
                  (70%)
                </span>
              </span>
              <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{distributionCheck.till6PMStrokeColor}}"
                stroke-width="1.8" attr.stroke-dasharray=" {{getVirtualPervcent2((caloryAsPerPlan[1]+caloryAsPerPlan[0]),suggestedCalories.totalCalories,(caloriesDistribution[1].min + caloriesDistribution[0].min))}}  {{getMaxCal((caloryAsPerPlan[1]+caloryAsPerPlan[0]),suggestedCalories.totalCalories,(caloriesDistribution[1].min + caloriesDistribution[0].min))}}"
                stroke-dashoffset="25"></circle>
            </svg>
          </div>
          <div class='distributions'> Till 6PM</div>

        </ion-col>

        <ion-col size="5" class="ion-text-center ion-align-self-center">
          <div class="box-weight-nutrients">
            <div class="center-weight-nutrients">
              <span>
                <span style="font-size: 1rem;" [ngStyle]="{ color:distributionCheck.after6PMStrokeColor}">
                  {{getPercentageCal(caloryAsPerPlan[2],suggestedCalories.totalCalories,this.caloriesDistribution[2].min)}}%
                </span>
                <br/>
                <span style="font-size: 0.9rem;">
                  (
                  <30%) </span>
                </span>
                <br>
            </div>
            <svg viewBox="10 3 35 35" class="donut">
              <circle class="donut-ring" cx="27" cy="21" r="16" fill="transparent" stroke="#14CEB7" opacity=".1" stroke-width="1.6"></circle>
              <circle class="donut-segment" cx="27" cy="21" r="16" fill="transparent" attr.stroke="{{distributionCheck.after6PMStrokeColor}}"
                stroke-width="1.8" attr.stroke-dasharray="{{getVirtualPervcent2(caloryAsPerPlan[2],suggestedCalories.totalCalories,this.caloriesDistribution[2].min)}} {{getMaxCal(caloryAsPerPlan[2],suggestedCalories.totalCalories,this.caloriesDistribution[2].min)}}"
                stroke-dashoffset="25"></circle>
            </svg>
          </div>
          <div class='nutrients'>6PM-Bed</div>

        </ion-col>

      </ion-row>
      <ion-row class="distribution-message" [ngClass]="{'green-color':distributionCheck.isValid,'red-color':!distributionCheck.isValid}">
        {{distributionCheck.message}}
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="diets">
    <ion-card-header>
      Recommended items : {{recommendedCheck.points}}/20 Pts
    </ion-card-header>
    <ion-card-content>
      <ion-row *ngIf="recommendedCheck.recommendedItems.length > 0">
          <div class="scrolling-wrapper">
              <div class="card" *ngFor="let items of recommendedCheck.recommendedItems;">
                  <div >
                      <span class="food-name">{{items.Food}}</span>
                      <img style=" height: 120px;
                      width: 120px;"src="{{items.imageUrl}}"/>
                    </div>
                    <span (click)="healthDieses(items.RecommendedIn,$event)" class="food-name">
                        <ion-icon name="heart-circle-outline"></ion-icon>
                    </span>
              </div>
             
            </div>
     
      </ion-row>
      <ion-row [ngClass]="{'green-color':recommendedCheck.isValid,'red-color':!recommendedCheck.isValid}">
        {{recommendedCheck.message}}
      </ion-row>

    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="diets">
      <ion-card-header>
          Circadian Rhythm  : {{meal.points}}/20 Pts
      </ion-card-header>
      <ion-card-content>
          <ion-row class='meal-log'>
              <ion-col  size="6">
                    <img src="assets/img/eating.png" />
                <div class="div-eat">Eating window</div>
                <span>{{meal.morning}} - {{meal.night}}</span>
  
              </ion-col>
  
              <ion-col class="meal-log" size="6">
                <img src="assets/img/fasting.jpg" />
                <div> Fasting window</div>
                <span>{{meal.night}} - {{meal.morning}}</span>
                <span></span>
              </ion-col>
            </ion-row>
        <ion-row [ngClass]="{'green-color':meal.isValid,'red-color':!meal.isValid}">
          {{meal.message}}
        </ion-row>
  
      </ion-card-content>
    </ion-card>

</ion-content> -->