<div class="back-overlay">

</div>
<div class="--downloadpopup">
  <div style="position: absolute; right:5%" (click)="close()">X</div>
  <ion-row>
<ion-col class="ion-text-center">
<p>
  Copy From Date: {{fromLastDietPlanDate}}
</p>
</ion-col>
</ion-row>
<ion-list lines="none">
        <ion-item>
        <ion-row>
          <ion-col size="5.5">
            <ion-input  id="open-modal"  [value]="fromLastDietPlanDate" placeholder="To Date"></ion-input>
            <ion-modal trigger="open-modal">
              <ng-template>
                <ion-content style="position: absolute;
                left: 5%;
                top: 30%;">
                  <ion-datetime showDefaultButtons="true" [min]="current_year" [max]="max_year" displayFormat="D MMM, YY" 
                  pickerFormat="DD MMM YYYY" #dateTime (ionChange)="fromLastDietPlanDate = formatDate(dateTime.value)" 
                  presentation="date" color="theme">
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="5.5">
            <span>Range</span>
           <ion-row>
             <ion-col size="12" class="ion-text-right">
              <ion-select placeholder="Select" [(ngModel)]="selectedRange">
                <ion-select-option *ngFor="let range of ranges" [value]="range">{{range}}</ion-select-option>
              </ion-select>
                </ion-col>
           </ion-row>
          </ion-col>
        </ion-row>
        </ion-item>
      </ion-list>
  <ion-row style="bottom: 19px;
  position: absolute;
  width: 85%;">
    <ion-col class="ion-text-right">
      <ion-button (click)="copyDietPlan()">Copy</ion-button>
    </ion-col>
  </ion-row>
</div>