.back-overlay {
    background: #000;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  
  .--downloadpopup{
    position: absolute;
    top: 30%;
    background: #fff;
    width: 90%;
    margin: 0 5%;
    z-index: 11;
    border-radius: 20px;
    padding: 1.5rem;
    min-height: 370px;
}
ion-card {
  height: 200px auto;
  // width: 341px;
  --background: #FFFFFF;
  border-radius: 23px;
  border: #707070;
  padding: 10px;
}
  ion-input{
    border: 1px solid #b3b3b3;
    padding: 10px;
    border-radius: 5px;
  }