@import '../../theme/fonts.scss';

ion-content {
  --background:#{$lightYellow1};
}

ion-buttons {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.completed {

  span:first-child {
    margin-right: 10px;
  }

  margin-right:.5rem;
  font-size: .875rem;

  span:last-child {
    color: $yellow-2 !important;
  }
}

.graph-complete {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid green;
  border-radius: 50%;
  text-align: center;
  padding-top: 6%;



  img {
    vertical-align: middle;
    width: 62%;
    height: auto;
  }
}

.heading {
  color: $lipstic;
  font-size: 1.125rem;
  font-family: $font;

}

.small-text {
  // font-size: .85rem;
  // font-family: $font;
  // color:$gray;
  // margin-top: 0;

  font-size: 1rem;
  font-family: $font;
  color: grey;
  margin-bottom: 0;
}

// .box{
//   border:.5px solid $lightGreen;
//   border-radius: 8px;
//   background: $white;
//   text-align: center;
//   padding:1rem 0 1rem 0;
//   color:$black;
//   width:90%;
//   display: inline-block;
//   font-family: $font;
//   font-size: .875rem;
// }
// .fill-box{font-weight:bold;
//   background:$lightGreen;
//   color:$white;
//   }

// ion-footer {
//   --background:#{$lightYellow1};

// }

ion-button {
  margin-left: 1rem;
  margin-right: 1rem;


}


ion-button {
  // border: 1px solid !important;
  border-radius: 5px;
}

.width-50 {
  width: 50%;
}

.box-new {
  border: unset !important;

  .img-seleceted-border {
    border: 1px solid #0B713F !important;
  }

  .img-div {
    height: 0px;
    width: 100%;
    padding-bottom: 100%;

    background-size: cover;

    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid rgb(16, 16, 16);

    position: relative;
  }
}
.fill-border{
  color: #0B7141 !important;
}
.card-div {
  background: white;
  border-radius: 25px;
  padding: 0 5px;
}

.box-close {
  width: 100%;

  height: auto;
  top: -7px;
  left: 2px;
  right:2px;
}

.indication {
  text-align: center;
  border-left: 5px solid red;
  display: inline-block;
  line-height: 1rem;
  padding: 0 10px;

  color: #707070;
  font-size: .8rem;
}

.darkgreen-top {
  border-color: #38A534;
}

.light-green-top {
  border-color: #94EA0A
}

.yellow-top {
  border-color: #EADC18
}

.yellow-orange-top {
  border-color: #ffa500
}

.darkgreen,
.legend-9 {
  border-color: #38A534;
  background-color: #38A534;
}

.light-green,
.legend-6 {
  border-color: #94EA0A;
  background-color: #94EA0A;
}

.yellow,
.legend-3 {
  border-color: #EADC18;
  background-color: #EADC18;
}

.yellow-orange,
.legend-1 {
  border-color: #ffa500;
  background-color: #ffa500;
}

.grey,
.legend-0 {
  border-color: #7d7d7d5e;
}

.legend {
  border-width: 2px;
  border-style: solid;
  height: 2.5rem;
  width: 2px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.calories-active {
  // font-size: .8rem;
  color: #0B713F;
  margin-top: 5px;
}

.calories {
  // font-size: .8rem;
  color: #8a8383;
  margin-top: 5px;
}

.calories-banner{
  position: absolute;
  background: black;
  opacity: 0.7;
  color: white;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  bottom: 0;
}

.no-padding-bottom{
  padding-bottom: 0;
}

.premium-right{
  height: 3vh;
  top: 20px;
  right: 1.5rem;
  z-index: 9;
  position: absolute;
}