<app-progress [title]='currentPersonalise?.name' [imgPath]="'./assets/icons/Group 147.svg'" [showProgress]="false"
  [totalPage]="progressData?.length" [pageIndex]="progressData?.in">
</app-progress>

<!-- Top NavBar -->


<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>
       <!-- Main Content -->
      <ion-col>
        <div style="border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;color:#fff; height: 4rem;padding-bottom: 1rem;">
          <div class="margin-common" *ngIf="currentPersonalise && currentPersonalise?.foodItems">
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-searchbar mode="md" (input)="filterData($event)"
                  (ionClear)="clearSearchAndReset()"></ion-searchbar>
              </ion-col>
            </ion-row>
          </div>

          <ion-row style="margin-left: 0.8rem;">
            <ion-col *ngFor="let personal of personaliseKeys;let ind=index" style="margin-right:.8rem;padding: .5rem;"
              [style.background]="colorCode[ind]">
              <ion-row>
                <ion-col size="9" class="ion-text-left">
                  <div style="font-size: .8rem; color:#565656;margin-left:.8rem;float:left; margin-left: 1rem; ">
                    {{personaliseName[ind]}} </div>
                </ion-col>
                <ion-col size=".2"></ion-col>
                <ion-col size="2.8" class="ion-text-left">
                  <a (click)="clearAll(ind)" style="font-size: .6rem;position: relative;top:-5px">Clear</a>
                </ion-col>
              </ion-row>

              <ion-row *ngFor="let item of personalise[personal]?.foodItems; let i=index;"
                style="background:#fff;margin-bottom: 5px;margin-top: .2rem;">
                <ion-col size="12" class="text-center padding-horizontal-5 no-padding-bottom"
                  (click)="toggleSelect(personal,item._id)">
                  <ion-row>
                    <ion-col size=".2" class="ion-align-self-start">
                      <div class="legend" style="margin-right: .2rem;"
                        [ngClass]="{'legend-9':item.rank =='9', 'legend-6':item.rank =='6', 'legend-3': item.rank =='3' , 'legend-1':item.rank =='1',  'legend-0': !item.rank || item.rank == ''}">
                      </div>
                    </ion-col>
                    <ion-col size="1" class="ion-align-self-center ion-text-center">
                      <div style="float: left;" [ngClass]="{'fill-box':item._id==name || item.isSelected==true}">
                        <img class="box-close" src="./assets/img/check_food.png" *ngIf="item.isSelected == true" />
                        <img class="box-close" src="./assets/img/check_food_grey.png" *ngIf="item.isSelected != true" />
                      </div>
                    </ion-col>
                    <ion-col size=".2">
                    </ion-col>
                    <ion-col size="10.6" class="ion-align-self-center ion-text-left">
                      <div style="float: left;color:#000;position: relative;white-space:normal;width: 64%;">
                        <span style="color:#333;font-size: .6rem;"
                          [ngClass]="{'fill-border':item.isSelected}">{{item.name}}</span>
                      </div>
                      <span style="color:#414042;position: absolute;
          right: 1rem;    bottom: 0;font-size: .7rem;">{{item.calories}} kcal</span>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- </div> -->
          <br />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer class="btn"  > -->
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <!-- <div class="width-45" slot="start" >
      <ion-button expand="block" style="--color:#6277eb;--border-color:#6277eb;" fill="outline" (click)="back()">
        Back
      </ion-button>
    </div> -->
  <!-- <div> -->
  <ion-button expand="block" shape="round" style="--background:#6277eb;color: #FFF;" (click)="goto()">
    Save
  </ion-button>
  <!-- </div> -->
</ion-toolbar>
<!-- </ion-footer> -->