

.update-slot-diet{
    --background:#F6F7FC;
    h2{
        font-size: 1.2rem;
        color:#263143;
    }
    .content{
    margin:1rem 0rem;
    ion-card{
        box-shadow: none;
        ion-card-header{
           ion-row{
               ion-col{
                   font-size: .8rem;
                 span.cat{
                    color:gray;
                 } 
                 span.order{
                     color:#00B8F6;
                 }
                 span.option{
                    color:#01A3A4;  
                 }
                 span.diet{
                    color:#E69740;  
                 }
                }
           }
           
        }
    }
    ion-card-content{
        padding-right: 0;
        ion-checkbox.option{
            --border-radius: 100%;
            --background-checked: #01A3A4;
            --border-color-checked: #01A3A4;
            height: 25px;
            width: 25px;
           }
           ion-checkbox.diet{
            --border-radius: 100%;
            --background-checked: #E69740;
            --border-color-checked: #E69740;
            height: 25px;
            width: 25px;
           }
    }
    }
    
    
    .active{
        border: 1px solid #01A3A4;
        box-shadow: 0px 4px 8px 0px #b3b3b3;
    }

}

ion-footerbar{
    ion-row{
    ion-col{
       padding:1rem; 
}
}
}
