<ion-app>
  <div *ngIf="isLogged">
    <ion-row>
      <ion-col>
        <app-navbar (countChanged)="updateCount($event)" [menuName]="menuName"></app-navbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1" style="padding-bottom: 2rem;">
        <div style="height: 100%;position: absolute;z-index: 11;">
          <app-left-side-bar (menuOptions)="menuOptions($event)" [cURL]="cURL$ | async"></app-left-side-bar>
        </div>
      </ion-col>
      <ion-col size="11" style="height: 100%;">
        <ion-row *ngIf="isIndividual">
          <ion-col>
            <app-counter-strip [count]="count" [menuName]="menuName"></app-counter-strip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-header></app-header>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="getIsSearched()">
      <ion-col
        style="min-height:calc(75% - 60px);padding-bottom: 0px;position: absolute; z-index: 10; left: 9%; width: 91%;">
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
    <div *ngIf="!getIsSearched()">
      <div style="height: 83%;position: absolute;
           z-index: 10;left: 9%;
           width: 90%;">
        <ion-router-outlet></ion-router-outlet>
      </div>
    </div>
  </div>
  <ion-router-outlet *ngIf="!isLogged"></ion-router-outlet>
</ion-app>