.container {
  padding: 1rem;
}

.icon {
  font-size: 2rem;
  color: #6277eb;
}

.form-grid {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.divider {
  height: 2px;
  background-color: #6277eb;
  margin: 10px 0;
}

.input-row {
  margin-bottom: 1rem;
}

.unit-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.submit-button {
  margin: 0 auto;
  margin-top: 2rem;
  --background: #6277eb;
  color: #fff;
  width: 20%;
}

.records-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.table-header {
  background-color: #E4E7FA;
  color: #000;
  padding: 0.5rem;
  border-radius: 4px;
}

.table-row {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.table-row ion-col {
  padding: 0.5rem 0;
}

.action-icon {
  font-size: 2rem;
  color: #616be9;
  cursor: pointer;
  font-weight: 800;
}

.action-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon {
  font-size: 1.5rem;
  color: #616be9;
  cursor: pointer;
  margin-left: 0.5rem;
}
ion-input {
  --background: #fff;
  width: 5.5rem;
  border: 1px solid gray;--padding-start: 5px;--padding-top: 6px;--padding-end: 5px;--padding-bottom: 6px;
}
.chlorstol-input {
  margin-right: 5rem;
}
.subHeading {
  color: #5b5b5b;
  font-size: 0.8rem;
}
