<ion-content>
  <div class="container">
    <ion-grid class="form-grid" id="targetElement">
      <ion-row>
        <ion-col size="12" class="intro-text ion-text-center">
          <h2>Health Parameters</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="divider"></ion-col>
      </ion-row>

      <!-- Date -->
      <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="calendar-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="3">
          Date:
        </ion-col>
        <ion-col size="4.5">
          <ion-input style="width: 6rem" id="open-modal" [value]="formattedDate" placeholder="Select Date"></ion-input>
          <ion-modal trigger="open-modal">
            <ng-template>
              <ion-content>
                <ion-datetime showDefaultButtons="true" [min]="current_year" [max]="max_year" displayFormat="D MMM, YY"
                  pickerFormat="DD MMM YYYY" #dateTime (ionChange)="onDateChange(dateTime.value)" presentation="date"
                  color="theme">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>

      <!-- Weight -->
      <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="fitness-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="3">
          Weight:
        </ion-col>
        <ion-col size="1">
          <ion-input required="false" placeholder="Current Weight" [(ngModel)]="weight" type="number"></ion-input>
        </ion-col>
        <ion-col size="2" class="unit-label">
          Kg
        </ion-col>
      </ion-row>

      <!-- Blood Pressure -->
      <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="pulse-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-row>
            <ion-label>Blood Pressure</ion-label>
          </ion-row>
          <ion-row>
            <ion-col size="2.3" style="margin-right: 5rem;">
              <ion-label class="subHeading">Systolic</ion-label>
              <ion-input required="false" placeholder="Systolic" [(ngModel)]="systolic" type="number"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-label class="subHeading">Diastolic</ion-label>
              <ion-input required="false" placeholder="Diastolic" [(ngModel)]="diastolic" type="number"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Blood Glucose -->
      <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="water-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row class="ion-text-right" style="display: flex;align-items: center;">
            <ion-label>Blood Glucose</ion-label>
            <span style="margin-left: 2.5rem;">mg/dl</span>
            <ion-toggle [(ngModel)]="bg_unitIs_mg"></ion-toggle>
            <span>mmol/l</span>
          </ion-row>
          <ion-row size="12">
            <ion-col size="3.6">
              <ion-label class="subHeading">Fasting</ion-label>
              <ion-input required="false" placeholder="Fasting" [(ngModel)]="bg_Fasting" type="number"></ion-input>
            </ion-col><ion-col size="2">
              <ion-label class="subHeading">Random</ion-label>
              <ion-input required="false" placeholder="Random" [(ngModel)]="bg_Random" type="number"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Active -->
      <!-- <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="checkbox-outline" class="icon" ></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-label>Active</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-toggle [(ngModel)]="isActive"></ion-toggle>
        </ion-col>
      </ion-row> -->

      <!-- Cholesterol -->
      <ion-row class="input-row ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="heart-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-label>Cholesterol</ion-label>
          <ion-row>
            <ion-col size="2.3" class="chlorstol-input">
              <ion-label class="subHeading">Total Cholestol</ion-label>
              <ion-input placeholder="Total" [(ngModel)]="cholestol_total" type="number"></ion-input>
            </ion-col><ion-col size="2.3" class="chlorstol-input">
              <ion-label class="subHeading">LDL Cholestol</ion-label>
              <ion-input placeholder="LDL" [(ngModel)]="cholestol_ldl" type="number"></ion-input>
            </ion-col><ion-col size="2.3" class="chlorstol-input">
              <ion-label class="subHeading">HDL Cholestol</ion-label>
              <ion-input placeholder="HDL" [(ngModel)]="cholestol_hdl" type="number"></ion-input>
            </ion-col><ion-col size="2">
              <ion-label class="subHeading">Triglycerides cholestol</ion-label>
              <ion-input placeholder="Triglycerides" [(ngModel)]="cholestol_triglycerides" type="number"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>



      <ion-button *ngIf="!doUpdate" class="submit-button" size="default" shape="round" expand="block" type="submit"
        [disabled]="isDisabled()" (click)="submitBtnHandler()">
        Submit
      </ion-button>
      <ion-button *ngIf="doUpdate" class="submit-button" size="default" shape="round" expand="block" type="submit"
        [disabled]="isDisabled()" (click)="updateBtnHandler()">
        Update
      </ion-button>
    </ion-grid>
  </div>

  <!-- Health Records Table -->
  <ion-grid *ngIf="healthRecords" class="records-grid">
    <!-- Table Header -->
    <ion-row class="table-header" style="font-weight: 500;">
      <ion-col size="2">Created By</ion-col>
      <ion-col size="1">Date</ion-col>
      <ion-col size="1">Blood Pressure</ion-col>
      <ion-col size="2">Blood Glucose</ion-col>
      <ion-col size="3">Cholesterol</ion-col>
      <ion-col size="2">Weight (Kg)</ion-col>
      <ion-col size="1">Action</ion-col>
    </ion-row>

    <!-- Table Body -->
    <ion-row *ngFor="let record of healthRecords" class="table-row">
      <ion-col size="2">{{ record.createdBy }}</ion-col>
      <ion-col size="1">{{ getFormattedDate(record.date) }}</ion-col>
      <ion-col size="1" *ngIf="record.healthData.bloodPressure">{{ record.healthData.bloodPressure.systolic || "-" }}/{{
        record.healthData.bloodPressure.diastolic || "-" }}
        mmHg</ion-col>
      <ion-col size="1" *ngIf="!record.healthData.bloodPressure" style="text-align: center;">-</ion-col>
      <ion-col size="2" *ngIf="record.healthData.bloodGlucose">{{ record.healthData.bloodGlucose.fasting || "-" }}/{{
        record.healthData.bloodGlucose.random || "-" }} {{
        record.healthData.bloodGlucose.unit }}</ion-col>
      <ion-col size="2" *ngIf="!record.healthData.bloodGlucose" style="text-align: center;">-</ion-col>
      <ion-col size="3" *ngIf="record.healthData.cholesterol">
        Total: {{ record.healthData.cholesterol.total }} mg/dl <br>
        LDL: {{ record.healthData.cholesterol.ldl }} mg/dl <br>
        HDL: {{ record.healthData.cholesterol.hdl }} mg/dl <br>
        Triglycerides: {{ record.healthData.cholesterol.triglycerides }} mg/dl
      </ion-col>
      <ion-col size="3" *ngIf="!record.healthData.cholesterol" style="text-align: center;">
        -
      </ion-col>
      <ion-col size="2" *ngIf="record.healthData.weightKg">{{ record.healthData.weightKg }} Kg</ion-col>
      <ion-col size="2" style="text-align: center;" *ngIf="!record.healthData.weightKg">-</ion-col>
      <ion-col size="1" class="action-cell">
        <ion-icon name="create-outline" class="action-icon" (click)="editFxn(record)"></ion-icon>
        <ion-icon name="trash-outline" class="action-icon" (click)="deleteFxn(record._id, record.date)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>