<!-- Top NavBar -->

<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>
      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <!-- <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button text="" class="headerBackBtn"></ion-back-button>
            </ion-buttons>
            <ion-title>Consult QA</ion-title>
          </ion-toolbar>
        </ion-header> -->

        <ion-card style="padding: 1rem; border-radius: 1rem;margin-bottom: 1rem;"
          *ngFor="let qa of consultQA;let index=index">
          <ion-row>
            <ion-col class="ion-text-center" size="2">
              <div class="label">
                <span style="font-weight: 400;font-size:.8rem;color:#000">{{qa.question}}</span> 
              </div>
            </ion-col>
            <ion-col class="ion-text-left" size="10">
              <ion-textarea rows="8" style="border: 1px solid rgba(143, 145, 150, 1);    width: 90%;
                  padding: 10px;
                  border-radius: 12px;    height: 141px;"
                  [(ngModel)]="qa.answer"></ion-textarea>
            </ion-col>
          </ion-row>
           </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">
  <ion-button (click)="submitConsultQA()" expand="block" shape="round" style="--background:#6277eb;" >Save</ion-button>
</ion-toolbar>
