.update-btn{
    float:right;
    padding-top: 15px;
    ion-button{
        width: 101px;
    height: 36px;
    }
}
ion-content {
    --background: #F6F7FC;
}
ion-card {
    height: 200px auto;
    // width: 341px;
    --background: #FFFFFF;
    border-radius: 23px;
    border: #707070;
    padding: 10px;
}
.mainTopPadding {
    padding-top: 60px;
}
.updateUserCard{
    height: 290px auto !important;
}

ion-input{
    border-bottom: 1px solid #000;
}
.errMessageCss {
    height: 26px;
    font-size: small;
    color: var(--ion-color-danger);
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hideError{
    display: none;
}

ion-datetime {
    height: auto;
    width: auto;

    max-width: 350px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 0 10px;
  }

  ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }

  ion-modal ion-datetime {
    height: 382px;
  }
  .modalContent{
    --background: #f2f2f7;
  }
  .dateInputPlaceholder{
    --padding-start: 25px !important;
  }
