<!-- Top NavBar -->


<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>

      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <div class="ion-padding mainTopPadding">

          <ion-card [formGroup]="updateExpiryForm" class="ion-margin-bottom-20 updateUserCard">
            <ion-card-header>
              <ion-card-title color="#808080">Update User Expiry date</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list lines="none" class="ion-no-margin">
                <ion-item>
                  <ion-input formControlName="customerId" placeholder="Enter Customer ID"
                    [(ngModel)]="customerId"></ion-input>
                  <!-- <ion-input
              placeholder="Enter Customer ID"
              [(ngModel)]="customerId"
            ></ion-input> -->
                </ion-item>
                <ng-container *ngFor="let validation of validation_messages.customerId">
                  <span class="ion-no-margin errMessageCss"
                    *ngIf="updateExpiryForm.get('customerId').hasError(validation.type) && (updateExpiryForm.get('customerId').dirty || updateExpiryForm.get('customerId').touched)">
                    {{ validation.message }}
                  </span>
                </ng-container>
                <ion-item>
                  <ion-input formControlName="customerAmount" placeholder="Enter Amount"
                    [(ngModel)]="customerAmount"></ion-input>
                </ion-item>
                <ng-container *ngFor="let validation of validation_messages.customerAmount">
                  <span class="ion-no-margin errMessageCss"
                    *ngIf="updateExpiryForm.get('customerAmount').hasError(validation.type) && (updateExpiryForm.get('customerAmount').dirty || updateExpiryForm.get('customerAmount').touched)">
                    {{ validation.message }}
                  </span>
                </ng-container>
                <ion-item>
                  <ion-input id="open-modal" formControlName="customerDate" [value]="dateValue2"
                    placeholder="Select Expiry Date"></ion-input>
                  <ion-modal trigger="open-modal">
                    <ng-template>
                      <ion-content>
                        <ion-datetime showDefaultButtons="true" [min]="current_year" [max]="max_year"
                          displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" #dateTime
                          (ionChange)="dateValue2 = formatDate(dateTime.value)" presentation="date" color="theme">
                        </ion-datetime>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </ion-item>
                <ng-container *ngFor="let validation of validation_messages.customerDate">
                  <span class="ion-no-margin errMessageCss"
                    *ngIf="updateExpiryForm.get('customerDate').hasError(validation.type) && (updateExpiryForm.get('customerDate').dirty || updateExpiryForm.get('customerDate').touched)">
                    {{ validation.message }}
                  </span>
                </ng-container>
                <ion-item>
                  <ion-select formControlName="couponSelected" [(ngModel)]="couponSelected"
                    [placeholder]="couponSelected ? couponSelected : 'Select Plan Type'"
                    style="background-color: #fff;border: none; appearance: none;padding: 0; margin: 0;">
                    <ion-select-option *ngFor="let option of couponOptions"
                      [value]="option.value">{{option.label}}</ion-select-option>
                    <!-- <ion-select-option *ngFor="let option of couponOptions" [value]="option">{{option.value}}</ion-select-option>-->
                  </ion-select>
                </ion-item>
                <ion-item class="update-btn">
                  <ion-button [disabled]="!updateExpiryForm.valid" (click)="updateUser()" expand="block"
                    style="color: #FFF;">Update Expiry</ion-button>

                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!--   <ion-card [formGroup]="refferalEmailForm" class="ion-margin-bottom-20">
      <ion-card-header>
        <ion-card-title color="theme">Activate Referral</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none" class="ion-no-margin">
          <ion-item style="border-bottom: 1px solid;">
            <ion-input style="border: none;"
            formControlName="accountIdRef"
              placeholder="Enter Account ID"
              [(ngModel)]="accountIdRef"
            ></ion-input>
          </ion-item> -->
          <!-- <ng-container *ngFor="let validation of validation_messages.accountIdRef">
              <span
                class="ion-no-margin errMessageCss"
                *ngIf="refferalEmailForm.get('accountIdRef').hasError(validation.type) && (refferalEmailForm.get('accountIdRef').dirty || refferalEmailForm.get('accountIdRef').touched)"
              >
                {{ validation.message }}
            </span>
            </ng-container> -->
          <!-- <ion-item style="border-bottom: 1px solid;">
            91- <ion-input style="border: none;"
              formControlName="email"
              placeholder="Enter customer id"
              [(ngModel)]="refferalEmail"
            ></ion-input>
          </ion-item> -->

          <!-- <ion-item style="border-bottom: 1px solid;">
           <ion-input style="border: none;"
              formControlName="refferalCode"
              placeholder="Refferal Code"
              [(ngModel)]="refferalCode"
            ></ion-input>
          </ion-item> -->
          <!-- <div class="errMessageCss" *ngIf="validation_messages">
            <ng-container *ngFor="let validation of validation_messages.email">
              <span
                class="ion-no-margin"
                *ngIf="refferalEmailForm.get('email').hasError(validation.type) && (refferalEmailForm.get('email').dirty || refferalEmailForm.get('email').touched)"
              >
                {{ validation.message }}
            </span>
            </ng-container>
          </div> -->
          <!-- <ion-item class="update-btn">
            <ion-button
              [disabled]="!refferalEmailForm.valid"
              (click)="updateRefferalEmail()"
              shape="round"
              color="theme"
              fill="outline"
            >
              Update
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->

          <!-- <ion-card [formGroup]="navigateEmailForm" class="ion-margin-bottom-20">
      <ion-card-header>
        <ion-card-title color="theme">View Customer Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none" class="ion-no-margin">
          <ion-item> -->
          <!-- <ion-label  position="stacked">Email Address :</ion-label> -->
          <!-- <ion-input
              formControlName="email"
              placeholder="Enter customer id"
              [(ngModel)]="navigateEmail"
            ></ion-input>
          </ion-item>
          <div class="errMessageCss" *ngIf="validation_messages">
            <ng-container *ngFor="let validation of validation_messages.email"> -->
          <!-- <span
                class="ion-no-margin"
                *ngIf="navigateEmailForm.get('email').hasError(validation.type) && (navigateEmailForm.get('email').dirty || navigateEmailForm.get('email').touched)"
              >
                {{ validation.message }}
            </span> -->
          <!--   </ng-container>
          </div>
          <ion-item class="update-btn">
            <ion-button
              (click)="getToken()"
              shape="round"
              color="theme"
              fill="outline"
              [disabled]="!navigateEmailForm.valid">
              Go
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card [formGroup]="customerEmailForm" class="ion-margin-bottom-20">
      <ion-card-header>
        <ion-card-title color="theme">Update Customer Diet Plan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none" class="ion-no-margin">
          <ion-item> -->
          <!-- <ion-label  position="stacked">Email Address :</ion-label> -->
          <!-- <ion-input
              formControlName="email"
              placeholder="Enter customer id"
              [(ngModel)]="customerEmail"
            ></ion-input>
          </ion-item>
          <div class="errMessageCss" *ngIf="validation_messages">
            <ng-container *ngFor="let validation of validation_messages.email"> -->
          <!-- <span
                class="ion-no-margin"
                *ngIf="navigateEmailForm.get('email').hasError(validation.type) && (navigateEmailForm.get('email').dirty || navigateEmailForm.get('email').touched)"
              >
                {{ validation.message }}
            </span> -->
          <!-- </ng-container>
          </div>
          <ion-item class="update-btn">
            <ion-button
              (click)="updateCustomer()"
              shape="round"
              color="theme"
              fill="outline"
              [disabled]="!customerEmailForm.valid">
              Go
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->

          <!-- <ion-card [formGroup]="customerEmailForm" class="ion-margin-bottom-20">
      <ion-card-header>
        <ion-card-title color="theme">Create Custom Diet Plan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none" class="ion-no-margin">
          <ion-item> -->
          <!-- <ion-label  position="stacked">Email Address :</ion-label> -->
          <!-- <ion-input
              formControlName="email"
              placeholder="Enter customer id or Mobile number with 91-"
              [(ngModel)]="customerDietplanEmail"
            ></ion-input>
          </ion-item>
          <div class="errMessageCss" *ngIf="validation_messages">
            <ng-container *ngFor="let validation of validation_messages.email"> -->
          <!-- <span
                class="ion-no-margin"
                *ngIf="navigateEmailForm.get('email').hasError(validation.type) && (navigateEmailForm.get('email').dirty || navigateEmailForm.get('email').touched)"
              >
                {{ validation.message }}
            </span> -->
          <!--   </ng-container>
          </div>
          <ion-item class="update-btn">
            <ion-button
              (click)="CreateCustomDietPlan()"
              shape="round"
              color="theme"
              fill="outline"
              [disabled]="!customerEmailForm.valid">
              Go
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>



    <ion-card  class="ion-margin-bottom-20">
      <ion-card-header>
        <ion-card-title color="theme">Add/Update Customer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col class="ion-text-center">
<ion-button (click)="addupdateCust()">Add/Update Customer</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>-->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>