<div class="back-overlay">

</div>
<div class="--downloadpopup">
  <div style="position: absolute; right:5%" (click)="close()">X</div>
<ion-list lines="none">
        <ion-item>
          <ion-label>
            Your diet plan for "7th Sept" will<br> be refreshed as per<br> “Weight Loss plan”
          </ion-label>
        </ion-item>
      </ion-list>
  <ion-row style="bottom: 19px;
  position: absolute;
  width: 85%;">
    <ion-col class="ion-text-right">
      <ion-button (click)="refreshDietPlan()">Regresh</ion-button>
    </ion-col>
  </ion-row>
</div>