<!-- Top NavBar -->
<ion-content>
  <span *ngIf="filteredData?.length===0 && isActive===false">
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card" style="float: left;">
      <ion-skeleton-text   animated class="sketloan"></ion-skeleton-text>
    </ion-card>
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card" style="float: left;">
      <ion-skeleton-text   animated class="sketloan"></ion-skeleton-text>
    </ion-card>
  </span>
  <ion-grid style="padding: 0;"  >
    <ion-row *ngIf="filteredData?.length>0 && isActive===true">
      <!-- Main Content -->
      <ion-col>
        <ion-row class="ion-justify-content-between filter">
          <!-- Order set Filter control -->
          <ion-col>
            <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.5rem; width: 60%;">
              <ion-label>Sort by Name:</ion-label>
              <ion-select [(ngModel)]="sortByName" (ionChange)="handleFilterChange()"
              style="width: 40%;
              float: right;
              vertical-align: middle;
              top: -10px;
              position: relative;font-weight:500;font-size:.875rem;">
               <ion-select-option value="false">All</ion-select-option>
               <ion-select-option value="true">Name</ion-select-option>
              </ion-select>

              </div>
            <!-- <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.5rem;">
            <ion-label>Sort by Name: </ion-label>
            <ion-toggle [(ngModel)]="sortByName" (ionChange)="handleFilterChange()"></ion-toggle>
          </div> -->
          </ion-col>
          <!-- Global set Filter control -->
          <ion-col>
           
            <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.5rem; width: 60%;">
              <ion-label>Filter by Owner:</ion-label>
              <ion-select [(ngModel)]="isPersonal" (ionChange)="handleFilterChange()" 
              style="width: 40%;
              float: right;
              vertical-align: middle;
              top: -10px;
              position: relative;font-weight:500;font-size:.875rem;">
               <ion-select-option value="false">All</ion-select-option>
               <ion-select-option value="true">Personal</ion-select-option>
              </ion-select>

              </div>
             
          </ion-col>
          <!-- Filter control -->
          <ion-col>
            <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.5rem; width: 60%;">
            <ion-label>Filter by Status</ion-label>
            <ion-select [(ngModel)]="filterActive" (ionChange)="handleFilterChange()" 
                  style="width: 40%;
                  float: right;
                  vertical-align: middle;
                  top: -10px;
                  position: relative;font-weight:500;font-size:.875rem;">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="true">Active</ion-select-option>
              <ion-select-option value="false">Inactive</ion-select-option>
            </ion-select>
            </div>
          </ion-col>
        </ion-row>
        <div *ngIf="data && !loading && !error">
          <ion-card *ngFor="let item of filteredData" class="template-card" style="float: left;">
            <ion-card-header style="background: rgba(136, 138, 255, 0.2);">
              <ion-card-title>{{ item.templateName }}</ion-card-title>
              <ion-icon name="pencil" style="color: rgba(93, 95, 239, 1);" (click)="editFxn(item._id)"></ion-icon>
            </ion-card-header>

            <ion-card-content>
                <ion-row style="margin-top: 1rem;">
                  <ion-col>
                    <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .5rem;margin-right: 1rem;width:100%;white-space:nowrap;">
                      <span style="font-weight: 500;font-size:1rem;color:#000">Email:</span>
                      <span style="font-size: .8rem;font-weight: 200;white-space:nowrap;color:#000;"> {{item.createdby}}</span>
                    </div>
                  </ion-col>
                  <ion-col size=".2"></ion-col>
                  <ion-col>
                    <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .5rem;width:90%;white-space:nowrap;">
                      <span style="font-weight: 500;font-size:1rem;color:#000">Created On:</span>
                      <span style="font-size: .8rem;font-weight: 200;white-space:nowrap;color:#000;"> {{item.createdOn | date:'MMM d, y'}}</span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: 1rem;">
                  <ion-col>
                     <div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .5rem;margin-right: 1rem; width:50%;white-space:nowrap;">
                    <span style="font-weight: 500;font-size:1rem;color:#000">Updated On:</span>
                    <span style="font-size: .8rem;font-weight: 200;white-space:nowrap;color:#000;"> {{item.updatedOn | date:'MMM d, y'}}</span>
                  </div></ion-col>
                
                </ion-row>
                <ion-row style="margin-top: 1rem;">
                  <ion-col><div style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .5rem;width:80%;white-space:nowrap;">
                    <span style="font-weight: 500;font-size:1rem;color:#000">Description:</span>
                    <span style="font-size: .8rem;font-weight: 200;white-space:nowrap;color:#000;"> {{ item.templateDescription}}</span>
                  </div></ion-col>
                </ion-row>
            </ion-card-content>
            <div style="width:20%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;float:right;" *ngIf="item?.isActive && userSearched!==''"  (click)="gotoCopy(item._id)">
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                <img src="../../assets/icons/copy.svg" alt="Edit Img"
                  style="height: 1rem;cursor: pointer;margin-right: 5px;">
                  <span style="position: relative; top:-3px;"> Copy</span>
              </span>
            </div>
            <!-- <ion-button fill="clear" (click)="toggleUpdateTemplate(item._id, item.createdby)">{{item?.isActive ? 'Disable': 'Enable'}}</ion-button> -->
            <ion-icon name="trash" style="color: red;
                                      position: absolute;
                                      left: 5%;
                                      bottom: 20px;
                                      font-size: 1.5rem;margin-right:1.5rem;" (click)="toggleUpdateTemplate(item._id, item.createdby)"></ion-icon>
           
           
            <!-- <ion-button fill="clear" (click)="editFxn(item._id)">Edit</ion-button> -->
            <!-- <ion-button fill="clear" (click)="deleteFxn(item._id)">Delete</ion-button> -->
            <ion-button fill="clear" *ngIf="item?.isActive && isIndividual !== 'true'">
              <span>Global</span>
              <ion-toggle  mode="md" [(ngModel)]="item.isGlobal" (ngModelChange)="onToggleChange($event, item)"></ion-toggle>
            </ion-button>
          </ion-card>
        </div>
       </ion-col>
    </ion-row>
    <div *ngIf="filteredData.length==0 && isActive===true" style="width: 100%;
    height: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;item-align:center;">
      <span style="color: rgba(143, 145, 150, 1); font-size:1rem; ">You haven’t created any templates. Templates can help you save time </span>
      <br><br><br><br>
      <ion-button (click)="createTemplate()" expand="block" shape="round" style="    --background: #6277eb;
    color: #fff;
    position: absolute;
    left: 42%;
    width: 16%;">
        Create Template</ion-button>
     </div>
  </ion-grid>
</ion-content>