.template-card{
   padding: 2px;
}

.clearBtn:hover {
   background-color: #eeeeee;
   border-radius: 50%;
}

ion-button{
   --color: #6277eb;
   font-size: 1rem;
   background: rgba(99, 122, 225, 0.06);
   border-radius: 12px;
   height: 30px;
   float: right;
   right:1rem;
}

ion-toggle{
   --handle-background-checked:#6277eb;
}
.sketloan{
   width: 100%;
   height: 160px;
   border-radius: 10px;
 }
 ion-card{
   padding: 0 0rem 1rem 0rem !important; 
   ion-card-header{
   padding: .5rem;
   border-radius: 12px;
  
ion-card-title{
   font-size: 1rem !important;
   color: rgba(93, 95, 239, 1);
   font-weight: 300;
}
   ion-icon{
      color:rgba(93, 95, 239, 1);
      font-size: 1rem !important;
      position: absolute;
      right: 13px;
      top: 9px;
   }
   }
   width: 40%;
}
 ion-row.filter{
   padding: 1rem;
   background: #f3f3f3;
  
   ion-col{
      div{  
         width: 40%;
         text-align: center;
         ion-label{
         font-size: 1rem;
         color:#000;
         font-weight: 200;
      }
      ion-toggle{
         width: 30%;
         height: 30px;
         vertical-align: middle;
      }
   }
   }
 }