.container {
  width: 70%;
  margin: auto;
  position: relative;
}

.header {
  background-color: #6277eb;
  //   border-bottom-left-radius: 1rem;
  //   border-bottom-right-radius: 1rem;
  color: #fff;
  padding: 3%;
  padding-top: 5px;
}

.login-grid {
  padding-top: 1rem;
}

.intro-text {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.logout-col {
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  font-size: 16px;
  color: #fff;
  --background: #6277eb;
  text-align: center;
  align-self: center;
}

.input-row {
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

ion-icon {
  font-size: 1.5rem;
  color: #6277eb;
}

.submit-button {
  --ion-color-base: #6277eb !important;
  margin: 0 23%;
  margin-top: 5%;
}
.input{
  border: 1px solid gray;--padding-start: 5px;--padding-top: 6px;--padding-end: 5px;--padding-bottom: 6px;
}

.input2 {
  width: 100%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
}

.disabled-container {
  border: 2px solid black;
  margin: auto;
  background-color: rgb(240, 240, 240);
  margin-top: 8rem;
  padding: 4rem 5rem;
}
.disabled-container ion-row {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.title { 
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}