<ion-content>
  <div class="container">
    <!-- <div class="header">
      <h1 class="ion-text-center">Smart Diet Planner Management</h1>
    </div> -->
    <ion-grid class="login-grid" *ngIf="!disabled">
      <ion-row>
        <ion-col size="9" class="intro-text" *ngIf="isIndividual !== 'true'">
          Seems you are new here, Please fill below Info
        </ion-col>
        <ion-col size="9" class="intro-text" *ngIf="isIndividual === 'true'">
          <ion-item lines="none">This application is for dietitians,nutritionists, and dietetics students.</ion-item>
          <ion-item lines="none">We offer free, limited access, but verification may be required. If verification fails,
            your account may be disabled until resolved.</ion-item>
          <ion-item lines="none">Once satisfied with the solution, you can upgrade to unlimited access with a paid
            subscription</ion-item>
        </ion-col>
        <ion-col size="3" class="logout-col">
          <ion-button class="logout-button" shape="round" (click)="logout()">
            Logout
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" style="background-color: #6277eb;height: 2px;margin-top: 5px;">
        </ion-col>
      </ion-row>

      <!-- Profile Image -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          Select Profile Image
        </ion-col>
        <ion-col size="4">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        </ion-col>
        <ion-col>
          <ion-img *ngIf="selectedImage" [src]="selectedImage" style="max-height: 5rem;max-width: 5rem;"></ion-img>
        </ion-col>
      </ion-row>

      <!-- name -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="person-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-input required="false" placeholder="Enter your Name" [(ngModel)]="username" class="input"
            style="width: 90%;"></ion-input>
        </ion-col>
        <ion-col size="4" style="color: red;margin-left: 5px;">
          (mandatory)
        </ion-col>
        <!-- <ion-col size="4" style="display: flex; align-items: center;" *ngIf="isIndividual==='true'">
          Profile Search
          <ion-toggle [(ngModel)]="searchAllowed"></ion-toggle><span>{{ searchAllowed ? 'Allowed' : 'Not-Allowed'
            }}</span>
        </ion-col> -->
      </ion-row>

      <!-- Mobile Number -->
      <ion-row class="input-row" *ngIf="isIndividual === 'true'">
        <ion-col size="1">
          <ion-icon name="call-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          <ion-input required="false" placeholder="Enter your Mobile Number" [(ngModel)]="mobileNumber" class="input"
            style="width: 90%;"></ion-input>
        </ion-col>
        <ion-col size="4" style="color: red;margin-left: 5px;">
          (mandatory)
        </ion-col>
      </ion-row>

      <!-- Gender -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="female-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          Gender:
        </ion-col>
        <ion-col size="4" style="display: flex; align-items: center;">
          <ion-radio-group [(ngModel)]="gender" style="display: flex;">
            <ion-item lines="none">
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="Male"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="Female"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <!-- Url Client Id -->
      <!-- <ion-row class="input-row" *ngIf="isIndividual==='true'">
        <ion-col size="1">
          <ion-icon name="link-outline"></ion-icon>
        </ion-col>
        <ion-col size="3">
          Choose Url Client ID:
        </ion-col>
        <ion-col size="4" style="display: flex; align-items: center;">
          <ion-radio-group [(ngModel)]="URLClientIdVal" style="display: flex;">
            <ion-item lines="none">
              <ion-label>Alyve</ion-label>
              <ion-radio slot="start" value="alyve"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row> -->

      <!-- Whatsapp Number -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-input required="false" placeholder="Enter your Whatsapp Number" [(ngModel)]="whatsapp" class="input"
            style="width: 50%;"></ion-input>
        </ion-col>
        <ion-col size="4" style="display: flex; align-items: center;">
          Visible to Users
          <ion-toggle [(ngModel)]="wpVisible" [disabled]="whatsapp==''"></ion-toggle>
        </ion-col>
      </ion-row>

      <!-- Linkedin id -->
      <ion-row class="input-row" *ngIf="isIndividual === 'true'">
        <ion-col size="1">
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-input required="false" placeholder="Enter your Website Url/Linkedin Id/Instagram Id" [(ngModel)]="linkedinId" class="input"
            style="width: 90%;"></ion-input>
        </ion-col>
        <ion-col size="4" style="color: red;margin-left: 5px;">
          (mandatory)
        </ion-col>
      </ion-row>

      <!-- Referred By -->
      <!-- <ion-row class="input-row" *ngIf="isIndividual === 'true'">
  <ion-col size="1">
    <ion-icon name="send-outline"></ion-icon>
  </ion-col>
  <ion-col size="4">
    <ion-input required="false" placeholder="Enter your referredBy Email" [(ngModel)]="referredBy" class="input"
      style="width: 90%;"></ion-input>
  </ion-col>
  <ion-col size="4" style="color: red;margin-left: 5px;">
    (mandatory)
  </ion-col>
</ion-row> -->



      <!-- Calendly Id -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-input required="false" placeholder="Enter your Calendly ID" [(ngModel)]="calendlyId" class="input"
            style="width: 50%;"></ion-input>
        </ion-col>
        <ion-col size="4" style="display: flex; align-items: center;">
          Visible to Users
          <ion-toggle [(ngModel)]="calendlyVisible" [disabled]="calendlyId==''"></ion-toggle>
        </ion-col>
      </ion-row>


      <!-- Select your role -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="briefcase-outline"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-item class="floating-label" style="--padding-start: 0" lines="none">
            <ion-label position="floating">Your Role</ion-label>
            <ion-select [(ngModel)]="rolesSelected" [placeholder]="rolesSelected ? rolesSelected :'Select Your Role'"
              style="background-color: #fff;border: none; appearance: none;padding: 6px; margin: 0;border: 1px solid gray;padding-right: 15px;width: 90%;">
              <ion-select-option *ngFor="let option of rolesOptions" [value]="option">{{option}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4" style="color: red;margin-left: 5px;" *ngIf="isIndividual==='true'">
          (mandatory)
        </ion-col>
      </ion-row>

      <!-- Select your speciality -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="ribbon-outline"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="floating-label" style="--padding-start: 0" lines="none">
            <ion-label position="floating">Your Speciality</ion-label>
            <ion-input placeholder="Enter your Speciality" [(ngModel)]="speciality" class="input"
              style="width: 50%;"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Select your Theme -->
      <ion-row class="input-row" *ngIf="isIndividual==='true'">
        <ion-col size="1">
          <ion-icon name="library-outline"></ion-icon>
        </ion-col>
        <ion-col size="2">
          Select your Theme
        </ion-col>
        <ion-col size="9">
          <ion-radio-group [(ngModel)]="themeSelected" name="theme" style="display: flex;">
            <ion-item lines="none" style="width: 10rem;">
              <ion-label style="display: flex;">
                <ion-col style="background-color: #3863AF; height: 2rem;"></ion-col>
                <ion-col style="background-color: #50c8ff; height: 2rem;"></ion-col>
              </ion-label>
              <ion-radio slot="start" value="individual1"></ion-radio>
            </ion-item>
            <ion-item lines="none" style="width: 10rem;">
              <ion-label style="display: flex;">
                <ion-col style="background-color: #0B713F; height: 2rem;"></ion-col>
                <ion-col style="background-color: #99b949; height: 2rem;"></ion-col>
              </ion-label>
              <ion-radio slot="start" value="individual2"></ion-radio>
            </ion-item>
            <ion-item lines="none" style="width: 10rem;">
              <ion-label style="display: flex;">
                <ion-col style="background-color: #8775ed; height: 2rem;"></ion-col>
                <ion-col style="background-color: #fe4869; height: 2rem;"></ion-col>
              </ion-label>
              <ion-radio slot="start" value="individual3"></ion-radio>
            </ion-item>
            <ion-item lines="none" style="width: 10rem;">
              <ion-label style="display: flex;">
                <ion-col style="background-color: #0F0F0F;height: 2rem;"></ion-col>
              </ion-label>
              <ion-radio slot="start" value="individual4"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>

      <!-- About -->
      <ion-row class="input-row">
        <ion-col size="1">
          <ion-icon name="document-text-outline"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-textarea rows="8" placeholder="Enter your  Bio..." [(ngModel)]="about" class="input2"></ion-textarea>
        </ion-col>
        <ion-col size="1.5" style="color: red;margin-left: 5px;">
          (mandatory)
        </ion-col>
      </ion-row>

      <ion-button *ngIf="isIndividual !== 'true'" class="submit-button" size="default" shape="round" expand="block"
        type="submit" [disabled]="username === ''" (click)="submitBtnHandler()">
        Submit
      </ion-button>

      <ion-button *ngIf="isIndividual === 'true'" class="submit-button" size="default" shape="round" expand="block"
        type="submit"
        [disabled]="username === '' || mobileNumber==='' || about==='' || linkedinId==='' || rolesSelected===''"
        (click)="submitBtnHandler2()">
        Submit
      </ion-button>
    </ion-grid>
    <ion-grid *ngIf="disabled" class="disabled-container">
      <ion-icon name="warning-outline" style="color: red; font-size: 10rem; width: 100%;"></ion-icon>
      <ion-row>
        <p class="title">
          Account is Blocked
        </p>
      </ion-row>
      <ion-row>
        We were unable to verify the details you provided for your account. As a result, your access has been
        temporarily disabled until verification can be completed.
      </ion-row>
      <ion-row>
        Please contact us at dietitian@smartdietplanner.com to resolve this issue and restore access.
      </ion-row>

    </ion-grid>
  </div>
</ion-content>