<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col class="header">
        Demonstartion Videos
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subheading">
        Go through the demo videos on sequence for clear understanding
      </ion-col>
    </ion-row>
    <div class="video-grid">
      <ion-card *ngFor="let item of contentArr" class="video-card">
        <ion-card-header>{{item?.title}}</ion-card-header>
        <ion-card-content (click)="clickHandler(item?.link)" >
          {{item?.subHeading}}
          <ion-icon name="logo-youtube" style="color: #eb453d; font-size:1.2rem;"></ion-icon>
          <!-- <a [href]="item?.link" target="_blank" rel="noopener noreferrer">{{ item?.link }}</a> -->
        </ion-card-content>
      </ion-card>
    </div>
    </ion-grid>

</ion-content>
