.header {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 900;
}
.subheading {
   text-align: center;
   font-size: 1rem;
   margin-top: 2rem;
}
.video-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Adjust card width */
   gap: 16px; /* Space between cards */
   padding: 16px; /* Optional padding */
}
.video-card {
   width: 25rem;
}
.video-card ion-card-header {
   font-size: 1rem;
   color: #636364;
   font-weight: 700;
}
.video-card ion-card-content {
   font-size: 1rem;
   // text-decoration: underline;
   // color:#052CEB;
   color: #636364;
   cursor: pointer;
}