.mainContent {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.backgroundContent {
  /* background: #fff; */
  width: 100%;
  /* padding-bottom: 10px; */
  position: absolute;
  height: 100%;
  top: 45%;
  bottom: 0px;
  transform: translateY(-30%) translateX(5%);
}
.textAreaBorder {
  border: 1px solid #707070;
  border-radius: 11px;
  height: 70px;
  --padding-start: 11px;
}
.labelFont {
  font-size: 14px;
  color: var(--ion-color-theme) !important;
}
.radioList {
  color: #707070 !important;
  font-size: 14px;
}
.leadRadioPosition {
  display: flex;
}

.mr-10{
  margin-right: 10px;
}

.br-23{
  border-radius: 23px;
}

.font-title{
  font-size: 14px;
  font-weight: 600;
}

.close-icon{
  font-size: 25px;
    float: right;
    position: relative;
    top: -12px;
}

.radio-group-class{
  width: 100%;
  ion-item{
    width: 33%;
  }
}