
  
  <div  >
    <ion-card class="br-23">
      <div class="ion-padding-20">
       
        <ion-label class="ion-padding-bottom-5 labelFont">Remark</ion-label>
        <ion-icon class="close-icon" name="close-circle-outline" (click)="closeModal()"></ion-icon>
        <ion-textarea minlength="25" [(ngModel)]="remarkText" (ionInput)="checkRemarkTextLength($event.target.value)" placeholder="Write Remarks"  class="ion-margin-top-5 ion-margin-bottom-20 textAreaBorder"></ion-textarea>
        <ion-label class="labelFont">Status</ion-label>
        <!-- <ion-list> -->
          <ion-row>
            <ion-col>
              <ion-radio-group class="" (ionFocus)="leadStatusChange($event)" [value]="leadData.leadInfo.status">
            <ion-item lines="none" class="ion-no-padding radioList">
              <ion-label >Not Interested</ion-label>
              <ion-radio value="Not interested" class="mr-10" color="theme" slot="start"  mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding radioList">
              <ion-label >Call Me</ion-label>
              <ion-radio value="Call Me" class="mr-10" color="theme" slot="start" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding radioList">
              <ion-label >Call Afterwards</ion-label>
              <ion-radio value="Call afterwards" class="mr-10" color="theme" slot="start" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding radioList">
              <ion-label >Interested to Pay</ion-label>
              <ion-radio value="Interested to Pay"  class="mr-10" color="theme" slot="start" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>
            </ion-col>
          </ion-row>
          
        <!-- </ion-list> -->
        <ion-row class="ion-margin-top-20">
          <ion-col>
            <ion-label class="labelFont">Lead Type</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-bottom-20">
          <ion-col class="radio-group-class">
            <ion-radio-group class="leadRadioPosition" (ionFocus)="leadTypeChange($event)" [value]="leadData.leadInfo.leadType">
              <ion-item lines="none" class="ion-no-padding radioList">
                <ion-label >Cold</ion-label>
                <ion-radio value="Cold" class="mr-10" color="theme" slot="start"  mode="md"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding radioList">
                <ion-label >Warm</ion-label>
                <ion-radio value="Warm" class="mr-10" color="theme" slot="start" mode="md"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="ion-no-padding radioList">
                <ion-label >Hot</ion-label>
                <ion-radio value="Hot" class="mr-10" color="theme" slot="start" mode="md"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
        
        <ion-row >
          <ion-col class="buttonBackground ion-text-center">
            <ion-button [disabled]="!updateRemarkValid" (click)="updateSummary()" shape="round" color="theme" fill="outline">
            Update
          </ion-button></ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>

<!-- </ion-content> -->
