<ion-header>
  <ion-toolbar>
    <ion-title>
      Add/Update User
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

 
    <ion-item class="main">
      <ion-label>Name:</ion-label>
      <ion-input 
      placeholder="Enter  Name"
      [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-radio-group value="Email" (ionChange)="getValue($event)"> 
    <ion-item class="main">
      <ion-label >Registering By:</ion-label>
     
      <ion-item >
        <ion-label>Email</ion-label>
        <ion-radio  value="Email">Email</ion-radio>
      </ion-item>
      
      <ion-item >
        <ion-label>Mobile</ion-label>
        <ion-radio value="Mobile">Mobile</ion-radio>
      </ion-item>
       
    </ion-item>
    </ion-radio-group>
    <ion-item *ngIf="!isMobile" class="main">
      <ion-label>Email:</ion-label>
      <ion-input placeholder="Enter Email" [(ngModel)]="emailDetail"></ion-input>
    </ion-item>
    <ion-item *ngIf="isMobile" class="main">
      <ion-label>Mobile:</ion-label>
      <!-- <ion-intl-tel-input
                    id="phone-number"
                    (focus)="onFocus()"
                    name="phone-number"
                    [defaultCountryiso]="currentCountryCode"
                    [enableAutoCountrySelect]="true"
                    [(ngModel)]="phoneNumber"
                    #phoneNumberControl="ngModel"
                  >
                  </ion-intl-tel-input> -->
    </ion-item>
    <ion-item class="update-btn">
      <ion-button
        (click)="getToken()"
        shape="round"
        style="    width: 50%;
        height: 40px;"
        class="ion-color ion-color-theme button button-small button-round button-outline"
        >
        Submit
      </ion-button>
      </ion-item>
    

</ion-content>
