ion-card{
    ion-card-header{
        padding: 10px;
    }
    ion-card-content{
        padding: 10px;

        .custom-bottom-margin{
            margin-bottom:1rem;
        }
        a{
            color:blue !important;
        }

        
    }
.custom-flex{
    display: flex !important;
    a{
        color:#616BE9 !important;
        img{
            width: 58%;
        }
    }
}
}
.sketloan{
    width: 100%;
    height: 320px;
    border-radius: 10px;
  }

  .ellipsis-text{
    font-size: .7rem;
    font-weight: 200;
   position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 59%;
    display: inline-block;
    margin-left: .5rem;
    top: 3px;
  }
  .ellipsis-text:hover::after {
    content: attr(data-full-text);  /* Display full text stored in data attribute */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: normal;
    width: max-content;
    max-width: 300px;  /* Limit tooltip width */
    z-index: 1;
}

.ellipsis-text-activity{
    font-size: .7rem;
    font-weight: 200;
   position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    display: inline-block;
    margin-left: .5rem;
    top: 3px;
  }
  .ellipsis-text-activity:hover::after {
    content: attr(data-full-text);  /* Display full text stored in data attribute */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: normal;
    width: max-content;
    max-width: 300px;  /* Limit tooltip width */
    z-index: 1;
}