<ion-content>
  <span *ngIf="showSkel">
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card">
      <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
    </ion-card>
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card">
      <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
    </ion-card>
  </span>
  <div *ngIf="!showSkel">
    <ion-grid>

      <ion-card>
        <ion-card-header style="background: #E4E7FA;color:#000; font-weight:500;font-size: .9rem;">
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-row>
                <ion-col><span style="white-space: nowrap;">{{name}}:
                    <span style="font-weight: 200;">{{this.profileData?.profile?.email}}</span></span>
                  <a (click)="editProfile()" style="font-size: .8rem;margin-left:.3rem;margin-right:.5rem;"
                    *ngIf="!isBeato">Edit</a></ion-col>
                <ion-col size="3" class="ion-text-left custom-flex">
                  <!-- <a  style="margin-right: .5rem;">
              <img src="./assets/icon/Link.png">
             </a> 
             <a href="" style="margin-right: .5rem;">
              <img src="./assets/icon/Vector.png">  
            </a>
            <a href="" style="margin-right: .5rem;">
              <img src="./assets/icon/downld.png">
            </a>
            <a href="" style="margin-right: .5rem;">
              <img src="./assets/icon/whtsap.png">
            </a> -->
                </ion-col>
                <ion-col class="ion-text-left"> </ion-col>
                <ion-col class="ion-text-left"> </ion-col>
                <ion-col class="ion-text-left"> </ion-col>
                <ion-col class="ion-text-left"> </ion-col>
                <ion-col class="ion-text-left"> </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-icon *ngIf="openFirst===false" (click)="openFirst=true" name="arrow-down" mode="ios"></ion-icon>
              <ion-icon *ngIf="openFirst===true" (click)="openFirst=false" name="arrow-up" mode="ios"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content style="font-size: .9rem;" *ngIf="openFirst">
          <ion-row>
            <ion-col size=".2"></ion-col>
            <ion-col class="ion-text-left">
              <span style="font-weight: 600; color: rgba(93, 95, 239, 1);">
                {{profileData?.profile?.name}}
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000">ID:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.profile?.email}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Desired Weight:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;color:#666666;">
                  {{profileData?.demographic?.suggestedWeight}} {{profileData?.demographic?.weight?.unit}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Height:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;color:#666666;">
                  {{profileData?.demographic?.heightInCM}} cm</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .4rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Actual Weight:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;color:#666666;">
                  {{profileData?.demographic?.weightInKg}} kg</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000">Age:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;color:#666666;">
                  {{profileData?.demographic?.age?.avg_age}} Yrs</span>
              </div>
            </ion-col>

            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;">BMI:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.demographic?.bmi}}</span>
              </div>
            </ion-col>
            <ion-col></ion-col>

          </ion-row>
          <ion-row>

            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000">Disorders:</span>
                <span style="font-size: .7rem;font-weight: 200;"> {{disorderBind?.join(',')}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;">Allergies:</span>
                <span style="font-size: .7rem;
    font-weight: 200;
   position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    display: inline-block;
    margin-left: .5rem;
    top: 3px;"> {{allergiesBind?.join(',')}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .4rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Activity:</span>
                <div class="ellipsis-text-activity" title="{{activityBind.join(',')}}">
                  {{activityBind.join(',')}}</div>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Diet Preference:</span>
                <span style="font-size: .7rem;font-weight: 200;color:#666666;"> {{foodPrefernceBind.join(',')}}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left" style="padding: .5rem;" size="2">
              <div
                style="width:75%;background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .4rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Country:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.profile?.Country===undefined?'India':profileData?.profile?.Country}}</span>
              </div>
            </ion-col>

            <ion-col class="ion-text-left" style="padding: .5rem;" size="3">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Community:</span>
                <span class="ellipsis-text" title="{{communityBind.join(',')}}"> {{communityBind.join(',')}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;" size="3">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .4rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Created On:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.profile?.createdDate}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;" size="4">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Last Update:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.profile?.updatedDateTime}}</span>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>

            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="width:50%;background: rgba(99,122,225,0.06);border-radius:12px;padding:.2rem .4rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">BMR:</span>
                <span
                  style="font-size: .7rem;font-weight: 200;white-space:nowrap;">{{profileData?.lifeStyle?.bmr}}</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Recommended
                  Calories:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;">
                  {{profileData?.lifeStyle?.calories}} kcal</span>
              </div>
            </ion-col>
            <ion-col class="ion-text-left" style="padding: .5rem;">
              <div
                style="background: rgba(99,122,225,0.06);border-radius:12px;padding: .2rem .5rem;    white-space: nowrap;">
                <span style="font-weight: 500;font-size:.8rem;color:#000;white-space:nowrap;">Goal:</span>
                <span style="font-size: .7rem;font-weight: 200;white-space:nowrap;"> {{goalName}}</span>
              </div>
            </ion-col>

            <ion-col></ion-col>
            <ion-col></ion-col>

          </ion-row>
          <!-- 
          <ion-row style="border-bottom:1px solid #b3b3b3;" class="custom-bottom-margin">
            <ion-col><span style="font-weight: 500;color:#000;">Dietitian: </span>
              <span style="font-size: .8rem;">{{dietitianName}}</span></ion-col>
          </ion-row>
          <ion-row class="custom-bottom-margin">
            <ion-col><span style="font-weight: 500;color:#000;">{{name}}: </span> <span style="font-size: .8rem;">
                {{profileData?.demographic?.age?.avg_age}} Yrs |
                {{profileData?.demographic?.gender?.gender}} |
                {{profileData?.demographic?.heightInCM}} cm |
                {{profileData?.demographic?.weight?.value}} {{profileData?.demographic?.weight?.unit}} |
                BMI: {{profileData?.demographic?.bmi}}</span></ion-col>
          </ion-row>
          <ion-row class="custom-bottom-margin">
            <ion-col><span style="font-weight: 500;color:#000;">Disorders: </span>
              <span style="font-size: .8rem;">{{disorderBind?.join(',')}} |
                Allergies: {{allergiesBind?.join(',')}}</span></ion-col>
          </ion-row>
          <ion-row class="custom-bottom-margin">
            <ion-col><span style="font-weight: 500;color:#000;">Food Prefrence: </span>
              <span style="font-size: .8rem;">{{foodPrefernceBind.join(',')}},
                {{communityBind.join(',')}}</span></ion-col>
          </ion-row>
          <ion-row class="custom-bottom-margin">
            <ion-col><span style="font-weight: 500;color:#000;">Activity Level: </span>
              <span style="font-size: .8rem;"> {{activityBind.join(',')}} </span></ion-col>
          </ion-row>
          <ion-row class="custom-bottom-margin" style="border-top:1px solid #b3b3b3;">
            <ion-col size="2"><span style="font-weight: 500;color:#000;">Calories: </span> <span
                style="font-size: .8rem;">{{profileData?.lifeStyle?.calories}} kcal</span>
              <a (click)="openPopupForUpdateCalory()"
                style="font-size: .8rem;margin-left:.3rem;margin-right:.5rem;">Edit</a>
            </ion-col>
            <ion-col size="10"><span style="font-weight: 500;color:#000;">Carbs: </span> <span
                style="font-size: .8rem;">{{profileData?.lifeStyle?.carb}} gm |</span>
              <span style="font-weight: 500;color:#000;">Fat: </span> <span
                style="font-size: .8rem;">{{profileData?.lifeStyle?.fat}} gm | </span>
              <span style="font-weight: 500;color:#000;">Protein: </span> <span
                style="font-size: .8rem;">{{profileData?.lifeStyle?.protien}} gm</span></ion-col>
          </ion-row> -->
        </ion-card-content>
      </ion-card>
      <div *ngIf="isUpdateCal"
        style="position: fixed; height:100%;width:100%; background:#000; opacity:.5;z-index:9;top:0;"></div>
      <div *ngIf="isUpdateCal" style="position: fixed; height:45%;width:25%; background:#fff; z-index:10;  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);padding:1rem;">
        <ion-icon name="close" style="color:#000;font-size:1.2rem; float:right;" (click)="closeUpdateCal()"></ion-icon>
        <ion-row>
          <ion-col class="ion-text-center">
            <h2 style="font-size: 1.2rem;">Current Calories</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-input type="number"
              style="margin-top:.5rem;padding-left:.4rem !important;border:1px solid #b3b3b3;width:60%;border-radius:.2rem;height:35px;"
              [(ngModel)]="calories">
            </ion-input>
            <div style="position: absolute;
    left: 62%;
    top: 55%;
    font-size: .8rem;"> Kcal</div>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
        <br>
        <ion-row style="position: fixed; bottom:1rem; left:40%;">
          <ion-col class="ion-text-center">
            <ion-button (click)="updateCal(calories)"
              style="margin-bottom: .2rem; text-transform:none; --background:rgb(93, 95, 239)">Update</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <ion-card *ngIf="!isBeato">
        <ion-card-header style="background: #E4E7FA;color:#000; font-weight:500;">
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-row>
                <ion-col><span style="white-space: nowrap;color:#000;">QA Session: </span>
                  <a (click)="editQA()" style="font-size: .8rem;cursor:pointer;">Edit</a></ion-col>

              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-icon *ngIf="open2===false" (click)="open2=true" name="arrow-down" mode="ios"></ion-icon>
              <ion-icon *ngIf="open2===true" (click)="open2=false" name="arrow-up" mode="ios"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="open2">
          <div *ngFor="let qa of consultQA; let ind=index;">
            <ion-row *ngIf="qa.answer!==''" style="margin-bottom: 1rem;">
              <ion-col>
                <span style="font-weight: 500;color:#000;font-size: .9rem;"> {{qa.question}} </span><br>
                <span style="font-size: .9rem;">{{qa.answer}}</span>

              </ion-col>
            </ion-row>

          </div>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="!isBeato">
        <ion-card-header style="background: #E4E7FA;color:#000; font-weight:500;">
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-row>
                <ion-col><span style="white-space: nowrap;color:#000;">Instructions: </span>
                  <a (click)="instructions()" style="font-size: .8rem;cursor:pointer;">Edit</a></ion-col>
                <ion-col> </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-icon *ngIf="open3===false" (click)="open3=true" name="arrow-down" mode="ios"></ion-icon>
              <ion-icon *ngIf="open3===true" (click)="open3=false" name="arrow-up" mode="ios"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="open3">
          <ion-row>
            <ion-col>
              <span *ngIf="normalDay" style="color:#000; font-weight:500;font-size:.9rem;">Normal Day Instruction</span>
              <div *ngIf="normalDay" style="font-weight: 500;font-size:.9rem;margin-bottom:.8rem;"
                [innerHTML]="normalDay| newline">
              </div>
              <span *ngIf="cheatDay" style="color:#000; font-weight:500;font-size:.9rem;">Cheat Day Instruction</span>
              <div *ngIf="cheatDay" style="font-weight: 500;font-size:.9rem;margin-bottom:.8rem;"
                [innerHTML]="cheatDay| newline">
                <br>
              </div>
              <span *ngIf="detoxDay" style="color:#000; font-weight:500;font-size:.9rem;">Detox Day Instruction</span>
              <div *ngIf="detoxDay" style="font-weight: 500;font-size:.9rem;margin-bottom:.8rem;"
                [innerHTML]="detoxDay| newline"> </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="!isBeato">
        <ion-card-header style="background: #E4E7FA;">
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-row>
                <ion-col><span style="white-space:nowrap;color:#000;font-weight: 500;">Health Parameters: </span>
                  <a (click)="health()">Add</a></ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-icon *ngIf="open4===false" (click)="open4=true" name="arrow-down" mode="ios"></ion-icon>
              <ion-icon *ngIf="open4===true" (click)="open4=false" name="arrow-up" mode="ios"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content style="margin-top: 1rem;" *ngIf="open4">
          <ion-row style="background: #E4E7FA;border:.5px solid #C6D6FF;">
            <ion-col size="2" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Created By:</h2>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Date:</h2>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Blood Pressure:</h2>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Blood Glucose:</h2>
            </ion-col>
            <ion-col size="2" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Weight(kg):</h2>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <h2 style="margin: 0;font-size:1rem;font-weight:500;padding:10px;color:#000;">Action:</h2>
            </ion-col>
          </ion-row>
          <ion-row style="background: #fff;border:.5px solid #C6D6FF;font-size:.8rem;"
            *ngFor="let hp of fetchedData; let ind=index;">
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{hp?.createdBy}}</ion-col>
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{formatDate(hp?.creationDate)}}</ion-col>
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{hp?.healthData?.bloodPressure?.diastolic}}/{{hp?.healthData?.bloodPressure?.systolic}}</ion-col>
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">HDL:{{hp?.healthData?.cholesterol?.hdl}}/LDL:{{hp?.healthData?.cholesterol?.hdl}}/TOTAL:{{hp?.healthData?.cholesterol?.total}}/<br>triglycerides:{{hp?.healthData?.cholesterol?.triglycerides}}</ion-col>
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{hp?.healthData?.weightKg}}</ion-col>
            <ion-col size="2" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{hp?.active}}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header style="background: #E4E7FA;color:#000;font-weight: 500;">
          <ion-row>
            <ion-col class="ion-text-left">
              <ion-row>
                <ion-col><span>Action Log: </span></ion-col>

              </ion-row>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-icon *ngIf="open5===false" (click)="open5=true" name="arrow-down" mode="ios"></ion-icon>
              <ion-icon *ngIf="open5===true" (click)="open5=false" name="arrow-up" mode="ios"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content style="margin-top: 1rem;" *ngIf="open5">
          <ion-row style="background: #E4E7FA;border:.5px solid #C6D6FF;">
            <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Action By:</h2>
            </ion-col>
            <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Action:</h2>
            </ion-col>
            <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Date:</h2>
            </ion-col>
            <ion-col size="3" class="ion-text-center" style="border-right:.5px solid #C6D6FF;padding:10px;">
              <h2 style="margin: 0;font-size:.9rem;font-weight:500;color:#000;">Time:</h2>
            </ion-col>
          </ion-row>
          <ion-row style="background: #fff;border:.5px solid #C6D6FF;font-size:.8rem;"
            *ngFor="let action of actionLog; let ind=index;">
            <ion-col size="3" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{action.dietitianName}}
              ({{action.dietitianEmail}})</ion-col>
            <ion-col size="3" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{action.actionName}}</ion-col>
            <ion-col size="3" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{formatDate(action.actionDate)}}</ion-col>
            <ion-col size="3" class="ion-text-center"
              style="border-right:.5px solid #C6D6FF;padding:10px;">{{formatTime(action.actionDate)}}</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>