.input-label {
  font-weight: 400;
  --min-height: 0px;
  font-size: 1rem;
  background: rgba(99, 122, 225, 0.06);
  --background: none;
  --inner-padding-end: 0;
  padding: 10px 0;
  width: 10rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  --padding-start: 0;
  margin-bottom: 2rem;
  color: #000;
}
.input-label > p {
  margin: auto;
}
ion-item {
  --border-style: none;
}
.input {
  max-width: 80%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  border-radius: 5px;
  border-color: #b3b3b3;
  // color: rgba(99, 99, 100, 1);
  font-size: 0.8rem;
  text-align: center;
}
.input3 {
  max-width: 100%;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  border-radius: 5px;
  border-color: #b3b3b3;
  text-align: center;
  font-size: 0.8rem;
}
.input2 {
  width: 100%;
  border: #b3b3b3 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  // text-align: center;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
.selector {
  max-width: 100%;
  width: 35rem;
  border: gray 1px solid;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 5px !important;
  border-radius: 5px;
  border-color: #b3b3b3;
  text-align: center;
  font-size: 0.8rem;
}
ion-select {
  width: 13rem;
}

.actionBtn {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 2rem;
}
