<ion-content>
  <!-- <h1 style="margin-bottom: 2rem;font-size: 3rem;text-align: center;">
    Edit Profile
  </h1> -->
  <ion-grid style="margin-left: 2rem; font-size:1rem;" *ngIf="!isLoading">
    <ion-row *ngIf="id && status==='resubmitted'"
      style="background-color: #d5d5d5; padding: 2px 10px; margin-bottom: 1rem; border-radius: 10px;"><span
        style="font-weight: 700;">Resubmission Reason: </span> {{resubmissionReason}}</ion-row>
    <ion-row>
      <!-- Food Name & Age & Gender -->
      <ion-col size="6">
        <!-- Food Name -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Food Name<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-input required="false" placeholder="Enter Food Name" [(ngModel)]="Food" class="input3"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!-- Hindi Name -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Hindi Name</p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-input required="false" placeholder="Enter Food Hindi Name" [(ngModel)]="hindiName" class="input3"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!-- Food Type -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Food Type<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter Food Type" [(ngModel)]="foodType" class="input"></ion-input> -->

            <ion-select class="input" mode="md" [(ngModel)]="foodType"
              [placeholder]="foodType ? foodType :'Select Food Type'" [disabled]="status === 'approved' && !isManisha">
              <ion-select-option *ngFor="let option of foodTypeOptions"
                [value]="option.code">{{option.value}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <!-- Type -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Type<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">

            <ion-select class="selector" mode="md" [(ngModel)]="Type" [placeholder]="Type ? Type :'Select Food Type'"
              [disabled]="status === 'approved' && !isManisha" (ionChange)="onTypeChange($event)">
              <ion-select-option value="add-new" *ngIf="isManisha">
                + Add New Type Option
              </ion-select-option>
              <ion-select-option *ngFor="let option of typeOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <!-- Slots -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Slots<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <!-- <ion-input required="false" placeholder="Enter Food Slots" [(ngModel)]="slots" class="input"></ion-input> -->

            <ion-select class="selector" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="Slots"
              multiple="true" [placeholder]="Slots.length ? Slots.join(', ') :'Select Slots'">
              <ion-select-option *ngFor="let option of slotOptions"
                [value]="option.slot">{{option.message}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Portion<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="true" type="number" placeholder="Enter Portion" [(ngModel)]="portion" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select class="input" mode="md" [(ngModel)]="portion_unit"
              [placeholder]="portion_unit && portion_unit.length>0 ? portion_unit :'Select Portion Unit'"
              [disabled]="status === 'approved' && !isManisha">
              <ion-select-option *ngFor="let option of portionUnitOptions"
                [value]="option">{{option}}</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item>
            {{portion_unit}}
          </ion-item> -->
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Calories (Kcal)<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Calories" [(ngModel)]="Calories" class="input"
              (ionChange)="calculateCaloreiesRelated(); calculateSmartCalories()"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Carbs (gm)<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Carbs" [(ngModel)]="Carbs" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Fat (gm)<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Fat" [(ngModel)]="Fat" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Protein (gm)<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Protein in your Food" [(ngModel)]="Protien" class="input"
              (ionChange)="calculateCaloreiesRelated()" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!-- Fiber -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Fiber (gm)<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Fiber in your Food" [(ngModel)]="Fiber" class="input"
              (ionChange)="calculateCaloreiesRelated()" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Season</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="season"
              multiple="true" [placeholder]="season.length ? season.join(', ') : 'Select Season'">
              <ion-select-option *ngFor="let option of seasonOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>

          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Remark<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-textarea rows="5" required="false" placeholder="Enter Remark" [(ngModel)]="Remark" class="input2"
              [readonly]="status === 'approved' && !isManisha"></ion-textarea>
          </ion-item>
        </ion-row>
        <!-- Recipe -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Ingredients<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-textarea rows="15" placeholder="Enter Food Recipe" [(ngModel)]="recipe" class="input2"
              [readonly]="status === 'approved' && !isManisha"></ion-textarea>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Steps<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-textarea rows="15" required="false" placeholder="Enter Steps for Food" [(ngModel)]="steps"
              class="input2" [readonly]="status === 'approved' && !isManisha"></ion-textarea>
          </ion-item>
        </ion-row>
        <!-- Item Code -->
        <!-- <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Item Code</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Item Code" [(ngModel)]="itemCode" class="input"
              [readonly]="status === 'approved'"></ion-input>
          </ion-item>
        </ion-row> -->
        <!-- Community -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Community<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-select class="selector" multiple="true" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Community"
              [placeholder]="Community && Community.length>0 ? Community.join(', ') :'Select Community'">
              <ion-select-option *ngFor="let option of communityOptions"
                [value]="option.code">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Video</p>
          </ion-item>
          <ion-item style="width: 75%;">
            <ion-input required="true" placeholder="Enter Video URL" [(ngModel)]="video" class="input3"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!-- Avoid In -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Avoid In</p>
          </ion-item>
          <ion-item style="width: 75%;">
            <!-- <ion-input required="false" placeholder="Enter AvoidIn" [(ngModel)]="AvoidIn" class="input"></ion-input> -->

            <ion-select class="selector" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="AvoidIn" multiple="true"
              [placeholder]="AvoidIn && AvoidIn.length ? AvoidIn.join(', ') :'Select AvoidIn'">
              <ion-select-option *ngFor="let option of avoidInOptions"
                [value]="option.code">{{option.value}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Slot</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Name" [(ngModel)]="Special_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Recommended In</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food RecommendedIn" [(ngModel)]="RecommendedIn" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Detox</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Detox" [(ngModel)]="Detox" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Detox Rank</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter Detox_rank" [(ngModel)]="Detox_rank" class="input"  [readonly]="status === 'approved'"></ion-input> -->

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Detox_rank" [placeholder]="Detox_rank ? Detox_rank :'Select Detox Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Diet</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Special Diet Food" [(ngModel)]="Special_diet" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!-- <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Code</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Code" [(ngModel)]="code" class="input"
              [readonly]="status === 'approved'"></ion-input>
          </ion-item>
        </ion-row> -->
        <!-- Ultra Special -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Ultra Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Ultra_special Food Name" [(ngModel)]="Ultra_special"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Immunity</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter immunity in Food Item" [(ngModel)]="immunity" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Immunity Special Slot</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter immunity_special_slot" [(ngModel)]="immunity_special_slot"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>During Covid</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter during covid" [(ngModel)]="during_covid" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>During Covid Special Slot</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Name" [(ngModel)]="during_covid_special_slot"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Post Covid</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Food Name" [(ngModel)]="post_covid" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Post Covid Special Slot</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter post_covid_special_slot Name"
              [(ngModel)]="post_covid_special_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row><ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>courtesy</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter courtesy in Food" [(ngModel)]="courtesy" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Recipe Hindi</p>
          </ion-item>
          <ion-item style="width: 75%;">

            <ion-textarea rows="5" required="false" placeholder="Enter Recipe for Food in Hindi"
              [(ngModel)]="recipeHindi" class="input2" [readonly]="status === 'approved' && !isManisha"></ion-textarea>

          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Steps Hindi</p>
          </ion-item>
          <ion-item style="width: 75%;">
            <!-- <ion-input required="false" placeholder="Enter Steps in Hindi" [(ngModel)]="stepsHindi"              class="input"  [readonly]="status === 'approved'"></ion-input> -->

            <ion-textarea rows="5" required="false" placeholder="Enter Steps for Food in Hindi" [(ngModel)]="stepsHindi"
              class="input2" [readonly]="status === 'approved' && !isManisha"></ion-textarea>

          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Gluten Free</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Gluten Free" [(ngModel)]="gluten_free" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Source</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Source" [(ngModel)]="source" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Country</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" multiple="true"[disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="country"
              [placeholder]="country && country.length>0 ? country.join(', ') :'Select Country'">
              <ion-select-option *ngFor="let option of countryOptions"
                [value]="option.code">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Brand</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Brand" [(ngModel)]="brand" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Slot Canada</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Special Slot Canada" [(ngModel)]="Special_slot_canada"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Slot Australia</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Special Slot Australia" [(ngModel)]="Special_slot_australia"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Net Carbs</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Net Carbs" [(ngModel)]="net_carbs" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Recipe Flag</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Recipe Flag" [(ngModel)]="recipeFlag" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Trending Recipe</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Trending Recipe" [(ngModel)]="trendingRecipe" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Slot Muscle Building Morning</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Special Slot Muscle Building Morning"
              [(ngModel)]="special_slot_muscle_building_morning" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
            <!-- <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="special_slot_muscle_building_morning"
              [placeholder]="special_slot_muscle_building_morning ? special_slot_muscle_building_morning :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select> -->
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Special Slot Muscle Building Evening</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Special Slot Muscle Building Evening"
              [(ngModel)]="special_slot_muscle_building_evening" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Protein Percentage %</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Protein Percentage" [(ngModel)]="Protein_percentage" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!-- Skincare Rank -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Skincare Rank<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Skincare_rank" [placeholder]="Skincare_rank ? Skincare_rank :'Select Skincare Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- Skincare Slot -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Skincare Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Skincare Slot" [(ngModel)]="Skincare_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Gut Elimination Rank</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="gutelimination_rank"
              [placeholder]="gutelimination_rank ? gutelimination_rank:'Select Gut Elimination Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Gut Elimination Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Gut Elimination Slot" [(ngModel)]="gutelimination_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Foodmap Rank</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Fodmap_rank" [placeholder]="Fodmap_rank ? Fodmap_rank :'Select Foodmap Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Fodmap Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Fodmap Slot" [(ngModel)]="Fodmap_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Kids Below 3 Rank</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="kidsbelow3_rank"
              [placeholder]="kidsbelow3_rank ? kidsbelow3_rank :'Select Kids Below 3 Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Kids Below 3 Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Kids Below 3 Slot" [(ngModel)]="kidsbelow3_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Kids Above 3 Rank</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Kids Above 3 Rank" [(ngModel)]="kidsabove3_rank" class="input" [readonly]="status === 'approved'"></ion-input> -->

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="kidsabove3_rank"
              [placeholder]="kidsabove3_rank ? kidsabove3_rank :'Select Kids Above 3 Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Kids Above 3 Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Kids Above 3 Slot" [(ngModel)]="kidsabove3_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>


        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Buy URL</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Buy URL" [(ngModel)]="BuyUrl" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Smart Calories</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Smart Calories" [(ngModel)]="SmartCalories" type="number" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

      </ion-col>

      <!-- Center divider -->
      <ion-col size="1">
        <div style="background-color: gray;width: 1px;height: 100%;"></div>
      </ion-col>

      <!-- Second Right Column -->
      <ion-col size="5">
        <!--  Score  -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Weight Loss Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="Score"
              [placeholder]="Score ? Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptionsNum"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <!--  Diabetes Score  -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Diabetes Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-select class="input" mode="md" [(ngModel)]="Diabetes_score" (ionChange)="calculateSmartCalories()"
              [placeholder]="Diabetes_score ? Diabetes_score :'Select Score'"
              [disabled]="status === 'approved' && !isManisha">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Diabetes Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Diabetes Special" [(ngModel)]="Diabetes_special"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>BP Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter BP Score" [(ngModel)]="BP_Score" class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="BP_Score"
              [placeholder]="BP_Score ? BP_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>BP Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter BP Special" [(ngModel)]="BP_special" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Cholesterol Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter Cholesterol Score" [(ngModel)]="Cholestrol_score"  class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Cholestrol_score" [placeholder]="Cholestrol_score ? Cholestrol_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Cholesterol Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter Cholesterol Special" [(ngModel)]="Cholestrol_special"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>PCOS Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter PCOS Score" [(ngModel)]="PCOS_score" 
              class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="PCOS_score" [placeholder]="PCOS_score ? PCOS_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>PCOS Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter PCOS Special" [(ngModel)]="PCOS_special" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>
        <!--  Muscle Building Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Muscle Building Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter Muscle Building Score" [(ngModel)]="muscle_building_score"              class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="muscle_building_score"
              [placeholder]="muscle_building_score ? muscle_building_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- Hypothyroid Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Hypothyroid Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Hypothyroid Score" [(ngModel)]="Hypothyroid_Score" class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Hypothyroid_Score" [placeholder]="Hypothyroid_Score ? Hypothyroid_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- Hypothyroid Slot -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Hypothyroid Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Hypothyroid Slot" [(ngModel)]="Hypothyroid_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

  <!-- ***************************** -->

   <!-- Autism Score -->
   <ion-row>
    <ion-item class="input-label" lines="none">
      <p>Autism Score</p>
    </ion-item>
    <ion-item>
      <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="autism_score" [placeholder]="autism_score ? autism_score :'Select Score'">
        <ion-select-option *ngFor="let option of scoreOptions" [value]="option.value">{{option.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <!-- Autism Slot -->
  <ion-row *ngIf="isManisha">
    <ion-item class="input-label" lines="none">
      <p>Autism Slot</p>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter Autism Slot" [(ngModel)]="autism_slot" class="input"
        [readonly]="status === 'approved' && !isManisha"></ion-input>
    </ion-item>
  </ion-row>

   <!-- Adhd Score -->
   <ion-row>
    <ion-item class="input-label" lines="none">
      <p>Adhd Score</p>
    </ion-item>
    <ion-item>
      <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="adhd_score" [placeholder]="adhd_score ? adhd_score :'Select Score'">
        <ion-select-option *ngFor="let option of scoreOptions" [value]="option.value">{{option.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <!-- Adhd Slot -->
  <ion-row *ngIf="isManisha">
    <ion-item class="input-label" lines="none">
      <p>Adhd Slot</p>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter Adhd Slot" [(ngModel)]="adhd_slot" class="input"
        [readonly]="status === 'approved' && !isManisha"></ion-input>
    </ion-item>
  </ion-row>


  <!-- ***************************** -->

        <!-- Acidity Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Acidity Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Acidity Score" [(ngModel)]="Acidity_Score" class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Acidity_Score" [placeholder]="Acidity_Score ? Acidity_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- Sleep Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Sleep Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Sleep Score" [(ngModel)]="Sleep_Score" class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Sleep_Score" [placeholder]="Sleep_Score ? Sleep_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- 0-6 Lactation Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>0-6 Lactation Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Lactation_score_0_6"
              [placeholder]="Lactation_score_0_6 ? Lactation_score_0_6 :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>0-6 Lactation Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter 0-6 Lactation Slot" [(ngModel)]="Lactation_slot_0_6" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!-- Stress Rank -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>Stress Rank<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Stress Rank" [(ngModel)]="Stress_rank" class="input" [readonly]="status === 'approved'"></ion-input> -->

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Stress_rank" [placeholder]="Stress_rank ? Stress_rank :'Select Stress Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <!-- Stress Slot -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Stress Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Stress Slot" [(ngModel)]="Stress_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!--  Keto Score  -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Keto Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Keto_Score" [placeholder]="Keto_Score ? Keto_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Keto Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Keto Slot" [(ngModel)]="Keto_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!--  WeightLossPlus Score -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>WeightlossPlus Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input required="false" placeholder="Enter WeightlossPlus Score" [(ngModel)]="WeightlossPlus_score"               class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="WeightlossPlus_score"
              [placeholder]="WeightlossPlus_score ? WeightlossPlus_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>WeightlossPlus Special</p>
          </ion-item>
          <ion-item>
            <ion-input required="false" placeholder="Enter WeightlossPlus Special" [(ngModel)]="WeightlossPlus_special"
              class="input" [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Anti Inflammatory Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Anti Inflammatory Score" [(ngModel)]="Anti_Inflammatory_Score"               class="input"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Anti_Inflammatory_Score"
              [placeholder]="Anti_Inflammatory_Score ? Anti_Inflammatory_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Anti Inflammatory Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Anti Inflammatory Slot" [(ngModel)]="Anti_Inflammatory_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Fatty Liver Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Fatty Liver Score" [(ngModel)]="Fatty_Liver_Score" class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Fatty_Liver_Score" [placeholder]="Fatty_Liver_Score ? Fatty_Liver_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Fatty Liver Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Fatty Liver Slot" [(ngModel)]="Fatty_Liver_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Functional Food Flag</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Functional Food Flag" [(ngModel)]="Functional_Food_flag" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Functional Foods</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Functional Foods" [(ngModel)]="Functional_foods" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Anemia Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Anemia Score" [(ngModel)]="Anemia_Score" class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Anemia_Score" [placeholder]="Anemia_Score ? Anemia_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>


        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Uric Acid Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Uric Acid Score" [(ngModel)]="Uric_Acid_Score" class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Uric_Acid_Score" [placeholder]="Uric_Acid_Score ? Uric_Acid_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Calcium</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Calcium" [(ngModel)]="Calcium" class="input" [readonly]="status === 'approved' && !isManisha"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="Calcium"
              [placeholder]="Calcium ? Calcium :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Vitamin D</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Vitamin D" [(ngModel)]="Vitamin_D" class="input" [readonly]="status === 'approved' && !isManisha"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md" [(ngModel)]="Vitamin_D"
              [placeholder]="Vitamin_D ? Vitamin_D :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Vitamin B12 Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Vitamin_B12_Score" [placeholder]="Vitamin_B12_Score ? Vitamin_B12_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Egypt Plan</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Egypt Plan" [(ngModel)]="Egypt_Plan" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Alkaline Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Alkaline_Score" [placeholder]="Alkaline_Score ? Alkaline_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Alkaline Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Alkaline Slot" [(ngModel)]="Alkaline_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Prediabetes Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Prediabetes Score" [(ngModel)]="Prediabetes_Score" class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Prediabetes_Score" [placeholder]="Prediabetes_Score ? Prediabetes_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Prediabetes Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Prediabetes Slot" [(ngModel)]="Prediabetes_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>High Protein Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter High Protein Score" [(ngModel)]="High_Protein_Score"  class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="High_Protein_Score" [placeholder]="High_Protein_Score ? High_Protein_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>High Protein Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter High Protein Slot" [(ngModel)]="High_Protein_Slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!-- T1 Pregnancy Score -->
        <ion-row>
          <ion-item class="input-label" lines="none">
            <p>T1 Pregnancy Score<span style="color: red;">*</span></p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="T1_Pregnancy_score" [placeholder]="T1_Pregnancy_score ? T1_Pregnancy_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>T1 Pregnancy Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter T1 Pregnancy Slot" [(ngModel)]="T1_Pregnancy_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>T2 Pregnancy Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="T2_Pregnancy_score" [placeholder]="T2_Pregnancy_score ? T2_Pregnancy_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>T2 Pregnancy Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter T2 Pregnancy Slot" [(ngModel)]="T2_Pregnancy_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>T3 Pregnancy Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="T3_Pregnancy_score" [placeholder]="T3_Pregnancy_score ? T3_Pregnancy_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>T3 Pregnancy Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter T3 Pregnancy Slot" [(ngModel)]="T3_Pregnancy_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Postpartum Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Postpartum_score" [placeholder]="Postpartum_score ? Postpartum_score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Postpartum Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Postpartum Slot" [(ngModel)]="Postpartum_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>7-12 Lactation Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="Lactation_score_7_12"
              [placeholder]="Lactation_score_7_12 ? Lactation_score_7_12 :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>7-12 Lactation Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter 7-12 Lactation Slot" [(ngModel)]="Lactation_slot_7_12" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Water Retention Score</p>
          </ion-item>
          <ion-item>
            <!-- <ion-input placeholder="Enter Water Retention Score" [(ngModel)]="waterRetentionScore"               class="input"  [readonly]="status === 'approved'"></ion-input> -->
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="waterRetentionScore"
              [placeholder]="waterRetentionScore ? waterRetentionScore :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Water Retention Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Water Retention Slot" [(ngModel)]="waterRetentionSlot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Fitelo Weight Loss Score</p>
          </ion-item>
          <ion-item>
            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="fiteloWeightLoss_Score"
              [placeholder]="fiteloWeightLoss_Score ? fiteloWeightLoss_Score :'Select Score'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Fitelo Weight Loss Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Fitelo Weight Loss Slot" [(ngModel)]="fiteloWeightLossSlot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <!-- Continue this structure for each remaining field -->
        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Lunch Cheat Day Rank</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="lunchCheatDayRank"
              [placeholder]="lunchCheatDayRank ? lunchCheatDayRank :'Select Cheat Day Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Lunch Cheat Day Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Lunch Cheat Day Slot" [(ngModel)]="lunchCheatDaySlot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Dinner Cheat Day Rank</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="dinnerCheatDayRank"
              [placeholder]="dinnerCheatDayRank ? dinnerCheatDayRank :'Select Dinner Cheat Day Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Dinner Cheat Day Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Dinner Cheat Day Slot" [(ngModel)]="dinnerCheatDaySlot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Cooking Proficiency</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Cooking Proficiency" [(ngModel)]="cookingProficiency" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Cooking Time</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Cooking Time" [(ngModel)]="cookingTime" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Detox Fitelo Rank</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="detoxFiteloRank"
              [placeholder]="detoxFiteloRank ? detoxFiteloRank :'Select Detox Fitelo Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Detox Fitelo Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Detox Fitelo Slot" [(ngModel)]="detoxFiteloSlot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Travel Rank</p>
          </ion-item>
          <ion-item>

            <ion-select class="input" [disabled]="status === 'approved' && !isManisha" mode="md"
              [(ngModel)]="travel_rank" [placeholder]="travel_rank ? travel_rank :'Select Travel Rank'">
              <ion-select-option *ngFor="let option of scoreOptions"
                [value]="option.value">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row *ngIf="isManisha">
          <ion-item class="input-label" lines="none">
            <p>Travel Slot</p>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter Travel Slot" [(ngModel)]="travel_slot" class="input"
              [readonly]="status === 'approved' && !isManisha"></ion-input>
          </ion-item>
        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>

<ion-toolbar *ngIf="!id" style="padding-left: 35%;padding-right: 35%;">
  <ion-button (click)="createProfile()" expand="block" shape="round" style="--background:#6277eb;"
    [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Fat && Fat!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score || !Remark || !T1_Pregnancy_score || !Lactation_score_0_6 || !recipe || !steps || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score"
    *ngIf="!id">Propose Recipe</ion-button>

</ion-toolbar>


<!-- Is Manisha but type is origin data from diet_plan collection -->
<ion-toolbar *ngIf="isManisha && id && isOrigin" style="padding-left: 35%;padding-right: 35%;">
  <ion-button (click)="updateOriginRecipe()" expand="block" shape="round" style="--background:#6277eb;" [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score|| !T1_Pregnancy_score || !Lactation_score_0_6 || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score || !Remark || !recipe || !steps || (!Fat && Fat!==0)
    ">Update Recipe</ion-button>

</ion-toolbar>

<ion-toolbar *ngIf="id && !isOrigin" style="padding-left: 5%;padding-right: 5%;">

  <ion-row style="font-weight: 500;width: 100%;padding: 7px;" class="ion-justify-content-between"
    *ngIf="status !== 'approved' && isManisha">

    <ion-col size="1.5" style="color: green;border: green 1px solid;" class="actionBtn" (click)="handleAcceptClick()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>Accept
    </ion-col>
    <ion-col size="1.5"></ion-col>
    <ion-col *ngIf="dietitianId===myId" size="0"></ion-col>

    <ion-col size="2.2" style="color: #6277eb;border: #6277eb 1px solid;" class="actionBtn" *ngIf="dietitianId!==myId"
      (click)="handleUploadToDietPlanClick()">
      <ion-icon name="cloud-upload-outline"></ion-icon>Upload to Diet_plan
    </ion-col>
    <ion-col *ngIf="dietitianId!==myId" size="1.5"></ion-col>

    <ion-button (click)="updateProfile()" expand="block" shape="round" style="--background:#6277eb;"
      [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Fat && Fat!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score || !Remark || !T1_Pregnancy_score || !Lactation_score_0_6 || !recipe || !steps || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score">Update
      Recipe</ion-button>

    <ion-col size="2"></ion-col>

    <ion-col size="1.5" style="color: red;border: red 1px solid;" class="actionBtn"
      (click)="showRejectPopup()"><ion-icon name="close-circle-outline"></ion-icon>Reject</ion-col>

  </ion-row>

  <ion-button (click)="updateProfile()" expand="block" shape="round" *ngIf="status === 'approved' && isManisha"
    style="--background:#6277eb;margin: 0 40%;"
    [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Fat && Fat!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score || !Remark || !T1_Pregnancy_score || !Lactation_score_0_6 || !recipe || !steps || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score">Update
    Recipe</ion-button>

  <span *ngIf="status === 'approved' && !isManisha" style="color: red;font-size: 1rem;">* Approved Records can not be
    edited</span>

  <ion-row style="font-weight: 500;width: 100%;padding: 7px;display: flex;justify-content: center;"
    *ngIf="status === 'submitted' && !isManisha">

    <ion-button (click)="updateProfile()" expand="block" shape="round" style="--background:#6277eb;"
      [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Fat && Fat!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score || !Remark || !T1_Pregnancy_score || !Lactation_score_0_6 || !recipe || !steps || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score">Update
      Recipe</ion-button>

  </ion-row>

  <!-- Resubmit by the dietitian Who Created it After rejection -->
  <ion-row style="font-weight: 500;width: 100%;padding: 7px;display: flex;justify-content: center;"
    *ngIf="status === 'rejected' && !isManisha && dietitianId === myId">

    <ion-button (click)="showResubmitReasonPopup()" expand="block" shape="round" style="--background:#6277eb;"
      [disabled]="Food==='' || !foodType || !Type || !Slots || !Community || !Hypothyroid_Score || (!Calories && Calories!==0) || (!Carbs && Carbs!==0) || (!Fat && Fat!==0) || (!Protien && Protien!==0) || (!Fiber && Fiber!==0) || !Acidity_Score || !Sleep_Score || !Remark || !T1_Pregnancy_score || !Lactation_score_0_6 || !recipe || !steps || !portion || !Diabetes_score || !BP_Score || !PCOS_score || !Stress_rank || !Skincare_rank || !muscle_building_score">Resubmit
      Recipe</ion-button>
  </ion-row>
</ion-toolbar>

<!-- Rejection Reason Popup -->
<div *ngIf="rejectPopup" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="rejectPopup"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: fixed; height: 40%; z-index: 12;left:20%; top:25%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2" class="ion-text-center ion-align-self-center">Give Reason:</ion-col>
    <ion-col size="8" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
      <ion-input placeholder="Give Reason to reject" [(ngModel)]="reason"></ion-input>
    </ion-col>
    <ion-col size="2" class="ion-text-center ion-align-self-center"></ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="handleRejectClick()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;" fill="outline"
        [disabled]="!reason">Confirm</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>

<!-- Resubmit Rejection Popup -->
<div *ngIf="resubmitPopup" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="resubmitPopup"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: fixed; height: 30%; z-index: 12;left:20%; top:25%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closeResumitReasonPopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2.5" class="ion-text-center ion-align-self-center">Give Resubmission Reason:</ion-col>
    <ion-col size="8.5" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
      <ion-input placeholder="Give Reason to ReSubmit" [(ngModel)]="resubmissionReason"></ion-input>
    </ion-col>
    <ion-col size="1" class="ion-text-center ion-align-self-center"></ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="handleResubmittedClick()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;"
        fill="outline" [disabled]="!resubmissionReason">Submit</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>

<!-- Show Food Type Selector  -->
<div *ngIf="showTypeSelector"
  style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="showTypeSelector"
  style="padding: 1.5rem;border-radius: 10px;width: 50%; position: fixed; height: 40%; z-index: 12;left:20%; top:25%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closeTypeSelectorPopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2.5" class="ion-text-center ion-align-self-center">New Option to Add:</ion-col>
    <ion-col size="8.5" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
      <ion-input placeholder="Give Option to Add" [(ngModel)]="typeEntered"></ion-input>
    </ion-col>
    <ion-col size="1" class="ion-text-center ion-align-self-center"></ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="handleSaveNewOption()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;"
        fill="outline" [disabled]="!typeEntered">Submit</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>