
<ion-content>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <div style="position: relative;">
        <ion-searchbar searchIcon="none" style="--box-shadow: none;--border-radius:8px;padding-right: 1rem;"
          placeholder="Search for food" class="ion-no-padding" 
          (ionClear)="onClear($event)"
          (input)="getAllForSearch($event.target.value)">
        </ion-searchbar>
        <div 
          *ngIf="totalDataSearchedData?.length>0">
          <div (click)="fillFood(searchItem);"
            style="width: 100%; border: .1rem solid #f3f3f3;padding: .5rem;position: relative; cursor:HAND;"
            *ngFor="let searchItem of totalDataSearchedData;">
            {{searchItem.Food}}
          </div>
        </div>
      </div>
    </ion-col>
   
    <ion-col></ion-col>
  </ion-row>
  <div *ngIf="isShow">
    <ion-row>
      <ion-col>
        <div style="background: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative; 
        height: 100%;width: 100%;
        z-index: 12;
        left:0;
        right:0;
        opacity: 1;
        overflow-y: scroll;">
        <div style="
        max-height: 100%;
        position: relative;">
        <img src="{{popup?.imageUrl}}" style="top:0;position: relative;left:0; border-top-left-radius: 10px;
        border-top-right-radius: 10px;object-fit: cover;    width: 100%;
    height: 207px;
    max-width: 100%;">
         <div style="position: absolute;
         background:transparent;height: 30px; 
         box-shadow: 0px 0px 6px #fff, 6px -22px 25px #fff;
         width: 100%;"></div>   
          <div class="video_div" *ngIf="popup.video && popup.video.includes('http')">
            <div (click)="videoClick(popup.video)">
              <div class="videodiv center">
                <img src = './assets/img/playbutton.png'>
              </div>
            </div>
          </div>
        </div>
        
        <div>
        <div style="position: relative;padding: 0 1rem;height:40%">
        <ion-row>
          <ion-col class="ion-text-left">
            <span style="font-size: 1rem;font-weight: 600;">{{popup?.Name}} ({{popup?.portion}} {{popup?.portionUnit}})</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-left">
            <span style="font-size: 1rem;color:#767676;    top: .2rem;
            position: relative;">Calories: {{popup?.Calories}} Kcal </span>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col class="ion-text-left">
          <p *ngIf="popup?.Score" class="choice">
            {{popup?.option}} Choice
          </p>
        </ion-col>
        </ion-row> -->
       
      
        <br><br>
        </div>
        
        </div>
        </div>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <div _ngcontent-nob-c158="" class="cal_calculation_div">
              <div _ngcontent-nob-c158="" class="cal_main_div">
                <div _ngcontent-nob-c158="" class="cal_col">
                  <p _ngcontent-nob-c158="" class="cal_sub_title">Fiber</p>
                  <div>
                   
                  <ion-img  src="../../../../assets/newImages/calorie.png " class="card_cal_image md hydrated">
                  </ion-img>
                </div>
                  <p _ngcontent-nob-c158="" class="cal_title"> {{popup?.Fiber?.toFixed(1)}} g </p></div>
                  <div _ngcontent-nob-c158="" class="cal_col">
                    <p _ngcontent-nob-c158="" class="cal_sub_title">Carbs</p>
                    <div>
                    <ion-img _ngcontent-nob-c158="" src="../../../../assets/newImages/carbs.png" class="card_cal_image md hydrated"></ion-img>
                    </div>
                    <p _ngcontent-nob-c158="" class="cal_title"> {{popup?.Carbs?.toFixed(1)}} g </p></div>
                    <div _ngcontent-nob-c158="" class="cal_col">
                      <p _ngcontent-nob-c158="" class="cal_sub_title">Protein</p>
                      <div>
                      <ion-img _ngcontent-nob-c158="" src="../../../../assets/newImages/protein.png" class="card_cal_image md hydrated"></ion-img>
                      </div>
                      <p _ngcontent-nob-c158="" class="cal_title"> {{popup?.Protien?.toFixed(1)}} g </p></div>
                      <div _ngcontent-nob-c158="" class="cal_col">
                        <p _ngcontent-nob-c158="" class="cal_sub_title">Fats</p>
                        <div>
                        <ion-img _ngcontent-nob-c158="" src="../../../../assets/newImages/fats.png" class="card_cal_image md hydrated"></ion-img>
                        </div>
                       <p _ngcontent-nob-c158="" class="cal_title"> {{popup?.Fat?.toFixed(1)}} g </p></div></div></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row style="position: relative;top: 0;width: 94%;padding-top: 1rem;">
              <ion-col size=".5"></ion-col>
            <ion-col size="3.5" class="ion-text-right">
          
             </ion-col>
            <ion-col size="4" class="ion-text-left ion-align-self-center"> <p class="portion" style="font-size: 1rem;position: relative;
              top: -10px;">
              {{popup?.portion_unit}}  
          
            </p></ion-col>
            <ion-col size="4" class="ion-text-right">
            <!-- <ion-button
            class="logged_btn"
            (click)="addCal(popup,i)"
            style="--background: #5D5FEF;color:#fff;
                width: 65%;
              height: 30px;
              font-size: .9rem;
            --border-radius: 5px;
            margin-right: 1rem;"
            *ngIf="!popup.eaten || popup?.eaten < 0">
            Log
            <ion-icon name="add-outline" style="color: var(--button-text);margin-left: 5px;"></ion-icon>
          </ion-button>
          <ion-button
          *ngIf="popup?.eaten > 0 "
          class="logged_btn"
          style="--background: #5D5FEF;color:#fff;
              width: 75%;
              height: 30px;
              font-size: .9rem;
          --border-radius: 5px;
          margin-right: 1rem;"
          (click)="logged(popup)">
          Logged
          <ion-icon style="color:var(--button-text);margin-left:5px;" name="checkmark"></ion-icon>
          </ion-button> -->
            </ion-col>
           
          </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
   <ion-row>
    <ion-col>
      <fieldset *ngIf="gredientArray?.length>=1" style="border:.5px solid; border-radius: 1rem;border-color: var(--theme-color);">
        <legend style="color:var(--theme-color);font-size: 1.1rem; font-weight: 600;">Ingredients</legend>
      <ion-row>
        <ion-col>
          <div class="condition_card" style="margin-top: 10px">
            <div class="card_div w_100" >
              <ion-grid class="w_100">
                <ion-row>
                  <ion-col>
                    <div style="overflow-y: scroll;width:100%;">
                      <div style="
                      display: flex;
                      flex-wrap: wrap;" *ngIf="popup?.recipe!=undefined">
                        <div 
                        style="width: 33.3%;
                        border-right: 1px solid #f3f3f3;
                        padding: .5rem .4rem;    display: inline-block;
                        vertical-align: top;" 
                        *ngFor="let recipe of gredientArray; let index=index;">
                        <div [innerHtml]="recipe">
                        </div>
                        </div>  
                      </div>
                        </div>
                  </ion-col>
                </ion-row>
              </ion-grid>  
            </div>
          </div>
        </ion-col>
      </ion-row>
      </fieldset>
      <br>
      <fieldset *ngIf="instructionsArray?.length>1" style="border:.5px solid; border-radius: 1rem;border-color: var(--theme-color);">
        <legend style="color:var(--theme-color);font-size: 1.1rem;font-weight: 600;">Instructions</legend>
      <ion-row style="margin-top: .5rem;">
        <ion-col class="ion-text-left">
          <div style="overflow-y: scroll;">
           
          <span style="font-size: .75rem;color:#7C7C7C" *ngIf="popup?.steps!=undefined">
            <div style="width: 100% ;border:none;">
              <div class="container">
                <div [ngClass]="{'milestone':(instructionsArray?.length-1)>index,'milestone1':(instructionsArray?.length-1)===index}" *ngFor="let step of instructionsArray; let index=index;">
                  <div class="step">{{index+1}}</div>
                  <div class="content">
                    <div class="date">{{step}}</div>
                  </div>
                </div>
               
              </div>
            </div> 
          </span>
        </div>
        </ion-col>
      </ion-row>
      </fieldset>
    </ion-col>
   </ion-row>
    </div>
</ion-content>
<iframe
*ngIf="streamVideo"
width="100%"
height="100%"
class="video-iframe"
[src]="videoUrl"
frameborder="0"
allowfullscreen
></iframe>
<ion-icon
*ngIf="streamVideo"
(click)="closeVideo()"
name="close"
class="get-button-icon marginIos"
></ion-icon>