@import '../../theme/fonts.scss';
.header_div {
  // background: #FEBF47;
  // border-radius: 5px;
  width: 100%;
  padding: 10px;
  position: relative;

  ion-img {
    height: 15px !important;
  }

  p {
    font-size: var(--small-font);
    margin: 0px;
    font-family: var(--font-medium);
    font-weight: 500;
    color: #333333;
    margin-left: 20px;
  }

  span {
    font-size: var(--xsmall-font);
    margin-left: 10px;
  }

  ion-icon {
    color: #333333;
    font-size: var(--regular-font);
    margin: 0px 5px -2px;
  }
}
.add_remove_btn {
  background: var(--profile-color);
  border-radius: 25px;
  min-width: 90px;
    height: 30px;
  margin-right: 0.5rem;
  margin-left: .2rem;
  

  ion-icon {
    color: var(--button-text);
    font-size: 20px;
    margin: 5px;
    font-weight: bold !important;
    --ionicon-stroke-width: 45px !important;
  }

  p {
    margin: 0% 5px;
    color: var(--button-text);
    font-family: var(--theme-newFont);
    font-weight: 500;
    font-size: var(--regularM-font);
  }
}


.scroll_y {
  max-height: 200px;
  padding-bottom: 30px;
}

ion-card {
  box-shadow: var(--boxshadow);
  border-radius: 10px;
  padding-bottom: 20px;
  bottom: 3rem;
}

.card_main_div {
  padding: 10px;
}

.card_img {
  // height: 105px;
  // width: 80px;
  // height: 80px;
  // width: 65px;
  height: 120%;
  object-fit: cover;
  &::part(image) {
    border-radius: 5px;
  }
}

ion-thumbnail {
  --size: 65px;
  --border-radius: 14px;
}

.meal_pro_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color:#333;
}

.meal_pro {
  font-size: var(--small-font);
  margin: 0px;
  font-family: var(--font-medium);
  font-weight: 500;
  color: #666666;
  // width: 200px;
}

.meal_cal {
  font-size: var(--small-font);
  margin: 0px;
  font-family: var(--theme-newFont);
  font-weight: 300;
  color: #666666;
}

.dot_boarder {
  margin: 0%;
  border: 2px solid var(--theme-color);
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background: var(--theme-color);
  border-radius: 100%;
}
.isFuture-button{
  --background: gray !important;
  --color: #000 !important;
}
.isFuture{
  color: gray !important;
  border-color: gray !important;
}
.protien_progress {
  background: #376c23;
 
  width: 50px;
  margin: 2px 0px;
}
.Best {
  background: #38a534;

  width: 50px;
  margin: 2px 0px;
}
.Good {
  background: #7ac206;
 
  width: 50px;
  margin: 2px 0px;
}
.Average {
  background: #bbb009;

  width: 50px;
  margin: 2px 0px;
}
.Fair {
  background: #ffa500;
 
  width: 50px;
  margin: 2px 0px;
}
.Unverified {
  background: #7d7d7d5e;
 
  width: 50px;
  margin: 2px 0px;
}
.Bad{
  background: red;
 
  width: 50px;
  margin: 2px 0px;
}

.choice {
  font-size: var(--xsmall-font);
  margin: 0px;
  font-family: var(--theme-newFont);
  font-weight: bold;
  color: #376c23;
}

.plus_icon {
  font-size: 30px;
  z-index: 1;
  border-radius: 100%;
  background: white;
  color: var(--theme-newButton);
  margin-right: -8px;
  // --ionicon-stroke-width:72px !important;
}

.card_logo {
  border: 2px solid white;
  height: 30px !important;
  width: 30px;
  border-radius: 100%;
  padding: 5px;
  position: absolute;
  left: 0px;
  top: -10px;
  z-index: 8;
  background:  var(--goal);
}

.no_data_title {
  font-size: var(--regular-font);
  font-family: var(--theme-newFont);
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.no_data_subtitle {
  font-size: var(--small-font);
  margin: 0px;
  font-family: var(--theme-newFont);
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.more_button_div {
  margin-top: -30px;

  ion-button {
    --border-color: var(--theme-newButton);
    color: var(--theme-newButton);
    font-size: var(--small-font);
    text-transform: none;
    --background: var(--white);
  }
}

.sketloan{
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.logged_btn{
  text-transform: none;
  font-size: var(--xsmall-font);
  font-weight: 300;
  color: var(--black);
  height: 25px;
  // width: 70px;
  --border-color: var(--theme-newButton);
  // margin-right: -10px;
  --padding-start: 0px;
  --padding-end: 0px;
  --border-width: 0.5px;
  --padding-bottom: 2px;
  font-weight: 500;
  max-width: 180px;
  min-width: 100px;

  ion-icon{
    color: var(--theme-newButton);
    --ionicon-stroke-width:72px !important;
    font-size: 14px;

  }

}

.d-flex {
  display: flex;
}
.add_remove_btn {
    background: #5D5FEF;
    border-radius: 25px;
    min-width: 90px;
      height: 30px;
    margin-right: 0.5rem;
    margin-left: .2rem;
    
  
    ion-icon {
      color: #fff;
      font-size: 20px;
      margin: 5px;
      font-weight: bold !important;
      --ionicon-stroke-width: 45px !important;
    }
  
    p {
      margin: 0% 5px;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
    }
  }
  
.logged_btn{
    text-transform: none;
    font-size: var(--xsmall-font);
    font-weight: 300;
    color: var(--black);
    height: 25px;
    width: 70px;
    --border-color: var(--theme-newButton);
    margin-right: -10px;
    --padding-start: 0px;
    --padding-end: 0px;
    --border-width: 0.5px;
    --padding-bottom: 2px;

    ion-icon{
      color: var(--theme-newButton);
      --ionicon-stroke-width:72px !important;
      font-size: 14px;

    }
  }

.aditional_div{
  background: #6e6e6e;
  width: max-content; 
  padding: 2px 5px;
  border-radius: 10px 0px 10px 0px;

  p{
    color: var(--white);
    font-size: var(--xsmall-font);
    margin: 0px;
    font-family: var(--theme-newFont);
    font-weight: 500;
  }
}

.cal_calculation_div {
  width: 100%;
}

.cal_main_div {
  display: flex;
  justify-content: space-around;
  margin: .7rem;
  // margin-top: 20px;
}

.cal_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_cal_image {
  height: 21px;
  object-fit: contain;
  
}





.container {
  width: 98%;
  margin: 3rem 1rem auto;
}

.milestone {
  // display: flex;
  align-items: center;
  padding: 1px 1.5rem 0 1.5rem;
  border-left: 2px solid var(--theme-color);
  height: auto;
  
}
.milestone1 {
  // display: flex;
  align-items: center;
  padding: 1px 1.5rem 0 1.5rem;
  height: auto;
  
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--theme-color);
  color: #fff;
  font-size: .875rem;
  align-items: center;
  text-align: center;
  left: -40px;
  position: relative;
  top: -30px;
  padding-top: .5rem;
}

.content {
  top: -4rem;
  position: relative;
}

.date {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    position: relative;
    top: 10px;
}

.event {
  font-size: .8rem;
  margin-bottom: .8rem;
}

/* Optional: Add animations */
.milestone:hover {
  background-color: #f0f0f0;
}
.milestone1:hover {
  background-color: #f0f0f0;
}
.fiber-icon {
  width: 100px; /* Adjust the size of the icon */
  height: 100px;
}

.fiber-icon path {
  fill: #000; /* Default color of the icon */
}

/* Change the color of the icon when hovered */
.fiber-icon:hover path {
  fill: #00f; /* Change the color to blue on hover */
}
.cal_sub_title {
  color:#333;
  font-size: 1rem;
}
.cal_title {
  color:#565656;
  font-size: 1rem;
}
.protien_progress {
  --progress-background: #376c23;
  border-radius: 25px;
  width: 50px;
  margin: 2px 0px;
}
.Best {
  --progress-background: #38a534;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}
.Good {
  --progress-background: #578905;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}
.Average {
  --progress-background: #857f1f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}
.average {
  --progress-background: #726f3d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}
.Fair {
  --progress-background: #c98301;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}
.Unverified {
  --progress-background: lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: block;
}

.choice {
  font-size: var(--small-font);
  margin: 0px;
  font-family: var(--theme-newFont);
  font-weight: bold;
  color: #376c23;
}

.Bad {
  --progress-background: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  margin: 2px 0px;
  display: inline-flex;
}
.close_icon {
  font-size: 25px;
}

.videodiv {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background: transparent;
 
}

.video_div {
  position: absolute;
  top: 50%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translate(-50%, -50%);
}
.video-iframe {
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 11;
}

.get-button-icon {
  color: #fff;
  background-color: #01a3a4;
  border: 2px solid #fff;
  border-radius: 100px;
  position: fixed;
  /* left: 1.2rem; */
  top: 5px;
  height: 35px;
  width: 35px;
  left: 7px;
  z-index: 12;
}

.play-circle-sharp{
  position: absolute;
  top:0;
  z-index:112;
  background: transparent;
  color:red;
}