.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.template-card {
  width: 20rem;
  position: relative;
}

ion-card-header {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

ion-card-subtitle {
  padding: 20px;
  padding-top: 0;
}

.food-search {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
/* Custom Search Bar Styling */
.custom-search-bar {
  display: flex;
  align-items: center;
  padding-left: 2px;
  border: 2px solid #b3b3b3;
}

.custom-search-input {
  width: 90%;
  padding: 0.5rem 1rem;
  font-size: 14px;
  padding-left: 0;
  border: none;
  outline: none;
}
.custom-search-input:focus {
  border: none;
}
input {
  border: none;
}

.import-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  border: 2px solid #6277eb;
  cursor: pointer;
  border-radius: 10px;
  height: 2.5rem;
}

// No -data found
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10rem 20px;
}

.no-data-icon {
  font-size: 5rem;
  color: #8f9196;
}

.no-data-text {
  font-size: 20px;
  font-weight: 400;
  color: #8f9196;
}

.tooltip {
  position: absolute;
  top: 4rem;
  left: 5rem;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.65rem;
  white-space: nowrap;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  // display: inline-block;
  width: max-content;
}
