<ion-content>
  <div *ngIf="dietRecords && dietRecords.length===0">
    No Diet Plans Saved by you
  </div>

  <!-- Top Search box & filter View -->
  <ion-row class="food-search" *ngIf="dietRecords && dietRecords.length > 0">
    <!-- Search By Name -->
    <ion-col size="2" *ngIf="dietRecords.length >= 6">
      <!-- Custom Search Bar -->
      <div class="custom-search-bar">
        <ion-icon name="search-outline" style="padding-right:5px;font-size: 1.5rem;  color: #000;"></ion-icon>
        <input type="text" placeholder="Search for food..." (input)="onSearchInput($event)"
          class="custom-search-input" />
      </div>
    </ion-col>
    <!-- Status Dropdown -->
    <ion-col size="2.5" *ngIf="dietRecords.length >= 6">
      <ion-item>
        <ion-label style="color: #b3b3b3;">Status</ion-label>
        <ion-select [(ngModel)]="status" (ionChange)="statusDropDownHandler($event)">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="submitted">Submitted</ion-select-option>
          <ion-select-option value="approved">Approved</ion-select-option>
          <ion-select-option value="rejected">Rejected</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2" *ngIf="isManisha && dietRecords.length >= 6">
      <div class="custom-search-bar">
        <ion-icon name="search-outline" style="padding-right:5px;font-size: 1.5rem;  color: #000;"></ion-icon>
        <input type="text" placeholder="Search by Dietitian Name..." (input)="onDietitianSearchInput($event)"
          class="custom-search-input" />
      </div>
    </ion-col>
    <!-- To Maintain Style -->
    <ion-col size="7" *ngIf="dietRecords.length<6 && !isManish">
    </ion-col>
    <!-- Propose Recipe Button -->
    <ion-col size="1.9">
      <ion-button (click)="proposeBtnHandler()" expand="block" shape="round"
        style="--background:#6277eb;height: 2.5rem;margin-left: 1rem;">Add Recipe with Macros</ion-button>
    </ion-col>
    <ion-col size="2.3">
      <ion-button (click)="addIngredientsBtnHandler()" expand="block" shape="round"
        style="--background:#6277eb;height: 2.5rem;margin-left: 1rem;">Add Recipe with Ingredients</ion-button>
    </ion-col>
    <!-- Upload Data btn -->
    <ion-col size="1" *ngIf="isManisha">
      <div class="import-bar" (click)="importDataHandler()">
        <!-- <ion-icon name="cloud-upload-outline" style="padding-right:5px;font-size: 1.5rem;  color: #000;"></ion-icon> -->
        Edit Existing
      </div>
    </ion-col>

  </ion-row>

  <!-- No data -->
  <ng-container *ngIf="!filteredFoodItems || filteredFoodItems.length === 0">
    <div class="no-data-container">
      <ion-icon name="alert-circle-outline" class="no-data-icon"></ion-icon>
      <p class="no-data-text">No Recipes Suggested by you</p>
      <ion-button (click)="proposeBtnHandler()" expand="block"
        style="--background:#6277eb;height: 2.5rem;width: 15rem;">Add recipe with Macros</ion-button>
      <ion-button (click)="addIngredientsBtnHandler()" expand="block" style="--background:#6277eb;height: 2.5rem;margin-top: 1rem;width: 15rem;">Add Recipe with Ingredients</ion-button>
    </div>
  </ng-container>


  <div class="cards-container">
    <ng-container *ngFor="let item of filteredFoodItems">
      <ion-card class="template-card">
        <ion-card-header>
          <ion-row style="color: #052CEB;font-weight: 500;width: 100%;background-color: #c3c4ff;padding: 5px;"
            class="ion-justify-content-between">
            <ion-col size="10" style="font-size: 1.1rem;cursor: pointer;" (click)="handleInfoClick(item)">
              {{item.Food}} <span *ngIf="item?.status==='In Database'">({{item._id}})</span>
            </ion-col>
            <ion-col size="1" style="cursor: pointer;" (click)="handleInfoClick(item)">
              info
            </ion-col>
            <ion-col size="1" style="cursor: pointer;" (click)="handleClick(item._id, item)">
              <img src="../../assets/icons/Edit.svg" alt="Edit Img" style="height: 1rem;">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <!--  -->
        <ion-card-content>
          <ion-row style="font-weight: 500;font-size:.8rem;color:#000;cursor: pointer;"
            (click)="dietitianInfoHandler(item?.dietitianId)">
            Dietitian Name: <span style="font-size:.8rem;color: #6277eb;text-decoration: underline;margin-left: 5px;">{{
              item.dietitianName }}</span></ion-row>
          <span style="font-weight: 500;font-size:.8rem;color:#000;">
            Food Type: </span><span style="font-size:.8rem;color: #666666;">{{ getFoodType(item.foodType) }}</span>
          <ion-row style="margin-top: 1rem;">
            <ion-col>
              <ion-item style="--min-height:0;--padding-start: 0px;font-weight: 500;font-size:.8rem;color:#000;"
                lines="none">Category</ion-item>
              <ion-item style="color: #636364;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none">{{getLabelFromValue(item.Type) || "None"}}</ion-item>
            </ion-col>
            <ion-col *ngIf="item && item?.status">
              <ion-item style="font-weight: 500;font-size:.8rem;color:#000;--min-height:0;--padding-start: 0;"
                lines="none">Status</ion-item>
              <ion-item style="color: #636364;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none" *ngIf="item?.status==='submitted'">Submitted</ion-item>
              <ion-item style="color: green;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none" *ngIf="item?.status==='approved'">Approved</ion-item>
              <ion-item style="color: #636364;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none" *ngIf="item?.status==='In Database'">In Database</ion-item>
              <ion-item (mouseenter)="onHover(item._id)" (mouseleave)="onHover(null)"
                style="color: red;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;" lines="none"
                *ngIf="item?.status==='rejected'"><ion-icon name="alert-circle-outline"
                  style="margin-right: 2px;"></ion-icon>Rejected
              </ion-item>
              <ion-item style="color: #636364;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none" *ngIf="item.status==='resubmitted'">Resubmitted</ion-item>
            </ion-col>
            <!-- In case of Recipe with Ingredients -->
            <ion-col *ngIf="isRecipeWithIngredients(item?.foodType)">
              <ion-item style="font-weight: 500;font-size:.8rem;color:#000;--min-height:0;--padding-start: 0;"
                lines="none">Status</ion-item>
              <ion-item style="color: #0b8400;font-weight: 500;--min-height:0;font-size: 0.8rem;--padding-start: 0;"
                lines="none">Designed</ion-item>
            </ion-col>
          </ion-row>

          <div *ngIf="hoveredStatusId === item._id" class="tooltip">
            {{item.rejectionReason || "Not Defined"}}
          </div>

          <ion-row style="font-weight: 500;width: 100%;background-color: #e8e8ff;padding: 7px;"
            class="ion-justify-content-between"
            *ngIf="isManisha && (item.status==='submitted' || item.status==='resubmitted' || item.status==='In Database' )">
            <ion-col style="color: green;font-size: 1rem;display: flex;justify-content: center;cursor: pointer;gap: 5px"
              (click)="handleReviewBtn(item._id)"><ion-icon name="newspaper-outline"></ion-icon>Review</ion-col>
          </ion-row>
          <ion-row style="font-weight: 500;width: 100%;background-color: #e8e8ff;padding: 7px;"
            class="ion-justify-content-between" *ngIf="isRecipeWithIngredients(item?.foodType)">
            <ion-col style="color: green;font-size: 1rem;display: flex;justify-content: center;cursor: pointer;gap: 5px"
              (click)="handleReviewBtn2(item._id)"><ion-icon name="newspaper-outline"></ion-icon>Submit</ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-container>

  </div>
</ion-content>

<!-- Info Table -->
<div *ngIf="infoTablePopup" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="infoTablePopup"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: fixed; height: 50%; z-index: 12;left:20%; top:25%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-center">
      Id: <span style="font-weight: 600;">{{objCliked._id}}</span>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-card-content style="margin-top: 1rem;width: 100%;">
      <ion-row style="background: #E4E7FA;border:.5px solid #656565;font-size:.9rem;font-weight:500;color:#000;">
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">
          <h2 style="margin: 0;">Action</h2>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">
          <h2 style="margin: 0;">Date</h2>
        </ion-col>
        <ion-col size="4" class="ion-text-center" style="padding:10px;">
          <h2 style="margin: 0;">Name</h2>
        </ion-col>
      </ion-row>
      <ion-row style="background: #E4E7FA;border:.5px solid #656565;font-size:.8rem;">
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">Created
          By</ion-col>
        <ion-col size="4" class="ion-text-center"
          style="border-right:.5px solid #656565;padding:10px;">{{objCliked?.createdOn | date:'d MMM, h:mm a'
          }}</ion-col>
        <ion-col size="4" class="ion-text-center" style="padding:10px;">{{objCliked?.dietitianName}}</ion-col>
      </ion-row>
      <!-- updatedOn -->
      <ion-row style="background: #E4E7FA;border:.5px solid #656565;font-size:.8rem;border-top: none;"
        *ngIf="objCliked?.updated_by_name">
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">Updated
          By</ion-col>
        <ion-col size="4" class="ion-text-center"
          style="border-right:.5px solid #656565;padding:10px;">{{objCliked?.updatedOn | date:'d MMM, h:mm a'
          }}</ion-col>
        <ion-col size="4" class="ion-text-center" style="padding:10px;">{{objCliked?.updated_by_name}}</ion-col>
      </ion-row>
      <!-- Status -->
      <ion-row style="background: #E4E7FA;border:.5px solid #656565;font-size:.8rem;border-top: none;">
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">Status</ion-col>
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">-</ion-col>
        <ion-col size="4" class="ion-text-center" style="padding:10px;">{{objCliked?.status}}</ion-col>
      </ion-row>
      <!-- Rejection Reason -->
      <ion-row style="background: #E4E7FA;border:.5px solid #656565;font-size:.8rem;border-top: none;"
        *ngIf="objCliked?.status==='rejected'">
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">Rejection
          Reason</ion-col>
        <ion-col size="4" class="ion-text-center" style="border-right:.5px solid #656565;padding:10px;">-</ion-col>
        <ion-col size="4" class="ion-text-center" style="padding:10px;">{{objCliked?.rejectionReason}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-row>

  <!-- <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="handleRejectClick()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;" fill="outline"
        [disabled]="!reason">Confirm</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row> -->
  <br>
</div>


<!-- Upload View -->
<div *ngIf="showUploadView" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="showUploadView"
  style="padding: 1.5rem;border-radius: 10px;width: 40%; position: fixed; height: 40%; z-index: 12;left:20%; top:25%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-center" style="font-size: 1.2 rem;font-weight: 600;text-align: center;">
      <p style="margin: auto;">Edit Existing Record</p>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;" (click)="closePopup2()"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2" class="ion-text-center ion-align-self-center">Id:</ion-col>
    <ion-col size="9" style="border: 1px solid #565656;padding: 5px; border-radius: 5px;">
      <ion-input placeholder="Enter Food Id" [(ngModel)]="planId"></ion-input>
    </ion-col>
    <!-- <ion-col size="1" class="ion-text-center ion-align-self-center"></ion-col> -->
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="handleImportBtnClick()" style="color:#5D5FEF;--border-color:#5D5FEF; width: 50%;"
        fill="outline" [disabled]="!planId || planId===''">Fetch Details</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>