.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.template-card {
  padding: 0px;
  width: 20rem;
}
.sketloan-card {
  float: left;
  position: relative;
}
.sketloan {
  width: 320px;
  height: 200px;
  border-radius: 10px;
}
ion-card-content {
  padding: 0.6rem;
}

.tooltip {
  position: absolute;
  top: 2rem;
  left: 0rem;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.65rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
  white-space: normal; /* Allows text to wrap */
  max-width: 20rem; /* Set maximum width */
  width: auto; /* Auto width for content size */
  word-wrap: break-word; /* Break long words if needed */
}
