<ion-content>
  <!-- <h2 style="padding-left: 2rem;">
    Followings are the users on which Action was previously taken:
  </h2> -->
  <div *ngIf="prevActions.length === 0 && !isEmpty">
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card">
      <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
    </ion-card>
    <ion-card *ngFor="let item of [1,2,3]" class="sketloan-card">
      <ion-skeleton-text animated class="sketloan"></ion-skeleton-text>
    </ion-card>
  </div>

  <div *ngIf="prevActions.length === 0 && isEmpty">
    No User has been Added
  </div>
  <div>


    <ion-icon *ngIf="prevActions.length > 0" (click)="downloadFile(prevActions,'customer_detail')" name="cloud-download"
      style="color:rgba(93, 95, 239, 1); float:right;position:relative;font-size:2rem;"></ion-icon>
  </div>
  <div *ngIf="prevActions.length > 0" class="cards-container">
    <ion-card *ngFor="let item of prevActions" class="template-card">
      <ion-card-header style="padding: 0;">
        <ion-row style="
            background: rgba(136, 138, 255, 0.2);
            color: #052CEB;
            font-weight: 500;
            text-decoration: underline;
            width: 100%;
            padding: .8rem;
            border-radius: 12px;" class="ion-justify-content-between">
          <ion-col size="11" style="font-size: 1rem;cursor: pointer;font-weight:400;"
            (click)="search ? handleClick(item?._id) : handleClick(item.userId)">
            {{search ? item?.profile?.name || "Not Specified" : item?.data ? item?.data?.profile?.name : "Not Specified"
            || "Not Specified"}}
          </ion-col>
          <ion-col size="1" style="cursor: pointer;"
            (click)="search ? editProfile(item?._id) : editProfile(item.userId)">
            <img src="../../assets/icons/Edit.svg" alt="Edit Img" style="height: 1rem;">
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row style="margin-top: .5rem;">
          <ion-col class="ion-text-left">
            <div style="width:fit-content; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Profile ID:
              </span>
              <span style="font-size:.8rem;">
                {{search ? item._id : item.userId}}
              </span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5rem;">
          <ion-col class="ion-text-left">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Age:
              </span>
              <span style="font-size:.8rem;">
                {{search ? item.demographic?.age?.avg_age : item.data? item.data.demographic?.age?.avg_age: "__" ||
                "__"}} yrs,
              </span>
            </div>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col class="ion-text-left">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                BMI:
              </span>
              <span style="font-size:.8rem;">
                {{search ? item.demographic?.bmi : item?.data ? item?.data?.demographic?.bmi: "__" || " __ "}}
              </span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5rem;">
          <ion-col class="ion-text-left">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Last Updated:
              </span>
              <span style="font-size:.8rem;">
                {{ search ? formatDateString(item?.profile?.updatedDateTime) : item?.lastUpdated | date:'d/MM/y'}}
              </span>
            </div>
          </ion-col>

        </ion-row>

        <ion-row style="margin-top: .5rem;">
          <ion-col class="ion-text-left">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;height: 3.6rem;"
              (mouseenter)="onHover(item._id)" (mouseleave)="onHover(null)">
              <span style="font-weight: 500;font-size:.8rem;color:#000">
                Disorders:
              </span>
              <span style="font-size:.8rem;">
                {{search? item?.lifeStyle?.diseases.join(', ').length>80 ? item.data?.lifeStyle?.diseases.join(',
                ').substring(0, 80) + "..." : item.data?.lifeStyle?.diseases.join(', ') || "None" :
                item.data?.lifeStyle?.diseases.join(', ').length>80 ? item.data?.lifeStyle?.diseases.join(',
                ').substring(0, 80) + "..." : item.data?.lifeStyle?.diseases.join(', ') || "None"}}
              </span>
            </div>
            <div *ngIf="hoveredStatusId === item._id && item.data?.lifeStyle?.diseases" class="tooltip">
              {{search ? item?.lifeStyle?.diseases.join(', ') : item.data?.lifeStyle?.diseases.join(', ')}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5rem;">
          <ion-col class="ion-text-left" (click)="editDititician(item.userId,item.assignedDietitian)">
            <div style="display: flex; width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <img src="./../../assets/icon/dietitian.jpeg" style="height: 20px;margin-right: 5px;" />
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                {{search ? "_" : item.assignedDietitian ?
                item?.assignedDietitian?.dietitianName: dietitianName}}
              </span>
            </div>
          </ion-col>
          <ion-col size=".2"></ion-col>
          <ion-col class="ion-text-left" (click)="editDate(item.userId, item.assignedDietitian)">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                Expiry: {{item?.assignedDietitian?.expiryDate?
                formatDate(item?.assignedDietitian?.expiryDate): "N/A"}}
              </span>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5rem;">

          <ion-col class="ion-text-left"
            *ngIf="!item?.data || (!search && !item.data?.profile?.name) || (search && (!item.profile?.name || !item.data?.profile?.name))">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                <img src="../../assets/icons/doc.svg" alt="Edit Img" style="height: 1rem;margin-right: 5px;"> Open Diet
                Plan
              </span>
            </div>
          </ion-col>

          <ion-col class="ion-text-left" (click)="handleDietPlan(item.userId)" *ngIf="item?.data?.profile?.name">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                <img src="../../assets/icons/doc.svg" alt="Edit Img" style="height: 1rem;margin-right: 5px;"> Open Diet
                Plan
              </span>
            </div>
          </ion-col>

          <ion-col size=".2"></ion-col>
          <ion-col class="ion-text-left" (click)="search ? copyProfileLink(item?._id) : copyProfileLink(item?.userId)">
            <div style="width:100%; background: rgba(99,122,225,0.06);border-radius:12px;padding:.4rem;">
              <span style="color: rgba(93, 95, 239, 1);font-size:.8rem;">
                <img src="../../assets/icons/copy.svg" alt="Edit Img"
                  style="height: 1rem;cursor: pointer;margin-right: 5px;">
                Copy Link
              </span>
            </div>
          </ion-col>
        </ion-row>


      </ion-card-content>

    </ion-card>
  </div>

</ion-content>


<!-- Dititian Edit Box -->
<div *ngIf="openDititianBox"
  style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;"></div>
<div *ngIf="openDititianBox"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: fixed; height: 70%; z-index: 12;left:20%; top:10%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;cursor: pointer;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-item lines="none" class="input-label">Dietitian Name</ion-item>
    <ion-item>
      <ion-list>
        <ion-radio-group [(ngModel)]="dietitianChoosen">
          <div style="display: grid;           grid-template-columns: 1fr 1fr 1fr; /* Two columns */
            grid-gap: 0.3rem; /* Space between columns */ 
            height: 10rem; /* Height of the container */
            overflow-y: auto;width: 100%;">
            <ion-item *ngFor="let option of dietitianOptions" style="height: 3rem;">
              <div style="display: flex;flex-direction: column;color: #636364;font-size: 0.8rem;">
                <ion-label>{{ option.name }}</ion-label>
                <ion-label>{{ option.emailId }}</ion-label>
              </div>
              <ion-radio slot="start" [value]="option" style="margin-inline-end: 10px"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="updateDietitian()" style="color:#052CEB;--border-color:#052CEB; width: 50%;"
        fill="outline">Submit</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>

<!-- Dititian Date Box -->
<div *ngIf="openDateBox" style="width: 100%; position: fixed; height: 100%; z-index: 11;background:#000;opacity:.5;">
</div>
<div *ngIf="openDateBox"
  style="padding: 1.5rem;border-radius: 10px;width: 60%; position: fixed; height: 65%; z-index: 12;left:20%; top:10%;background: #fff;">

  <ion-row>
    <ion-col class="ion-text-right">
      <ion-icon name="close" style="font-size: 1.5rem;cursor: pointer;" (click)="closePopup()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- <ion-item lines="none" class="input-label">Dietitian Date</ion-item> -->
  </ion-row>
  <ion-row>
    <!-- <ion-item> -->
    <ion-item class="input-label" lines="none">Select End Date for Dietitian</ion-item>
    <ion-item>
      <ion-input id="open-modal" [value]="assignedDietitian.expiryDate" placeholder="Select End Date"></ion-input>
      <ion-modal trigger="open-modal" style="--width:370px;--height:500px">
        <ng-template>
          <ion-datetime showDefaultButtons="true" [min]="current_year" displayFormat="D MMM, YY"
            pickerFormat="DD MMM YYYY" #dateTime (ionChange)="assignedDietitian.expiryDate = formatDate(dateTime.value)"
            presentation="date" color="theme"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-row>
  <ion-row style="width: 100%;background-color: #000;height: 0.7px;margin-top: 1rem;"></ion-row>
  <ion-row style="margin-top: 1rem;margin-bottom: 0.5rem;">Please specify what will continue after End Date.</ion-row>
  <ion-row>
    <ion-col size="6">
      <!-- Checkboxes for true/false values -->
      <ion-item lines="none">
        <ion-label style="color: #636364;">AI-Based Plan Continues</ion-label>
        <ion-checkbox [(ngModel)]="assignedDietitian.aiBasedPlanContinues" slot="start"></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item lines="none">
        <ion-label style="color: #636364;">Profile Edit Permitted</ion-label>
        <ion-checkbox [(ngModel)]="assignedDietitian.editPermitted" slot="start"></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item lines="none">
        <ion-label style="color: #636364;">WhatsApp Continues</ion-label>
        <ion-checkbox [(ngModel)]="assignedDietitian.whatsappContinues" slot="start"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-label style="color: #636364;">Call Scheduling Continues</ion-label>
        <ion-checkbox [(ngModel)]="assignedDietitian.callSchedulingContinues" slot="start"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="position: absolute; bottom: 1rem; width: 100%;">
    <ion-col size="1"></ion-col>
    <ion-col size="9" class="ion-text-center">
      <ion-button (click)="updateDietitian()" style="color:#052CEB;--border-color:#052CEB; width: 50%;"
        fill="outline">Submit</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <br>
</div>