<!-- <div style="background-color: #6277eb;padding-top: 2rem;padding-bottom: 2rem;width:50%;position: relative;">
  <ion-row [class.left-bar-item-selected]="activeRoute === 1 && recall==='true'" [class.left-bar-item]="activeRoute !== 1"
    *ngIf="username!=='beato'" class="left-bar-item" (click)="gotoRecall()">
    <ion-icon [class.selected-icon]="activeRoute === 1 && recall==='true'" src="../../assets/Navbar/option1.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 1" [class.left-bar-text]="activeRoute !== 1">Recall</span>
    <div style="background: #fff;
    width: 18%;
    position: fixed;
    text-align: center;
    z-index: 11;
    left: 6%;
    height: 14%;border-radius: 10px;display: none;" class="display-block">
      <ion-row style="border-bottom: 1px solid ;padding: 1rem;">
        <ion-col>asdada sadasdsad</ion-col>
      </ion-row>
      <ion-row style="border-bottom: 1px solid ;padding: 1rem;">
        <ion-col>asdada sadasdsad</ion-col>
      </ion-row>
    </div>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 2" [class.left-bar-item]="activeRoute !== 2"
    (click)="gotoPreferences()">
    <ion-icon [class.selected-icon]="activeRoute === 2" src="../../assets/Navbar/option2.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 2"
      [class.left-bar-text]="activeRoute !== 2">Preferences</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 3" [class.left-bar-item]="activeRoute !== 3"
    class="left-bar-item" (click)="updateFoodChoices()">
    <ion-icon [class.selected-icon]="activeRoute === 3" src="../../assets/Navbar/option3.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 3" [class.left-bar-text]="activeRoute !== 3">Food
      Choices</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 4" [class.left-bar-item]="activeRoute !== 4"
    class="left-bar-item" (click)="consultQA()">
    <ion-icon [class.selected-icon]="activeRoute === 4" src="../../assets/Navbar/option4.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 4" [class.left-bar-text]="activeRoute !== 4">Question &
      Answers</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 5" [class.left-bar-item]="activeRoute !== 5"
    class="left-bar-item" (click)="AddInstructions()">
    <ion-icon [class.selected-icon]="activeRoute === 5" src="../../assets/Navbar/option5.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 5"
      [class.left-bar-text]="activeRoute !== 5">Instructions</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 6 && recall!=='true'" [class.left-bar-item]="activeRoute !== 6"
    class="left-bar-item" (click)="goto7DaysPlan()">
    <ion-icon [class.selected-icon]="activeRoute === 6" name="calendar-outline" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 6"
    [class.left-bar-text]="activeRoute !== 6">Manage 7 days plan</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 7" [class.left-bar-item]="activeRoute !== 7"
    class="left-bar-item" (click)="gotoDietPlan()">
    <ion-icon [class.selected-icon]="activeRoute === 7" src="../../assets/Navbar/option7.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 7" [class.left-bar-text]="activeRoute !== 7">Manage Day by Day
      plan</span>
  </ion-row>
  <ion-row *ngIf="username==='beato'" [class.left-bar-item-selected]="activeRoute === 8" [class.left-bar-item]="activeRoute !== 8"
    class="left-bar-item" (click)="gotoupdateRemarks()">
    <ion-icon [class.selected-icon]="activeRoute === 8" src="../../assets/Navbar/option8.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 8" [class.left-bar-text]="activeRoute !== 8">Slot
      remarks</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 9" *ngIf="username!=='beato'"
    [class.left-bar-item]="activeRoute !== 9" class="left-bar-item" (click)="gotoPlanExpiry()">
    <ion-icon [class.selected-icon]="activeRoute === 9" src="../../assets/Navbar/option9.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 9" [class.left-bar-text]="activeRoute !== 9">Plan
      expiry</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 10" [class.left-bar-item]="activeRoute !== 10"
    *ngIf="username!=='beato'" class="left-bar-item" (click)="gotoInsights()">
    <ion-icon [class.selected-icon]="activeRoute === 10" src="../../assets/Navbar/option10.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 10" [class.left-bar-text]="activeRoute !== 10">Insights</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 11" [class.left-bar-item]="activeRoute !== 11"
    *ngIf="username!=='beato'" class="left-bar-item" (click)="getToken()">
    <ion-icon [class.selected-icon]="activeRoute === 11" src="../../assets/Navbar/option11.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 11" [class.left-bar-text]="activeRoute !== 11">View in
      app</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 13" [class.left-bar-item]="activeRoute !== 13"
    *ngIf="username==='beato'" class="left-bar-item" (click)="gotoBeato()">
    <ion-icon [class.selected-icon]="activeRoute === 13" src="../../assets/Navbar/external.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 13" [class.left-bar-text]="activeRoute !== 13">Go to
      Beato</span>
  </ion-row>
  <ion-row [class.left-bar-item-selected]="activeRoute === 12" [class.left-bar-item]="activeRoute !== 12"
    class="left-bar-item" (click)="gotoTemplate()">
    <ion-icon [class.selected-icon]="activeRoute === 12" src="../../assets/Navbar/profile.svg" size="large"></ion-icon>
    <span [class.left-bar-text-selected]="activeRoute === 12"
      [class.left-bar-text]="activeRoute !== 12">Templates</span>
  </ion-row>

</div> -->


<div class="side-menu" *ngIf="getIsSearched()">
  <ul>
    <!-- (mouseleave)="hideSubMenu(item)" -->
    <span *ngFor="let item of menuItems">
      <li class="menu-item" [ngClass]="{'show-active':item.showSubMenu || activeRoute===item.activeNumber}"
        (click)="gotoTransition(item,item.isMain)" (mouseenter)="showSubMenu(item)" (mouseleave)="hideSubMenu(item)"
        *ngIf="isBeato===true && item.title!=='Recall' && item.title!=='Insights' && item.title!=='Instructions' && item.title!=='QA'">
        <ion-icon [ngClass]="{'show-active':item.showSubMenu}" [class.selected-icon]="activeRoute === item.activeNumber"
          src="{{item.icon}}" size="large" style="   width:30%; margin: 0;"></ion-icon><br>
        <span>{{ item.title }}</span>
        <ul class="sub-menu" *ngIf="item.showSubMenu"
          style="position: absolute; width: 150px;box-shadow: 0px 0px 3px #f3f3f3;background:rgb(235 239 255);">
          <li *ngFor="let subItem of item.subMenu" (click)="gotoTransitionSub(item,subItem.title,subItem.isMain)">
            {{ subItem.title }}
          </li>
        </ul>
      </li>
      <!-- (mouseleave)="hideSubMenu(item)" -->
      <li class="menu-item" [ngClass]="{'disable-menu': showDietplanTab===false && item.title ==='Diet plan' ,'show-active':item.showSubMenu || activeRoute===item.activeNumber}"
        (click)="gotoTransition(item,item.isMain)" (mouseenter)="showSubMenu(item)" (mouseleave)="hideSubMenu(item)"
        *ngIf="isBeato!==true && item.title!=='Go to Beato' && item.title!=='Slot remarks'">
        <ion-icon [class.selected-icon]="activeRoute === item.activeNumber" src="{{item.icon}}" size="large"
          style="width:30%; margin: 0;"></ion-icon><br>
        <span>{{ item.title }}</span>
        <br *ngIf="showDietplanTab===false && item.title ==='Diet plan'">
        <span *ngIf="showDietplanTab===false && item.title ==='Diet plan'" style="font-size: 0.5rem;font-style: italic;">(Profile Incomplete)</span>
        <ul class="sub-menu" *ngIf="item.showSubMenu"
          style="width: 111px; box-shadow: 0px 0px 3px #f3f3f3;background:rgb(235 239 255); border-radius: 1rem; font-size: .8rem;margin-left: 5px;">
          <li *ngFor="let subItem of item.subMenu" (click)="gotoTransitionSub(item,subItem.title,subItem.isMain)">
            {{ subItem.title }}
          </li>
        </ul>
      </li>
    </span>
    <li class="menu-item" (click)="logout()">
      <ion-icon name="log-out-outline" size="large" style="   width:30%; margin: 0;"></ion-icon><br>
      Logout
    </li>
  </ul>
</div>

<div class="side-menu" *ngIf="!getIsSearched()">
  <ul>
    <!-- (mouseleave)="hideSubMenu(item)" -->
    <span *ngFor="let item of menuItemsWithoutLogin">
      <li class="menu-item" [ngClass]="{'show-active':item.showSubMenu || activeRoute===item.activeNumber}"
        (click)="gotoTransition(item,item.isMain)" (mouseenter)="showSubMenu(item)" (mouseleave)="hideSubMenu(item)">
        <!-- (mouseleave)="hideSubMenu(item)" -->
        <ion-icon [ngClass]="{'show-active':item.showSubMenu}" [class.selected-icon]="activeRoute === item.activeNumber"
          src="{{item.icon}}" size="large" style="   width:30%; margin: 0;"></ion-icon><br>
        <span>{{ item.title }}</span>
        <ul class="sub-menu" *ngIf="item.showSubMenu" style="position: absolute;left:108px;    
      width: 150px;box-shadow: 0px 0px 3px #f3f3f3;background:rgb(235 239 255);">
          <li *ngFor="let subItem of item.subMenu" (click)="gotoTransitionSub(item,subItem.title,subItem.isMain)">
            {{ subItem.title }}
          </li>
        </ul>
      </li>
    </span>
    <li class="menu-item" (click)="logout()">
      <ion-icon name="log-out-outline" size="large" style="   width:30%; margin: 0;"></ion-icon><br>
      Logout
    </li>
  </ul>
</div>