
@import '../../theme/fonts.scss';
.side-menu {
    background-color: #5D5FEF;
    padding-top: .5rem;
    padding-bottom: 2rem;
    position: relative;
    max-width: 100%;
    height: 810px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .menu-item {
        padding: 10px 11px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 96%;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: .3rem;
    margin-right: .4rem;
        ion-icon {
          margin-right: 10px;
        }
        .sub-menu {
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;
          z-index: 12;
          width: 160%;
          top: 0;
          left: 96%;
          background-color: #fff;
          display: block;
          font-size: .8rem;
          color: #333;
          cursor: pointer;
          li {
            font-size: .8rem;
            padding: 13px;
            border-bottom: 1px solid #fff;
            color: rgba(93, 95, 239, 1);

          }
        }
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }

    .show-active{
      background: rgba(136, 138, 255, 1) !important;
      // border-radius: 1rem;
      width: 100%;
      color: #fff !important;
      font-size: .7rem;
      margin-bottom:1rem ;
      text-align: center;
      padding: .5rem;
    }
    .disable-menu{
      background: #626262 !important;
      // border-radius: 1rem;
      width: 100%;
      color: #fff !important;
      font-size: .7rem;
      margin-bottom:1rem ;
      text-align: center;
      padding: .5rem;
    }
  }