
@import "../../../theme/fonts.scss";

.disable-traker-container{
    height: 65px;
    margin-bottom: 5px;
  }
  .font-size75{
    font-size: 0.75rem !important;
    color:#7d7d7d !important;
  }
  

circle-progress svg{
  box-shadow: 2px 8px 10px #000;
  border-radius: 50%;
  width: 140px;
}
