<!-- <app-navbar (searchEvent)="handleSearchEvent($event)"></app-navbar> -->
<ion-content *ngIf="profileData.profile && community.length!==0">
  <ion-grid style="padding: 0;">
    <ion-row>
      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <!-- <ion-content> -->
        <div>
          <div *ngIf="username==='beato'" class="custom-left" style="max-height:165px; height: 165px;">
            <ion-row>
              <ion-col>
                <div style="float: left;width:95%;">
                  <ion-card style="height: 100%;">
                    <ion-card-header> Goal Selection</ion-card-header>
                    <ion-card-content style="max-height:170px; height: 170px; overflow-y: scroll;">
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-list lines="none">

                            <ion-radio-group mode="md" style="flex-direction: column;" [value]="waterProtein"
                              [(ngModel)]="waterProtein">
                              <ion-item class="diet-name" *ngFor="let item of dietPlan" style="width: 43%;">
                                <ion-radio color="primary" value="{{item.id}}"></ion-radio>
                                <ion-label>{{item.name}}</ion-label>
                              </ion-item>
                            </ion-radio-group>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Slots to Remove
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select mode="md" [(ngModel)]="removedSlot" aria-label="slots"
                            placeholder="Select slots to remove" [multiple]="true"
                            (ionChange)="selectedSlotForRemove($event)">
                            <ion-select-option value="{{diet?.value}}" *ngFor="let diet of dietData1">{{diet?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>
              <ion-col>
                <!-- <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Dinner Preferences
                    </ion-card-header>
                    <ion-card-content style="height: 140px !important;">
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[0]"
                                  (ionChange)="onCheckedDinnerPref1($event,{itm:'A'})"></ion-checkbox>
                                <ion-label>Sabzi</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[1]"
                                  (ionChange)="onCheckedDinnerPref2($event,{itm:'C'})"></ion-checkbox>
                                <ion-label>Curry</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[2]"
                                  (ionChange)="onCheckedDinnerPref($event,{itm:'W'})"></ion-checkbox>
                                <ion-label>Snack</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>

                </div> -->
              </ion-col>
            </ion-row>


          </div>
          <ion-row>

            <!-- Dinner Preferences -->
            <ion-col>
              <ion-card>
                <ion-card-header>
                  Dinner Preferences
                </ion-card-header>
                <ion-card-content style="height: 140px !important;">
                  <ion-row>
                    <ion-col class="ion-text-center">
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[0]"
                              (ionChange)="onCheckedDinnerPref1($event,{itm:'A'})"></ion-checkbox>
                            <ion-label>Sabzi</ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[1]"
                              (ionChange)="onCheckedDinnerPref2($event,{itm:'C'})"></ion-checkbox>
                            <ion-label>Curry</ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-checkbox mode="ios" [(ngModel)]="dinnerPref[2]"
                              (ionChange)="onCheckedDinnerPref($event,{itm:'W'})"></ion-checkbox>
                            <ion-label>Snack</ion-label>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>

            </ion-col>
            <!-- Goal Selection -->
            <ion-col>
              <div class="custom-left" style="max-height:165px; height: 165px;">
                <ion-card style="height: 100%;">
                  <ion-card-header> Goal Selection</ion-card-header>
                  <ion-card-content style="max-height:170px; height: 170px; overflow-y: scroll;">
                    <ion-row>
                      <ion-col class="ion-text-center">
                        <ion-list lines="none">

                          <ion-radio-group mode="md" style="flex-direction: column;" [value]="waterProtein"
                            [(ngModel)]="waterProtein">
                            <ion-item class="diet-name" *ngFor="let item of dietPlan" style="width: 43%;">
                              <ion-radio color="primary" value="{{item.id}}"></ion-radio>
                              <ion-label>{{item.name}}</ion-label>
                            </ion-item>
                          </ion-radio-group>
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
          <div style="float: left;" *ngIf="username!=='beato'">

            <ion-row>
              <!-- <ion-col>
  <div class="custom-left">
    <ion-card>
      <ion-row style="margin-bottom: .5rem;">
        <ion-col class="ion-text-left" style="margin-left:1rem;font-size:.9remrem;color:#01A3A4;">
          <b>Please set customer preferences</b>
        </ion-col>
      </ion-row>
     </ion-card>
     </div>
     </ion-col> -->
              <!-- <ion-col *ngIf="foodType==='NV'">
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Days you DO NOT eat Non Veg
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[0]"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[1]"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[2]"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>

                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[3]"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[4]"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[5]"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonVegWeek[6]"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col> -->

              <ion-col *ngIf="foodType==='NV'">
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Non Veg in Lunch 
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(1)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[0]"
                                  (ionChange)="isShowItem(1,$event)"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(2)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[1]"
                                  (ionChange)="isShowItem(2,$event)"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(3)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[2]"
                                  (ionChange)="isShowItem(3,$event)"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(4) ?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[3]"
                                  (ionChange)="isShowItem(4,$event)"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(5)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[4]"
                                  (ionChange)="isShowItem(5,$event)"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(6)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDays[5]"
                                  (ionChange)="isShowItem(6,$event)"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios"
                                  [disabled]="(isShow.length==actualLength) && !isShow.includes(7)?true:false"
                                  [(ngModel)]="nonVegDays[6]" (ionChange)="isShowItem(7,$event)"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col *ngIf="foodType==='NV'">
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Non Veg in Dinner 
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(1)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[0]"
                                  (ionChange)="isShowItemDinner(1,$event)"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(2)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[1]"
                                  (ionChange)="isShowItemDinner(2,$event)"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(3)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[2]"
                                  (ionChange)="isShowItemDinner(3,$event)"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(4) ?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[3]"
                                  (ionChange)="isShowItemDinner(4,$event)"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(5)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[4]"
                                  (ionChange)="isShowItemDinner(5,$event)"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(6)?true:false"
                                  mode="ios" [(ngModel)]="nonVegDinnerDays[5]"
                                  (ionChange)="isShowItemDinner(6,$event)"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios"
                                  [disabled]="(isShowDinner.length==actualLengthDinner) && !isShowDinner.includes(7)?true:false"
                                  [(ngModel)]="nonVegDinnerDays[6]"
                                  (ionChange)="isShowItemDinner(7,$event)"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>

              <!-- <ion-col *ngIf="foodType==='NV' || foodType==='E'">
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Days you DO NOT eat Egg
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[0]"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[1]"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[2]"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>

                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[3]"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[4]"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[5]"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="nonEggDays[6]"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col> -->


            </ion-row>
            <ion-row style="margin-top: 1rem;">
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Days for Cheat meal in Lunch
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(1)?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[0]"
                                  (ionChange)="isShowCheatItem(1,$event)"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(2)?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[1]"
                                  (ionChange)="isShowCheatItem(2,$event)"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(3)?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[2]"
                                  (ionChange)="isShowCheatItem(3,$event)"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(4) ?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[3]"
                                  (ionChange)="isShowCheatItem(4,$event)"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(5)?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[4]"
                                  (ionChange)="isShowCheatItem(5,$event)"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>

                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(6)?true:false"
                                  mode="ios" [(ngModel)]="cheatDays[5]"
                                  (ionChange)="isShowCheatItem(6,$event)"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>

                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios"
                                  [disabled]="(isShow1.length==cheatLength) && !isShow1.includes(7)?true:false"
                                  [(ngModel)]="cheatDays[6]" (ionChange)="isShowCheatItem(7,$event)"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Days for Cheat meal in Dinner
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(1)?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[0]"
                                  (ionChange)="isShowCheatDinnerItem(1,$event)"></ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(2)?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[1]"
                                  (ionChange)="isShowCheatDinnerItem(2,$event)"></ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(3)?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[2]"
                                  (ionChange)="isShowCheatDinnerItem(3,$event)"></ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(4) ?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[3]"
                                  (ionChange)="isShowCheatDinnerItem(4,$event)"></ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(5)?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[4]"
                                  (ionChange)="isShowCheatDinnerItem(5,$event)"></ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>

                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(6)?true:false"
                                  mode="ios" [(ngModel)]="cheatDinnerDays[5]"
                                  (ionChange)="isShowCheatDinnerItem(6,$event)"></ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>

                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios"
                                  [disabled]="(isShowCheatDinner1.length==cheatDinnerLength) && !isShowCheatDinner1.includes(7)?true:false"
                                  [(ngModel)]="cheatDinnerDays[6]"
                                  (ionChange)="isShowCheatDinnerItem(7,$event)"></ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header>
                      Select Days to Detox
                    </ion-card-header>
                    <ion-card-content>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[0]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[0]===false"
                                  (ionChange)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Sunday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[1]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[1]===false"
                                  (ionChange)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Monday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[2]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[2]==false"
                                  (ionChange)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Tuesday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>

                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[3]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[3]==false"
                                  (ionChange)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Wednesday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[4]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[4]==false"
                                  (ionChange)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Thursday</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[5]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[5]==false"
                                  (click)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Friday</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <ion-item lines="none">
                                <ion-checkbox mode="ios" [(ngModel)]="detoxDays[6]"
                                  [disabled]="detoxLimit==checkedDetox && detoxDays[6]==false"
                                  (click)="onCheckedDetox($event)">
                                </ion-checkbox>
                                <ion-label>Saturday</ion-label>
                              </ion-item>
                            </ion-col>

                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>

              <ion-col>
                <div class="custom-left" style="max-width: 47%;">
                  <ion-card>
                    <ion-card-header>
                      Select Slots to Remove
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="removedSlot" aria-label="slots" placeholder="Select slots to remove"
                            [multiple]="true" (ionChange)="selectedSlotForRemove($event)">
                            <ion-select-option value="{{diet?.value}}" *ngFor="let diet of dietData1">{{diet?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>

            </ion-row>
          </div>

          <br><br>
          <div style="float: left;">
            <br><br>
            <ion-row>
              <ion-col style="padding-left: 1rem;">
                <b style="font-size: 1rem;color:#b3b3b3;">SPECIAL ADJUSTMENTS</b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Nuts to Add
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot1" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot1($event)">
                            <ion-select-option value="{{diet?.value}}" *ngFor="let diet of dietData1">{{diet?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot1===''" [(ngModel)]="defaultslot1" aria-label="slots"
                            placeholder="Select item" [multiple]="true" (ionChange)="selectedNutsinSlot1($event)">
                            <ion-select-option *ngFor="let nut of allnuts[0]?.value" selected="true"
                              value="{{nut?.code}}">
                              {{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>

              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Seeds to be add
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot2" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot2($event)">
                            <ion-select-option value="{{diet?.value}}" *ngFor="let diet of dietData1">{{diet?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot2===''" [(ngModel)]="defaultslot2" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot2($event)">
                            <ion-select-option *ngFor="let nut of allnuts[1]?.value" value="{{nut?.code}}">{{nut?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Drink for Early Morning
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;--background: #FAFAFA;">
                          <ion-select [(ngModel)]="slot3" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot3($event)">
                            <ion-select-option value="0">{{dietData[0]?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot3===''" [(ngModel)]="defaultslot3" aria-label="slots"
                            placeholder="Select item" [multiple]="true" (ionChange)="selectedNutsinSlot3($event)">
                            <ion-select-option *ngFor="let nut of allnuts[2]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="custom-left">

                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Tea/ Coffee/ Milk to Add
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot4" aria-label="slots" placeholder="Select slot" [multiple]="true"
                            (ionChange)="selecteSlot4($event)">
                            <ion-select-option value="{{diet?.value}}"
                              *ngFor="let diet of dietData1">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot4===''" [(ngModel)]="defaultslot4" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot4($event)">
                            <ion-select-option *ngFor="let nut of allnuts[3]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>

              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      select Fruits
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot5" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot5($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData1">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot5===''" [(ngModel)]="defaultslot5" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot5($event)">
                            <ion-select-option *ngFor="let nut of allnuts[8]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>


              <ion-col>
                <div class="custom-left">

                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Salad for Lunch
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot21" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot21($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData2">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot21===''" [(ngModel)]="defaultslot21" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot21($event)">
                            <ion-select-option *ngFor="let nut of allnuts[9]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">

                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Curd for Lunch
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot22" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot22($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData2">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot22===''" [(ngModel)]="defaultslot22" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot22($event)">
                            <ion-select-option *ngFor="let nut of allnuts[10]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>

              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Drink for Better Sleep
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;--background: #FAFAFA;">
                          <ion-select [(ngModel)]="slot6" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot6($event)">
                            <ion-select-option value="8">{{dietData[8]?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot6===''" [(ngModel)]="defaultslot6" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot6($event)">
                            <ion-select-option *ngFor="let nut of allnuts[5]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>


              <ion-col>
                <div class="custom-left">

                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select Salad for Dinner
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot7" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot7($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData8">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot7===''" [(ngModel)]="defaultslot7" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot7($event)">
                            <ion-select-option *ngFor="let nut of allnuts[9]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <!-- <ion-col>
    <div class="custom-left">
     
      <ion-card>
        <ion-card-header style="background:#F2E5D8 !important;">
          Select Roti/Rice options for Dinner 
        </ion-card-header>
        <ion-card-content style="background: #fff;">
          <ion-list>
            <ion-item style="width: 80%;left: 10%;">
              <ion-select [(ngModel)]="slot8" aria-label="slots" placeholder="Select slot" [multiple]="false" (ionChange)="selecteSlot8($event)">
                <ion-select-option value="7" *ngFor="let diet of dietData8">{{diet?.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item style="width: 80%;left: 10%;">
              <ion-select [disabled]="slot8===''" [(ngModel)]="defaultslot8" aria-label="slots" placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot8($event)">
                <ion-select-option *ngFor="let nut of allnuts[4]?.value" value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-col>  -->

              <ion-col *ngIf="username==='beato'">
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Beato
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot9" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot9($event)">
                            <ion-select-option value="{{diet?.value}}" *ngFor="let diet of dietData9">{{diet?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot9===''" [(ngModel)]="defaultslot9" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot9($event)">
                            <ion-select-option *ngFor="let nut of allnuts[7]?.value" value="{{nut?.code}}">{{nut?.name}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>

                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select post workout to add
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot55" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot55($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData1">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot55===''" [(ngModel)]="defaultslot55" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot55($event)">
                            <ion-select-option *ngFor="let nut of allnuts[11]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                <div class="custom-left">
                  <ion-card>
                    <ion-card-header style="background:#F2E5D8 !important;">
                      Select smoothie to add
                    </ion-card-header>
                    <ion-card-content style="background: #fff;">
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [(ngModel)]="slot56" aria-label="slots" placeholder="Select slot"
                            [multiple]="false" (ionChange)="selecteSlot56($event)">
                            <ion-select-option value="{{diet.value}}"
                              *ngFor="let diet of dietData1">{{diet?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                      <ion-list>
                        <ion-item style="width: 80%;left: 10%;">
                          <ion-select [disabled]="slot56===''" [(ngModel)]="defaultslot56" aria-label="slots"
                            placeholder="Select Item" [multiple]="true" (ionChange)="selectedNutsinSlot56($event)">
                            <ion-select-option *ngFor="let nut of allnuts[12]?.value"
                              value="{{nut?.code}}">{{nut?.name}}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <!-- </ion-content> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="profileData.profile">
  <ion-toolbar style="padding-left: 35%;padding-right: 35%;">
    <!-- <ion-row style="margin: 0 1.5rem;"> -->
    <!-- <ion-col size="5.5" class="ion-text-center">
        <ion-button class="button" style="color:#6277eb;--border-color:#6277eb;" shape="round" expand="block"
          class="button button-full button-outline" (click)="goback()">Cancel</ion-button>
      </ion-col> -->
    <!-- <ion-col size="1"></ion-col> -->
    <!-- <ion-col size="5.5" class="ion-text-center"> -->
    <ion-button class="button button-full" expand="block" shape="round" style="--background:#6277eb;"
      (click)="updatePreferences()">Save</ion-button>
  </ion-toolbar>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
</ion-footer>

<ion-content *ngIf="!profileData.profile || community?.length===0">
  <div *ngIf="hideInFiveMint">
    <ion-row>
      <ion-col *ngFor="skel of [1,2,3,4,5]">
        <ion-card style="max-height: 300px;
    height: 280px;
    width: 90%;
    display: inline-block;
    left: 5%;">
          <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col *ngFor="skel of [1,2,3,4,5]">
        <ion-card style="max-height: 300px;
    height: 280px;
    width: 90%;
    display: inline-block;
    left: 5%;">
          <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col *ngFor="skel of [1,2,3,4,5]">
        <ion-card style="max-height: 300px;
    height: 280px;
    width: 90%;
    display: inline-block;
    left: 5%;">
          <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col *ngFor="skel of [1,2,3,4,5]">
        <ion-card style="max-height: 300px;
    height: 280px;
    width: 90%;
    display: inline-block;
    left: 5%;">
          <ion-skeleton-text animated class="diet-plan-skeleton"></ion-skeleton-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <ion-card style="background-color: #fff;height: 800px; margin:0" *ngIf="!searchDetails || community?.length===0">
    <div class="search-detail" style="margin: 2rem;">
      <ion-row>
        <ion-col class="ion-text-center">
          <div style="height: 325px;
        background: #F7F7F7;
        display: grid;
        vertical-align: middle;
        padding-top: 80px;
        border-radius: 1rem;">
            <img src="./assets/img/nothing.png" style="margin: 0 auto;
         text-align: center;
         width: auto;
         height: auto;
         vertical-align: middle;
         position: relative;
         top: -3rem;">
            <span style="color:#000;font-size: .8rem;" *ngIf="profileData.profile && community?.length===0">
              User's details are incomplete.
            </span>
            <span style="color:#000;font-size: .8rem;" *ngIf="!profileData.profile &&!searchDetails && isSearch">
              Sorry, we couldn’t find the
              user {{search}}
            </span>
            <span style="color:#565656;font-size: .8rem;" *ngIf="!isSearch">
              Search a user by using the
              exact ID of the user.
            </span>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>