ion-content {
  div.custom-left {
    float: left;
    margin-right: 0.5rem;
    max-height: 350px;
    width: 95%;
    ion-card {
      min-width: 250px;
      width: 100%;
      max-width: 100%;
      box-shadow: 0 2px 2px #b4b4b4;
      ion-card-content {
        height: 200px;
      }
    }
  }

  ion-card {
    ion-card-header {
      font-size: 0.9rem;
      font-weight: 500;
      background: #E4E7FA;
      color: #414042;
      padding: 0.3rem;
      text-align: center;
    }
    ion-card-content {
      padding: 0;
      height: 140px !important;
      ion-col {
        margin-right: 0.5rem;
        max-width: 100%;
        ion-item {
          --background: #f4f4f4;
          margin: 0.2rem 0.5rem;
          width: 100%;
          font-size: 0.75rem;
          border-radius: 5px;
          align-items: flex-start;
          columns: 2;
          display: grid;
          --padding-start: 3px;
          --padding-end: 2px;
          ion-checkbox {
          }
          ion-radio {
          }
        }
      }
    }
    margin: 1rem 0.5rem;

    box-shadow: none;
    background: #fafafa;
    --border-color: #f4f4f4;
    ion-item {
      --background: #fafafa;
      height: 35px;
    }
    ion-item {
      ion-checkbox {
        margin: 0.5rem 0.5rem 0.5rem 0;
      }
    }
  }
  .diet-name {
    float: left;
  }
  ion-select {
    font-size: 0.85rem;
  }
  ion-radio {
    margin-right: 0.5rem;
  }
  ion-radio,
  ion-checkbox {
    --color: #6277eb;
    --border-color: #6277eb;
    --checkmark-color: #fff;

    --background-checked: #6277eb;
    --border-color: #6277eb;
    --border-color-checked: #fff;
    width: 17px;
    height: 17px;
  }
}
.diet-plan-skeleton{
  width: 100%;
  height: 105%;
  margin-top: -5px;
}
