

<ion-content class="confirm-diet">
  <ion-row>
    <ion-col class="ion-text-center">
      <h2 class="choose-diet">Review and confrm Slots for </h2>
      <h2 style="margin-top:0">Diabetes Plan</h2>
    </ion-col>
  </ion-row>
  
  <ion-grid class="content">
    <ion-card clss="card-item" *ngFor="let sdiet of confirmDiet.metaDataDietPlan;let sdt=index;" >
      <ion-card-header style="border-bottom:.5px solid #b3b3b3;padding:10px 0;">
       <ion-item lines="none">
         <div slot="start" >
          (Slot {{sdiet.slot}})
            <ion-icon mode="ios" name="arrow-forward"></ion-icon>
          <span (click)="gotoUpdateCat(sdt);">  {{sdiet.name}}</span>
            <br>
            <ion-input [(ngModel)]="sdiet.time" style="margin-top:10px;border:1px solid #b3b3b3;border-radius: 5px; padding:10px;width:60px;text-align: center;"></ion-input>
         
         </div>
         <ion-checkbox slot="end" mode="md" [(ngModel)]="sdiet.selected" (click)="confirmedDiet(sdiet,sdt)"></ion-checkbox>
       </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item  *ngFor="let name of sdiet.data;let nm=index;">
          <ion-label>{{name.name}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
   
  </ion-grid>
  </ion-content>
  <ion-footerbar>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)="gotoUpdate()" shape="round" color="theme" expand="block" fill="outline">Update</ion-button>
    </ion-col>
  </ion-row>
  </ion-footerbar>
