

.confirm-diet{
    --background:#F6F7FC;
    h2{
        font-size: 1.2rem;
        color:#263143;
    }
    .content{
    margin:1rem 0rem;
    ion-card{
        box-shadow: none;
        ion-card-header{
         
        ion-item{
           div{
            min-width: 65%;
            color: #01A3A4;
            font-size: .8rem;
            font-weight: 500;
           }
           ion-checkbox{
            --border-radius: 100%;
            --background-checked: #01A3A4;
            --border-color-checked: #01A3A4;
            height: 25px;
            width: 25px;
           }
        }
    }
    ion-card-content{
        padding-left: 0;
        ion-item{
            div{
             min-width: 75%;
             font-size: .8rem;
             font-weight: 500;
             color:#363939;
             white-space: normal;
            }
        }
    }
    }
    
    
    .active{
        border: 1px solid #01A3A4;
        box-shadow: 0px 4px 8px 0px #b3b3b3;
    }

}
}

ion-footerbar{
    ion-row{
    ion-col{
       padding:1rem; 
}
}
}
