<!-- <ion-header> </ion-header> -->
<ion-content scroll-y="false">
  <div class="ion-padding">
    <div class="mainTopPadding">
      <div class="ion-padding-top">
        <ion-card class="ion-no-margin" button="true" (click)="toAdmin()">
          <ion-item lines="none">
            <ion-thumbnail class="ion-no-margin" slot="start">
              <img
                class="cardImageSize"
                src="../../assets/images/home/home-admin.png"
              />
            </ion-thumbnail>
            <ion-label>
              <h3 class="subTitleFont">01. Administration</h3>
              <p class="cardContentFont">Your food preferences.</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div class="ion-padding-top">
        <ion-card class="ion-no-margin" button="true" (click)="toSearch()">
          <ion-item lines="none">
            <ion-thumbnail class="ion-no-margin" slot="start">
              <img
                class="cardImageSize"
                src="../../assets/images/home/home-admin.png"
              />
            </ion-thumbnail>
            <ion-label>
              <h3 class="subTitleFont">02. Customer Diet Management </h3>
              <p class="cardContentFont">User Profile</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div><br><br>
      <div class="ion-padding-bottom">
        <ion-card (click)="toSummaryLeads()" class="ion-no-margin" button="true">
          <ion-item lines="none">
            <ion-thumbnail class="ion-no-margin" slot="start">
              <img
                class="cardImageSize"
                src="../../assets/images/home/home-leeds.png"
              />
            </ion-thumbnail>
            <ion-label>
              <h3 class="subTitleFont">03. Leads</h3>
              <p class="cardContentFont">
                Your age, gender, height and weight.
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div class="ion-padding-bottom ion-padding-top">
        <ion-card class="ion-no-margin" button="true" (click)="gotoCustomer()">
          <ion-item lines="none">
            <ion-thumbnail class="ion-no-margin" slot="start">
              <img
                class="cardImageSize"
                src="../../assets/images/home/home-customer.png"
              />
            </ion-thumbnail>
            <ion-label>
              <h3 class="subTitleFont">04. Customers</h3>
              <p class="cardContentFont">
                Your daily routines & activity level.
              </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    
    </div>
  </div>
</ion-content>
<!-- <ion-footer collapse="fade">
  <div>
     <ion-button size="default" shape="round" color="theme" expand="block">Next</ion-button>
  </div>
</ion-footer> -->
