ion-card {
    height: 120px;
    // width: 341px;
    --background: #FFFFFF;
    border-radius: 23px;
    border: #707070;
    padding: 10px;
}
ion-content {
    --background: #F6F7FC;

}
ion-thumbnail {
    height: auto;
    width: auto;
    padding-right: 6px;
}
ion-item {
    padding: 10px 0px 10px 0px;
}
.cardImageSize {
   width: 80.86px;
   height: 79.87px;
}
.cardContentFont{
    color:#737777 !important;
}
.mainTopPadding {
    padding-top: 60px;
}
ion-footer{
    background: #FFFFFF;
    padding: 16px 55px;
}

