<!-- Top NavBar -->


<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>
   
      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <div style="background:#808080; color:#fff; height: 5rem;
  padding-top: 2rem; padding-left:1.4rem;">
          <!-- <ion-row>
             <ion-col size="1" class="ion-text-left ion-align-self-center">
              <ion-icon name="arrow-back-outline" (click)="goback()" style="font-size: 2rem;"></ion-icon>
            </ion-col> 
             <ion-col size="2"></ion-col>
            <ion-col size="9" class="ion-text-left ion-align-self-center">
              Update Slot Remarks
            </ion-col>
          </ion-row> -->
        </div>
        <ion-card>
          <div>
            <ion-card-header style="background: #E4F3EC;margin-bottom: .5rem;">
              When You Wake up
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for When You Wake up" [(ngModel)]="slot0"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #F2E5D8;margin-bottom: .5rem;">
              Before Breakfast
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Before Breakfast" [(ngModel)]="slot1"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #FBEEFC;margin-bottom: .5rem;">
              Breakfast
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Breakfast" [(ngModel)]="slot2"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #E2F0F7;margin-bottom: .5rem;">
              Mid Day Meal
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Mid Day Meal" [(ngModel)]="slot3"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #E4F3EC;margin-bottom: .5rem;">
              Lunch
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Lunch" [(ngModel)]="slot4"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #F2E5D8;margin-bottom: .5rem;">
              Post Lunch
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Post Lunch" [(ngModel)]="slot5"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #FBEEFC;margin-bottom: .5rem;">
              Evening Snack
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Evening Snack" [(ngModel)]="slot6"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #E2F0F7;margin-bottom: .5rem;">
              Dinner
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Dinner" [(ngModel)]="slot7"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card>
          <div>
            <ion-card-header style="background: #E4F3EC;margin-bottom: .5rem;">
              Before Sleep
            </ion-card-header>
            <ion-card-content>
              <ion-textarea placeholder="Remarks for Before Sleep" [(ngModel)]="slot8"
                style="border: 1px solid #bebebe;border-radius: 10px; height: 150px;width: 100%;padding: 10px;"
                rows="5"></ion-textarea>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-footer class="btn"> -->
<!-- <ion-row style="margin-bottom:.5rem"> -->
<ion-toolbar style="padding-left: 35%;padding-right: 35%;">


  <!-- <ion-col class="ion-text-center">
      <ion-button (click)="goback()" expand="block" fill="outline"
        style="color:#6277eb;--border-color:#6277eb;">Back</ion-button>
    </ion-col> -->
  <!-- <ion-col class="ion-text-center"> -->
  <ion-button (click)="updateRemarks()" expand="block" style="color: #FFF;">Update Remarks</ion-button>
  <!-- </ion-col> -->
</ion-toolbar>
<!-- </ion-row> -->
<!-- </ion-footer> -->