<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" color="#fff" style="font-size: 2rem;" (click)="goback()"></ion-icon>
    </ion-buttons>
    <ion-title>Recall Choice</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- Top NavBar -->

<ion-content>
  <ion-grid style="padding: 0;">
    <ion-row>
    
      <!-- Main Content -->
      <ion-col>
        <!-- <app-header></app-header> -->
        <ion-card style="text-align: center;margin-left: 10%; width: 80%;    box-shadow: 0 2px 7px 3px #f3f3f3b5;">
          <circle-progress radius="55" percent="100" [outerStrokeGradientStopColor]="'#fff'"
            [innerStrokeColor]="'#b3b3b3'" [outerStrokeColor]="'#bb0000'" outerStrokeWidth="5" innerStrokeWidth="5"
            [title]="calTotal" [titleFontSize]="22" [titleFontWeight]="500" subtitle="Kcal" [subtitleFontWeight]="400"
            [subtitleFontSize]="15" units="" [unitsFontSize]="10" [unitsFontWeight]="400">
          </circle-progress>
          <ion-row>
            <ion-col class="ion-text-left">
              <div>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <img src="./assets/img/protein-new.png">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center" style="padding-bottom: 5px;font-size: .8rem;color:#000">
                    Protein
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(protien)<=0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      0 gm (0%)
                    </span>
                  </ion-col>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(protien)>0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      {{sumTotalCalprotienfatcarbs(protien).toFixed(1)}} gm
                      ({{(sumTotalCalprotienfatcarbs(protien)*100*4/sumTotalCalprotienfatcarbs(avgSlotTotalCal)).toFixed(0)}}%)
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <img src="./assets/img/fat-new.png">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center" style="padding-bottom: 5px;font-size: .8rem;color:#000">
                    Fat
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(fat)<=0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      0 gm (0%)
                    </span>
                  </ion-col>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(fat)>0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      {{sumTotalCalprotienfatcarbs(fat).toFixed(1)}} gm
                      ({{(sumTotalCalprotienfatcarbs(fat)*100*9/sumTotalCalprotienfatcarbs(avgSlotTotalCal)).toFixed(0)}}%)
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col class="ion-text-right">
              <div>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <img src="./assets/img/carbs-new.png">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center" style="padding-bottom: 5px;font-size: .8rem;color:#000">
                    Carbs
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(carbs)<=0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      0 gm (0%)
                    </span>
                  </ion-col>
                  <ion-col class="ion-text-center" *ngIf="sumTotalCalprotienfatcarbs(carbs)>0">
                    <span style="font-size: .8rem;color:#000;font-weight: 500;">
                      {{sumTotalCalprotienfatcarbs(carbs).toFixed(1)}} gm
                      ({{(sumTotalCalprotienfatcarbs(carbs)*100*4/sumTotalCalprotienfatcarbs(avgSlotTotalCal)).toFixed(0)}}%)
                    </span>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
          <br>
        </ion-card>
        <br>
        <div *ngFor="let items of foodItemSlots; let ind=index;">
          <ion-row style="margin-left: .8rem;margin-right: .8rem;color:#0F0F0F;font-size: .8rem;">
            <ion-col class="ion-text-left">
              <span style="font-weight:500;">{{items?.name}}</span>
            </ion-col>
            <ion-col class="ion-text-right">
              <span style="font-weight:500;">{{(avgSlotTotalCal[ind]).toFixed(1)}} Kcal</span>
            </ion-col>
          </ion-row>
          <ion-card style="box-shadow: none;background: #FAFAFA;border:1px solid #f3f3f3;border-radius: 5px;">
            <ion-card-header>
              <ion-row>
                <ion-col class="ion-text-left">
                  <div>
                    <ion-row>
                      <ion-col class="ion-text-center">
                        <img src="./assets/img/protein-new.png">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center" style="color:#000;font-size: .8rem;">
                        Protein
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center" *ngIf="protien[ind]<=0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          0 gm (0%)
                        </span>
                      </ion-col>
                      <ion-col class="ion-text-center" *ngIf="protien[ind]>0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          {{protien[ind]?.toFixed(1)}} gm ({{(protien[ind]*100*4/avgSlotTotalCal[ind]).toFixed(0)}}%)
                        </span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
                <ion-col class="ion-text-center">
                  <div>
                    <ion-row>
                      <ion-col class="ion-text-center">
                        <img src="./assets/img/fat-new.png">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center" style="color:#000;font-size: .8rem;">
                        Fat
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="ion-text-center" *ngIf="fat[ind]<=0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          0 gm (0%)
                        </span>
                      </ion-col>
                      <ion-col class="ion-text-center" *ngIf="fat[ind]>0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          {{fat[ind]?.toFixed(1)}} gm ({{(fat[ind]*100*9/avgSlotTotalCal[ind]).toFixed(0)}}%)
                        </span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
                <ion-col class="ion-text-right">
                  <div>
                    <ion-row>
                      <ion-col class="ion-text-center">
                        <img src="./assets/img/carbs-new.png">
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center" style="color:#000;font-size: .8rem;">
                        Carbs
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col class="ion-text-center" *ngIf="carbs[ind]>0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          {{carbs[ind]?.toFixed(1)}} gm ({{(carbs[ind]*100*4/avgSlotTotalCal[ind]).toFixed(0)}}%)
                        </span>
                      </ion-col>
                      <ion-col class="ion-text-center" *ngIf="carbs[ind]<=0">
                        <span style="font-size: .8rem;color:#000;font-weight: 500;">
                          0 gm (0%)
                        </span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-searchbar style="margin-right: 0;width: 100%;" search-icon="none" mode="md"
                    (search)="addNewItem($event,ind)" placeholder="Enter item name"
                    [(ngModel)]="addItem[ind]"></ion-searchbar>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <div>
                <ion-row>
                  <ion-col class="ion-align-self-center" size="12">
                    <div *ngFor="let item of items.items; let itemIndex=index;"
                      style="background: #08c2c36e;padding:1rem;border-radius: 10px;margin-top:1rem">
                      <ion-row style="margin-bottom: .2rem;">
                        <ion-col class="ion-text-left ion-align-self-center" size="6">
                          <span style="color: #000;">
                            <b>{{item?.name}}</b><br>{{(item?.itemsCalories>0?(item?.itemsCalories/item?.itemsArray?.length):0)?.toFixed(1)}}
                            Kcal</span>
                        </ion-col>
                        <ion-col class="ion-text-center ion-align-self-center" size="5"
                          (click)="openPopup(ind,itemIndex)"
                          style="font-size:.6rem;padding:5px;border: 1px solid #01A3A4;border-radius: 5px;background:#01A3A4;color: #fff;">
                          <span>Manage Options</span>
                        </ion-col>
                        <ion-col class="ion-text-right ion-align-self-center" size="1"
                          (click)="removeItems(ind,itemIndex,item?.name)">
                          <ion-icon name="trash" style="color: #ca3838;font-size: 1.1rem;"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="item.itemsArrayJoin?.length>0">
                        <ion-col class="ion-text-left" size="12">
                          <div
                            style="height:60px;background: #fff; padding:10px;font-size: .75rem; white-space: normal;border:1px solid #b3b3b3;border-radius: 5px;font-weight: 500;">
                            {{item.itemsArrayJoin}}
                          </div>
                        </ion-col>

                      </ion-row>
                    </div>
                    <!--move from here-->
                  </ion-col>
                </ion-row>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <br>
        <ion-card style="padding: 1rem;">
          <div>
            <ion-row>
              <ion-col size="5.5" class="ion-text-center">
                <ion-button class="button" shape="round" expand="block" class="button button-full button-outline"
                  (click)="goback()">Cancel</ion-button>
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="5.5" class="ion-text-center">
                <ion-button class="button button-full" expand="block" shape="round" (click)="saveRecall()"
                  color="primary">Save</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div *ngIf="isOpen">

  <div style="background: #000;
opacity: .7;
width: 100%;
height: 100%;
position: absolute;
z-index: 12;
padding: 20% 5%;
top: 0;"></div>
  <div style="background: #fff;
width: 80%;
height: 60%;
position: absolute;
z-index: 13;
top: 30%;
padding: 1rem;
left: 10%;">
    <ion-button class="button button-full" expand="block" style="float: right;font-size: .8rem;" shape="round"
      (click)="closePopup()" color="primary">Done</ion-button>
    <br><br><br>
    <div *ngFor="let foodItem of foodItemSlots[isOpenSlotIndex].items[isOpenItemIndex].itemsArray let foodInd=index;"
      style="background: #08c2c36e;padding:1rem;border-radius: 10px;margin-top:1rem;">
      <ion-row>
        <ion-col class="ion-text-left" size="8">

          <!-- <ion-searchbar
      search-icon="none"
      mode="md" 
      disabled="true"
      cancel-button-icon="false"
      placeholder="Search for Food"
      value="{{foodItem}}"
      style="min-width: 95%;background: #fff;"
    >
    </ion-searchbar> -->
          <ion-input disabled="true" style="min-width: 60px;background: #fff;" type="text"
            value="{{foodItem}}"></ion-input>
        </ion-col>
        <ion-col size="2" class="ion-text-center ion-align-self-center">
          <ion-input style="min-width: 60px;background: #fff;" type="number"
            value="{{foodItem.split('[')[1]?.split('~')[0]}}"
            (input)="updateCaloriesOndemand($event,foodItem,foodItem?.split('[')[1].split('~')[1])"></ion-input>
        </ion-col>
        <ion-col class="ion-text-center ion-align-self-center" size="2">
          <ion-icon name="close" (click)="removeMoreItems(foodItem)"
            style="font-size: 1.3rem;color:hsl(0, 89%, 34%)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <br>
    <ion-row>
      <ion-col size="12">
        <div style="font-size: 1rem;color: #707070;">
          Search Options:
        </div>
        <div>
          <ion-input (keyup)="searchAllApiData($event)" [(ngModel)]="foodItemAdd" placeholder="Search for Food"
            style="min-width: 100%;"></ion-input>
          <div *ngIf="searchVisible"
            style="height: 283px; overflow-y: scroll; border: 1px solid #b3b3b3;padding: 1rem;border-radius: 8px;box-shadow: 5px 5px 5px #b3b3b3;">
            <div style="float: left;margin:.3rem 0;width: 100%;font-size: 1.2rem;
      border-bottom: 1px solid #b3b3b3;
      padding: 10px;
      background: #f3f3f3;">
              Home Based
            </div><br>
            <ion-row *ngFor="let searchItem of searchItems.homeBased; let searchIndex=index;"
              style="padding: 10px; border-bottom: 1px solid #b3b3b3;">
              <ion-col (click)="selectedItem(searchItem)">
                {{searchItem?.Food}}
              </ion-col>
            </ion-row>
            <div style="float: left;margin:.3rem 0rem;width: 100%;font-size: 1.2rem;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px;
    background: #f3f3f3;">
              packaged
            </div><br>
            <ion-row *ngFor="let searchItem of searchItems.packaged; let searchIndex=index;"
              style="padding: 10px; border-bottom: 1px solid #b3b3b3;">
              <ion-col (click)="selectedItem(searchItem)">
                {{searchItem?.Food}}
              </ion-col>
            </ion-row>
            <div style="float: left;margin:.3rem 0rem;width: 100%;font-size: 1.2rem;
   border-bottom: 1px solid #b3b3b3;
   padding: 10px;
   background: #f3f3f3;">
              Restaurant
            </div><br>
            <ion-row *ngFor="let searchItem of searchItems.restaurant; let searchIndex=index;"
              style="padding: 10px; border-bottom: 1px solid #b3b3b3;">
              <ion-col (click)="selectedItem(searchItem)">
                {{searchItem?.Food}}
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </div>

</div>