ion-searchbar{
  padding: 0 10px ;
  margin: 0;
  margin-top: .5rem;
  --box-shadow: none;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  min-width: 120px;
    width: 72%;
}
ion-input{
    padding: 0 10px !important;
    margin: 0;
    margin-top: .5rem;
    --box-shadow: none;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    min-width: 120px;
      width: 77%;
  }
ion-searchbar.searchbar-input{
 padding-left: 0 ;
 padding-right: 0 !important;
}

    ion-searchbar {
       ::ng-deep {
          .searchbar-clear-icon {
            display: none !important;
          }
      
        }
      
      }